Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Improved restart message logic.
  src/options.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Trivial simplification.
  src/dev_sysedit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Small spob and xml formatting stuff.
  dat/spob/pso_2434.xml
  dat/ssys/oxuram.xml
  dat/ssys/pso.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

onion08: untested stage 2 of the fight
  dat/missions/onion/onion08.lua
  dat/missions/onion/readme.md
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed some warnings on windows.
  src/nfile.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

onion08: more progress.
  dat/missions/onion/onion08.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Update plugin example to use `naev_version` instead of deprecated `compatibility`.
  docs/manual/sec/plugins.md
Due: end-of-file-fixer.sh, expand-tabs.sh

onion08: made part 1 of the fight somewhat easier
  dat/missions/onion/onion08.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

2 new npc tips
  dat/scripts/common/npc.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

onion08: some tweaks and a small intro to part 2.
  dat/missions/onion/onion08.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Ship shouldn't share tags with the parent.
  dat/ships/neutral/zebra_wolfie.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

onion08: tweaked part 2, shouldn't be too bad now.
  dat/missions/onion/onion08.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

onion08: sort of take into account stealth...
  dat/missions/onion/onion08.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fix NPC script + oxford spelling.
  dat/scripts/common/npc.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Workaround some platforms not having constant radians function in GLSL.
  dat/shaders/pilotscanning.frag
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Package Cargo.lock in the source file.
  meson.build
  utils/build/add_to_package.py
  utils/build/cargo_lock.sh
  utils/meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Document changes a bit.
  meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Don't mark po/POTFILES.in as dirty always when committing.
  utils/update-po.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

luacheckrc_extractor: Don't modify file if it hasn't changed.
  utils/luacheckrc_extractor.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Use pre-commit instead of parallel.sh to fix some errors.
  .pre-commit-config.yaml
Due: end-of-file-fixer.sh, expand-tabs.sh

No need for serial now.
  .pre-commit-config.yaml
Due: end-of-file-fixer.sh, expand-tabs.sh

Mission start text.
  dat/missions/onion/onion08.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

onion08: more work on the dialogue
  .codespellignore
  dat/missions/onion/onion08.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Use parallel.sh again for u_codespell.
  .pre-commit-config.yaml
Due: end-of-file-fixer.sh, expand-tabs.sh

Darken options that were already selected in menus.
  dat/scripts/vn/vn.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

onion08: more writing
  dat/missions/onion/onion05.lua
  dat/missions/onion/onion08.lua
  dat/missions/onion/readme.md
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added missing onion08 unidiff.
  dat/unidiff/onion08.xml
  dat/unidiff/onion08_2.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Added love_shaders.sandstorm.
  dat/scripts/love_shaders.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added more variants of mod289 and permutate.
  dat/shaders/lib/math.glsl
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Add repeating simplex noise-based shadesr.
  dat/shaders/lib/psrd.glsl
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

onion08: added stub functions for controlling the VN storm + text.
  dat/missions/onion/onion08.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

onion08: simplified indentation
  dat/missions/onion/onion08.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

onion08: start work on epilogue redux.
  dat/missions/onion/onion08.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

onion08: increase fleet cap and 20 periods passed in the epilogue.
  dat/missions/onion/onion08.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

add myself to AUTHORS
  dat/AUTHORS
Due: end-of-file-fixer.sh, expand-tabs.sh

T. Practice is no longer boardable.
  dat/missions/onion/onion08.lua
  dat/missions/tutorial/tutorial.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

vn.jump when started shouldn't add to the states.
  dat/scripts/vn/vn.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

vn.func should work when started now to allow nesting calls.
  dat/scripts/vn/vn.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

vn: improve how darkened out menu selections are handled.
  dat/scripts/vn/vn.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
