Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: check-illegal-windows-names
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      files: '^dat/'
      types: [lua]
      args: ["--ignore-words", ".codespellignore" ]
      additional_dependencies:
        - tomli
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: naevpedia
      name: check for stale naevpedia ships/outfits
      entry: utils/update-naevpedia.sh . --pre-commit
      language: script
      files: dat/(ships|outfits)/.*.xml$
      pass_filenames: false
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2021"]
      language: system

Give restricted system space mines infinite duration.
  dat/events/restricted.lua
Due: none

single thread mode for xml_format, misc details
  .pre-commit-config.yaml
  src/ship.c
  utils/ssys/graph2ssysmap.py
  utils/xml_format.sh
Due: clang-format

optimized xml_format
  utils/naev_xml.py
  utils/outfits/outfit.py
  utils/ssys/ssys.py
  utils/uncomment_xml.py
  utils/xml_format.sh
  utils/xml_uncomment.py
Due: none

Added weapon_speed, tur_speed, and fwd_speed ship stats. Launcher speed no longer increases range.
  src/pilot_outfit.c
  src/pilot_weapon.c
  src/shipstats.c
  src/shipstats.h
  src/weapon.c
Due: clang-format

Cleaned up space mine code a bit more.
  dat/scripts/luaspfx/spacemine.lua
Due: none

Added factions.setKnown to wrap around handling in-system pilots when setting a faction as known or unknown.
  dat/events/discovery.lua
  dat/events/updater.lua
  dat/events/wildspace/intro.lua
  dat/factions/spawn/lib/common.lua
  dat/missions/dvaered/dv_antiflf01.lua
  dat/missions/flf/flf_pre01.lua
  dat/scripts/factions.lua
  po/POTFILES.in
Due: none

Added missing header.
  src/player_gui.c
Due: clang-format

apollo's gaze uses weapon_speed
  dat/outfits/utility/apollos_gaze.xml
Due: naevpedia

Some changelog updates.
  Changelog.md
Due: none

Fixed header typo.
  src/player_gui.c
Due: clang-format

Use semver requirements instead of regex to determine compatible version.
  src/plugin.c
  src/plugin.h
Due: clang-format

Cleaner semver requirement example.
  src/plugin.c
Due: clang-format

xml_format improved
  dat/effects/antimatter_taint.xml
  dat/effects/ionization.xml
  dat/effects/shield_jammed.xml
  dat/factions/lost.xml
  dat/factions/strangelove.xml
  utils/naev_xml.py
  utils/outfits/outfit.py
  utils/ssys/ssys.py
  utils/xml_format.sh
  utils/xml_uncomment.py
Due: none

restricted systems shouldn't have traders either
  dat/ssys/ngc11718.xml
  dat/ssys/taxumi.xml
  dat/ssys/voproid.xml
  dat/ssys/xeric.xml
Due: none

spawn more space mines, and yet more in larger systems
  dat/events/restricted.lua
Due: none

xml_uncomment.py improved
  utils/xml_uncomment.py
Due: none

[pre-commit run -a]
  .github/workflows/compile_naev.yml
  .github/workflows/naev_ci.yml
Due: none

implemented xml_list in naev_xml.py
  utils/naev_xml.py
Due: none

First mission of FLF-Rewrite
  dat/missions/dvaered/the_great_society/fw00_escort.lua
  dat/missions/dvaered/the_great_society/fw01_sabotage.lua
  dat/missions/dvaered/the_great_society/fw02_escape.lua
  dat/missions/dvaered/the_great_society/fw03_sirius.lua
  dat/missions/dvaered/the_great_society/fw04_meeting.lua
  dat/missions/dvaered/the_great_society/fw05_triathlon.lua
  dat/missions/flf/dvl/flf_dvl01.lua
Due: none

mission rep hits adjustments
  dat/missions/empire/es_cargo.lua
  dat/missions/empire/longdistanceshipping/es_longdistancecargo.lua
  dat/missions/neutral/seek_n_destroy.lua
  dat/missions/neutral/wastedump.lua
Due: none

fixed the xml_list implementation
  utils/naev_xml.py
  utils/ssys/Readme.md
  utils/ssys/graph2ssysmap.py
  utils/ssys/process_ssysmap.sh
  utils/ssys/ssys.py
  utils/ssys/ssys_relax.py
Due: none

Added support for single file shaders (frag + vertex together)
  src/renderer/src/shader.rs
Due: rustfmt

Simplified some shaders into joint vert+frag shader when small enough.
  dat/glsl/rust_magic.glsl
  dat/glsl/rust_magic.vert
  dat/glsl/rust_shadow.glsl
  dat/glsl/rust_solid.frag
  dat/glsl/rust_solid.glsl
  dat/glsl/rust_texture.glsl
  dat/glsl/rust_texture.vert
  dat/glsl/rust_texture_sdf.glsl
  dat/glsl/rust_texture_sdf.vert
  dat/glsl/shadow.frag
  dat/glsl/shadow.vert
  src/model.rs
  src/renderer/src/lib.rs
  src/renderer/src/shader.rs
Due: glsl_validator, rustfmt

completed naev_xml methods
  utils/naev_xml.py
Due: none

MW -> GW
  dat/events/tutorial/tut_enter.lua
  dat/outfits/flow/abilities/cleansing_flames.lua
Due: none

disabling ships takes effort, so let's reward for it (and nerf boarding androids to compensate)
  dat/board.lua
  dat/outfits/utility/boarding_androids_mk1.xml
  dat/outfits/utility/boarding_androids_mk2.xml
Due: naevpedia

Use naev.unit.
  dat/events/tutorial/tut_enter.lua
Due: none

More naev.unit.
  dat/outfits/flow/abilities/cleansing_flames.lua
Due: none

Free the followers when ship is captured, but fade-out the deployed fighters.
  dat/events/capture.lua
Due: none

shellcheck xml_format.sh
  utils/xml_format.sh
Due: none

Set zstd compression level to 20 for appimages
  utils/buildAppImage.sh
Due: none

Need to have actual cargo space to accept waste dump missions.
  dat/missions/neutral/wastedump.lua
Due: none

naevpedia_pot.py now compatible with all xgettext versions
  dat/naevpedia/mechanics/time.md
  po/naevpedia_pot.py
Due: none

repaired update-po.sh
  utils/update-po.sh
Due: none

applied new naevpedia.pot
  po/naevpedia.pot
Due: none

Fixed compilation using newer log API.
  src/audio/src/lib.rs
Due: rustfmt

Update stealth tutorial.
  dat/events/shipai.lua
Due: none

Update event comment.
  dat/events/neutral/arandon_station.lua
Due: none

Update weapon set tutorial.
  dat/events/shipai.lua
Due: none

add a choice of ship to dev.weapon_test
  dat/scripts/dev/weapon_test.lua
Due: none
