Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$

manual: Use our favicon png
  docs/manual/theme/favicon.png
Due: end-of-file-fixer.sh, expand-tabs.sh

Fix bad symlink
  docs/manual/theme/favicon.png
Due: end-of-file-fixer.sh, expand-tabs.sh

manual: adjust the edit url so that it doesn't 404
  docs/manual/book.toml
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed crash when jetisoning mission cargo in certain conditions.
  src/info.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

CHANGELOG
  CHANGELOG
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed crash when jettisoning cargo of certain missions.
  src/info.c
  src/mission.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed main menu being borked when devmode is off.
  src/menu.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Use markdown for plugin descriptions.
  Cargo.toml.in
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Mention description is markdown in manual.
  docs/manual/src/plugins/metadata.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Create the cache dir earlier.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Some cleaner plugin warnings.
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Mention meson issue with building gettext stuff.
  po/meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Made it so two strings are the same.
  dat/slots/engines_secondary.toml
Due: end-of-file-fixer.sh, expand-tabs.sh

Added script to extract gettext strings from toml data files.
  po/POTFILES.in
  po/toml.pot
  po/toml_pot.py
  utils/update-po.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

mdbook is optional now
  docs/manual/meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Update some wraps.
  subprojects/enet.wrap
  subprojects/pcre2.wrap
  subprojects/tracy.wrap
Due: end-of-file-fixer.sh, expand-tabs.sh

Print when missing mdbook in the summary.
  docs/manual/meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Simplified and cleaned up some meson stuff.
  meson.build
  po/meson.build
  po/toml_pot.py
  utils/build/naev.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Centralize required rust version in meson.build.
  Cargo.toml.in
  meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Simplified and made rust version a bit more consistent
  meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Don't write to po/toml.pot if unchanged.
  po/toml_pot.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added context support for toml gettext stuff.
  po/toml.pot
  po/toml_pot.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed recreating cache.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Recreate cache on clear cache task.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Use branch too in path name.
  src/pluginmgr/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Don't be idle when performing actions.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Some spacing tweaks and show not stable as warning.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Use separate git repos for separate remotes.
  Cargo.toml.in
  src/pluginmgr/Cargo.toml.in
  src/pluginmgr/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Use idle, not self.idle.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Plugins default to local source if not specified.
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Allow loading plugins with malformed or missing plugin.toml.
  src/pluginmgr/src/lib.rs
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Retweaked stuff a bit.
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Build up the scaffolding for progress bars.
  src/pluginmgr-gui/Cargo.toml.in
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Add msgctxt to the damage type and the slot property.
  src/equipment.c
  src/land_shipyard.c
  src/outfit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Display progress bar for things.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed rendering locations of dynamically rendered objects, such as wormholes, hypergates and poller mass.
  dat/spob/lua/lib/hypergate.lua
  dat/spob/lua/lib/wormhole.lua
  dat/spob/lua/poller_mass.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent
