Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$

Fixed potential deadlock (and panic with tracing lock).
  src/model.rs
  src/renderer/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed crash when a load event has a spob assigned.
  src/event.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

missions/onion/onion05: typos and missing glyphs in IBMPlexSansJP font
  dat/missions/onion/onion05.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Simplified code a bit.
  src/renderer/src/sdf.rs
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Start to complete luashaders a bit.
  src/meson.build
  src/renderer/src/lib.rs
  src/renderer/src/luashader.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

More Rust translation work.
  src/renderer/src/luagfx.rs
  src/renderer/src/luashader.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Moved model to renderer workspace.
  src/meson.build
  src/naev.rs
  src/renderer/Cargo.toml.in
  src/renderer/src/lib.rs
  src/renderer/src/model.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Fixed compilation.
  po/POTFILES.in
  src/ship.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Cleaned up Cargo.toml.in.
  Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Some more work on Rust porting.
  src/renderer/src/luagfx.rs
  src/renderer/src/luashader.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

New outfits for some new WIP events.
  Changelog.md
  dat/outfits/unique/dragon_scale_plating.xml
  dat/outfits/unique/dragon_scales.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Try to fix some possible opengl issues.
  src/renderer/src/framebuffer.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed compilation.
  src/renderer/src/luagfx.rs
  src/renderer/src/luashader.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Stop using weird atomic mess instead of a more proper mutex-based solution.
  src/renderer/src/framebuffer.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Try to get nlua_pcall in Rust working.
  src/nlua.c
  src/nlua.rs
  src/system.rs
Due: end-of-file-fixer.sh, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, rustfmt, clang-format

Some more warnings.
  src/nlua.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Doesn't crash anymore, but unknown errors.
  src/nlua.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

New nlua_pcall doesn't crash, but still something is wrong :/
  src/faction.rs
  src/nlua.rs
  src/nlua_evt.c
  src/nlua_misn.c
  src/weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

[cargo clippy]
  src/nlua.rs
  src/nlua_evt.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

More C-unwind.
  src/core/src/ntime.rs
  src/faction.rs
  src/physics/src/transform2.rs
  src/physics/src/vec2.rs
  src/renderer/src/colour.rs
  src/renderer/src/framebuffer.rs
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Dynamic factions should be static.
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

use luaL_tostring with nlua_pcall.
  src/nlua_tk.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Added P-1587 Dragon events.
  dat/events/neutral/p1587_dragon_awake.lua
  dat/events/neutral/p1587_dragon_epilogue.lua
  dat/events/neutral/p1587_dragon_intro.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

cargo clippy.
  src/renderer/src/luagfx.rs
  src/renderer/src/luashader.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed some stack smashing due to FFI.
  src/nlua_pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Use luaL_tolstring for handling errors now that nlua_pcall is Rust.
  src/ai.c
  src/background.c
  src/comm.c
  src/cond.c
  src/effect.c
  src/equipment.c
  src/event.c
  src/gui.c
  src/info.c
  src/land.c
  src/land_outfits.c
  src/menu.c
  src/mission.c
  src/music.c
  src/naev.c
  src/naevpedia.c
  src/nlua_player.c
  src/npc.c
  src/outfit.c
  src/pilot.c
  src/pilot_outfit.c
  src/pilot_ship.c
  src/player.c
  src/player_autonav.c
  src/ship.c
  src/space.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed compilation.
  src/effect.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Added gettext to setNPC name in example.
  src/nlua_misn.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Remove file extension from hardcoded background path.
  src/npc.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed crash with standing changes in some cases.
  src/hook.c
  src/hook.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

data_matrices: Fix an ordering issue with the hook timer
  dat/events/data_matrices.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Make sure refuel tanker has a ton of fuel.
  dat/missions/empire/collective/ec06.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed faction.dynAdd not setting static when not using a reference.
  dat/ai/core/attack.lua
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Fixed some things related to changeAI nuking memory. Needs a proper fix.
  dat/ai/core/attack.lua
  dat/events/neutral/p1587_dragon_awake.lua
  dat/scripts/pilotai.lua
  src/nlua_pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format
