Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

smd:
  name: markdown linter
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  language: script
  require_serial: true

smd-w:
  name: markdown linter (wider)
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  - -w
  - '5'
  language: script
  require_serial: true

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Fixed and simplified code.
  dat/outfits/lib/sets/junker.lua
  dat/outfits/unique/junker_point_defence.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Always spawn an executor in NGC-11718 if the player doesn't have the aura yet.
  Changelog.md
  dat/events/restricted_ngc11718.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Fixed usage of audio.soundPlay.
  Changelog.md
  dat/missions/dvaered/frontier_war/fw01_sabotage.lua
  dat/missions/dvaered/frontier_war/fw04_meeting.lua
  dat/missions/dvaered/recruitment/dv_goddard.lua
  dat/missions/zalek/zlk_test.lua
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Correct some usage of luaspfx.sfx.
  dat/missions/dvaered/frontier_war/fw01_sabotage.lua
  dat/missions/dvaered/frontier_war/fw04_meeting.lua
  dat/missions/dvaered/recruitment/dv_goddard.lua
  dat/missions/zalek/zlk_test.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Moved transformations to Rust.
  po/POTFILES.in
  src/mat3.c
  src/mat3.h
  src/meson.build
  src/nlua.rs
  src/nlua_gfx.c
  src/nlua_transform.c
  src/nlua_transform.h
  src/physics/Cargo.toml.in
  src/physics/src/lib.rs
  src/physics/src/transform2.rs
  src/physics/src/transform2_test.lua
  src/physics/src/vec2.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

[cargo clippy]
  src/physics/src/transform2.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Implement texture:draw and texture:draw_ex for Lua.
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Tweaked transform2 __tostring.
  src/physics/src/transform2.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed up some transform2 documentation.
  src/physics/src/transform2.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Corrected documentation a bit.
  src/physics/src/transform2.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Tried to implement C interface to Rust Lua textures.
  src/renderer/src/lib.rs
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Seems to "mainly" work.
  dat/bkg/lib/nebula_image.lua
  dat/bkg/lib/starfield.lua
  dat/gui/brushed.lua
  dat/gui/legacy.lua
  dat/gui/slim.lua
  dat/gui/slimv2.lua
  dat/scripts/love/data.lua
  dat/scripts/love/graphics.lua
  dat/scripts/love/image.lua
  dat/scripts/vnimage.lua
  po/POTFILES.in
  src/meson.build
  src/ndata/Cargo.toml.in
  src/ndata/src/data.rs
  src/ndata/src/lib.rs
  src/nlua.rs
  src/nlua_canvas.c
  src/nlua_commodity.c
  src/nlua_data.c
  src/nlua_faction.c
  src/nlua_gfx.c
  src/nlua_outfit.c
  src/nlua_pilot.c
  src/nlua_tex.c
  src/nlua_tex.h
  src/renderer/src/texture.rs
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Implemented try_clone for LuaFile.
  src/ndata/src/lua.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Simplified and fixed extension autodetection with texture loading.
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed warnings and improved documentation of Lua Data.
  src/ndata/src/data.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Changelog
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

newSoundData.
  dat/events/neutral/black_cat_gift.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed black cat's gift.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Renamed utils -> helpers.
  Cargo.toml.in
  po/POTFILES.in
  src/audio/Cargo.toml.in
  src/audio/src/lib.rs
  src/damagetype.rs
  src/faction.rs
  src/helpers/Cargo.toml.in
  src/helpers/meson.build
  src/helpers/src/atomicfloat.rs
  src/helpers/src/lib.rs
  src/meson.build
  src/nlua.rs
  src/renderer/Cargo.toml.in
  src/renderer/src/camera.rs
  src/renderer/src/lib.rs
  src/renderer/src/texture.rs
  src/slots.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Fixed meson.build indentation.
  meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed some luadoc comments.
  src/ai.c
  src/nlua_naev.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Initial commit of docmaker.
  utils/docmaker/Cargo.toml
  utils/docmaker/src/main.rs
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed luadoc generation.
  utils/docmaker/src/main.rs
Due: end-of-file-fixer.sh, expand-tabs.sh

Moved AudioData Lua into its own file.
  src/audio/src/lib.rs
  src/meson.build
  src/nlua.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Error if luadoc has duplicates.
  utils/docmaker/src/main.rs
Due: end-of-file-fixer.sh, expand-tabs.sh

Added missing file.
  src/audio/src/lua.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Nuked some more old, now unnecessary, files.
  docs/lua/src2luadoc.sh
  po/POTFILES.in
  src/nlua_audio.c
  src/nlua_spfx.c
  src/nlua_tex.c
  utils/luacheckrc_extractor.py
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

Fixed file.enumerate to be consistent with C version.
  src/ndata/src/luafile.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Disable utils/check_luadoc_funcs.sh for now.
  .pre-commit-config.yaml
Due: end-of-file-fixer.sh, expand-tabs.sh

Added missing find_nlua.sh
  utils/find_nlua.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Only test Lua in dat, too much generated stuff we have to filter otherwise.
  test/meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed cargo tests for consistency with 0.13.0.
  src/physics/src/transform2_test.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Renamed our log workspace nlog, because having two identically named workspaces is a pain in the ass.
  Cargo.toml.in
  po/POTFILES.in
  src/audio/Cargo.toml.in
  src/audio/src/debug.rs
  src/audio/src/events.rs
  src/audio/src/lib.rs
  src/core/Cargo.toml.in
  src/core/src/constants.rs
  src/core/src/lib.rs
  src/core/src/nxml.rs
  src/core/src/start.rs
  src/damagetype.rs
  src/faction.rs
  src/input.rs
  src/meson.build
  src/model.rs
  src/naev.rs
  src/ndata/Cargo.toml.in
  src/ndata/src/cwrap.rs
  src/ndata/src/lib.rs
  src/nlog/Cargo.toml.in
  src/nlog/meson.build
  src/nlog/src/lib.rs
  src/nlog/src/version.rs
  src/nlua.rs
  src/outfit.rs
  src/plugin.rs
  src/pluginmgr-gui/Cargo.toml.in
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/Cargo.toml.in
  src/pluginmgr/src/install.rs
  src/pluginmgr/src/lib.rs
  src/pluginmgr/src/plugin.rs
  src/renderer/Cargo.toml.in
  src/renderer/src/lib.rs
  src/renderer/src/shader.rs
  src/renderer/src/texture.rs
  src/ship.rs
  src/slots.rs
  src/spfx.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Missed a case of log.
  Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

With sdl3 16.4+ we can drop our workaround.
  Cargo.toml.in
  src/input.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Specify version 0.2.5 of opus adapter as it has the fixes we want.
  src/audio/Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Fix cargo package specifications after rereading the spec.
  Cargo.toml.in
  src/audio/Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Moved new gfx Rust Lua stuf finto its own file and add renderTexRaw.
  po/POTFILES.in
  src/meson.build
  src/renderer/src/lib.rs
  src/renderer/src/luagfx.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Added log for the sirius awakening event.
  dat/events/derelict/sirius_awakening.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
