Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, doxspell, no_tabs, reindent, rustfmt, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    #- id: check-symlinks
    #- id: check-illegal-windows-names
    #- id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    #- id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: rem_xml_head
      name: remove unnecessary XML 1.0 headers
      entry: utils/rem_xml_head.sh
      types: [xml]
      language: script
    - id: doxspell
      name: doxspell
      entry: utils/doxspell.sh
      language: script
      types: [c]
    - id: no_tabs
      name: no_tabs
      entry: utils/no_tabs.sh
      language: script
      exclude: (^|/)Makefile
      types: [text]
    - id: reindent
      name: reindent
      entry: utils/reindent.sh
      #[build clang-format dot frag glsl gltf js lua luacheckrc markdown md nsi py pov rb scm sh tex vdf vert]
      # Unmanaged: [markdown md yaml yml .clangformat]
      files: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
      language: script
    - id: check_fmt_f_usage
      name: lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: xml_format
      name: format xml
      entry: utils/xml_format.sh
      types: [xml]
      files: .*\.(xml|loc|plist)$
      args: ["-st"]
      language: script
#    - id: glsl_validator
#      name: glsl validator
#      entry: utils/nglslValidator.py
#      files: dat/.*\.(frag|vert)$
#      language: python
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2024"]
      language: system
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      types: [shell]
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
    - id: codespell
      files: '^dat/'
      types_or: [xml, lua]
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: clang-format
      name: Clang formatter
      entry: utils/clf.sh
      types: [c]
      files: '^src/'
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python

meson compile potfiles
  po/naevpedia.pot
Due: no_tabs

pre-commit run
  po/naevpedia.pot
Due: no_tabs

Added aliases for naev-pot and naev-update-po.
  po/meson.build
Due: no_tabs, reindent

Don't regenerate naevpedia.pot when using --pre-commit.
  utils/update-po.sh
Due: no_tabs, reindent

Properly update naevpedia.pot.
  po/naevpedia.pot
Due: no_tabs

Added some pot + update-po targets to wrap and handle things a bit.
  po/meson.build
Due: no_tabs, reindent

Minor plural consistency.
  dat/tech/meson.build
Due: no_tabs, reindent

Actually generate a build tree POTFILES.in.
  po/meson.build
  utils/update-po.sh
Due: no_tabs, reindent

Added some rust input handling stubs for dealing with input key names.
  po/POTFILES.in
  src/input.rs
  src/meson.build
  src/naev.rs
Due: no_tabs, reindent, rustfmt

[cargo clippy]
  src/input.rs
  src/renderer/src/lib.rs
Due: no_tabs, rustfmt

Wrap SDL_GetKeyName to handle unknown keys using scancode ids directly.
  src/conf.c
  src/input.c
  src/input.h
  src/nlua_tk.c
  src/options.c
Due: doxspell, no_tabs, clang-format

Use CStrings for C, d'oh.
  src/input.rs
Due: no_tabs, rustfmt

Add stub working on porting input_handle to rust.
  src/input.rs
Due: no_tabs, rustfmt

Removed call to SDL_SetWindowFullscreen.
  src/opengl.h
  src/options.c
  src/renderer/src/lib.rs
Due: doxspell, no_tabs, rustfmt, clang-format

Handle fullscreen toggle rust-side.
  src/input.c
  src/naev.c
  src/opengl.h
  src/renderer/src/lib.rs
Due: doxspell, no_tabs, rustfmt, clang-format

[cargo clippy]
  src/input.rs
Due: no_tabs, rustfmt

Silence errors for now and more work on mlua files.
  src/ndata/src/lib.rs
  src/ndata/src/physfs.rs
  src/renderer/src/texture.rs
Due: no_tabs, rustfmt

Start to work towards supporting files and textures from mlua.
  Cargo.toml.in
  src/ndata/Cargo.toml.in
  src/ndata/src/physfs.rs
  src/renderer/Cargo.toml.in
  src/renderer/src/texture.rs
Due: no_tabs, rustfmt

Use static IOStream so we can drop lifetimes.
  src/ndata/src/physfs.rs
Due: no_tabs, rustfmt

Modified the LuaFile API to mirror the current implementation minus from_string.
  src/ndata/src/lua.rs
Due: no_tabs, rustfmt

Got tex.open implemented in Rust.
  dat/scripts/vnimage.lua
  src/ndata/src/lib.rs
  src/ndata/src/lua.rs
  src/renderer/src/texture.rs
Due: no_tabs, reindent, rustfmt

Moved ndata Lua stuff into its own file.
  po/POTFILES.in
  src/meson.build
  src/ndata/src/lib.rs
  src/ndata/src/lua.rs
Due: no_tabs, reindent, rustfmt

Added open_file to register the Rust Lua file API.
  src/ndata/src/lua.rs
Due: no_tabs, rustfmt

Added file.from_string().
  src/ndata/src/lua.rs
Due: no_tabs, rustfmt

Completed most of the Lua file API.
  src/ndata/src/lib.rs
  src/ndata/src/physfs.rs
Due: no_tabs, rustfmt

Rename log library to not conflict with our own.
  src/log/Cargo.toml.in
  src/log/src/lib.rs
Due: no_tabs, rustfmt

Finished the Rust mlua Texture core API.
  src/renderer/src/texture.rs
Due: no_tabs, rustfmt

Implement open texture, but we can't merge with ffi sadly...
  src/renderer/src/texture.rs
  src/vec2.rs
Due: no_tabs, rustfmt
