Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, clang-format, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: check-illegal-windows-names
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
    - id: codespell
      files: '^dat/'
      types: [lua]
      args: ["--ignore-words", ".codespellignore" ]
      additional_dependencies:
        - tomli
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: rem_xml_head
      name: Remove unnecessary XML 1.0 headers
      entry: utils/rem_xml_head.sh
      files: dat/.*\.xml$
      types: [xml]
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2021"]
      language: system

core description fixes
  dat/outfits/core_engine/large/melendez_mammoth_engine.xml
  dat/outfits/core_engine/medium/melendez_buffalo_engine.xml
  dat/outfits/core_engine/medium/nexus_arrow_700_engine.xml
  dat/outfits/core_engine/medium/tricon_cyclone_engine.xml
  dat/outfits/core_engine/medium/unicorp_falcon_700_engine.xml
  dat/outfits/core_engine/small/tricon_zephyr_engine.xml
  dat/outfits/core_engine/small/unicorp_hawk_160_engine.xml
  dat/outfits/core_hull/large/nexus_phantasm_weave.xml
  dat/outfits/core_hull/medium/sk_battle_plating.xml
  dat/outfits/core_hull/small/sk_small_cargo_hull.xml
Due: none

Minor spellcheck.
  dat/outfits/core_engine/medium/tricon_cyclone_engine.xml
  dat/outfits/core_hull/large/nexus_phantasm_weave.xml
Due: none

weighting -> weighing
  dat/outfits/core_hull/large/nexus_phantasm_weave.xml
Due: none

Made TextureBuilder image sizes an Option<>.
  src/model.rs
  src/renderer/src/texture.rs
Due: rustfmt

c/h \t hunting
  src/cgltf.h
  src/cmark_wrap.c
  src/lua_enet.c
  src/msgcat.c
Due: clang-format

removed tabs from 'univ-systems.md'
  docs/manual/sec/univ-systems.md
Due: none

css \t hunting & reindent
  docs/lore/content/css/_fluidbox.scss
  docs/lore/content/css/bootstrap.css
  docs/lore/content/scss/_accordion.scss
  docs/lore/content/scss/_alert.scss
  docs/lore/content/scss/_fluidbox.scss
  docs/lua/ldoc.css
Due: none

scss reindent (auto)
  docs/lore/content/scss/_card.scss
  docs/lore/content/scss/_navbar.scss
  docs/lore/content/scss/_print.scss
  docs/lore/content/scss/vendor/_rfs.scss
Due: none

scss reindent
  docs/lore/content/scss/_card.scss
  docs/lore/content/scss/_carousel.scss
  docs/lore/content/scss/_custom-forms.scss
  docs/lore/content/scss/_modal.scss
  docs/lore/content/scss/_navbar.scss
  docs/lore/content/scss/_print.scss
  docs/lore/content/scss/_reboot.scss
  docs/lore/content/scss/_variables.scss
  docs/lore/content/scss/forms/_form-range.scss
  docs/lore/content/scss/mixins/_breakpoints.scss
  docs/lore/content/scss/utilities/_borders.scss
  docs/lore/content/scss/utilities/_flex.scss
  docs/lore/content/scss/utilities/_float.scss
  docs/lore/content/scss/utilities/_text.scss
  docs/lore/content/scss/vendor/_rfs.scss
Due: none

unindented '.gitmodules' and 'docs/lua/config.ld'
  .gitmodules
  docs/lua/config.ld
Due: none

precommit / reindent / no_tabs
  .pre-commit-config.yaml
  utils/no_tabs.sh
  utils/reindent.sh
Due: none

tab hunting - the end
  docs/lua/ldoc.ltp
  extras/macos/Info.plist.in
  extras/macos/entitlements.plist
  extras/windows/naev.exe.manifest.in
  extras/windows/resource.rc.in
  utils/build/luagdb.txt
Due: none

When using dimensions with SVGs, try to preserve aspect.
  src/renderer/src/texture.rs
Due: rustfmt

Use .to_string_lossy() instead of .to_str().unwrap().
  src/renderer/src/texture.rs
Due: rustfmt

Guard against NULL pointers.
  src/renderer/src/texture.rs
Due: rustfmt

Removed lifetime from physfs::File.
  src/ndata/src/lib.rs
  src/ndata/src/physfs.rs
Due: rustfmt

Added file.from_string.
  src/nlua_file.c
  src/nlua_file.h
Due: clang-format

Allow specifying buffer name.
  src/nlua_file.c
Due: clang-format

Some minor code cosmetics and correctness.
  src/nlua_file.c
Due: clang-format

chuckaluck: use gender neutral pronouns when dealer is ousted.
  dat/scripts/minigames/chuckaluck.lua
Due: none

Only player should get not enough energy messages.
  dat/outfits/utility/blink_drive.lua
  dat/outfits/utility/flicker_drive.lua
  dat/outfits/utility/hyperbolic_blink_engine.lua
Due: none

Better outfit helper message checks for the player.
  dat/outfits/flow/abilities/avatar_of_the_sirichana.lua
  dat/outfits/utility/blink_drive.lua
  dat/outfits/utility/flicker_drive.lua
  dat/outfits/utility/hyperbolic_blink_engine.lua
Due: none

TextureBuilder now supports IOStreams directly.
  src/renderer/src/texture.rs
Due: rustfmt

Use iostream instead of opening image manually.
  src/renderer/src/texture.rs
Due: rustfmt

gl_newSpriteRWops supports NULL names now.
  src/renderer/src/texture.rs
Due: rustfmt

Opening images from Lua should support iostreams and thus raw data.
  src/nlua_tex.c
Due: clang-format

Better support for LuaFile IOStreams.
  src/nlua_audio.c
  src/nlua_file.c
  src/nlua_file.h
  src/nlua_tex.c
Due: clang-format

naev.aspell.pws
  utils/naev.aspell.pws
  utils/naev_ugly.aspell.pws
Due: none

argname escaping
  src/mission.c
  src/nlua_pilot.c
  src/nlua_system.c
  src/nxml.c
  src/tk/widget/imagearray.c
Due: clang-format

utils/doxspell.sh
  utils/doxspell.sh
  utils/naev.aspell.pws
Due: none

corrections_4
  src/colour.c
  src/dialogue.c
  src/gltf.c
  src/nlua_audio.c
  src/nlua_faction.c
  src/nlua_file.c
  src/nlua_gfx.c
  src/nlua_hook.c
  src/nlua_munition.c
  src/nlua_outfit.c
  src/nlua_pilot.c
  src/nlua_ship.c
  src/nlua_spfx.c
  src/physfs_archiver_blacklist.c
  src/pilot.c
  src/space.c
  src/tk/widget/cust.c
  src/tk/widget/fader.c
  src/tk/widget/imagearray.c
  utils/doxspell.sh
  utils/naev.aspell.pws
  utils/naev_ugly.aspell.pws
Due: clang-format

Don't show message about flow amplifier when the player has one.
  dat/missions/sirius/sirius_awakening.lua
Due: none

doxspell quick doc + details
  src/nlua_munition.c
  utils/doxspell.sh
  utils/naev.aspell.pws
  utils/naev_ugly.aspell.pws
Due: clang-format

precommit hook for doxspell
  .pre-commit-config.yaml
  src/SDL_PhysFS.h
  src/ai.h
  src/array.h
  src/load.h
  src/naev.h
  src/nfile.h
  src/nlua_data.h
  src/opengl.h
  src/rng.h
  utils/doxspell.sh
  utils/naev.aspell.pws
  utils/naev_ugly.aspell.pws
Due: clang-format

[pre-commit run -a]
  src/equipment.c
  src/gettext.c
  src/input.c
  src/nfile.c
  src/nlua_audio.c
  src/nlua_munition.c
  src/nlua_pilot.c
  src/nlua_player.c
  src/nlua_ship.c
  src/nlua_spfx.c
  src/nlua_system.c
  src/nlua_vec2.c
  src/nxml.c
  src/pilot.c
Due: clang-format

Use buffer counter for file.from_string for auto-generated names.
  src/nlua_file.c
Due: clang-format
