Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, no_tabs, reindent, glsl_validator, rustfmt, clang-format

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

no_tabs:
  name: no_tabs
  entry: utils/no_tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2021'
  language: system

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

Lots more corrections and updates.
  dat/events/taiomi/system.lua
  dat/missions/dvaered/dv_diversion.lua
  dat/missions/empire/collective/ec06.lua
  dat/missions/shadow/shadowvigil.lua
  dat/missions/zalek/particlephysics/zpp05.lua
  dat/scripts/common/treasure_hunt.lua
  utils/dictionary_en_to_en-OX_AUTOGENERATED.txt
Due: no_tabs, reindent

More spelling fixes here and there.
  dat/events/neutral/shiplover.lua
  dat/events/neutral/travelling_merchant.lua
  dat/events/news/pirate.lua
  dat/events/npc/black_lotus.lua
  dat/events/start.lua
  dat/missions/dvaered/recruitment/dv_census_00.lua
  dat/missions/empire/shipping/es00.lua
  dat/missions/minerva/finale2.lua
  dat/missions/minerva/kex5.lua
  dat/missions/neutral/cargo_rush.lua
  dat/missions/neutral/treasure_hunt.lua
  dat/missions/zalek/sciencegonewrong/01_sciwrong.lua
  dat/naevpedia/lore/faction.lua
  dat/outfits/unique/fuelshell_plating.lua
  dat/outfits/unique/pulse_scanner.xml
  dat/outfits/utility/neural_accelerator_interface.lua
  dat/scripts/luaspfx/trail.lua
  dat/scripts/luatk/luatk.lua
  dat/scripts/luatk/map.lua
  dat/scripts/minigames/sokoban/core.lua
  dat/scripts/naevpedia.lua
  dat/spob/barnards_star_ruined_ringworld.xml
  dat/spob/lora-mor.xml
  dat/spob/mutris.xml
  dat/spob/niflheim_enclave.xml
  dat/spob/porro_farming_station.xml
Due: no_tabs, reindent

Bump to 0.13.0-alpha.10.
  dat/events/updater.lua
  meson.build
Due: no_tabs, reindent

A ton more spellcheck stuff.
  dat/ai/core/attack/bomber.lua
  dat/ai/core/attack/corvette.lua
  dat/ai/core/attack/fighter.lua
  dat/events/minerva/altercation1.lua
  dat/events/minerva/station.lua
  dat/events/news/flf.lua
  dat/events/npc/soromid.lua
  dat/missions/dvaered/recruitment/dv_bikers.lua
  dat/missions/dvaered/recruitment/dv_lostagent.lua
  dat/missions/empire/collective/ec02.lua
  dat/missions/minerva/pirate5.lua
  dat/missions/neutral/race/tracks_qex.lua
  dat/missions/neutral/race/tracks_zlk.lua
  dat/missions/neutral/race_qex.lua
  dat/missions/sirius/achack/achack01.lua
  dat/missions/wildspace/intro.lua
  dat/missions/zalek/particlephysics/zpp01.lua
  dat/missions/zalek/sciencegonewrong/02_sciwrong.lua
  dat/outfits/unique/fuel_recycler.lua
  dat/scan.lua
  dat/scripts/bioship.lua
  dat/spob/arrakis.xml
  dat/spob/doranthex_prime.xml
  dat/spob/dundrop_monastery.xml
  dat/spob/eta_vadornia.xml
  dat/spob/scholzs_moon.xml
  dat/spob/unicorp_orbital.xml
  dat/spob/varaati.xml
  dat/ssys/gammacron.xml
Due: no_tabs, reindent

readded license->licence to dict and updated related LICENSE.txt
  utils/dictionary_en_to_en-OX_AUTOGENERATED-LICENSE.txt
  utils/dictionary_en_to_en-OX_AUTOGENERATED.txt
Due: no_tabs

license.webp -> licence.webp
  dat/outfits/misc/counterfeit_heavy_combat_vessel_licence.xml
  dat/outfits/misc/counterfeit_heavy_weapon_licence.xml
  dat/outfits/misc/heavy_combat_vessel_licence.xml
  dat/outfits/misc/heavy_weapon_licence.xml
  dat/outfits/misc/large_civilian_vessel_licence.xml
  dat/outfits/misc/light_combat_vessel_licence.xml
  dat/outfits/misc/medium_combat_vessel_licence.xml
  dat/outfits/misc/medium_weapon_licence.xml
  dat/outfits/misc/mercenary_licence.xml
Due: no_tabs

Quiet codespell fully.
  dat/scripts/term.lua
Due: no_tabs, reindent

echo missed -e in mk_oxford.sh
  utils/mk_oxford.sh
Due: no_tabs, reindent

Apply codespell suggestions.
  dat/events/neutral/travelling_merchant.lua
  dat/missions/dvaered/frontier_war/fw04_meeting.lua
  dat/missions/minerva/kex5.lua
  dat/missions/minerva/maikki2.lua
  dat/missions/shadow/shadowrun.lua
  dat/outfits/bioship/skills/feral_rage_iii.xml
  dat/outfits/flow/abilities/astral_projection.xml
  dat/outfits/flow/abilities/reality_rip.xml
  dat/outfits/intrinsic/gauntlet_supreme.xml
  dat/outfits/pointdefence/zibs-16.xml
  dat/outfits/pointdefence/zibs-32.xml
  dat/outfits/utility/combatai/cyclic_combat_ai.xml
  dat/outfits/utility/combatai/efficiency_combat_ai.xml
  dat/outfits/utility/combatai/scanning_combat_ai.xml
  dat/outfits/utility/hyperbolic_blink_engine.xml
  dat/ships/zalek/zalek_mephisto_type_v.xml
  dat/spob/grindstone_shipyards.xml
  dat/spob/poller_mass.xml
  dat/spob/tepvins_point.xml
Due: no_tabs, reindent

Drop the extra s from focus-related words.
  dat/events/neutral/travelling_merchant.lua
  dat/missions/dvaered/frontier_war/fw04_meeting.lua
  dat/missions/minerva/kex5.lua
  dat/missions/minerva/maikki2.lua
  dat/missions/shadow/shadowrun.lua
  dat/outfits/bioship/skills/feral_rage_iii.xml
  dat/outfits/flow/abilities/astral_projection.xml
  dat/outfits/flow/abilities/reality_rip.xml
  dat/outfits/intrinsic/gauntlet_supreme.xml
  dat/outfits/pointdefence/zibs-16.xml
  dat/outfits/pointdefence/zibs-32.xml
  dat/outfits/utility/combatai/cyclic_combat_ai.xml
  dat/outfits/utility/combatai/scanning_combat_ai.xml
  dat/outfits/utility/hyperbolic_blink_engine.xml
  dat/ships/zalek/zalek_mephisto_type_v.xml
  dat/spob/grindstone_shipyards.xml
  dat/spob/poller_mass.xml
  dat/spob/tepvins_point.xml
  utils/dictionary_en_to_en-OX_AUTOGENERATED.txt
Due: no_tabs, reindent

Uppercase management in `utils/mk_oxford.sh`
  dat/gui/brushed.lua
  dat/missions/shadow/darkshadow.lua
  utils/mk_oxford.sh
Due: no_tabs, reindent

oxfordized *.md
  Changelog.md
  Readme.md
  code_of_conduct.md
  dat/missions/onion/readme.md
  dat/naevpedia/lore/factions/dvaered.md
  dat/naevpedia/lore/factions/empire.md
  dat/naevpedia/lore/factions/proteron.md
  dat/naevpedia/lore/factions/sirius.md
  dat/naevpedia/lore/factions/soromid.md
  dat/naevpedia/lore/factions/thurion.md
  dat/naevpedia/mechanics/heat.md
  dat/scripts/love/math.lua
  dat/scripts/vn/transitions.lua
  dat/ships/soromid/README.md
  docs/lore/content/misn.md
  docs/manual/lore/faction-dvaered.md
  docs/manual/lore/faction-empire.md
  docs/manual/lore/faction-proteron.md
  docs/manual/lore/faction-sirius.md
  docs/manual/lore/faction-soromid.md
  docs/manual/lore/faction-thurion.md
  docs/manual/sec/misn-advanced.md
  docs/manual/sec/ships.md
  docs/manual/sec/univ-spobs.md
  docs/manual/sec/univ-systems.md
  utils/ssys/Readme.md
Due: no_tabs, reindent

mk_oxford.sh -l
  utils/mk_oxford.sh
Due: no_tabs, reindent

bugfix: ship attempted to free xml node "license"
  src/gltf.c
  src/ship.c
Due: no_tabs, clang-format

player licence
  src/player.c
Due: no_tabs, clang-format

safe .c oxfordization
  src/ai.c
  src/asteroid.c
  src/background.c
  src/cmark_wrap.c
  src/collision.c
  src/dev_uniedit.c
  src/dialogue.c
  src/edtaa3func.c
  src/escort.c
  src/gui_omsg.c
  src/info.c
  src/intlist.c
  src/land_outfits.c
  src/land_trade.c
  src/load.c
  src/lutf8lib.c
  src/map.c
  src/map_overlay.c
  src/md5.c
  src/msgcat.c
  src/naevlua.c
  src/nlua_gfx.c
  src/nlua_player.c
  src/nlua_rnd.c
  src/nlua_ship.c
  src/nlua_vec2.c
  src/quadtree.c
  src/safelanes.c
  src/sound.c
  src/tk/widget/button.c
  src/tk/widget/checkbox.c
  src/tk/widget/input.c
  src/tk/widget/list.c
  src/tk/widget/text.c
  src/toolkit.c
  utils/ssys/reposition.c
Due: no_tabs, clang-format

oxfordized .h (safe)
  src/SDL_PhysFS.h
  src/SDL_keynames.h
  src/asteroid.h
  src/font.h
  src/gettext.h
  src/intlist.h
  src/mat4.h
  src/md5.h
  src/naev.h
  src/nluadef.h
  src/pilot.h
  src/pilot_flags.h
  src/quadtree.h
  src/space.h
  src/threadpool.h
  src/tk/toolkit_priv.h
  src/tk/widget/text.h
  src/valgrind.h
Due: no_tabs, clang-format

oxfordize a bit of py
  dat/outfits/bioship/generate.py
  dat/shaders/lib/ffx_a.h
  dat/shaders/lib/ffx_fsr1.h
  po/credits_pot.py
  po/naevpedia_pot.py
  utils/NSH/main.py
  utils/build/lua_lldb_helpers.py
  utils/model-view/list-failed.py
  utils/model-view/obj-view.py
  utils/model-view/obj_view/__init__.py
  utils/model-view/obj_view/fb.py
  utils/model-view/obj_view/material.py
  utils/model-view/obj_view/object.py
  utils/model-view/obj_view/parse.py
  utils/model-view/obj_view/render.py
  utils/model-view/obj_view/texture.py
  utils/model-view/obj_view/window.py
  utils/model-view/save-all.py
  utils/outfits/engine_stats.py
  utils/outfits/outfits2md.py
  utils/ssys/geometry.py
  utils/ssys/graph2dot.py
  utils/ssys/graph2pov.py
  utils/ssys/graph_vaux.py
  utils/ssys/graphmod_stats.py
  utils/ssys/smoothen.py
Due: no_tabs, reindent

oops + pre-commit
  po/naevpedia.pot
  src/tk/widget/text.c
  src/tk/widget/text.h
  utils/oxford.aspell.pws
Due: no_tabs, clang-format

Don't crash if error appears loading outfit store image.
  src/outfit.rs
Due: no_tabs, rustfmt

Use modal-dialog for bootstrap.
  docs/lore/content/misn.md
Due: no_tabs

Added fleet.spawn.
  dat/scripts/fleet.lua
Due: no_tabs, reindent

Added lmisn.nearestJump
  dat/scripts/lmisn.lua
Due: no_tabs, reindent

fleet: minor optimization
  dat/scripts/fleet.lua
Due: no_tabs, reindent

onion07: more mechanics set-up.
  dat/missions/onion/onion06.lua
  dat/missions/onion/onion07.lua
Due: no_tabs, reindent

Added trigger.timer_chain.
  dat/scripts/trigger.lua
Due: no_tabs, reindent

onion07: more progress, should be ready to test the mechanics.
  dat/missions/onion/onion07.lua
Due: no_tabs, reindent

nalgebra 0.34 fixes the encase issue, but pushes rust version to 1.87.
  Cargo.toml.in
  meson.build
Due: no_tabs, reindent

Update some version info.
  Cargo.toml.in
Due: no_tabs

Fix some translation issues in "Qex Racing".
  dat/missions/neutral/race_qex.lua
Due: no_tabs, reindent

onion07: fix scan hook not progressing
  dat/missions/onion/onion07.lua
  dat/scripts/trigger.lua
Due: no_tabs, reindent

onion07: fixed a ton of small issues.
  dat/missions/onion/onion07.lua
  dat/scripts/trigger.lua
Due: no_tabs, reindent

onion07: more fixes
  dat/missions/onion/onion07.lua
  dat/scripts/trigger.lua
Due: no_tabs, reindent

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  no_tabs: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  glsl_validator: any of: dat/.*\.(frag|vert)$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
