Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, no_tabs, reindent, glsl_validator, rustfmt, clang-format

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

no_tabs:
  name: no_tabs
  entry: utils/no_tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2021'
  language: system

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

Make the git sha shorter for better appearance
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

Try to get stuff working, at least ALC_EXT_debug is detected now.
  src/audio/src/debug.rs
  src/audio/src/lib.rs
  src/audio/src/openal.rs
  src/naev.rs
Due: no_tabs, rustfmt

Needed to make audio context active, seems to work.
  src/audio/src/debug.rs
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: no_tabs, rustfmt

Some clean up and correctness.
  src/audio/src/debug.rs
  src/audio/src/efx.rs
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: no_tabs, rustfmt

Clean up some warnings.
  src/audio/src/debug.rs
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Initialize music. Now it doesn't crash, but sound still needs implementation.
  src/naev.rs
Due: no_tabs, rustfmt

Complain if not using OpenAL Soft.
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Start to generalize Audio struct a bit more.
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

AudioSource -> AudioData
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

zpp03: dehighlight the drone and highlight the target destination after hacking the drone.
  dat/missions/zalek/particlephysics/zpp03.lua
Due: no_tabs, reindent

Clear the player's velocity when entering an obelisk.
  dat/scripts/common/sirius.lua
Due: no_tabs, reindent

Make sure the fetch depth collects all tags so our changelog works
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

Change order of the header in the release text
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

No need for a separate source field as the AudioData type should be enough.
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Offset the time we run nightlies at to avoid high usage times
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

Use nalgebra 0.33 as 0.34 doesn't seem to compile currently.
  Cargo.toml.in
Due: no_tabs

More extension work.
  po/POTFILES.in
  src/audio/src/debug.rs
  src/audio/src/efx.rs
  src/audio/src/lib.rs
  src/audio/src/source_spatialize.rs
  src/meson.build
Due: no_tabs, reindent, rustfmt

Mark minor version for rust dependencies.
  Cargo.toml.in
Due: no_tabs

Dropped not-send as a dependency and more explicit versioning.
  Cargo.toml.in
  src/log/Cargo.toml.in
  src/mutex/Cargo.toml.in
  src/mutex/src/lib.rs
  src/ndata/Cargo.toml.in
Due: no_tabs, rustfmt

Explicitly stick nalgebra to 0.33.
  Cargo.toml.in
Due: no_tabs

Use AL_EXT_source_spatialize if available.
  src/audio/src/lib.rs
  src/audio/src/openal.rs
  src/audio/src/source_spatialize.rs
Due: no_tabs, rustfmt

Point translations to codeberg now.
  Readme.md
Due: no_tabs

Start to support AL_SOFT_events.
  po/POTFILES.in
  src/audio/src/events.rs
  src/audio/src/lib.rs
  src/audio/src/openal.rs
  src/meson.build
Due: no_tabs, reindent, rustfmt

Reduce macro duplication.
  src/audio/src/debug.rs
  src/audio/src/efx.rs
Due: no_tabs, rustfmt

Properly load events extension.
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Bail if proc_address macro fails.
  src/audio/src/openal.rs
Due: no_tabs, rustfmt

Add event handler.
  src/audio/src/efx.rs
  src/audio/src/events.rs
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Use AL_SOFT_buffer_length_query.
  po/POTFILES.in
  src/audio/src/buffer_length_query.rs
  src/audio/src/lib.rs
  src/audio/src/openal.rs
  src/meson.build
Due: no_tabs, reindent, rustfmt

Only trigger API documentation updates if a push to main occurs
  .forgejo/workflows/naev_ci.yml
Due: no_tabs

Try to make openal extensions a bit more simple and rust-y.
  src/audio/src/buffer_length_query.rs
  src/audio/src/debug.rs
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Use EXT suffix in AL_EXT_debug for consistency.
  src/audio/src/debug.rs
  src/audio/src/events.rs
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Finished making all openal extension code consistent.
  src/audio/src/buffer_length_query.rs
  src/audio/src/debug.rs
  src/audio/src/efx.rs
  src/audio/src/lib.rs
  src/audio/src/source_spatialize.rs
Due: no_tabs, rustfmt

Added events::supported().
  src/audio/src/events.rs
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Moved AL_SOFT_output_limiter into its own file for consistency.
  po/POTFILES.in
  src/audio/src/lib.rs
  src/audio/src/openal.rs
  src/audio/src/output_limiter.rs
  src/meson.build
Due: no_tabs, reindent, rustfmt

Start to encapsulate the sound stuff and break everything for a while :)
  src/audio/src/lib.rs
  src/meson.build
  src/outfit.c
  src/outfit.h
  src/player.c
  src/player.h
  src/renderer/src/texture.rs
  src/ship.h
  src/sound.h
  src/weapon.c
  src/weapon.h
Due: no_tabs, reindent, rustfmt, clang-format

Mention issues that cause the nalgebra / encase version freeze.
  Cargo.toml.in
Due: no_tabs

CLeaned up some warnings.
  src/outfit.c
  src/player.c
Due: no_tabs, clang-format

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  no_tabs: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  glsl_validator: any of: dat/.*\.(frag|vert)$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
