Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: check-illegal-windows-names
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      files: '^dat/'
      types: [lua]
      args: ["--ignore-words", ".codespellignore" ]
      additional_dependencies:
        - tomli
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: naevpedia
      name: check for stale naevpedia ships/outfits
      entry: utils/update-naevpedia.sh . --pre-commit
      language: script
      files: dat/(ships|outfits)/.*.xml$
      pass_filenames: false
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2021"]
      language: system

Fix typo
  .github/workflows/naev_nightly.yml
  .github/workflows/naev_prerelease.yml
  .github/workflows/naev_release.yml
Due: none

Fix more bad replacements
  .github/workflows/naev_nightly.yml
  .github/workflows/naev_prerelease.yml
  .github/workflows/naev_release.yml
Due: none

Split gettext into its own workspace.
  Cargo.toml.in
  po/POTFILES.in
  src/buffer.rs
  src/context.rs
  src/damagetype.rs
  src/faction.rs
  src/gettext/Cargo.toml.in
  src/gettext/meson.build
  src/gettext/src/lib.rs
  src/log.rs
  src/meson.build
  src/model.rs
  src/naev.rs
  src/nlua.rs
  src/ntime.rs
  src/nxml.rs
  src/shader.rs
  src/ship.rs
  src/slots.rs
  src/texture.rs
  src/vec2.rs
Due: rustfmt

Split ndata into its own workspace as a proof of concept.
  Cargo.toml.in
  meson.build
  po/POTFILES.in
  src/context.rs
  src/damagetype.rs
  src/faction.rs
  src/meson.build
  src/model.rs
  src/naev.rs
  src/ndata/Cargo.toml.in
  src/ndata/meson.build
  src/ndata/src/lib.rs
  src/ndata/src/physfs.rs
  src/nlua.rs
  src/shader.rs
  src/ship.rs
  src/slots.rs
  src/start.rs
  src/texture.rs
  src/toolkit.rs
Due: rustfmt

Moved log into its own workspace.
  Cargo.toml.in
  po/POTFILES.in
  src/context.rs
  src/damagetype.rs
  src/faction.rs
  src/log/Cargo.toml.in
  src/log/meson.build
  src/log/src/lib.rs
  src/meson.build
  src/naev.rs
  src/nlua.rs
  src/nxml.rs
  src/shader.rs
  src/slots.rs
  src/texture.rs
  src/vec2.rs
Due: rustfmt

Don't duplicate dependencies.
  Cargo.toml.in
Due: none

Guard against C texture NULL pointers.
  src/texture.rs
Due: rustfmt

Don't use depracetd PHYSFS_read and PHYSFS_write.
  src/ndata/src/physfs.rs
Due: rustfmt

More verbosity and checking with physfs.
  src/naev.rs
  src/ndata/src/lib.rs
  src/ndata/src/physfs.rs
Due: rustfmt

Renamed event, should be fine, maybe?
  dat/events/neutral/haven_curse.lua
Due: none

Fix build on Windows
  src/log/src/lib.rs
Due: rustfmt

Moved utils into core.
  po/POTFILES.in
  src/core/src/lib.rs
  src/core/src/utils.rs
  src/damagetype.rs
  src/faction.rs
  src/meson.build
  src/naev.rs
  src/slots.rs
Due: rustfmt

Split renderer and core stuff into separate workspaces.
  Cargo.toml.in
  po/POTFILES.in
  src/core/Cargo.toml.in
  src/core/meson.build
  src/core/src/lib.rs
  src/core/src/ntime.rs
  src/core/src/nxml.rs
  src/core/src/start.rs
  src/damagetype.rs
  src/faction.rs
  src/meson.build
  src/model.rs
  src/naev.rs
  src/nebula.rs
  src/outfit.rs
  src/render.rs
  src/renderer/Cargo.toml.in
  src/renderer/meson.build
  src/renderer/src/buffer.rs
  src/renderer/src/lib.rs
  src/renderer/src/shader.rs
  src/renderer/src/texture.rs
  src/ship.rs
  src/slots.rs
Due: rustfmt

Minor simplifications.
  src/ndata/src/lib.rs
  src/ship.rs
Due: rustfmt

A bit more verbose physfs errors.
  src/ndata/src/lib.rs
  src/ndata/src/physfs.rs
Due: rustfmt

Use &str instead of Path because physfs doesn't like Path.join().
  src/model.rs
Due: rustfmt

Moved APPNAME to naev_core.
  src/core/src/lib.rs
  src/naev.rs
  src/renderer/src/lib.rs
Due: rustfmt

Moved WIP toolkit to its own workspace.
  Cargo.toml.in
  po/POTFILES.in
  src/meson.build
  src/toolkit/Cargo.toml.in
  src/toolkit/meson.build
  src/toolkit/src/lib.rs
  src/toolkit/src/widget.rs
Due: rustfmt

Removed some unnecessary C files.
  po/POTFILES.in
  src/camera.c
  src/meson.build
  src/nebula.c
Due: clang-format

Nuked more unnecessary code.
  src/opengl_tex.c
Due: clang-format

Made Camera module a bit more rusty.
  src/camera.rs
Due: rustfmt

Restored bottom bar.
  dat/gui/slim.lua
  src/camera.h
  src/camera.rs
  src/nebula.rs
  src/nlua_gui.c
Due: clang-format, rustfmt

Nuked the border icons.
  src/gui.c
  src/gui.h
  src/input.c
Due: clang-format

Correct camera position in C API.
  src/camera.rs
Due: rustfmt

Expanded slim GUI.
  dat/gui/slim.lua
Due: none

Correct GUI offset.
  dat/gui/slim.lua
Due: none

Advertisers support advertising functions.
  dat/ai/core/idle/advertiser.lua
Due: none

Improved refuel pers to not hail player when not visible / in stealth.
  dat/events/pers/misc.lua
Due: none

Pilots lose all their shield when disabled.
  src/pilot.c
Due: clang-format

Spellcheck.
  dat/ships/neutral/koala_armoured.xml
Due: naevpedia

Exposed pilot.dockslot.
  dat/ai/core/control/generic.lua
  src/nlua_pilot.c
Due: clang-format

edge adding/removal management
  utils/ssys/dot2graph.py
  utils/ssys/graph2dot.py
  utils/ssys/graph2pov.py
  utils/ssys/graph2ssys.py
  utils/ssys/graph_vaux.py
  utils/ssys/graphmod.py
  utils/ssys/graphmod_postp.py
  utils/ssys/graphmod_prep.py
  utils/ssys/potential.c
  utils/ssys/process_ssys.sh
  utils/ssys/reposition.c
  utils/ssys/ssys2graph.sh
Due: none

Don't use debug stuff on mac os because it doesn't work apparently.
  src/renderer/src/lib.rs
Due: rustfmt

Use gl.supports_debug() to test for debugging capabilities.
  src/renderer/src/buffer.rs
  src/renderer/src/lib.rs
  src/renderer/src/shader.rs
  src/renderer/src/texture.rs
Due: rustfmt

Add gl_supportsDebug and use it to make sure glObjectLabel is safe.
  src/nlua_canvas.c
  src/opengl.c
  src/opengl.h
  src/opengl_vbo.c
  src/renderer/src/lib.rs
  src/ship.c
  utils/build/naev.rs
Due: check_luadoc_func, luafunc_dup, clang-format, rustfmt

Wrap more opengl debug with gl_supportsDebug.
  src/opengl.h
Due: clang-format

Technically shouldn't pollevents from non-main thread so let's be correct.
  src/naev.c
Due: clang-format

Add console subsystem linker flag for Windows builds
  meson.build
Due: none
