Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, doxspell, no_tabs, reindent, rustfmt, clang-format

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

no_tabs:
  name: no_tabs
  entry: utils/no_tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Fixed mutex test.
  src/mutex/src/lib.rs
Due: no_tabs, rustfmt

Added Texture.sprite_from_dir with some unit tests.
  src/renderer/src/texture.rs
Due: no_tabs, rustfmt

Some clippy and properly update buffer names with file.from_string.
  src/ndata/src/lua.rs
  src/renderer/src/texture.rs
Due: no_tabs, rustfmt

Some notes and added a test that doesn't work because of linker problems.
  src/ndata/src/lua.rs
  src/nlua.rs
Due: no_tabs, rustfmt

CI: use my edited Action to see if uploads are working with our larget artefacts
  .forgejo/workflows/naev_nightly.yml
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: no_tabs

Some refactoring: * Moved camera to renderer workspace * Added physics workspace * Started to work on Rust gfx Lua module.
  Cargo.toml.in
  po/POTFILES.in
  src/meson.build
  src/naev.rs
  src/nebula.rs
  src/nlua.rs
  src/physics/Cargo.toml.in
  src/physics/meson.build
  src/physics/src/lib.rs
  src/physics/src/vec2.rs
  src/renderer/Cargo.toml.in
  src/renderer/src/camera.rs
  src/renderer/src/lib.rs
Due: no_tabs, reindent, rustfmt

Have Lua use Love2D coordinate system.
  dat/missions/zalek/particlephysics/zpp05.lua
  dat/scripts/luaspfx/racetrack.lua
  dat/scripts/minigames/mining/core.lua
  dat/spob/lua/example.lua
  dat/spob/lua/lib/hypergate.lua
  dat/spob/lua/lib/wormhole.lua
  dat/spob/lua/poller_mass.lua
  src/nlua_gfx.c
  src/renderer/src/lib.rs
Due: doxspell, no_tabs, reindent, rustfmt, clang-format

Use a different style to pass parameters that should be more flexible in the future.
  po/meson.build
Due: no_tabs, reindent

Use Vector instead of Point in camera for simplicity.
  src/renderer/src/camera.rs
  src/renderer/src/lib.rs
Due: no_tabs, rustfmt

naev_nightly: Extract the release sha from the release body
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

Proof of concept implementing gfx.renderTex in mlua.
  src/renderer/src/lib.rs
Due: no_tabs, rustfmt

More clean up and start to port nlua_colour.c.
  Cargo.toml.in
  po/POTFILES.in
  src/meson.build
  src/physics/Cargo.toml.in
  src/physics/src/vec2.rs
  src/renderer/Cargo.toml.in
  src/renderer/src/colour.rs
  src/renderer/src/lib.rs
  src/vec2.rs
Due: no_tabs, reindent, rustfmt

Finish implementing Colour in mlua.
  src/renderer/src/colour.rs
Due: no_tabs, rustfmt

Colour should be 32 bit for compatibility with C.
  src/renderer/src/colour.rs
  src/renderer/src/lib.rs
Due: no_tabs, rustfmt

Added --exitmainmenu for use with testing.
  src/conf.c
  src/conf.h
  src/naev.c
  test/meson.build
Due: doxspell, no_tabs, reindent, clang-format

Move cargo test to the main meson.bulid to avoid recompiling so much and bloat.
  meson.build
  src/ndata/src/lua.rs
  test/meson.build
Due: no_tabs, reindent, rustfmt

Fixed up some comments.
  src/nlua.rs
Due: no_tabs, rustfmt

luadoc
  src/nlua_linopt.c
Due: doxspell, no_tabs, clang-format

Added some unit tests for the new colour Lua module.
  src/renderer/src/colour.rs
Due: no_tabs, rustfmt

Added colour:__eq and now the tests pass.
  src/renderer/src/colour.rs
Due: no_tabs, rustfmt

Added tex.__tostring to the Rust API.
  src/renderer/src/texture.rs
Due: no_tabs, rustfmt

Use Trie for colour lookups.
  Cargo.toml.in
  src/renderer/Cargo.toml.in
  src/renderer/src/colour.rs
Due: no_tabs, rustfmt

Constant implementation of gamma to linear when necessary.
  Cargo.toml.in
  src/renderer/Cargo.toml.in
  src/renderer/src/colour.rs
Due: no_tabs, rustfmt

Rust-style comments.
  src/renderer/src/lib.rs
Due: no_tabs, rustfmt

Macros for the colours.
  src/renderer/src/colour.rs
Due: no_tabs, rustfmt

Fancy macro to generate colours.
  src/renderer/src/colour.rs
Due: no_tabs, rustfmt

Fleshed out the rust colour definitions and allow expressions.
  src/renderer/src/colour.rs
Due: no_tabs, rustfmt

Some more testing and allow colour to be created from Lua string.
  src/renderer/src/colour.rs
Due: no_tabs, rustfmt

Can pass a table as a Colour now.
  src/renderer/src/colour.rs
Due: no_tabs, rustfmt

Some comments and polish.
  src/renderer/src/colour.rs
Due: no_tabs, rustfmt

Added colour.new_named.
  src/renderer/src/colour.rs
Due: no_tabs, rustfmt

[cargo clippy]
  src/renderer/src/camera.rs
  src/renderer/src/lib.rs
Due: no_tabs, rustfmt

Minor corrections and more tests.
  src/renderer/src/colour.rs
Due: no_tabs, rustfmt

Some API rework and got the colour code to pass all tests.
  src/renderer/src/colour.rs
Due: no_tabs, rustfmt

Minor clean up and let a talbe be passed to Vec2.
  src/physics/src/vec2.rs
  src/renderer/src/colour.rs
Due: no_tabs, rustfmt

Tried to add some vec2 tests, but they don't work because of linking issues. ( ´Д｀)=3
  src/physics/src/vec2.rs
Due: no_tabs, rustfmt

onion08: initial work
  dat/missions/onion/onion08.lua
  dat/ships/neutral/zebra_wolfie.xml
  po/POTFILES.in
Due: no_tabs, reindent

Replaced Lua `print` and `warn` with more robust Rust versions.
  Cargo.toml.in
  dat/rep.lua
  src/console.c
  src/nlua.rs
Due: doxspell, no_tabs, reindent, rustfmt, clang-format

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  no_tabs: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
