Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: check-illegal-windows-names
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      files: '^dat/'
      types: [lua]
      args: ["--ignore-words", ".codespellignore" ]
      additional_dependencies:
        - tomli
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: naevpedia
      name: check for stale naevpedia ships/outfits
      entry: utils/update-naevpedia.sh . --pre-commit
      language: script
      files: dat/(ships|outfits)/.*.xml$
      pass_filenames: false
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2021"]
      language: system

Made a mass limit > 0 necessary for space worthiness and modified misc ships to match that.
  dat/ships/misc/fort_raelid.xml
  dat/ships/misc/fort_raglan.xml
  dat/ships/misc/onewing_goddard.xml
  dat/ships/misc/psychic_orb.xml
  src/pilot_outfit.c
Due: naevpedia, clang-format

mc_polish - pilot_massFactor is now 0 when engine_limit is 0 and mass non-zero
  src/pilot_outfit.c
Due: clang-format

Fixed graphics for Taxumi I and Tummalin as reported by HyperSoop on discord.
  dat/spob/alsafi_ii.xml
  dat/spob/taxumi_i.xml
  dat/spob/tummalin.xml
Due: none

Better conditional check.
  src/pilot_outfit.c
Due: clang-format

.
  utils/outfits/outfit.py
Due: none

mc_polish - outfits2md details
  utils/outfits/outfits2md.py
Due: none

mc_polish - introduced solid.aerodynamics
  src/physics.c
  src/physics.h
  src/pilot.h
  src/pilot_outfit.c
Due: clang-format

mc_polish - also apply aerodynamics to weapons
  src/weapon.c
Due: clang-format

mc_polish - space out \'=\' in py
  dat/outfits/bioship/generate.py
  utils/outfits/engine_stats.py
  utils/outfits/engines_plot.py
  utils/outfits/getconst.py
  utils/outfits/mvx2xmllua.py
  utils/outfits/outfit.py
  utils/outfits/outfits2md.py
  utils/outfits/outfits2mvx.py
  utils/outfits/update_engines.py
  utils/outfits/xmllua2mvx.py
Due: none

mc_polish - a bit of fine-tuning
  dat/outfits/core_engine/large/krain_remige_engine.mvx
  dat/outfits/core_engine/large/krain_remige_engine.xml
  dat/outfits/core_engine/medium/krain_patagium_twin_engine.mvx
  dat/outfits/core_engine/medium/krain_patagium_twin_engine.xml
  utils/outfits/update_engines.py
Due: naevpedia

mc_polish - optimize outfit.py a bit
  utils/outfits/outfit.py
  utils/outfits/xmllua2mvx.py
Due: none

Update utils/outfits/update_engines.py
  utils/outfits/update_engines.py
Due: none

Apply suggestions from code review
  dat/outfits/lib/multicore.lua
Due: none

Apply suggestions from code review
  src/physics.c
Due: clang-format

mc_polish - desc. bugfix
  dat/outfits/lib/multicore.lua
Due: none

mc_polish - repaired small cores mass and cpu
  dat/outfits/core_system/small/milspec_aegis_2201_core_system.mvx
  dat/outfits/core_system/small/milspec_aegis_2201_core_system.xml
  dat/outfits/core_system/small/milspec_orion_2301_core_system.mvx
  dat/outfits/core_system/small/milspec_orion_2301_core_system.xml
  dat/outfits/core_system/small/milspec_prometheus_2203_core_system.mvx
  dat/outfits/core_system/small/milspec_prometheus_2203_core_system.xml
  dat/outfits/core_system/small/milspec_thalos_2202_core_system.mvx
  dat/outfits/core_system/small/milspec_thalos_2202_core_system.xml
Due: naevpedia

mc_polish - keep sym. conf. grouped when unsorted in engine_stats & outfits2md
  utils/outfits/engine_stats.py
  utils/outfits/outfits2md.py
Due: none

mc_polish - engine_stats can filter out comb. with pri smaller than sec
  utils/outfits/engine_stats.py
Due: none

mc_polish - new expand_tech.sh
  utils/outfits/expand_tech.sh
Due: none

mc_polish - better path management in scripts
  utils/outfits/update_mvx_from_xmllua.sh
  utils/outfits/update_xmllua_from_mvx.sh
Due: none

mc_polish - expand tech now manages mvx/xml duplicates
  utils/outfits/expand_tech.sh
Due: none

[pre-commit run -a]
  po/POTFILES.in
  src/nlua_pilot.c
  src/physics.c
  src/physics.h
  src/pilot.h
  src/pilot_outfit.c
Due: clang-format

Gave engine mass limit to the drones and astral projections that now require them.
  dat/ships/sirius/astral_projection_greater.xml
  dat/ships/sirius/astral_projection_lesser.xml
  dat/ships/sirius/astral_projection_normal.xml
  dat/ships/zalek/zalek_drone_bomber.xml
  dat/ships/zalek/zalek_drone_heavy.xml
  dat/ships/zalek/zalek_drone_light.xml
  dat/ships/zalek/zalek_drone_scout.xml
Due: naevpedia

outfit_utils - py reformating
  dat/outfits/bioship/generate.py
  utils/outfits/engine_stats.py
  utils/outfits/engines_plot.py
  utils/outfits/getconst.py
  utils/outfits/mvx2xmllua.py
  utils/outfits/outfit.py
  utils/outfits/outfits2md.py
  utils/outfits/outfits2mvx.py
  utils/outfits/update_engines.py
  utils/outfits/xmllua2mvx.py
Due: none

better invalid engine management in update_engines
  utils/outfits/update_engines.py
Due: none

Fix a bug that autonav fails to jump instantly in some conditions.
  dat/autonav.lua
Due: none

.
  dat/outfits/bioship/meson.build
  dat/outfits/core_engine/small/tricon_zephyr_engine.mvx
Due: none

.
  dat/outfits/bioship/meson.build
Due: none

.
  dat/outfits/bioship/generate.py
  dat/outfits/bioship/meson.build
Due: none

simplified generate.py
  dat/outfits/bioship/generate.py
Due: none

.
  dat/outfits/bioship/generate.py
  utils/outfits/outfit.py
Due: none

.
  dat/outfits/bioship/generate.py
Due: none

.
  dat/outfits/bioship/generate.py
  utils/outfits/xmllua2mvx.py
Due: none

path
  utils/outfits/engines_plot.py
  utils/outfits/getconst.py
Due: none
