Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$

Converted some lawless dens to "Free Trader", and disabled patrol lanes on them.
  dat/spob/alleyway.xml
  dat/spob/darkshed.xml
  dat/spob/efferey.xml
  dat/spob/foundation_station.xml
  dat/spob/fury_station.xml
  dat/spob/kramer.xml
  dat/spob/new_haven.xml
  dat/spob/pirates_cove.xml
  dat/spob/protera_husk.xml
  dat/spob/qorellia.xml
  dat/spob/regensburg.xml
  dat/spob/sanchez.xml
  dat/spob/shangris_station.xml
  dat/spob/smugglers_den.xml
  dat/spob/thaddius_terminal.xml
  dat/spob/the_crucible.xml
  dat/spob/the_wringer.xml
  dat/spob/vorca.xml
  dat/spob/wardens_end.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Added more factions to bounty helper and set up 1st Empire collective drone bounty
  dat/events/priority_bounty/bounties/bounty_empire_collective_1.lua
  dat/events/priority_bounty/helpers.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Removed unnecessary headers.
  src/physics.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Reset intrinsics on entering a new system to prevent stacking.
  src/space.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Minor pirate taunt tweaks.
  dat/ai/core/misc/pirate.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Less message duplication.
  dat/ai/core/misc/pirate.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Disabled ships don't taunt or distress.
  dat/ai/core/control/generic.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Guerrilla spawning uses spobs only when enemies not nearby.
  src/pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Stealth fleets and pirates now use guerrilla spawning always.
  dat/factions/spawn/lib/common.lua
  dat/factions/spawn/lib/pirate.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

On windows, normalize paths replacing '\' with '/' for consistency with physfs.
  src/ndata/src/physfs.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

WHile at it, removed some unwrap().
  src/ndata/src/physfs.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Updated formatx to 0.3 and itertools to 0.15.
  Cargo.toml.in
  src/asteroid.rs
  src/audio/src/lib.rs
  src/commodity.rs
  src/faction.rs
  src/gatherable.rs
  src/naev.rs
  src/ndata/src/lib.rs
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/src/install.rs
  src/pluginmgr/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Update gltf to latest git, hoping for a release someday...
  Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed display of energy usage from launcher weapons.
  src/outfit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

fixed energy usage of weapons being multiplied by shots.
  src/nlua_outfit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Implemented pilot.choosePoint in Lua.
  dat/factions/spawn/lib/common.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Relaxed and changed conditions a bit. No longer will non-criminals spawn from criminal areas.
  dat/factions/spawn/lib/common.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Raise warning if nlog helpers fail.
  src/nlog/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed formatting.
  src/naev.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Less penalty for slow launcher weapons.
  dat/scripts/equipopt/optimize.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Add Empire bounties on Collective Drone ships
  dat/events/priority_bounty/bounties/bounty_empire_collective_1.lua
  dat/events/priority_bounty/bounties/bounty_empire_collective_2.lua
  dat/events/priority_bounty/bounties/bounty_empire_collective_3.lua
  dat/outfits/fighter_bays/heavy_drone_bay.xml
  dat/unidiff/collective_dead.xml
  dat/unidiff/drone_carrier_available.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

[pre-commit run -a]
  dat/events/priority_bounty/bounties/bounty_empire_collective_1.lua
  dat/events/priority_bounty/bounties/bounty_empire_collective_2.lua
  dat/events/priority_bounty/bounties/bounty_empire_collective_3.lua
  dat/events/priority_bounty/helpers.lua
  dat/outfits/utility/combatai/cyclic_combat_ai.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Minor optimization.
  dat/scripts/equipopt/fighterbays/thurion_perspicacity.lua
  dat/scripts/equipopt/fighterbays/thurion_scintillation.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Removed ship_mass from fighter bays.
  dat/outfits/fighter_bays/ancestor_bay.xml
  dat/outfits/fighter_bays/drone_bay.xml
  dat/outfits/fighter_bays/empire_lancelot_bay.xml
  dat/outfits/fighter_bays/gorgon_lancelot_bay.xml
  dat/outfits/fighter_bays/heavy_drone_bay.xml
  dat/outfits/fighter_bays/hyena_bay.xml
  dat/outfits/fighter_bays/hyena_dock.xml
  dat/outfits/fighter_bays/lancelot_bay.xml
  dat/outfits/fighter_bays/pirate_ancestor_dock.xml
  dat/outfits/fighter_bays/pirate_hyena_bay.xml
  dat/outfits/fighter_bays/pirate_hyena_dock.xml
  dat/outfits/fighter_bays/proteron_dalton_bay.xml
  dat/outfits/fighter_bays/proteron_dalton_dock.xml
  dat/outfits/fighter_bays/sirius_fidelity_bay.xml
  dat/outfits/fighter_bays/sirius_shaman_bay.xml
  dat/outfits/fighter_bays/soromid_brigand_bay.xml
  dat/outfits/fighter_bays/thurion_perspicacity_bay.xml
  dat/outfits/fighter_bays/thurion_perspicacity_dock.xml
  dat/outfits/fighter_bays/thurion_scintillation_bay.xml
  dat/outfits/fighter_bays/zalek_bomber_drone_bay.xml
  dat/outfits/fighter_bays/zalek_bomber_drone_mini_bay.xml
  dat/outfits/fighter_bays/zalek_heavy_drone_bay.xml
  dat/outfits/fighter_bays/zalek_heavy_drone_mini_bay.xml
  dat/outfits/fighter_bays/zalek_light_drone_bay.xml
  dat/outfits/fighter_bays/zalek_light_drone_mini_bay.xml
  dat/outfits/unique/black_diamond_bay.xml
  src/outfit.c
  src/outfit.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Removed ammom mass and use knockback defined in the damage itself.
  src/asteroid.c
  src/asteroid.rs
  src/asteroid_internal.h
  src/damagetype.h
  src/damagetype.rs
  src/land_outfits.c
  src/map_find.c
  src/map_system.c
  src/nlua_outfit.c
  src/outfit.c
  src/outfit.h
  src/physics.c
  src/physics.h
  src/pilot.c
  src/pilot_outfit.c
  src/pilot_weapon.c
  src/weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Cleaned up knocback from damage types.
  dat/damagetype/armourbreaker.toml
  dat/damagetype/emp.toml
  dat/damagetype/energy.toml
  dat/damagetype/energy_noknockback.toml
  dat/damagetype/explosion_splash.toml
  dat/damagetype/ion.toml
  dat/damagetype/kinetic.toml
  dat/damagetype/nebula.toml
  dat/damagetype/plasma.toml
  dat/outfits/weapons/energy_harpoon.xml
  po/toml.pot
Due: end-of-file-fixer.sh, expand-tabs.sh

Cleaned up some unused code and warnings.
  src/outfit.c
  src/pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Removed ammo_mass from launchers.
  dat/outfits/launchers/convulsion_launcher.xml
  dat/outfits/launchers/electron_burst_cannon.xml
  dat/outfits/launchers/emp_grenade_launcher.xml
  dat/outfits/launchers/enygma_systems_huntsman_launcher.xml
  dat/outfits/launchers/enygma_systems_spearhead_launcher.xml
  dat/outfits/launchers/enygma_systems_turreted_fury_launcher.xml
  dat/outfits/launchers/enygma_systems_turreted_headhunter_launcher.xml
  dat/outfits/launchers/pincushion_battery.xml
  dat/outfits/launchers/repeating_banshee_launcher.xml
  dat/outfits/launchers/shatterer_launcher.xml
  dat/outfits/launchers/space_mine_layer.xml
  dat/outfits/launchers/superfast_collider_launcher.xml
  dat/outfits/launchers/teracom_banshee_launcher.xml
  dat/outfits/launchers/teracom_fury_launcher.xml
  dat/outfits/launchers/teracom_headhunter_launcher.xml
  dat/outfits/launchers/teracom_imperator_launcher.xml
  dat/outfits/launchers/teracom_mace_launcher.xml
  dat/outfits/launchers/teracom_medusa_launcher.xml
  dat/outfits/launchers/teracom_vengeance_launcher.xml
  dat/outfits/launchers/turreted_convulsion_launcher.xml
  dat/outfits/launchers/unicorp_caesar_iv_launcher.xml
  dat/outfits/launchers/unicorp_storm_launcher.xml
  dat/outfits/launchers/zalek_hunter_launcher.xml
  dat/outfits/launchers/zalek_predator_launcher.xml
  dat/outfits/launchers/zalek_reaper_launcher.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Removed some more ammo_mass left in misc outfits.
  dat/outfits/bioship/skills/thorn.xml
  dat/outfits/flow/abilities/seeking_chakra_large.xml
  dat/outfits/flow/abilities/seeking_chakra_medium.xml
  dat/outfits/flow/abilities/seeking_chakra_small.xml
  dat/outfits/pointdefence/dvaered_flare_battery.xml
  dat/outfits/pointdefence/ratchet_point_defence.xml
  dat/outfits/special/bikers_fury_launcher.xml
  dat/outfits/unique/junker_point_defence.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Update drone carrier bounty comm text to be a little more threatening to the player.
  dat/events/priority_bounty/bounties/bounty_empire_collective_3.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed satt name.
  src/outfit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Use symbol we have in our font for impulse.
  src/physics.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed knockback not being applied.
  src/weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Implemented recoil.
  src/outfit.c
  src/outfit.h
  src/pilot_weapon.c
  src/weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed recoil.
  src/ai.c
  src/equipment.c
  src/pilot.c
  src/pilot.h
  src/pilot_weapon.c
  src/weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Added knockback to asteroids.
  src/asteroid.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed knockback for pilot explosions.
  src/pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Added some knockback and recoil to railguns.
  dat/outfits/weapons/railgun.xml
  dat/outfits/weapons/railgun_turret.xml
  dat/outfits/weapons/repeating_railgun.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Deprecate pilot.choosePoint.
  src/nlua_pilot.c
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format
