Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: check-illegal-windows-names
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      files: '^dat/'
      types: [lua]
      args: ["--ignore-words", ".codespellignore" ]
      additional_dependencies:
        - tomli
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: naevpedia
      name: check for stale naevpedia ships/outfits
      entry: utils/update-naevpedia.sh . --pre-commit
      language: script
      files: dat/(ships|outfits)/.*.xml$
      pass_filenames: false
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2021"]
      language: system

Properly display plasma burn damage when duration is not 5.
  dat/outfits/lib/bioplasma.lua
Due: none

Plasma script plays well with other scripts that use onload now.
  dat/outfits/lib/bioplasma.lua
Due: none

Finished up plasma eruptor.
  dat/glsl/particles/eruptor.frag
  dat/outfits/weapons/plasma_eruptor.lua
  dat/outfits/weapons/plasma_eruptor.xml
  po/POTFILES.in
  utils/glsl/particles/frag.glsl
Due: glsl_validator, naevpedia

minimize_angle_stretch.py
  utils/sys/geometry.py
  utils/sys/minimize_angle_stretch.py
Due: none

sys_relax now uses minimize_angle_stretch
  utils/sys/minimize_angle_stretch.py
  utils/sys/sys_relax.py
Due: none

Improved randomness of shader particles a bit.
  dat/glsl/particles/eruptor.frag
  dat/glsl/particles/shared/disruptor.glsl
  dat/glsl/particles/shared/laser.glsl
  dat/glsl/particles/shared/razor.glsl
  dat/glsl/particles/shared/ripper.glsl
Due: glsl_validator

Tweaked plasma eruptor a bit more.
  dat/outfits/weapons/plasma_eruptor.xml
Due: naevpedia

use tmpfile for m_angle_strech debug mode
  utils/sys/minimize_angle_stretch.py
  utils/sys/sys_relax.py
Due: none

trying both flipped and unflipped when crossed + sys_relax -v
  utils/sys/minimize_angle_stretch.py
  utils/sys/sys_relax.py
Due: none

sys_relax.py -g && manage singularities more accurately
  utils/sys/minimize_angle_stretch.py
  utils/sys/sys_relax.py
Due: none

restored trails
  dat/trails/fire-missilel.xml
  dat/trails/fire-missiles.xml
  dat/trails/fires.xml
  dat/trails/melendezs.xml
  dat/trails/missilel.xml
  dat/trails/nebulas.xml
  dat/trails/pirates.xml
  dat/trails/proterons.xml
  dat/trails/siriuss.xml
  dat/trails/soromids.xml
  dat/trails/thurions.xml
  dat/trails/zalek-missilel.xml
  dat/trails/zalekl.xml
  dat/trails/zaleks.xml
  dat/trails/zalekxl.xml
  dat/trails/zalekxs.xml
Due: none

restore POTFILES.in trail/
  po/POTFILES.in
Due: none

further trail details
  dat/ships/zalek/zalek_light_drone.xml
  dat/ships/zalek/zalek_scout_drone.xml
Due: naevpedia

improved graph output + bugfix
  utils/sys/minimize_angle_stretch.py
Due: none

Give treasure hunt tiered loot when doing treasure hunt stuff.
  dat/board.lua
  dat/missions/neutral/treasure_hunt.lua
  dat/scripts/common/treasure_hunt.lua
Due: none

Make yetmer-o'rez a restricted spob so missions don't send you there.
  dat/spob/yetmer-orez.xml
Due: none

Loot tweaks and fixes.
  dat/scripts/common/loot.lua
Due: none

Keep track of treasure maps completed and have Misi sell mystery outfits.
  dat/events/neutral/travelling_merchant.lua
  dat/missions/neutral/treasure_hunt.lua
  dat/scripts/common/treasure_hunt.lua
Due: none

Forgot to add mystery outfit itself.
  dat/naevpedia/outfits/meson.build
  dat/outfits/misc/mystery_outfit.lua
  dat/outfits/misc/mystery_outfit.xml
  po/POTFILES.in
Due: naevpedia

s Pla\([SM]\)2 Pla-\12 && applied corresponding file renaming
  dat/outfits/bioship/generate.py
  dat/outfits/pointdefense/spittle_tubuloid_cluster.xml
  dat/outfits/weapons/plasma_blaster_mk2.xml
  dat/outfits/weapons/plasma_cannon.xml
  dat/outfits/weapons/plasma_cluster_cannon.xml
  dat/outfits/weapons/plasma_turret_mk2.xml
  dat/spfx/pla-m2.xml
  dat/spfx/pla-s2.xml
  po/POTFILES.in
Due: naevpedia

Removed the loot only outfits to loot only.
  dat/scripts/equipopt/templates/dvaered.lua
  dat/scripts/equipopt/templates/proteron.lua
  dat/tech/all_outfits.xml
  dat/tech/high_tech_upgrades_2.xml
  dat/tech/high_tech_upgrades_3.xml
Due: none

Treasure hunts with unspecified rewards give a completely random one.
  dat/missions/neutral/treasure_hunt.lua
Due: none

You can buy treasure maps at qorellia and new xantusia now.
  dat/naevpedia/outfits/meson.build
  dat/outfits/misc/treasure_map.lua
  dat/outfits/misc/treasure_map.xml
  dat/spob/new_xantusia.xml
  dat/spob/qorellia.xml
  po/POTFILES.in
Due: naevpedia

Added typenames to the new meta-outfits.
  dat/outfits/misc/mystery_outfit.xml
  dat/outfits/misc/treasure_map.xml
Due: naevpedia

Double treasure map is a bit silly :)
  dat/outfits/misc/treasure_map.xml
Due: naevpedia

CHANGELOG.
  CHANGELOG
Due: none

Lowered the price of treasure maps.
  dat/outfits/misc/treasure_map.xml
Due: naevpedia

Price + descriptior for plasma eruptor.
  dat/outfits/weapons/plasma_eruptor.xml
Due: naevpedia

Fixed explosion spfx references in C code.
  po/POTFILES.in
  src/explosion.c
  src/pilot.c
Due: clang-format

[pre-commit run -a]
  utils/sys/sys2dot.py
  utils/sys/sys2graph.py
  utils/sys/sys2pov.py
Due: none

Have AI try to turn off outfits when starting braking task.
  dat/ai/core/basic.lua
Due: none

Fixed pilot.outfitToggle not turning outfits off.
  src/nlua_pilot.c
Due: clang-format

Cleaned up some afterburner behaviour.
  dat/ai/core/basic.lua
  dat/ai/core/idle/pirate.lua
Due: none

Smooth velocity when braking to better handle ships with high accels.
  src/ai.c
Due: clang-format

Add other runaway variants to the control information.
  dat/ai/core/control/generic.lua
Due: none

Removed hellburners from standard equipment.
  dat/ai/core/basic.lua
  dat/scripts/equipopt/templates/dvaered.lua
  dat/scripts/equipopt/templates/empire.lua
  dat/scripts/equipopt/templates/pirate.lua
Due: none

Reverse thrust gets clamped, let's not mess up computations.
  src/ai.c
Due: clang-format

Fixed autonav not turning off afterburner.
  dat/autonav.lua
  src/nlua_pilot.c
Due: clang-format

Fixed Luadoc.
  src/nlua_pilot.c
  src/pilot.c
Due: clang-format
