Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

smd:
  name: markdown linter
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  language: script
  require_serial: true

smd-w:
  name: markdown linter (wider)
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  - -w
  - '5'
  language: script
  require_serial: true

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Add new bay and dock to equipopt
  dat/scripts/equipopt/outfits.lua
  dat/scripts/equipopt/templates/pirate_base.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added new bay and dock to techs
  dat/scripts/equipopt/outfits.lua
  dat/tech/heavy_weapons_1.xml
  dat/tech/pirate_elite_outfits.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added House Goddard bounties and updated Goddard Merchantman
  dat/events/priority_bounty/bounties/bounty_goddard_espionage_1.lua
  dat/events/priority_bounty/bounties/bounty_goddard_espionage_2.lua
  dat/events/priority_bounty/bounties/bounty_goddard_espionage_3.lua
  dat/outfits/weapons/railcannon.xml
  dat/ships/neutral/goddard_merchant.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Updated rep gain from bounties
  dat/events/priority_bounty/bounties/bounty_goddard_espionage_2.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Update bounty_goddard_espionage_3.lua
  dat/events/priority_bounty/bounties/bounty_goddard_espionage_3.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Change number of weapons and mounts mismatch to be log info, not a warning.
  src/log.h
  src/ship.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Some pre-commit fixes.
  dat/scripts/equipopt/fighterbays/ancestor.lua
  dat/scripts/equipopt/fighterbays/pirate_ancestor.lua
  dat/ships/thurion/thurion_ingenuity.xml
  dat/ships/thurion/thurion_perspicacity.xml
  dat/tech/heavy_weapons_1.xml
  dat/tech/pirate_elite_outfits.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

pre-commit run -a
  dat/events/priority_bounty/bounties/bounty_goddard_espionage_1.lua
  dat/events/priority_bounty/bounties/bounty_goddard_espionage_2.lua
  dat/events/priority_bounty/bounties/bounty_goddard_espionage_3.lua
  dat/outfits/weapons/railcannon.xml
  dat/ships/neutral/goddard_merchant.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Make railcannon available after bounty_goddard_espionage_3.
  dat/events/priority_bounty/bounties/bounty_goddard_espionage_3.lua
  dat/missions/neutral/priority_bounty.lua
  dat/unidiff/railcannon_available.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Spelling mistake.
  dat/missions/tutorial/nelly02.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

minor spellcheck
  dat/missions/trader/astra_vigilis_join.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

more spellcheck
  dat/missions/trader/astra_vigilis_join.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed check for the junker pack when spawning the junker plates.
  dat/events/derelict/junker_plates.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed turnpike station landing graphic.
  dat/spob/turnpike_station.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Returning PathBuf was probably at fault for broken naevpedia on windows.
  src/commodity.rs
  src/faction.rs
  src/ndata/src/lib.rs
  src/ndata/src/physfs.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Fixed travelling merchant.
  dat/events/neutral/travelling_merchant.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Remove independents near pirate's cove.
  dat/ssys/ngc127.xml
  dat/ssys/ngc13564.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Inherit more flags when creating dynamic factions.
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

neburesearch_00: don't let the player die (at least if they have enough shield regen)
  dat/missions/zalek/neburesearch/neburesearch_00.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Just in case set no death too.
  dat/missions/zalek/neburesearch/neburesearch_00.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed Mephisto Type V's intrinsic not working with ZIBS PD.
  dat/ships/lua/zalek_mephisto_type_v.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Have aiL_face also take into account ai_dt and pilot turn.
  src/ai.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

For correctness should use SDL_free.
  src/nlua_linopt.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

minor simplification
  dat/scripts/equipopt/optimize.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Add Free Trader to independent all unpresence virtual spobs.
  dat/spob_virtual/independent_all_unpresence.xml
  dat/spob_virtual/independent_all_unpresence_range_1.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Disable valgrind support on non-debug builds.
  src/valgrind.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Removed unnecessary headers.
  src/explosion.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed gatherables accumulating infinitely and absorbing them when it shouldn't be possible.
  src/gatherable.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Correct SPFX rendering location.
  src/spfx.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Add -10% fwd_energy to Cyclic Combat AI
  dat/outfits/utility/combatai/cyclic_combat_ai.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Don't have dynamic factions show up in the faction list by properly marking them as invisible.
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Some more robust facing.
  src/ai.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

more thurion adjustments
  dat/scripts/equipopt/fighterbays/thurion_perspicacity.lua
  dat/scripts/equipopt/fighterbays/thurion_scintillation.lua
  dat/ships/thurion/thurion_ingenuity.xml
  dat/ships/thurion/thurion_perspicacity.xml
  dat/ships/thurion/thurion_perspicacity_beta.xml
  dat/ships/thurion/thurion_scintillation.xml
  dat/ships/thurion/thurion_taciturnity.xml
  dat/ships/thurion/thurion_virtuosity.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

buff perspicacity bays
  dat/outfits/fighter_bays/thurion_perspicacity_bay.xml
  dat/outfits/fighter_bays/thurion_perspicacity_dock.xml
  dat/scripts/equipopt/fighterbays/thurion_perspicacity.lua
  dat/scripts/equipopt/fighterbays/thurion_scintillation.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

aiL_face: Fixed dt being applied twice and lower k_vel.
  src/ai.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Print ship name in equipopt error messages.
  dat/scripts/equipopt/optimize.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Can only collect gatherables when below 50% of base speed (not max speed).
  src/gatherable.rs
  src/pilot.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Made fake transponder work on independents too.
  dat/outfits/unique/fake_transponder.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
