Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

naevpedia:
  name: check for stale naevpedia ships/outfits
  entry: utils/update-naevpedia.sh . --pre-commit
  language: script
  pass_filenames: false

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2021'
  language: system

sys_{pos, jmp} -> ssys_{pos, jmp}
  utils/ssys/closest.py
  utils/ssys/decorators.py
  utils/ssys/dot2graph.py
  utils/ssys/graph2dot.py
  utils/ssys/graph2pov.py
  utils/ssys/graph2ssysmap.py
  utils/ssys/graph_scale.py
  utils/ssys/graph_vaux.py
  utils/ssys/graphmod.py
  utils/ssys/graphmod_abh.py
  utils/ssys/graphmod_final.py
  utils/ssys/graphmod_postp.py
  utils/ssys/graphmod_prep.py
  utils/ssys/graphmod_smooth_tl.py
  utils/ssys/graphmod_stretch_north.py
  utils/ssys/graphmod_vedges.py
  utils/ssys/graphmod_virtual_ssys.py
  utils/ssys/terminal_ssys.py
  utils/ssys/virtual_edges.py
Due: none

ssysmap_{push, pop, dequeue}.sh
  utils/ssys/Readme.md
  utils/ssys/ssysmap_dequeue.sh
  utils/ssys/ssysmap_pop.sh
  utils/ssys/ssysmap_push.sh
Due: none

process_ssys -N && process_ssys -> process_ssysmap
  utils/ssys/decorators.py
  utils/ssys/find_closest.sh
  utils/ssys/process_ssysmap.sh
Due: none

nebula volatility
  utils/ssys/Readme.md
  utils/ssys/graph2dot.py
  utils/ssys/graph2pov.py
  utils/ssys/graph_vaux.py
Due: none

half edges around Bastion
  utils/ssys/Readme.md
  utils/ssys/edge_len.sed
  utils/ssys/graphmod_vedges.py
Due: none

dont reposition terminal ssys + rename ssys -> ssysmap where relevant
  utils/ssys/Readme.md
  utils/ssys/graph2ssysmap.py
  utils/ssys/graphmod_vedges.py
  utils/ssys/process_ssys.sh
  utils/ssys/ssysmap2graph.sh
  utils/ssys/terminal_ssys.py
Due: none

generalize tradelane smoothing to any subgraph
  utils/ssys/graphmod_repos.sh
  utils/ssys/graphmod_smooth_tl.py
  utils/ssys/smoothen.py
Due: none

symmetry func accepting line/segment/point/2points + carnis m{in,aj}or
  utils/ssys/geometry.py
  utils/ssys/graphmod_final.py
  utils/ssys/graphmod_postp.py
  utils/ssys/reposition.c
Due: none

graph_vaux tags management; graph2{dot, pov} stellar wind, plasmastorm, haze.
  utils/ssys/Readme.md
  utils/ssys/graph2dot.py
  utils/ssys/graph2pov.py
  utils/ssys/graph_vaux.py
Due: none

graph_unspoil.sh + no_spoiler opt for process_ssysmap
  utils/ssys/Readme.md
  utils/ssys/graph_unspoil.sh
  utils/ssys/process_ssysmap.sh
Due: none

added missing spoiler tag in thurion area
  dat/ssys/flow.xml
  dat/ssys/nava.xml
  dat/ssys/rauthia.xml
  dat/ssys/tobanna.xml
  dat/ssys/vean.xml
Due: none

added hopa & padonia (wild space) missing tags
  dat/ssys/hopa.xml
  dat/ssys/padonia.xml
Due: none

added corridor tag to systems of Qorel corridor
  dat/ssys/blacin.xml
  dat/ssys/doowa.xml
  dat/ssys/effetey.xml
  dat/ssys/firk.xml
  dat/ssys/flok.xml
  dat/ssys/frolina.xml
  dat/ssys/qorel.xml
  dat/ssys/terminus.xml
  dat/ssys/trask.xml
  dat/ssys/trohem.xml
  utils/ssys/graph_vaux.py
Due: none

early_game map filter
  utils/ssys/graph_vaux.py
  utils/ssys/graphmod_earlygame.py
  utils/ssys/process_ssysmap.sh
Due: none

remove redundant (sym arcs) edges in repos
  utils/ssys/Readme.md
  utils/ssys/reposition.c
Due: none

graph2dot one-way jmp management + redefined ssys_jmp as a dict + misc
  utils/ssys/Readme.md
  utils/ssys/dot2graph.py
  utils/ssys/graph2dot.py
  utils/ssys/graph2pov.py
  utils/ssys/graph_vaux.py
  utils/ssys/graphmod.py
  utils/ssys/graphmod_earlygame.py
  utils/ssys/graphmod_postp.py
  utils/ssys/graphmod_prep.py
  utils/ssys/graphmod_smooth_tl.py
  utils/ssys/graphmod_virtual_ssys.py
  utils/ssys/virtual_edges.py
Due: none

process_ssysmap: wait for pov task to end + newlines in all modes.
  utils/ssys/decorators.py
  utils/ssys/process_ssysmap.sh
Due: none

added spoiler tag to Proteron ssys
  dat/ssys/akra.xml
  dat/ssys/apik.xml
  dat/ssys/ekta.xml
  dat/ssys/hystera.xml
  dat/ssys/korifa.xml
  dat/ssys/leporis.xml
  dat/ssys/telika.xml
Due: none

inconsistent naming
  utils/ssys/graph_earlygame.py
  utils/ssys/process_ssysmap.sh
Due: none

Carried fighters don't pick up gatherables.
  src/gatherable.c
Due: clang-format

oxford spelling
  dat/naevpedia/lore/factions/dvaered.md
  po/naevpedia.pot
Due: none

dictatorship -> monarchy
  dat/naevpedia/lore/factions/empire.md
  po/naevpedia.pot
Due: none

Don't tell AI to flyback when starting autonav if they are already following the fleet.
  dat/ai/core/control/generic.lua
Due: none

Make fighters try to respect run away at armour a bit more.
  dat/ai/core/basic.lua
  dat/ai/core/control/generic.lua
Due: none

Start to work on faction grid.
  src/faction.rs
Due: rustfmt

Use a simple Vec for the Rust factions for now.
  Cargo.toml.in
  src/faction.rs
Due: rustfmt

Re-enable aarch64 builds for macOS
  .github/workflows/naev_ci.yml
  .github/workflows/naev_nightly.yml
  .github/workflows/naev_prerelease.yml
  .github/workflows/naev_release.yml
  utils/ci/gh/GHDeploy.sh
  utils/ci/itch/ItchDeploy.sh
Due: none

Fix pesky missing '#'
  .github/workflows/naev_nightly.yml
  .github/workflows/naev_prerelease.yml
  .github/workflows/naev_release.yml
Due: none

Properly load friendly_at value.
  src/faction.rs
Due: rustfmt

Removed some unneeded headers.
  src/nlua_pilot.c
Due: clang-format

Some more work at handling standing grid.
  src/faction.rs
Due: rustfmt

Yet more aggressive task clearing.
  dat/ai/core/control/generic.lua
Due: none

More aggressive task clearing for fighters.
  dat/ai/core/basic.lua
  dat/ai/core/control/generic.lua
Due: none

Don't duplicate desc_extra in land_outfits.
  src/land_outfits.c
Due: clang-format

releases: Fix deploying universal macOS bundles to github
  utils/ci/gh/GHDeploy.sh
Due: none

Load hit function.
  src/faction.rs
Due: rustfmt

Cargo clippy.
  src/faction.rs
  src/ndata/src/lib.rs
  src/nlua.rs
  src/renderer/src/lib.rs
  src/renderer/src/texture.rs
  src/ship.rs
Due: rustfmt

Bit more faction work.
  src/faction.rs
Due: rustfmt

Updated equipopt tables by HyperSoop.
  dat/scripts/equipopt/templates/dvaered.lua
  dat/scripts/equipopt/templates/empire.lua
  dat/scripts/equipopt/templates/pirate.lua
  dat/scripts/equipopt/templates/proteron.lua
  dat/scripts/equipopt/templates/sirius.lua
  dat/scripts/equipopt/templates/soromid.lua
  dat/scripts/equipopt/templates/thurion.lua
  dat/scripts/equipopt/templates/zalek.lua
Due: none

Spittle tubuloid cluster doesn't need <desc_extra>.
  dat/outfits/pointdefense/spittle_tubuloid_cluster.xml
Due: naevpedia

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  glsl_validator: any of: dat/.*\.(frag|vert)$
  naevpedia: any of: dat/(ships|outfits)/.*.xml$
  clang-format: any of: ^src/ and \.(c|h)$
  rustfmt: any of: ^src/ and \.rs$
