Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: check-illegal-windows-names
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      files: '^dat/'
      types: [lua]
      args: ["--ignore-words", ".codespellignore" ]
      additional_dependencies:
        - tomli
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: naevpedia
      name: check for stale naevpedia ships/outfits
      entry: utils/update-naevpedia.sh . --pre-commit
      language: script
      files: dat/(ships|outfits)/.*.xml$
      pass_filenames: false
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2021"]
      language: system

shellcheck utils/*.sh
  utils/add_xml_head.sh
  utils/apply_renaming_suggestion.sh
  utils/rem_xml_head.sh
  utils/repair_xml.sh
  utils/std_xml_head.sh
  utils/suggest_xml_renaming.sh
  utils/xml_rename.sh
Due: none

shellcheck utils/sys/*.sh
  utils/sys/process_sys.sh
  utils/sys/sys_unfreeze.sh
Due: none

shellcheck utils/outfits/*.sh
  utils/outfits/gen_mvx_from_xml.sh
Due: none

Removed shebangs from python scripts when applicable to quiet pre-commit.
  utils/outfits/combine_multi.py
  utils/outfits/core_outfit.py
  utils/outfits/outfit.py
  utils/outfits/slst.py
  utils/sys/ssys.py
Due: none

Don't allow chaining refueling events with the pers.
  dat/events/neutral/refuel.lua
  dat/events/pers/misc.lua
Due: none

Start to work on pincushion battery.
  dat/naevpedia/outfits/meson.build
  dat/outfits/launchers/pincushion_battery.lua
  dat/outfits/launchers/pincushion_battery.xml
  po/POTFILES.in
Due: naevpedia

Start to work on tiered loot script.
  dat/scripts/common/loot.lua
  po/POTFILES.in
Due: none

xml_name.py - provides xml_name.sed wrapper for use in py
  utils/sys/ssys.py
  utils/xml_name.py
Due: none

bugfix: adapt sys utils to new xml naming
  utils/sys/dot2sys.py
  utils/sys/ssys.py
  utils/sys/sys_freeze.py
  utils/sys/sys_relax.py
Due: none

sys2pov.py allows to generate pretty map of systems
  utils/sys/geometry.py
  utils/sys/sys2dot.py
  utils/sys/sys2graph.py
  utils/sys/sys2pov.py
Due: none

Update pointdefense and space mine layer to the new API spec.
  dat/outfits/launchers/space_mine_layer.lua
  dat/outfits/pointdefense/pointdefense.lua
Due: none

Pincushion Battery seems to work now, probably needs tweaking still.
  dat/outfits/launchers/pincushion_battery.lua
  dat/outfits/launchers/pincushion_battery.xml
Due: naevpedia

Tweaked flak gun and pincushion battery.
  dat/outfits/launchers/pincushion_battery.xml
  dat/outfits/weapons/flak_gun.xml
Due: naevpedia

colored star map + xml_name.sed bugfix
  utils/sys/sys2dot.py
  utils/sys/sys2graph.py
  utils/sys/sys2pov.py
  utils/xml_name.sed
Due: none

Added pilotoutfit:mount()
  src/nlua_pilotoutfit.c
Due: clang-format

Pincushion Battery and Space Mine Layer respect mount positions.
  dat/outfits/launchers/pincushion_battery.lua
  dat/outfits/launchers/space_mine_layer.lua
Due: none

Added Plasma Eruptor.
  dat/naevpedia/outfits/meson.build
  dat/outfits/weapons/plasma_eruptor.xml
  po/POTFILES.in
Due: naevpedia

Added Plasma Eruptor to tier1 loot rewards.
  dat/scripts/common/loot.lua
Due: none

misc + std_xml_head.sh fixed, simplified & opt.
  utils/std_xml_head.sh
  utils/sys/sys2pov.py
  utils/xml_name.py
Due: none

sys2dot now also manages color
  utils/sys/process_sys.sh
  utils/sys/sys2dot.py
  utils/sys/sys2graph.py
  utils/sys/sys2pov.py
Due: none

fixed relative position of virtual systems
  utils/sys/dot2sys.py
  utils/sys/sys2dot.py
  utils/sys/sys2graph.py
  utils/sys/sys2pov.py
Due: none

Replace XL$ -> -XL$ ( resp L, M, S, XS) in names
  dat/outfits/flow/astral_projection/astral_cannon.xml
  dat/outfits/flow/astral_projection/lesser_astral_cannon.xml
  dat/ships/zalek/zalek_light_drone.xml
  dat/ships/zalek/zalek_scout_drone.xml
  dat/spfx/chakram.xml
  dat/spfx/chakras.xml
  dat/spfx/chakraxs.xml
  dat/spfx/empblastm.xml
  dat/spfx/empm.xml
  dat/spfx/emps.xml
  dat/spfx/explosion/expl.xml
  dat/spfx/explosion/expm.xml
  dat/spfx/explosion/exps.xml
  dat/spfx/plam.xml
  dat/spfx/plas.xml
  dat/spfx/shim.xml
  dat/spfx/shis.xml
  dat/trails/fire-missilel.xml
  dat/trails/fire-missiles.xml
  dat/trails/fires.xml
  dat/trails/melendezs.xml
  dat/trails/missilel.xml
  dat/trails/nebulas.xml
  dat/trails/pirates.xml
  dat/trails/proterons.xml
  dat/trails/siriuss.xml
  dat/trails/soromids.xml
  dat/trails/thurions.xml
  dat/trails/zalek-missilel.xml
  dat/trails/zalekl.xml
  dat/trails/zaleks.xml
  dat/trails/zalekxl.xml
  dat/trails/zalekxs.xml
Due: naevpedia

suggest_xml_renaming bugfix
  utils/suggest_xml_renaming.sh
Due: none

applied subsequent file renaming
  dat/outfits/core_hull/large/s_and_amp;k_large_cargo_hull.xml
  dat/outfits/core_hull/large/s_and_amp;k_war_plating.xml
  dat/outfits/core_hull/medium/s_and_amp;k_battle_plating.xml
  dat/outfits/core_hull/medium/s_and_amp;k_medium_cargo_hull.xml
  dat/outfits/core_hull/small/s_and_amp;k_skirmish_plating.xml
  dat/outfits/core_hull/small/s_and_amp;k_small_cargo_hull.xml
  dat/outfits/intrinsic/port_and_amp;_polish.xml
  dat/outfits/utility/s_and_amp;k_heavy_plasma_drill.xml
  dat/outfits/utility/s_and_amp;k_plasma_drill.xml
  dat/spfx/chakra-m.xml
  dat/spfx/chakra-s.xml
  dat/spfx/chakra-xs.xml
  dat/spfx/emp-m.xml
  dat/spfx/emp-s.xml
  dat/spfx/empblast-m.xml
  dat/spfx/explosion/exp-l.xml
  dat/spfx/explosion/exp-m.xml
  dat/spfx/explosion/exp-s.xml
  dat/spfx/pla-m.xml
  dat/spfx/pla-s.xml
  dat/spfx/shi-m.xml
  dat/spfx/shi-s.xml
  dat/spob/shade_and_amp;_sunshine.xml
  dat/tech/s_and_amp;k_outfits.xml
  dat/trails/fire-missile-l.xml
  dat/trails/fire-missile-s.xml
  dat/trails/fire-s.xml
  dat/trails/melendez-s.xml
  dat/trails/missile-l.xml
  dat/trails/nebula-s.xml
  dat/trails/pirate-s.xml
  dat/trails/proteron-s.xml
  dat/trails/sirius-s.xml
  dat/trails/soromid-s.xml
  dat/trails/thurion-s.xml
  dat/trails/zalek-l.xml
  dat/trails/zalek-missile-l.xml
  dat/trails/zalek-s.xml
  dat/trails/zalek-xs.xml
  dat/trails/zalex-xl.xml
Due: naevpedia

xml_name fixed + "applied subsequent file renaming" fixed
  dat/outfits/core_hull/large/sk_large_cargo_hull.xml
  dat/outfits/core_hull/large/sk_war_plating.xml
  dat/outfits/core_hull/medium/sk_battle_plating.xml
  dat/outfits/core_hull/medium/sk_medium_cargo_hull.xml
  dat/outfits/core_hull/small/sk_skirmish_plating.xml
  dat/outfits/core_hull/small/sk_small_cargo_hull.xml
  dat/outfits/intrinsic/port_and_polish.xml
  dat/outfits/utility/sk_heavy_plasma_drill.xml
  dat/outfits/utility/sk_plasma_drill.xml
  dat/spob/shade_and_sunshine.xml
  dat/tech/sk_outfits.xml
  po/POTFILES.in
  utils/xml_name.sed
Due: naevpedia

a note & some color tuning
  src/dev_uniedit.c
  utils/sys/sys2graph.py
  utils/sys/sys2pov.py
Due: clang-format

detect sys flipping/crossing
  utils/sys/dot2sys.py
  utils/sys/process_sys.sh
  utils/sys/sys_relax.py
Due: none

sys_relax: flip systems when needed
  utils/sys/process_sys.sh
  utils/sys/sys_relax.py
Due: none

fix independent color + details
  utils/sys/dot2sys.py
  utils/sys/sys2graph.py
  utils/sys/sys_relax.py
Due: none

.
  utils/sys/sys2graph.py
Due: none

improved sys_relax warnings
  utils/sys/sys_relax.py
Due: none

Particle testing shader.
  utils/glsl/particles/frag.glsl
  utils/glsl/particles/main.lua
Due: none

Implemented more particle prototypes.
  utils/glsl/particles/frag.glsl
Due: none

Fixed energy harpoon fade model.
  dat/glsl/particles/energy_harpoon.frag
Due: glsl_validator

Warn if trying to load gfx again with outfits.
  src/outfit.c
Due: clang-format

Laser weapons now use shader graphics for particles.
  dat/glsl/particles/laser_cyan.frag
  dat/glsl/particles/laser_green.frag
  dat/glsl/particles/laser_purple.frag
  dat/glsl/particles/laser_red.frag
  dat/glsl/particles/shared/laser.glsl
  dat/outfits/special/four_winds_laser_cannon.xml
  dat/outfits/weapons/heavy_laser_turret.xml
  dat/outfits/weapons/laser_cannon_mk1.xml
  dat/outfits/weapons/laser_cannon_mk2.xml
  dat/outfits/weapons/laser_turret_mk1.xml
  dat/outfits/weapons/laser_turret_mk2.xml
  dat/outfits/weapons/turbolaser.xml
  utils/glsl/particles/frag.glsl
Due: glsl_validator, naevpedia

Use shaders for the ripper weapons too.
  dat/glsl/particles/ripper_cyan.frag
  dat/glsl/particles/ripper_green.frag
  dat/glsl/particles/shared/ripper.glsl
  dat/outfits/weapons/heavy_ripper_cannon.xml
  dat/outfits/weapons/heavy_ripper_turret.xml
  dat/outfits/weapons/ripper_cannon.xml
  utils/glsl/particles/frag.glsl
Due: glsl_validator, naevpedia

Mess around with laser shaders a tad.
  dat/glsl/particles/shared/laser.glsl
  dat/glsl/particles/shared/ripper.glsl
  dat/outfits/special/base_ripper_mk2.xml
  utils/glsl/particles/conf.lua
  utils/glsl/particles/frag.glsl
Due: naevpedia

Added reaver shader.
  dat/glsl/particles/reaver.frag
  dat/glsl/particles/shared/laser.glsl
  dat/outfits/py/reaver.py
  utils/glsl/particles/frag.glsl
Due: glsl_validator
