Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$

manage fields with attributes in outfits
  utils/naev_content.py
  utils/outfits/outfit.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

fixed UI AB/wrn color
  dat/gui/slim.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed outfitter window not updating when not landed.
  src/land_outfits.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Encapsulate beam rendering in outfit.c.
  src/outfit.c
  src/outfit.h
  src/weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Beam shaders no longer use subroutines and use separate shaders instead.
  dat/outfits/pointdefence/zibs-16.xml
  dat/outfits/pointdefence/zibs-32.xml
  dat/outfits/special/four_winds_ragnarok_beam.xml
  dat/outfits/unique/valkyrie_beam.xml
  dat/outfits/weapons/antimatter_lance.xml
  dat/outfits/weapons/arc_blade.xml
  dat/outfits/weapons/arc_machete.xml
  dat/outfits/weapons/grave_beam.xml
  dat/outfits/weapons/grave_lance.xml
  dat/outfits/weapons/mining_lance_mk1.xml
  dat/outfits/weapons/mining_lance_mk2.xml
  dat/outfits/weapons/nexus_drill_lance.xml
  dat/outfits/weapons/orion_beam.xml
  dat/outfits/weapons/orion_lance.xml
  dat/outfits/weapons/particle_beam.xml
  dat/outfits/weapons/particle_lance.xml
  dat/outfits/weapons/ragnarok_beam.xml
  dat/shaders/beam.frag
  dat/shaders/beam.vert
  dat/shaders/beam/arc.frag
  dat/shaders/beam/common.glsl
  dat/shaders/beam/default.frag
  dat/shaders/beam/fuzzy.frag
  dat/shaders/beam/helix.frag
  dat/shaders/beam/organic.frag
  dat/shaders/beam/reverse.frag
  dat/shaders/beam/unstable.frag
  dat/shaders/beam/wave.frag
  src/outfit.c
  src/outfit.h
  src/shaders_c_gen.py
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

Changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Fixed new beam shaders not properly initializing all output variables.
  dat/shaders/beam/arc.frag
  dat/shaders/beam/default.frag
  dat/shaders/beam/fuzzy.frag
  dat/shaders/beam/helix.frag
  dat/shaders/beam/organic.frag
  dat/shaders/beam/reverse.frag
  dat/shaders/beam/unstable.frag
  dat/shaders/beam/wave.frag
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Simplified shaders a tad.
  dat/shaders/beam.vert
  dat/shaders/beam/common.glsl
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Some minor shader tweaks.
  dat/shaders/beam/default.frag
  dat/shaders/beam/organic.frag
  utils/glsl/beam/beam.frag
  utils/glsl/beam/main.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed loading plugin.toml data from zip files.
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Removed inexistent heat entry from naevpedia list.
  Changelog.md
  dat/naevpedia/mechanics.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Added mechanic where stress doesn't recover for a while after taking disable damage.
  Changelog.md
  dat/constants.lua
  src/constants.c
  src/constants.h
  src/core/src/constants.rs
  src/pilot.c
  src/pilot.h
Due: end-of-file-fixer.sh, smd-w, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Fixed cooldown time bar over/underflowing with cooldown time modifiers.
  Changelog.md
  src/gui.c
Due: end-of-file-fixer.sh, smd-w, doxspell, expand-tabs.sh, clang-format

Decreased real time that passes when player is disabled and minor optimization.
  Changelog.md
  src/player_autonav.c
Due: end-of-file-fixer.sh, smd-w, doxspell, expand-tabs.sh, clang-format

Fixed uninstalling zip files from plugin manager.
  Changelog.md
  src/pluginmgr/src/install.rs
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, rustfmt

Mention whitespaces are explicitly bad.
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Reload plugin editor descriptions and use scrollable.
  Changelog.md
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, rustfmt

Colour plugin names red when incompatible.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Added Dvaered Ancestor Calamity for sale.
  dat/events/dvaered/totoran.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Show number of commits since tag in version.
  utils/build/gen_version.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Use BorrowedStr instead of String with mlua when applicable.
  src/audio/src/lib.rs
  src/audio/src/lua_audiodata.rs
  src/ndata/src/data.rs
  src/ndata/src/luafile.rs
  src/renderer/src/colour.rs
  src/renderer/src/luashader.rs
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

SFC should be kinetic not plasma.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

More clarification about plugin identifiers.
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Gave custom acquire message for totoran gauntlet ships.
  dat/events/dvaered/totoran.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Forgot to stash apply.
  dat/outfits/launchers/superfast_collider_launcher.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Don't have equipopt change cores.
  dat/ships/dvaered/dvaered_ancestor_calamity.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Dvaered Ancestor Calamity does not need bolt weapons.
  dat/scripts/equipopt/templates/dvaered.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed minor display and computation errors in equipopt.
  dat/scripts/equipopt/optimize.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

it's called the crimson gauntlet
  dat/events/dvaered/totoran.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

have nluacheck detect when luacheck not installed
  utils/nluacheck.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

nluacheck manages multithreading
  .pre-commit-config.yaml
Due: end-of-file-fixer.sh, expand-tabs.sh
