Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$

Plasma burst now takes into account damage_taken.
  dat/outfits/bioship/skills/plasma_burst.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Buff launcher penetration (except ECB which gets a small nerf)
  dat/outfits/launchers/convulsion_launcher.xml
  dat/outfits/launchers/electron_burst_cannon.xml
  dat/outfits/launchers/emp_grenade_launcher.xml
  dat/outfits/launchers/enygma_systems_huntsman_launcher.xml
  dat/outfits/launchers/enygma_systems_spearhead_launcher.xml
  dat/outfits/launchers/enygma_systems_turreted_fury_launcher.xml
  dat/outfits/launchers/enygma_systems_turreted_headhunter_launcher.xml
  dat/outfits/launchers/pincushion_battery.xml
  dat/outfits/launchers/space_mine_layer.xml
  dat/outfits/launchers/superfast_collider_launcher.xml
  dat/outfits/launchers/teracom_fury_launcher.xml
  dat/outfits/launchers/teracom_headhunter_launcher.xml
  dat/outfits/launchers/teracom_imperator_launcher.xml
  dat/outfits/launchers/teracom_mace_launcher.xml
  dat/outfits/launchers/teracom_medusa_launcher.xml
  dat/outfits/launchers/teracom_vengeance_launcher.xml
  dat/outfits/launchers/unicorp_caesar_iv_launcher.xml
  dat/outfits/launchers/unicorp_storm_launcher.xml
  dat/outfits/launchers/zalek_hunter_launcher.xml
  dat/outfits/launchers/zalek_reaper_launcher.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Lowered energy usage of super-heavy weapons by -35%.
  dat/outfits/weapons/arc_blade.xml
  dat/outfits/weapons/disruptor_battery_s2.xml
  dat/outfits/weapons/heavy_ripper_turret.xml
  dat/outfits/weapons/ragnarok_beam.xml
  dat/outfits/weapons/railgun_turret.xml
  dat/outfits/weapons/repeating_railgun.xml
  dat/outfits/weapons/turbolaser.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Lowered energy of bioship ulta-heavy weapons.
  dat/outfits/bioship/generate.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Forgot valkyrie beam.
  dat/outfits/unique/valkyrie_beam.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed absorb on the ships without cores.
  dat/ships/misc/escape_pod.xml
  dat/ships/misc/fort_raelid.xml
  dat/ships/misc/fort_raglan.xml
  dat/ships/misc/one-wing_goddard.xml
  dat/ships/misc/psychic_orb.xml
  dat/ships/misc/sindbad.xml
  dat/ships/sirius/astral_projection_greater.xml
  dat/ships/sirius/astral_projection_lesser.xml
  dat/ships/sirius/astral_projection_normal.xml
  dat/ships/zalek/zalek_bomber_drone.xml
  dat/ships/zalek/zalek_heavy_drone.xml
  dat/ships/zalek/zalek_light_drone.xml
  dat/ships/zalek/zalek_scout_drone.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

New curves for absorb of core hulls.
  dat/outfits/core_hull/Readme.md
  dat/outfits/core_hull/large/nexus_phantasm_weave.xml
  dat/outfits/core_hull/large/patchwork_heavy_plating.xml
  dat/outfits/core_hull/large/rs_large_cargo_hull.xml
  dat/outfits/core_hull/large/sk_large_cargo_hull.xml
  dat/outfits/core_hull/large/sk_war_plating.xml
  dat/outfits/core_hull/large/unicorp_d58_heavy_plating.xml
  dat/outfits/core_hull/medium/nexus_ghost_weave.xml
  dat/outfits/core_hull/medium/rs_medium_cargo_hull.xml
  dat/outfits/core_hull/medium/sk_battle_plating.xml
  dat/outfits/core_hull/medium/sk_medium_cargo_hull.xml
  dat/outfits/core_hull/medium/unicorp_d23_medium_plating.xml
  dat/outfits/core_hull/small/nexus_shadow_weave.xml
  dat/outfits/core_hull/small/patchwork_light_plating.xml
  dat/outfits/core_hull/small/rs_small_cargo_hull.xml
  dat/outfits/core_hull/small/sk_skirmish_plating.xml
  dat/outfits/core_hull/small/sk_small_cargo_hull.xml
  dat/outfits/core_hull/small/unicorp_d2_light_plating.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Removed absorb from all structurals.
  dat/outfits/structure/active_plating.xml
  dat/outfits/structure/microbond_plating.xml
  dat/outfits/structure/nanobond_plating.xml
  dat/outfits/structure/plasteel_plating.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Change misc outfits/skills from absorb to -damage taken.
  dat/outfits/accessory/trading_card_rare.xml
  dat/outfits/accessory/ugly_statue.xml
  dat/outfits/bioship/skills/the_bite-bloodlust.xml
  dat/outfits/bioship/skills/the_bite-cannibal.xml
  dat/outfits/bioship/skills/the_bite-improved.xml
  dat/outfits/bioship/skills/the_bite.xml
  dat/outfits/structure/active_plating.xml
  dat/outfits/utility/hullcoating/milspec_impacto-plastic_coating.xml
  dat/scripts/bioship/skills.lua
  dat/ships/lua/sirius_providence.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Tripled the wormholes discoverability.
  Changelog.md
  dat/spob/wormhole_carrza.xml
  dat/spob/wormhole_ivella.xml
  dat/spob/wormhole_ngc13674.xml
  dat/spob/wormhole_ngc15670.xml
  dat/spob/wormhole_ngc1931.xml
  dat/spob/wormhole_ngc4087.xml
  dat/spob/wormhole_rei.xml
  dat/spob/wormhole_surano.xml
  dat/spob/wormhole_zied.xml
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Clean up the NGC-11718 event after the player leaves the system.
  dat/events/restricted_ngc11718.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Document a bit more.
  Changelog.md
  dat/missions/minerva/judgement.lua
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Load PILOT_SHIELD_DOWN_TIME from constants.
  Changelog.md
  src/constants.c
Due: end-of-file-fixer.sh, smd-w, doxspell, expand-tabs.sh, clang-format

Implement a constant for minimum damage a pilot should take with absorption.
  dat/constants.lua
  src/constants.c
  src/constants.h
  src/core/src/constants.rs
  src/pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Avatar of Sirichana gives -25% damage taken instead of 20% absorb.
  dat/effects/avatar_of_the_sirichana.xml
  dat/outfits/flow/abilities/avatar_of_the_sirichana.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Reverted damage_taken changes to accessories, active plating and impacto-plastic coating.
  dat/outfits/accessory/trading_card_rare.xml
  dat/outfits/accessory/ugly_statue.xml
  dat/outfits/structure/active_plating.xml
  dat/outfits/utility/hullcoating/milspec_impacto-plastic_coating.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Revert Sirius Providence to absorb from -damage_taken.
  dat/ships/lua/sirius_providence.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

kex3: make sure malik doesn't absorb tank the pink demon.
  dat/missions/minerva/kex3.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Guard against potential segfault.
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Stack intrinsic outfits in the equipment view.
  Changelog.md
  src/equipment.c
Due: end-of-file-fixer.sh, smd-w, doxspell, expand-tabs.sh, clang-format

Changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Allow specifying count of intrinsics in a single line.
  src/ship.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Bump revsg dependency to 0.46.
  src/renderer/Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Changelog formatting.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Protera husk has a unique badass image now.
  dat/spob/protera_husk.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Made dit possible for NPCs to have lootable data matrices. The Junker will have a data matrix.
  dat/board.lua
  dat/events/pers/indep.lua
  dat/events/pers/pirate.lua
  dat/factions/spawn/lib/pirate.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

The Junker has data matrices only if they don't have plates.
  dat/events/pers/indep.lua
  dat/scripts/common/junker.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Started to work on Lua Shader module.
  po/POTFILES.in
  src/renderer/src/luashader.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Tweaked patchigel housing absorb.
  dat/outfits/unique/patchigel_housing.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

add new launcher model + have the bomber drones use it
  dat/outfits/launchers/zalek_predator_launcher.xml
  dat/scripts/equipopt/templates/zalek.lua
  dat/ships/zalek/zalek_bomber_drone.xml
  dat/tech/zalek_outfits_low.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

3 absorb is too little we can't have that
  dat/ships/zalek/zalek_bomber_drone.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Try to use outfits to inspect attackers faster.
  dat/ai/core/basic.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed derelict hittest check.
  dat/events/derelict.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent
