Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

naevpedia:
  name: check for stale naevpedia ships/outfits
  entry: utils/update-naevpedia.sh . --pre-commit
  language: script
  pass_filenames: false

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2021'
  language: system

meson.build: Use dependency with fallbacks for libdl detection
  meson.build
Due: none

Fixed commodity illegalto loading and load order as necessary.
  src/commodity.c
  src/naev.c
Due: clang-format

Display factions making commodity illegal in the trade window.
  src/land_trade.c
Due: clang-format

Hide constant commodities from the map.
  src/map.c
Due: clang-format

More filtering for map commodity price checks.
  src/map.c
Due: clang-format

Don't display 0 tonnes in cargo list when it is 0 tonnes.
  src/info.c
Due: clang-format

Count intrinsics price (needs to support lua_price though).
  src/pilot.c
Due: clang-format

Don't only scan leaders if the leader is invisible.
  dat/ai/core/misc/scans.lua
Due: none

Disable pirate ship stealing missions for now.
  dat/missions/pirate/pir_ship_stealing.lua
Due: none

Tweaked clansworld bribing costs and make sure they aren't negative.
  dat/spob/lua/pirate_clanworld.lua
Due: none

Make sure pilot has a valid afterburner when afterburning.
  src/pilot.c
Due: clang-format

Corrected project thurion date.
  dat/naevpedia/lore/history.md
  po/naevpedia.pot
Due: none

Finished up the arietis event.
  dat/events/neutral/arietis_guardian.lua
  dat/events/neutral/arietis_trove.lua
  po/POTFILES.in
Due: none

A bit more text.
  dat/events/neutral/arietis_trove.lua
Due: none

Added Prototype Systems T-IVa 'Quickshell'.
  dat/naevpedia/outfits/meson.build
  dat/outfits/unique/prototype_systems_tiva_quickshell.xml
  po/POTFILES.in
Due: naevpedia

CHANGELOG
  CHANGELOG
Due: none

Spelling.
  dat/events/neutral/arietis_trove.lua
Due: none

Account for player being enemies with the thurion.
  dat/events/neutral/arietis_trove.lua
Due: none

A bit more rewrite.
  dat/events/neutral/arietis_trove.lua
Due: none

More edits.
  dat/events/neutral/arietis_trove.lua
Due: none

Grammar.
  dat/ships/pirate/pirate_kestrel.xml
Due: naevpedia

Independent bounties now only allow landing on generics if they are generics and modify message to make it clear that it's more general.
  dat/scripts/common/bounty.lua
Due: none

If attacked by unseen enemy, try to explore the location.
  dat/ai/core/basic.lua
  dat/ai/core/control/generic.lua
Due: none

Bounty reward requires inhabited spob with a faction.
  dat/scripts/common/bounty.lua
  src/nlua_spob.c
Due: clang-format

More fuzz when AI inspects attackers plus tries to deploy and send fighters too.
  dat/ai/core/basic.lua
  dat/ai/core/control/generic.lua
Due: none

Minor AI fixes.
  dat/ai/core/basic.lua
  dat/ai/core/control/generic.lua
Due: none

Carriers are much harder to cheese with torpedoes now.
  dat/ai/core/control/generic.lua
Due: none

Proteron blockade doesn't immediately say they attack and do nothing.
  dat/events/proteron/blockade.lua
Due: none

pilotai.guard with no pos parameter works now.
  dat/scripts/pilotai.lua
Due: none

guard AI shouldn't be obsessed with going back to lanes if set to natural
  dat/ai/core/control/generic.lua
Due: none

Only do the attacked message when in combat with the proteron blockade.
  dat/events/proteron/blockade.lua
Due: none

Have inspect_attacker be more aggressive and more tweaks to make guard ai behave like a non-natural AI.
  dat/ai/core/control/generic.lua
Due: none

Attacked AI tells followers there was something fishy now.
  dat/ai/core/control/generic.lua
Due: none

Support for fighter bays having consistent loadouts.
  dat/scripts/equipopt/fighterbays/pirate_hyena.lua
  dat/scripts/equipopt/optimize.lua
  po/POTFILES.in
Due: none

Don't use randomness when equipping fighter bays
  dat/scripts/equipopt/optimize.lua
Due: none

Fixed equipopt script.
  dat/scripts/equipopt/optimize.lua
Due: none

Lowered payment for waste dump.
  dat/missions/neutral/wastedump.lua
Due: none

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  glsl_validator: any of: dat/.*\.(frag|vert)$
  naevpedia: any of: dat/(ships|outfits)/.*.xml$
  clang-format: any of: ^src/ and \.(c|h)$
  rustfmt: any of: ^src/ and \.rs$
