Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

smd:
  name: markdown linter
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  language: script
  require_serial: true

smd-w:
  name: markdown linter (wider)
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  - -w
  - '5'
  language: script
  require_serial: true

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Fixed playing of non-relative sounds.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Wrap and protect against NULL groups.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Try to not bundle opus and see what happens.
  src/audio/Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Use simd for symphonia.
  Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Add opus to meson build system.
  meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Adjust the order of dependencies to sidestep linking problems on Windows.
  subprojects/packagefiles/SuiteSparse/meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Move back to gcc toolchain when building and linking
  utils/build/windows_cross_mingw.ini
  utils/build/windows_cross_mingw_ucrt64.ini
  utils/build/windows_cross_mingw_win7.ini
Due: end-of-file-fixer.sh, expand-tabs.sh

Disable macOS LTO in workflows
  .forgejo/workflows/naev_ci.yml
  .forgejo/workflows/naev_nightly.yml
  .forgejo/workflows/naev_pr.yml
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Make the cache keys make more sense
  .forgejo/workflows/naev_ci.yml
  .forgejo/workflows/naev_nightly.yml
  .forgejo/workflows/naev_pr.yml
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Properly handle caching the meson packagecache
  .forgejo/workflows/naev_ci.yml
  .forgejo/workflows/naev_nightly.yml
  .forgejo/workflows/naev_pr.yml
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

update smd && restored broken title
  .pre-commit-config.yaml
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Reset music state on load, death, and main menu.
  .luacheckrc
  Changelog.md
  dat/events/neutral/haven_curse.lua
  dat/snd/music.lua
  src/load.c
  src/menu.c
  src/music.c
  src/music.h
Due: end-of-file-fixer.sh, smd-w, doxspell, expand-tabs.sh, reindent, clang-format

sh01_corvette: make sure sharkboy has enough fuel to jump
  dat/missions/shark/sh01_corvette.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Allow dumping waste in wild space.
  dat/missions/neutral/wastedump.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed editor not showing spob circles.
  src/map.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Fix some inconsistencies and errors with the new audio API.
  dat/bkg/haze.lua
  dat/bkg/mizar.lua
  dat/bkg/pso.lua
  dat/scripts/love/audio.lua
  src/audio/src/lib.rs
  src/nlua_audio.c
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Try to silence errors when playing sounds when audio is disabled.
  dat/outfits/bioship/skills/the_bite.lua
  dat/scripts/luaspfx/sfx.lua
  src/spfx.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Fixed compilation.
  src/audio/src/lib.rs
  src/spfx.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Support for getting NTime from string, also serializing and deserializing.
  Cargo.toml.in
  meson.build
  src/core/Cargo.toml.in
  src/core/src/ntime.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

More ntime date correctness.
  dat/naevpedia/mechanics/time.md
  src/core/src/ntime.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

More flexibility with UST format parser.
  src/core/src/ntime.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Added some mor tests.
  src/core/src/ntime.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Ntime can now parse period and second style formats.
  src/core/src/ntime.rs
  src/core/src/start.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Sort pulgins by compatibility.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed some soromid portraits.
  dat/scripts/vnimage.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Properly update camera position.
  src/audio/src/lib.rs
  src/renderer/Cargo.toml.in
  src/renderer/src/camera.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

A bit pointless, but list .opus files as music.
  src/music.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Have update_listener by f32 as it matches with the openal API.
  src/audio/src/lib.rs
  src/renderer/src/camera.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Start to work on using start.toml instead of start.xml.
  Cargo.toml.in
  dat/start.toml
  src/core/Cargo.toml.in
  src/core/src/start.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Implemented support for AL_SOFT_direct_channels_remix.
  po/POTFILES.in
  src/audio/src/direct_channels_remix.rs
  src/audio/src/lib.rs
  src/audio/src/openal.rs
  src/meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Removed spurious println.
  src/core/src/start.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

start.toml is here.
  Changelog.md
  dat/start.xml
  po/POTFILES.in
  po/toml.pot
  po/toml_pot.py
  src/core/src/start.rs
  src/ndata/src/lib.rs
  utils/update-po.sh
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent, rustfmt

Properly initialize air_absorption and pitch when creating new sound.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
