Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$

improved git repo test
  meson.build
  utils/build/gen_version.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Revert "Try to fetch tags too in actions."
  .forgejo/workflows/naev_ci.yml
  .forgejo/workflows/naev_nightly.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

use date for nighties
  utils/build/gen_version.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

rm debug code
  meson.build
  utils/build/gen_version.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Minor formatting.
  src/nfile.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed data detection with editor.
  src/dev_uniedit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Updated changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

remove +ew_hide from trader stuff (and compensate elsewhere)
  dat/outfits/core_hull/large/rs_large_cargo_hull.xml
  dat/outfits/core_hull/medium/rs_medium_cargo_hull.xml
  dat/outfits/core_hull/small/rs_small_cargo_hull.xml
  dat/outfits/intrinsic/bad_shape.xml
  dat/outfits/intrinsic/defective.xml
  dat/outfits/intrinsic/worn_down.xml
  dat/outfits/utility/cargo_damper.xml
  dat/ships/dvaered/dvaered_arsenal.xml
  dat/ships/empire/empire_rainmaker.xml
  dat/ships/neutral/alpaca.xml
  dat/ships/neutral/koala.xml
  dat/ships/neutral/koala_armoured.xml
  dat/ships/neutral/mule.xml
  dat/ships/neutral/mule_hardhat.xml
  dat/ships/neutral/plowshare.xml
  dat/ships/neutral/zebra.xml
  dat/ships/sirius/sirius_providence.xml
  dat/ships/zalek/zalek_mammon.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

adblocker: have 108CK fight back
  dat/missions/neutral/adblocker.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

derelict: Fixed map name.
  dat/events/derelict.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Made factions with blue colour lightblue.
  dat/factions/goddard.xml
  dat/factions/independent.xml
  dat/factions/traders_society.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Added API to lighten/darken colourspaces.
  src/renderer/src/colour.rs
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Enforce minimum luminance for namebox text.
  dat/scripts/common/comm.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Don't hardcode core slot properties based on ship type, lazy compute it based on the ship instead.
  dat/scripts/equipopt/cores.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

load tem all first pass.
  dat/scripts/equipopt/cores.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed type not appearing with star maps.
  src/outfit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Minor luadoc fix.
  src/nlua_spob.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed seeking chakra and reflective shell descriptions penetration.
  dat/outfits/bioship/skills/reflective_shell.lua
  dat/outfits/flow/abilities/seeking_chakra.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed plasma burst's plasma burn damage and fixed desc extra to be correct.
  dat/outfits/bioship/skills/plasma_burst.lua
  dat/outfits/bioship/skills/plasma_burst.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Corrected and parametrized plasma burst format scripts.
  dat/outfits/bioship/skills/plasma_burst.lua
  dat/scripts/bioship/skills.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

poi_intro: Don't give the no outfit message unless state==0 (haven't talked to nelly).
  dat/missions/neutral/poi_intro.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Gave Nelly's nemesis an escape pod.
  dat/missions/neutral/poi_intro.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

"Show only outfits equippable on any of your ships" should include current ship.
  src/equipment.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Add uber advertiser bossfight mission
  dat/missions/neutral/antivirus.lua
  dat/outfits/accessory/ad_usb.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Try to hide more gl warnings on certain platforms.
  src/renderer/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Have invisible pilots uncover stealth.
  src/pilot_ew.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Use log crate through tracing.
  Cargo.toml.in
  src/nlog/Cargo.toml.in
  src/nlog/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Moved tracing to nlog and some other misc cleanup.
  src/nlog/Cargo.toml.in
  src/nlog/src/lib.rs
  src/renderer/Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Moved to tracing.
  Cargo.toml.in
  src/naev.rs
  src/ndata/src/lib.rs
  src/nlog/Cargo.toml.in
  src/nlog/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Hide library warnings (I'm looking at you wgpu).
  src/nlog/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Strip ansi codes from the logged files.
  src/naev.rs
  src/nlog/Cargo.toml.in
  src/nlog/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Do the ansi stripping in the non_blocking thread.
  src/nlog/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fix Tracy feature propagation for renderer crate.
  src/nlog/src/lib.rs
  src/renderer/Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Some minor clean up.
  src/nlog/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Some instrumentation and friends.
  Cargo.toml.in
  po/POTFILES.in
  src/audio/Cargo.toml.in
  src/audio/src/lib.rs
  src/core/Cargo.toml.in
  src/core/src/constants.rs
  src/core/src/ntime.rs
  src/core/src/start.rs
  src/damagetype.rs
  src/faction.rs
  src/model.rs
  src/naev.rs
  src/ndata/Cargo.toml.in
  src/ndata/src/lib.rs
  src/nebula.rs
  src/nlog/Cargo.toml.in
  src/nlua.rs
  src/outfit.rs
  src/ship.rs
  src/slots.rs
  src/spfx.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Have the debug formatter ignore spans.
  src/nlog/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed compilation.
  src/nebula.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

[cargo clippy]
  src/nlog/src/lib.rs
  src/renderer/src/colour.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Some more instrumentation.
  src/damagetype.rs
  src/faction.rs
  src/nebula.rs
  src/nlua.rs
  src/slots.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt
