Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

naevpedia:
  name: check for stale naevpedia ships/outfits
  entry: utils/update-naevpedia.sh . --pre-commit
  language: script
  pass_filenames: false

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2021'
  language: system

Finished C-side.
  src/nlua_audio.c
  src/nlua_audio.h
  src/nlua_file.c
  src/nlua_linopt.c
  src/nlua_naev.c
  src/nlua_tex.c
  src/nlua_tk.c
  src/player_gui.c
  src/threadpool.c
  src/tk/widget/button.c
  src/tk/widget/checkbox.c
  src/tk/widget/input.c
  src/tk/widget/tabwin.c
  src/tk/widget/text.c
Due: clang-format

Compiles.
  src/naev.rs
  src/ndata/src/physfs.rs
  src/renderer/src/lib.rs
  src/renderer/src/texture.rs
Due: rustfmt

Added sdl3 and sdl3_image wraps.
  subprojects/sdl3.wrap
  subprojects/sdl3_image.wrap
Due: none

sdl3_image not SDL3_image
  meson.build
Due: none

Fixed threadpool.
  src/threadpool.c
Due: clang-format

Nuked strndup and strnstr for the SDL variants, simplifying things.
  meson.build
  src/conf.c
  src/console.c
  src/event.c
  src/gui.c
  src/gui_omsg.c
  src/intro.c
  src/mission.c
  src/news.c
  src/nstring.c
  src/nstring.h
  src/opengl_shader.c
  src/ship.c
Due: clang-format

Use SDL3 instead of nativefiledialog.
  meson.build
  src/naev.c
  src/nfile.c
  src/nfile.h
  src/opengl.c
  subprojects/nativefiledialog-extended.wrap
Due: clang-format

Dropped more SDL_ATLEAST
  src/ndata.c
  src/nfile.c
Due: clang-format

Use high pixel density and info for window scaling instead of warning.
  src/renderer/src/lib.rs
Due: rustfmt

Fixed scaling by scaling drawable, not window.
  src/renderer/src/lib.rs
Due: rustfmt

Fixed taking screenshots.
  src/SDL_PhysFS.h
  src/ndata/src/physfs.rs
  src/nlua_tex.c
  src/opengl.c
Due: clang-format, rustfmt

Fixed pasting.
  src/input.c
Due: clang-format

Fixed crash when changing the mode.
  src/options.c
Due: clang-format

Show resolution in red if it is too small.
  src/options.c
Due: clang-format

Fixed screen rerendering when changing resolution.
  src/dialogue.c
  src/naev.c
  src/naev.h
  src/nlua_tk.c
  src/opengl.c
  src/options.c
Due: clang-format

Set full screen when building window.
  src/renderer/src/lib.rs
Due: rustfmt

Simplified fullscreen settings a lot.
  src/conf.c
  src/conf.h
  src/nlua_naev.c
  src/opengl.c
  src/options.c
Due: clang-format

Don't make background images comically big at high resolutions.
  src/background.c
Due: clang-format

Options toggles fullscreen immediately.
  src/naev.c
  src/opengl.c
  src/opengl.h
  src/options.c
  src/options.h
Due: clang-format

Some simplification.
  src/naev.c
  src/nebula.rs
  src/options.c
  src/options.h
Due: clang-format, rustfmt

virtual_edges
  utils/ssys/Readme.md
  utils/ssys/dot2graph.py
  utils/ssys/graph2pov.py
  utils/ssys/graph_vaux.py
  utils/ssys/graphmod_abh.py
  utils/ssys/graphmod_virtual_ssys.py
  utils/ssys/process_ssys.sh
  utils/ssys/virtual_edges.py
Due: none

Framebuffer sizes are wrong, but fixed nebula rendering.
  src/nebula.rs
  src/renderer/src/lib.rs
Due: rustfmt

.
  utils/ssys/Readme.md
  utils/ssys/graphmod_prep.py
  utils/ssys/process_ssys.sh
Due: none

.
  utils/ssys/graphmod_prep.py
  utils/ssys/graphmod_vedges.py
  utils/ssys/process_ssys.sh
Due: none

.
  utils/ssys/graphmod_prep.py
  utils/ssys/graphmod_vedges.py
Due: none

.
  utils/ssys/virtual_edges.py
Due: none

.
  utils/ssys/graphmod.py
  utils/ssys/graphmod_vedges.py
  utils/ssys/virtual_edges.py
Due: none

ssys2graph now understands the exitonly tag.
  utils/ssys/ssys2graph.sh
Due: none

scripts doc
  utils/ssys/apply_pot.sh
  utils/ssys/apply_pot_to_ssys.sh
  utils/ssys/gen_pot.sh
  utils/ssys/process_ssys.sh
Due: none

generalize gravity tools to any potential
  utils/ssys/Readme.md
  utils/ssys/apply_pot.sh
  utils/ssys/apply_pot_to_ssys.sh
  utils/ssys/gen_pot.sh
  utils/ssys/potential.c
  utils/ssys/process_ssys.sh
Due: none

reposition -q
  utils/ssys/process_ssys.sh
  utils/ssys/repos.sh
  utils/ssys/reposition.c
Due: none

graphmod.py graphmod_{pp, repos_virt, smooth_tl}.py
  utils/ssys/Readme.md
  utils/ssys/graphmod.py
  utils/ssys/graphmod_pp.py
  utils/ssys/graphmod_repos_virt.py
  utils/ssys/graphmod_smooth_tl.py
  utils/ssys/process_ssys.sh
Due: none

+1 field to nodes & ssys_graph.py gen. colors & post pr. sirius & reposition -i
  utils/ssys/process_ssys.sh
  utils/ssys/reposition.c
  utils/ssys/ssys2dot.py
  utils/ssys/ssys2pov.py
  utils/ssys/ssys_graph.py
Due: none

reposition -e + related scripts
  utils/ssys/repos.sh
  utils/ssys/reposition.c
  utils/ssys/ssys_graph.sh
Due: none

reposition - small opt + bugfix
  utils/ssys/reposition.c
Due: none

dot2graph.py -> dot2graph.py + pp_graph.py + graph_repos_virt.py
  utils/ssys/Readme.md
  utils/ssys/dot2graph.py
  utils/ssys/graph_repos_virt.py
  utils/ssys/pp_graph.py
  utils/ssys/process_ssys.sh
Due: none

remove hidden ssys reads
  utils/ssys/graphmod.py
  utils/ssys/graphmod_pp.py
  utils/ssys/graphmod_repos_virt.py
  utils/ssys/graphmod_smooth_tl.py
  utils/ssys/process_ssys.sh
  utils/ssys/ssys2pov.py
Due: none

reposition - float -> double (bugfix) + simplification
  utils/ssys/repos.sh
  utils/ssys/reposition.c
Due: none

reposition - improved local search alg
  utils/ssys/reposition.c
Due: none

Readme.md - spelling
  utils/ssys/Readme.md
Due: none

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  glsl_validator: any of: dat/.*\.(frag|vert)$
  naevpedia: any of: dat/(ships|outfits)/.*.xml$
  clang-format: any of: ^src/ and \.(c|h)$
  rustfmt: any of: ^src/ and \.rs$
