Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, no_tabs, reindent, glsl_validator, rustfmt, clang-format

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

no_tabs:
  name: no_tabs
  entry: utils/no_tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2021'
  language: system

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

Start to work on C API.
  src/audio/src/lib.rs
  src/audio/src/openal.rs
  src/naev.c
  src/sound.h
Due: no_tabs, rustfmt, clang-format

improved race result display
  dat/missions/neutral/race_qex.lua
Due: no_tabs, reindent

gen_times.py
  dat/missions/neutral/race/gen_times.py
Due: no_tabs, reindent

generate lua race times
  dat/missions/neutral/race/gen_times.py
Due: no_tabs, reindent

cleanup + fix
  dat/missions/neutral/race/gen_times.py
  dat/missions/neutral/race_qex.lua
Due: no_tabs, reindent

racing_trophy -> racing_trophy_{bronze, silver, gold}
  dat/events/neutral/travelling_merchant.lua
  dat/events/updater.lua
  dat/missions/neutral/race2.lua
  dat/missions/neutral/race_qex.lua
  dat/outfits/accessory/racing_trophy_bronze.xml
  dat/outfits/accessory/racing_trophy_gold.xml
  dat/outfits/accessory/racing_trophy_silver.xml
  dat/save_updater.lua
  po/POTFILES.in
Due: no_tabs, reindent

Qex Race track length bugfix
  dat/missions/neutral/race_qex.lua
Due: no_tabs, reindent

details
  dat/missions/neutral/race/tracks_qex.lua
  dat/outfits/generated/helper.py
Due: no_tabs, reindent

early finish bonus
  dat/missions/neutral/race_qex.lua
Due: no_tabs, reindent

added few items to Melendez dome shop to help the player with the race
  dat/spob/melendez_dome.xml
Due: no_tabs

added generated times to race_qex and manage them
  dat/missions/neutral/race_qex.lua
Due: no_tabs, reindent

improved qex race info display
  dat/missions/neutral/race_qex.lua
Due: no_tabs, reindent

have times_qex.lua managed by meson
  dat/missions/neutral/race/gen_times.py
  dat/missions/neutral/race/meson.build
  dat/missions/neutral/race/times_qex.lua
  meson.build
Due: no_tabs, reindent

share apply_all_ships && update trophies equipped ships
  dat/events/updater.lua
  dat/missions/neutral/race_qex.lua
  dat/scripts/map_all_ships.lua
Due: no_tabs, reindent

Updated Qex race dialog + added advisor character
  dat/missions/neutral/race_qex.lua
Due: no_tabs, reindent

a bit of fine-tuning
  dat/missions/neutral/race/gen_times.py
  dat/missions/neutral/race/tracks_qex.lua
Due: no_tabs, reindent

escorts no longer take off alongside you when you start a race
  dat/missions/neutral/race_qex.lua
Due: no_tabs, reindent

misc_fixes
  dat/missions/neutral/race/gen_times.py
  dat/missions/neutral/race/times_qex.lua
  dat/missions/neutral/race_qex.lua
Due: no_tabs, reindent

TODOs
  dat/outfits/lib/set.lua
  subprojects/doxtractor/getline.c
  utils/doxspell.sh
  utils/ssys/Readme.md
Due: no_tabs, reindent

More work towards a viable Audio API.
  Cargo.toml.in
  src/audio/Cargo.toml.in
  src/audio/src/efx.rs
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

[cargo clippy]
  src/audio/src/lib.rs
  src/mutex/src/lib.rs
Due: no_tabs, rustfmt

Simplified vni.generator to only require the path and automatically find metadata.
  dat/scripts/vnimage.lua
Due: no_tabs, reindent

Update artwork and enable female07 generative portraits.
  dat/scripts/vnimage.lua
Due: no_tabs, reindent

[pre-commit]
  .forgejo/workflows/naev_ci.yml
  .forgejo/workflows/naev_nightly.yml
  dat/missions/neutral/race/meson.build
  dat/missions/neutral/race_qex.lua
  po/POTFILES.in
  utils/manuallyTriggerWorkflow.sh
Due: no_tabs, reindent

qex_race: rewrite a bit of the tips.
  dat/missions/neutral/race_qex.lua
Due: no_tabs, reindent

race_qex: More text formatting
  dat/missions/neutral/race_qex.lua
Due: no_tabs, reindent

race_qex: Minor tweaks and optimizations.
  dat/missions/neutral/race/tracks_qex.lua
  dat/missions/neutral/race_qex.lua
Due: no_tabs, reindent

fastest engines -> best engines
  dat/missions/neutral/race_qex.lua
Due: no_tabs, reindent

More API.
  src/audio/src/lib.rs
  src/sound.h
Due: no_tabs, rustfmt, clang-format

Fleshing out more API.
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

audio: use tracing-mutex.
  Cargo.toml.in
  src/audio/Cargo.toml.in
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Re-implemented some EFX stuff.
  src/audio/src/lib.rs
  src/player.c
  src/sound.h
Due: no_tabs, rustfmt, clang-format

Set audios created with playpos as "ingame".
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Fixed sound_updateListener.
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Started work on the trigger library as a replacement for proximity.
  po/POTFILES.in
Due: no_tabs

00_sciwrong: doesn't need proximity script.
  dat/missions/zalek/sciencegonewrong/00_sciwrong.lua
Due: no_tabs, reindent

Minor corrections and fixes.
  dat/missions/onion/onion05.lua
  dat/scripts/trigger.lua
Due: no_tabs, reindent

Have gettextlanguagetool.py use oxford spelling yay
  utils/gettextlanguagetool.py
Due: no_tabs, reindent

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  no_tabs: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  glsl_validator: any of: dat/.*\.(frag|vert)$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
