Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: check-illegal-windows-names
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      files: '^dat/'
      types: [lua]
      args: ["--ignore-words", ".codespellignore" ]
      additional_dependencies:
        - tomli
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: naevpedia
      name: check for stale naevpedia ships/outfits
      entry: utils/update-naevpedia.sh . --pre-commit
      language: script
      files: dat/(ships|outfits)/.*.xml$
      pass_filenames: false
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2021"]
      language: system

Updates around Symm III.
  dat/spob/symm_iii.xml
  dat/spob/symm_iiia.xml
  dat/spob/symm_iiib.xml
Due: none

Tweaked unicorn I and unicorn II.
  dat/spob/unicorn_i.xml
  dat/spob/unicorn_ii.xml
Due: none

Changed pilot radar scanning colour to differentiate with highlight.
  src/colours_c_gen.py
  src/gui.c
Due: clang-format

alsafi: made it harder to accidently get another ending
  dat/events/neutral/alsafi_druglab.lua
Due: none

Use a different icon for uninhabited but landable spobs.
  CHANGELOG
  dat/glsl/spobmarker_uninhabited.frag
  src/gui.c
  src/shaders_c_gen.py
Due: glsl_validator, clang-format

Only play methane_swamp on uninhabited gas spobs.
  dat/snd/music/default.lua
Due: none

mc_details - suggestion from review
  dat/outfits/lib/multicore.lua
Due: none

mc_details - krain nanotubes foam padding description
  dat/outfits/core_hull/medium/krain_nanotubes_foam_padding.xml
Due: naevpedia

WIP unicorn II event.
  dat/commodities/astral_nectar.xml
  dat/events/neutral/unicorn_ii_astral_orchids.lua
  po/POTFILES.in
Due: none

krain nanofoam padding description
  dat/outfits/core_hull/medium/krain_nanotubes_foam_padding.xml
Due: naevpedia

Fix some shellcheck complaints.
  utils/outfits/gen_mvx_from_xml.sh
Due: none

[pre-commit run -a]
  dat/outfits/core_engine/core_engines.md
  src/input.c
  src/nlua_pilotoutfit.c
  utils/outfits/core_outfit.py
Due: clang-format

editorconfig: trim training whitespace.
  .editorconfig
Due: none

Fixed unicorn ii event.
  dat/events/neutral/unicorn_ii_astral_orchids.lua
Due: none

CHANGELOG and minor whitespace.
  CHANGELOG
  dat/missions/neutral/poi/caretaker.lua
Due: none

Some more orchid messages.
  dat/events/neutral/unicorn_ii_astral_orchids.lua
Due: none

Added Astral Orchids sensor anomaly (needs more locations).
  dat/missions/neutral/poi/astral_orchids.lua
  po/POTFILES.in
Due: none

Encapsulated the astral orchids stuff in a helper script.
  dat/events/neutral/unicorn_ii_astral_orchids.lua
  dat/scripts/common/astral_orchids.lua
  po/POTFILES.in
Due: none

Astral Nectar is now based on Food price.
  dat/commodities/astral_nectar.xml
Due: none

astral_orchids handles more situations with different sentences and is more general.
  dat/events/neutral/unicorn_ii_astral_orchids.lua
  dat/missions/neutral/poi/astral_orchids.lua
  dat/scripts/common/astral_orchids.lua
Due: none

Tweaked some planetary hide values.
  dat/spob/koga.xml
  dat/spob/wolf_i.xml
  dat/spob/wolf_ii.xml
  dat/spob/wolf_vii.xml
Due: none

Hide some temporary files.
  .gitignore
Due: none

Added Chloe I astral orchids event.
  dat/events/neutral/chloe_i_astral_orchids.lua
  dat/scripts/common/astral_orchids.lua
  dat/spob/chloe_i.xml
  dat/ssys/chloe.xml
  po/POTFILES.in
Due: none

Nougat II astral orchids.
  dat/events/neutral/nougat_ii_astral_orchids.lua
  dat/scripts/common/astral_orchids.lua
  dat/spob/nougat_i.xml
  dat/spob/nougat_ii.xml
  po/POTFILES.in
Due: none

Fix event name.
  dat/events/neutral/nougat_ii_astral_orchids.lua
Due: none

Some tweaks and correctness.
  dat/spob/lapis_i.xml
  dat/spob/lazuli_i.xml
  dat/spob/lazuli_ia.xml
  dat/spob/lazuli_iii.xml
  dat/spob/quai_i.xml
  dat/spob/quai_ii.xml
  dat/spob/quai_iia.xml
Due: none

Added quai IIb spob and orchid event.
  dat/events/neutral/astral_orchids_chloe_i.lua
  dat/events/neutral/astral_orchids_nougat_ii.lua
  dat/events/neutral/astral_orchids_quai_iib.lua
  dat/events/neutral/astral_orchids_unicorn_ii.lua
  dat/scripts/common/astral_orchids.lua
  dat/spob/quai_iia.xml
  dat/spob/quai_iib.xml
  dat/ssys/quai.xml
  po/POTFILES.in
Due: none

Some astral orchid event fixes.
  dat/scripts/common/astral_orchids.lua
Due: none

CHANGELOG
  CHANGELOG
Due: none

evt.finish(true) marks the event as finished even if not unique, like missions do already.
  src/nlua_evt.c
Due: clang-format

FLF and Empire are true neutral now.
  dat/factions/flf.xml
Due: none

Have unidiff handle faction neutrality cases properly too.
  src/faction.c
  src/faction.h
  src/unidiff.c
Due: clang-format

med. core systems inconsistencies + outfits2md -s
  dat/outfits/core_system/medium/previous_generation_medium_systems.xml
  dat/outfits/core_system/medium/unicorp_pt200_core_system.xml
  utils/outfits/outfits2md.py
Due: naevpedia

Fixed drill bonuses appearing twice.
  dat/outfits/utility/catalytic_energy_drill.xml
  dat/outfits/utility/sk_heavy_plasma_drill.xml
  dat/outfits/utility/sk_plasma_drill.xml
Due: naevpedia

Antlejos supplies uses pilotai.clear() instead of pilot.clear().
  dat/missions/neutral/antlejos/ant_supplies.lua
Due: none

Fixed Project Za'lek and Collective dates.
  dat/naevpedia/lore/history.md
  docs/manual/lore/history.md
  po/naevpedia.pot
Due: none

Made FLF also neutral with Sirius.
  dat/factions/flf.xml
Due: none

Anxious merchant should only appear in generic faction places.
  dat/missions/trader/anxiousmerchant.lua
Due: none

Arandon Station checks for fleet capacity, not chapter now.
  dat/events/neutral/arandon_station.lua
Due: none

Added concept of Unknown Data Cubes for when the player finds Encrypted Data Matrices without understanding them yet. Alsafi Druglab can give matrices/cubes depending on the ending.
  dat/events/neutral/alsafi_druglab.lua
  dat/missions/neutral/poi/data_intro.lua
  dat/scripts/common/poi.lua
Due: none
