Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

smd:
  name: markdown linter
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  language: script
  require_serial: true

smd-w:
  name: markdown linter (wider)
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  - -w
  - '5'
  language: script
  require_serial: true

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Bump to version 0.13.0-beta.5.
  meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Added blurb on start.toml.
  docs/manual/src/SUMMARY.md
  docs/manual/src/data.md
  docs/manual/src/data/start.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Mention using events in start.toml.
  docs/manual/src/data/start.md
Due: end-of-file-fixer.sh, expand-tabs.sh

#3081 bugfix
  dat/outfits/lib/multicore.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added verbose TODO.
  dat/outfits/lib/multicore.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Translated using Weblate (Indonesian)
  po/id.po
Due: end-of-file-fixer.sh, expand-tabs.sh

No need to rename dependency in Cargo.toml so it works with cargo stale.
  src/log/Cargo.toml.in
  src/log/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

More details.
  dat/outfits/lib/multicore.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Doesn't have to be mut pointer.
  src/core/src/start.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Don't panic when deserializing ntime objects.
  src/core/src/ntime.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Don't crash before main menu if start is not loaded.
  src/core/src/start.rs
  src/naev.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

reduce mass of battery outfits
  dat/outfits/structure/battery_i.xml
  dat/outfits/structure/battery_ii.xml
  dat/outfits/structure/battery_iii.xml
  dat/outfits/structure/battery_iv.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

add a little bit of jamming chance to camouflage plating
  dat/outfits/structure/adaptive_camouflage_plating.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

02_sciwrong: simplified logic a bit.
  Changelog.md
  dat/missions/zalek/sciencegonewrong/02_sciwrong.lua
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Use audiodata for qex race.
  .luacheckrc
  dat/missions/neutral/race_qex.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Use soundadatas a bit more.
  dat/events/neutral/black_cat_gift.lua
  dat/missions/pirate/blackcat.lua
  dat/scripts/luaspfx/chakra_explosion.lua
  dat/scripts/luaspfx/cleansing_flames.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Allow passing LuaAudioRef to Spfx but warn.
  src/audio/src/lib.rs
  src/spfx.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Unified volum setting a bit, so all AL_GAIN settings are in one place.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Unified pitch setting.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Simplified and unified how compression_gain is handled.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Changed audio model to linear inverse with more moderate constants.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Pub audio_ref_distance and audio_max_distance in the constants definition.
  dat/constants.lua
  src/audio/Cargo.toml.in
  src/audio/src/lib.rs
  src/core/src/constants.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Fixed spatialization of stereo sounds.
  src/audio/src/lib.rs
  src/audio/src/source_spatialize.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Lowered sound max distance.
  dat/constants.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Tried to remove some unwraps.
  src/model.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Lock symphonia to 0.5.5 in case they fix the bug we work around.
  Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Removed another unwrap.
  src/nlua.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed soromid npcs created with no type specified.
  dat/events/npc/soromid.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed taiomi intro event.
  Changelog.md
  dat/events/taiomi/find.lua
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Fixed typos in changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
