Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: check-illegal-windows-names
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      files: '^dat/'
      types: [lua]
      args: ["--ignore-words", ".codespellignore" ]
      additional_dependencies:
        - tomli
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: naevpedia
      name: check for stale naevpedia ships/outfits
      entry: utils/update-naevpedia.sh . --pre-commit
      language: script
      files: dat/(ships|outfits)/.*.xml$
      pass_filenames: false
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2021"]
      language: system

Leave mass in specific, not general.
  utils/outfits/xmllua2mvx.py
Due: none

Have engine remember window size.
  src/renderer/src/lib.rs
Due: rustfmt

Update to mlua 0.11.
  Cargo.toml.in
  src/nlua.rs
Due: rustfmt

Start to make ShipWrapper a bit more flexible.
  src/ship.rs
Due: rustfmt

Added ndata::is_file and ndata::is_dir.
  src/ndata/src/lib.rs
Due: rustfmt

Try to load gltf file directly first.
  src/ship.rs
Due: rustfmt

Support absolute paths for gltfs.
  src/ship.rs
Due: rustfmt

Generated outfit naevpedia entries.
  dat/naevpedia/outfits/meson.build
Due: none

Allow setting 2d ship image extension.
  src/ship.c
  src/ship.h
Due: clang-format

Guard against crash with inexistent commodities.
  src/economy.c
Due: clang-format

Some more guards against NULL textures.
  src/renderer/src/texture.rs
Due: rustfmt

Also mark saves that don't have plugins loaded plugins as incompatible.
  src/load.c
Due: clang-format

Don't scale background objects based on resolution.
  src/background.c
Due: clang-format

Don't scale the static nebulas based on resolution.
  dat/bkg/lib/nebula_image.lua
  src/background.c
Due: clang-format

Was wondering why naevpedia kept on getting rewritten with biooutfits, have to update the pre-commit script...
  utils/update-naevpedia.sh
Due: none

Made background stars a bit smaller by default.
  dat/bkg/lib/starfield.lua
Due: none

Let constants file access the file API.
  src/constants.c
  src/nlua_file.c
  src/nlua_file.h
Due: clang-format

Plugins can easily override constants now without replacing the entire file.
  .luacheckrc
  dat/constants.lua
Due: none

Added equipopt.fighterbays.spawnerOutfit.
  dat/scripts/equipopt/fighterbays.lua
Due: none

More input checks to avoid crashing the game.
  src/input.c
Due: clang-format

Made Brimstone II landable.
  dat/spob/alleyway.xml
  dat/spob/brimstone_ii.xml
Due: none

Minor spellcheck.
  dat/ships/empire/empire_lancelot_golden_efreeti.xml
Due: naevpedia

Unlike Rust, we need to explicitly return stuff in Lua.
  dat/scripts/equipopt/fighterbays.lua
Due: none

Minor spellcheck.
  dat/missions/pirate/blackcat.lua
Due: none

pilotai.clear() can be used for specific pilots, but defaults to all like now.
  dat/scripts/pilotai.lua
Due: none

Added Black Cat's Gift event.
  Changelog.md
  dat/events/neutral/black_cat_gift.lua
  po/POTFILES.in
Due: none

Fixed Sirius Dogma losing time compression during autonav in some conditions.
  dat/autonav.lua
Due: none

Simpler more robust approach to previous commit by avoiding reseting speed when player is in autonav.
  dat/autonav.lua
  src/pilot_outfit.c
Due: clang-format

Minor spellcheck.
  dat/events/neutral/arietis_trove.lua
  dat/events/neutral/haven_curse.lua
  dat/events/npc/thurion.lua
  dat/outfits/unique/hades_torch.xml
Due: naevpedia

Moar spellcheck.
  dat/events/neutral/arietis_trove.lua
  dat/events/npc/thurion.lua
Due: none

Perspicacity bay and dock tweaks.
  dat/outfits/fighter_bays/thurion_perspicacity_bay.xml
  dat/outfits/fighter_bays/thurion_perspicacity_dock.xml
  dat/scripts/equipopt/fighterbays/thurion_perspicacity.lua
Due: naevpedia

Update empire.md
  dat/naevpedia/lore/factions/empire.md
Due: none

Update dvaered.md
  dat/naevpedia/lore/factions/dvaered.md
Due: none

Typo correction
  dat/naevpedia/lore/factions/dvaered.md
Due: none

bugfix: made Amlet actually have stellar winds
  dat/ssys/amlet.xml
Due: none

reposition.c MAX_STRETCH
  utils/ssys/edge_len.sed
  utils/ssys/reposition.c
Due: none

Sirius area improvements
  utils/ssys/decorators.py
  utils/ssys/graph2pov.py
  utils/ssys/graphmod_postp.py
  utils/ssys/graphmod_prep.py
  utils/ssys/graphmod_smooth_tl.py
  utils/ssys/graphmod_vedges.py
  utils/ssys/process_ssys.sh
  utils/ssys/smoothen.py
Due: none

save decorators new position
  utils/ssys/Readme.md
  utils/ssys/decorators.py
  utils/ssys/graph2pov.py
  utils/ssys/process_ssys.sh
Due: none

Sirius south
  utils/ssys/graphmod_postp.py
Due: none
