Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

smd:
  name: markdown linter
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  language: script
  require_serial: true

smd-w:
  name: markdown linter (wider)
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  - -w
  - '5'
  language: script
  require_serial: true

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Bumped some dependencies up.
  Cargo.toml.in
  src/collide/Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Display delete when removing local plugin (and put it in the trash), uninstall otherwise.
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/src/install.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Warn when removing local plugins.
  src/pluginmgr-gui/Cargo.toml.in
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Warn when trying to delete too large plugins too.
  src/pluginmgr-gui/Cargo.toml.in
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Simplified some duplicated code.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Added handles for modifying scripting affects.
  dat/factions/standing/lib/base.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Independent systems now have memory.
  dat/factions/independent.xml
  dat/factions/standing/independent.lua
  dat/factions/standing/lib/base.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Gave independents some of their own standings.
  dat/factions/standing/independent.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Made some criminal places lawless so they are easier to land on and give their own landing messages.
  Changelog.md
  dat/spob/alleyway.xml
  dat/spob/darkshed.xml
  dat/spob/lua/lawless.lua
  dat/spob/minerva_station.xml
  dat/spob/regensburg.xml
  dat/spob/shangris_station.xml
  dat/spob/thaddius_terminal.xml
  dat/spob/the_crucible.xml
  dat/spob/the_wringer.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Fixed some missing gui target updates.
  src/pilot.c
  src/player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Added commodity.exists.
  src/nlua_commodity.c
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, clang-format

Allow further customization of faction hits and don't change independent standing if there is not an independent spob.
  dat/factions/standing/independent.lua
  dat/factions/standing/lib/base.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Force reset standing in empty Independent systems just in case.
  dat/factions/standing/independent.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added fake licenses to clear standing with independent governments.
  dat/outfits/lua_outfit_example.lua
  dat/outfits/misc/fake_licence.lua
  dat/outfits/misc/fake_licence.xml
  dat/tech/criminal_outfits.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Exposed HYPERSPACE_ENTER_MIN/MAX as a Lua constant.
  Changelog.md
  dat/constants.lua
  src/constants.c
  src/constants.h
  src/core/src/constants.rs
  src/pilot.h
  src/space.c
Due: end-of-file-fixer.sh, smd-w, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Poping non-existent tasks is no longer a warning.
  src/ai.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed and simplified jump-in position logic.
  src/nlua_pilot.c
  src/space.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

diy_nerds: try to make time stuff a bit more robust
  dat/missions/neutral/diy-nerds.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Untested initial implementation.
  .luacheckrc
  dat/time.lua
  po/POTFILES.in
  src/core/Cargo.toml.in
  src/core/src/ntime.rs
  src/core/src/ntime_test.lua
  src/meson.build
  src/nlua.rs
  src/nlua_time.c
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Disable tests for now.
  src/core/src/ntime.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Save and load time from xml in a more robust format.
  src/core/src/ntime.rs
  src/ntime.h
  src/nxml.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Fixed time stuff.
  Changelog.md
  meson.build
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Fixed lots of things.
  src/core/src/ntime.rs
  src/nxml.c
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Added back time.str as deprecated function.
  src/core/src/ntime.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Use constants to control the time.
  dat/constants.lua
  src/core/src/constants.rs
  src/core/src/ntime.rs
  src/core/src/ntime_test.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Disable time tests as they fail to pass now...
  src/core/src/ntime.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

[cargo clippy]
  src/core/src/ntime.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Switch time format in player saves to be consistent with nxml format.
  src/core/src/ntime.rs
  src/ntime.h
  src/player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Jump/land time is now configurable
  dat/constants.lua
  po/POTFILES.in
  src/constants.c
  src/constants.h
  src/core/src/constants.rs
  src/core/src/ntime.rs
  src/land.c
  src/nlua_time.c
  src/pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Moved open_gettext to the gettext module.
  dat/time.lua
  src/core/src/ntime.rs
  src/gettext/Cargo.toml.in
  src/gettext/src/lib.rs
  src/nlua.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Fixed TIMEDATE_INCREMENTS_PER_SECOND not being used.
  src/core/src/constants.rs
  src/core/src/ntime.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Rename dat/time.lua to dat/timedate.lua
  .luacheckrc
  dat/timedate.lua
  po/POTFILES.in
  src/core/src/ntime.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Made ntime_prettyBuf use to_string.
  src/core/src/ntime.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Corrected warning.
  src/outfit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Added pilot.outfitHasIntrinsic.
  src/nlua_pilot.c
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

Fixed pilot.outfitRmIntrinsic not returning the correct value.
  src/pilot_outfit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed pilotoutfit.munition having horrible aim by making it compute flying time.
  src/nlua_pilotoutfit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Added information on modifying constants and time and dates.
  docs/manual/src/SUMMARY.md
  docs/manual/src/data.md
  docs/manual/src/plugins/constants.md
  docs/manual/src/plugins/timedate.md
Due: end-of-file-fixer.sh, expand-tabs.sh

devmanual: mention timedate with start.toml.
  docs/manual/src/data/start.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
