Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$

removed outdated comment
  dat/scripts/lmisn.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Implemenetd new constants engine-side.
  dat/constants.lua
  src/ai.c
  src/constants.c
  src/constants.h
  src/core/src/constants.rs
  src/land.c
  src/pilot.c
  src/pilot.h
  src/player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Don't warn about 0 crew ships.
  src/ship.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Allow 0-point ships too.
  src/ship.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Move gl_renderRectHalf Rust-side.
  src/opengl_render.c
  src/renderer/src/lib.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Render triangle.
  src/opengl_render.c
  src/renderer/src/sdf.rs
  utils/glsl/sdf/frag.glsl
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Have image widget borders snap to images.
  src/tk/widget/image.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

ci: Remove `--prerelease` from release uploads
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Use monospace font for slim bottom bar.
  dat/gui/slim.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Use fancy font for textoverlays and load screens.
  dat/loadscreen.lua
  dat/scripts/textoverlay.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Don't crash if news is modified at weird timings.
  src/nlua_news.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Don't crash if font is missing glyphs.
  src/font.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Added ndata_exists.
  src/ndata.c
  src/ndata.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Support old font paths too.
  src/font.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Removed some obsolete unneeded files.
  po/POTFILES.in
  src/meson.build
  src/naev.c
  src/nlua.rs
  src/nlua_data.c
  src/nlua_data.h
  src/nlua_file.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

[cargo clippy]
  src/core/src/ntime.rs
  src/renderer/src/framebuffer.rs
  src/renderer/src/luagfx.rs
  src/renderer/src/sdf.rs
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Just go full monospace for bottom bar.
  dat/gui/slim.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Nuked a lot of unnecessary or obsolete code.
  Readme.md
  po/POTFILES.in
  src/cgltf.h
  src/gltf.c
  src/gltf.h
  src/meson.build
  src/nlua_audio.h
  src/nlua_audiodata.c
  src/nopenal.c
  src/nopenal.h
  src/semver.c
  src/sound.h
Due: end-of-file-fixer.sh, smd, doxspell, expand-tabs.sh, reindent, clang-format

Removed more obsolete / unnecessary code.
  po/POTFILES.in
  src/md5.c
  src/md5.h
  src/meson.build
  src/opengl_tex.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

Added missing shader.
  dat/shaders/triangle_hollow.wgsl
Due: end-of-file-fixer.sh, expand-tabs.sh

Switch to ubuntu font.
  dat/gui/slim.lua
  src/ndata.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

More fixes.
  Changelog.md
  dat/scripts/textoverlay.lua
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Double sided was inverted.
  src/model.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Minor shader optimization.
  dat/shaders/material_pbr.frag
  src/model.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Made polygon creation more robust to things like transparent images.
  src/collide/src/polygon.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Can generate spin polygons from 3d models now :D
  src/model.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Generate collision polygons from 3D models online now.
  src/model.rs
  src/renderer/Cargo.toml.in
  src/renderer/src/framebuffer.rs
  src/renderer/src/lib.rs
  src/renderer/src/texture.rs
  src/ship.c
  src/ship.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Cache 3d collision polygons too.
  Cargo.toml.in
  src/collide/Cargo.toml.in
  src/model.rs
  src/ship.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Clean up stuff related to polygons.
  docs/manual/src/ships/graphics.md
  docs/manual/src/ships/graphics/3d.md
  src/collide/src/polygon.rs
  src/collision.h
  utils/polygonize.py
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

[cargo clippy]
  src/model.rs
  src/renderer/src/framebuffer.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

[cargo clippy]
  src/model.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Removed some more unnecessary code stubs.
  src/collide/src/polygon.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Removed some more obsolete files.
  po/POTFILES.in
  src/faction.c
  src/nlua_canvas.c
Due: end-of-file-fixer.sh, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, clang-format

Fixed cargo stuff being in the wrong fonti.
  dat/gui/slim.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Gave feral bioships natural armour regen.
  dat/ships/feral_bioship/kauweke.xml
  dat/ships/feral_bioship/nohinohi.xml
  dat/ships/feral_bioship/taitamariki.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Made Atlantis I landable.
  dat/spob/atlantis_i.xml
Due: end-of-file-fixer.sh, expand-tabs.sh
