Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

naevpedia:
  name: check for stale naevpedia ships/outfits
  entry: utils/update-naevpedia.sh . --pre-commit
  language: script
  pass_filenames: false

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2021'
  language: system

SPG
  dat/missions/flf/dvk/flf_dvk01.lua
  dat/missions/minerva/finale1.lua
  dat/missions/sirius/achack/achack02.lua
  dat/missions/sirius/achack/achack03.lua
Due: none

EMP beams
  Changelog.md
  dat/outfits/weapons/radiance_beam.xml
  dat/outfits/weapons/snowgrave_beam.xml
  dat/tech/black_lotus_tech.xml
Due: naevpedia

Try except the mission map generator.
  utils/mission_map.py
Due: none

Renamed snowgarve / radiance beam to Arc Blade and Arc Machete. Reworked descriptions a bit.
  dat/naevpedia/outfits/meson.build
  dat/outfits/weapons/arc_blade.xml
  dat/outfits/weapons/arc_machete.xml
  dat/outfits/weapons/radiance_beam.xml
  dat/tech/all_outfits.xml
  dat/tech/black_lotus_tech.xml
  po/POTFILES.in
  po/naevpedia.pot
Due: naevpedia

Don't use userdata as keys when dedupping outfits.
  dat/scripts/equipopt/outfits.lua
Due: none

Split the pirate template so we can base pirate clans off of it in a more flexible way.
  dat/naevpedia/outfits/meson.build
  dat/scripts/equipopt/templates/black_lotus.lua
  dat/scripts/equipopt/templates/pirate.lua
  dat/scripts/equipopt/templates/pirate_base.lua
  dat/scripts/equipopt/wrapper.lua
  po/POTFILES.in
Due: none

equipopt: Auto find templates and lazy load them.
  dat/scripts/equipopt/wrapper.lua
Due: none

Clang formatting.
  src/land.h
  src/toolkit.c
Due: clang-format

Improved save game sorting.
  src/load.c
Due: clang-format

Staging for FLF rewrite
  dat/missions/flf/dvk/flf_dvk06.lua
  dat/ships/pirate/flf_starbridge.xml
  dat/unidiff/flf_victory.xml
  dat/unidiff/minerva_1.xml
  dat/unidiff/minerva_2.xml
Due: naevpedia

Have log embed formatx to not require use clauses.
  src/log/src/lib.rs
Due: rustfmt

More OpenAL + sound work.
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: rustfmt

Stealthing will temporarily jam locked on munitions.
  Changelog.md
  src/weapon.c
Due: clang-format

red_rackham: don't add cargo if not possible.
  dat/missions/neutral/poi/red_rackham.lua
Due: none

Bribing clears hostile flag and streamlined some friendly / hostile checks.
  src/nlua_pilot.c
  src/pilot.c
Due: clang-format

Added concept of difficulty level for Lua scripting.
  dat/difficulty/easy_mode.xml
  dat/difficulty/hard_mode.xml
  dat/difficulty/nightmare_mode.xml
  dat/difficulty/story_mode.xml
  src/difficulty.c
  src/difficulty.h
  src/nlua_naev.c
Due: clang-format

Have AI consider players worth to be based on difficulty level.
  dat/ai/core/misc/careful.lua
Due: none

add compact lightsail to melendez dome unlocks
  dat/outfits/structure/compact_lightsail.xml
  dat/unidiff/melendez_dome_xy37.xml
Due: naevpedia

More fleshing out and progress.
  src/audio/Cargo.toml.in
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: rustfmt

nerf air freshener
  dat/outfits/accessory/air_freshener.xml
Due: naevpedia

stricter target times for qex racing
  dat/missions/neutral/race_qex.lua
Due: none

Modification to FLF Starbridge
  dat/missions/flf/dvk/flf_dvk06.lua
  dat/ships/pirate/flf_starbridge.xml
  dat/unidiff/flf_victory.xml
  dat/unidiff/minerva_1.xml
  dat/unidiff/minerva_2.xml
Due: naevpedia

only sell collective tech in the empire
  dat/unidiff/collective_dead.xml
Due: none

Non-player pilots and the player can board ships once each.
  po/POTFILES.in
  src/ai.c
  src/board.c
  src/pilot_flags.h
Due: clang-format

deliverlove: fix 2x reward not being properly display. Closes #2925.
  dat/missions/neutral/foodbiz/deliverlove.lua
Due: none

SPG
  dat/naevpedia/mechanics/bioships.md
  dat/naevpedia/mechanics/boarding.md
  dat/naevpedia/mechanics/damage.md
  dat/naevpedia/mechanics/equipment.md
  dat/naevpedia/mechanics/ewarfare.md
Due: none

Handle negative fire rates elegantly.
  src/pilot_weapon.c
Due: clang-format

Made capture ships invincible to the player.
  dat/events/capture.lua
Due: none

Clear luaspfx when landing, fixes issues with dangling environments for now that have to be more properly addressed with Rust.
  src/land.c
  src/nlua_spfx.c
Due: clang-format

new_outfit.stack()
  utils/naev_xml.py
  utils/outfits/combine_multi_again.py
  utils/outfits/new_outfit.py
  utils/outfits/outfit.py
Due: none

removed xml header from templates + no output header with naev_xml
  dat/outfits/bioship/templates/cerebrum.xml.template
  dat/outfits/bioship/templates/cortex.xml.template
  dat/outfits/bioship/templates/gene_drive.xml.template
  dat/outfits/bioship/templates/gene_drive_melendez.xml.template
  dat/outfits/bioship/templates/gene_drive_tricon.xml.template
  dat/outfits/bioship/templates/weapon.xml.template
  utils/naev_xml.py
Due: none

outfits2md.py, engine_stats.py, combine_multi.py now depend on new_outfit.py
  utils/outfits/combine_multi.py
  utils/outfits/combine_multi_again.py
  utils/outfits/engine_stats_again.py
  utils/outfits/outfits2md.py
  utils/outfits/outfits2md_again.py
Due: none

misc + xml comment management + optim
  dat/outfits/intrinsic/bad_shape.xml
  dat/outfits/intrinsic/defective.xml
  dat/outfits/intrinsic/worn_down.xml
  utils/naev_xml.py
  utils/outfits/TODO.md
  utils/outfits/outfit.py
Due: naevpedia

test_{xmltodict, elementtree, naive, dict_element_tree}.py
  utils/outfits/test_dict_elementtree.py
  utils/outfits/test_elementtree.py
  utils/outfits/test_naive.py
  utils/outfits/test_xmltodict.py
Due: none

intify when possible in generate.py
  dat/outfits/bioship/generate.py
  utils/outfits/TODO.md
Due: none

engine_stats variant
  utils/naev_xml.py
  utils/outfits/engine_stats_again.py
  utils/outfits/new_outfit.py
  utils/outfits/outfit.py
  utils/outfits/outfits2md.py
  utils/outfits/outfits2md_again.py
Due: none

new_outfit can save now
  dat/outfits/py/helper.py
  utils/naev_xml.py
  utils/outfits/mvx2xmllua.py
  utils/outfits/new_outfit.py
Due: none

removed util/outfit/{old_outfit.py, mvx2xmllua, xmllua2mvx, core_outfit}.py
  utils/outfits/core_outfit.py
  utils/outfits/mvx2xmllua.py
  utils/outfits/old_outfit.py
  utils/outfits/xmllua2mvx.py
Due: none

plot_engines & outfits/py/helper now use new_outfit
  dat/outfits/py/helper.py
  utils/outfits/core_outfit.py
  utils/outfits/mvx2xmllua.py
  utils/outfits/old_outfit.py
  utils/outfits/plot_engines.py
  utils/outfits/update_engines.py
  utils/outfits/xmllua2mvx.py
Due: none

several details
  utils/outfits/new_outfit.py
  utils/outfits/outfit.py
  utils/outfits/plot_engines.py
  utils/outfits/update_engines.py
Due: none

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  glsl_validator: any of: dat/.*\.(frag|vert)$
  naevpedia: any of: dat/(ships|outfits)/.*.xml$
  clang-format: any of: ^src/ and \.(c|h)$
  rustfmt: any of: ^src/ and \.rs$
