Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, doxspell, no_tabs, reindent, rustfmt, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    #- id: check-symlinks
    #- id: check-illegal-windows-names
    #- id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    #- id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: rem_xml_head
      name: remove unnecessary XML 1.0 headers
      entry: utils/rem_xml_head.sh
      types: [xml]
      language: script
    - id: doxspell
      name: doxspell
      entry: utils/doxspell.sh
      language: script
      types: [c]
    - id: no_tabs
      name: no_tabs
      entry: utils/no_tabs.sh
      language: script
      exclude: (^|/)Makefile
      types: [text]
    - id: reindent
      name: reindent
      entry: utils/reindent.sh
      #[build clang-format dot frag glsl gltf js lua luacheckrc markdown md nsi py pov rb scm sh tex vdf vert]
      # Unmanaged: [markdown md yaml yml .clangformat]
      files: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
      language: script
    - id: check_fmt_f_usage
      name: lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: xml_format
      name: format xml
      entry: utils/xml_format.sh
      types: [xml]
      files: .*\.(xml|loc|plist)$
      args: ["-st"]
      language: script
#    - id: glsl_validator
#      name: glsl validator
#      entry: utils/nglslValidator.py
#      files: dat/.*\.(frag|vert)$
#      language: python
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2024"]
      language: system
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      types: [shell]
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
    - id: codespell
      files: '^dat/'
      types_or: [xml, lua]
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: clang-format
      name: Clang formatter
      entry: utils/clf.sh
      types: [c]
      files: '^src/'
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python

New colour implementation that is a bit broken.
  dat/bkg/mizar.lua
  dat/bkg/pso.lua
  dat/gui/brushed.lua
  dat/gui/legacy.lua
  dat/gui/slim.lua
  dat/scripts/love/graphics.lua
  dat/scripts/love/math.lua
  dat/scripts/luaspfx/trail.lua
  dat/scripts/luatk/equipment.lua
  dat/scripts/luatk/map.lua
  src/nlua_colour.h
  src/nlua_gfx.c
  src/nlua_tk.c
  src/renderer/src/colour.rs
Due: check_luadoc_func, luafunc_dup, doxspell, no_tabs, reindent, rustfmt, clang-format

Removed unnecessary lib.
  src/console.c
Due: doxspell, no_tabs, clang-format

More missing changes.
  src/background.c
  src/meson.build
  src/naev.c
  src/naevpedia.c
Due: doxspell, no_tabs, reindent, clang-format

Za'lek Demon Type IV needs 60% standing.
  dat/ships/zalek/zalek_demon_type_iv.xml
Due: no_tabs

Nuked obsoleted code.
  src/console.c
Due: doxspell, no_tabs, clang-format

Fixed new colour library not working (and `naev.vec2` missing).
  dat/scripts/love/graphics.lua
  meson.build
  src/nlua.rs
Due: no_tabs, reindent, rustfmt

Added some deprecated warning fallbacks.
  po/POTFILES.in
  src/core/Cargo.toml.in
  src/core/src/lib.rs
  src/core/src/lua.rs
  src/meson.build
  src/renderer/src/colour.rs
Due: no_tabs, reindent, rustfmt

Removed some clippy complaint unsafes.
  src/physics/src/vec2.rs
  src/renderer/src/colour.rs
Due: no_tabs, rustfmt

Added colour.clone().
  src/renderer/src/colour.rs
Due: no_tabs, rustfmt

Some minor fixes in API usage.
  dat/gui/legacy.lua
  dat/gui/slim.lua
  dat/scripts/luaspfx/trail.lua
Due: no_tabs, reindent

Update C colour API so it generates new documentation.
  dat/gui/slim.lua
  src/nlua_colour.c
Due: check_luadoc_func, luafunc_dup, doxspell, no_tabs, reindent, clang-format

Updated artwork to have procedurally generated female01.
  dat/scripts/vnimage.lua
Due: no_tabs, reindent

Fixed colour clone API call.
  dat/gui/slim.lua
Due: no_tabs, reindent

Fixed API call.
  dat/gui/slim.lua
Due: no_tabs, reindent

Some minor clean up.
  src/renderer/src/colour.rs
Due: no_tabs, rustfmt

Started to work on collision in Rust.
  po/POTFILES.in
  src/meson.build
  src/physics/src/collide.rs
  src/physics/src/lib.rs
  src/physics/src/vec2.rs
Due: no_tabs, reindent, rustfmt

Fixed vec2 test.
  src/physics/src/vec2.rs
Due: no_tabs, rustfmt

Correct accuracy of collisions with line vs sphere.
  src/physics/src/collide.rs
  src/physics/src/vec2.rs
Due: no_tabs, rustfmt

Some collision tests.
  src/physics/src/vec2.rs
Due: no_tabs, rustfmt

Use parry2d for some collisions for now.
  dat/scripts/luaspfx/racetrack.lua
  src/nlua_vec2.c
  src/physics/Cargo.toml.in
  src/physics/src/collide.rs
  src/physics/src/vec2.rs
Due: doxspell, no_tabs, reindent, rustfmt, clang-format

Tweak collision API a bit.
  src/physics/src/collide.rs
Due: no_tabs, rustfmt

Drop parry2d dependency and use a custom line-circle collision implementation based on our C code.
  src/physics/Cargo.toml.in
  src/physics/src/collide.rs
Due: no_tabs, rustfmt

Fixed circle-line collisions with more and better unit tests.
  src/physics/src/collide.rs
  src/physics/src/vec2.rs
Due: no_tabs, rustfmt

More vec2 unit tests that pass.
  src/physics/src/vec2.rs
Due: no_tabs, rustfmt

[cargo clippy]
  src/physics/src/collide.rs
Due: no_tabs, rustfmt

Fixed degenerate collision test cases and more unit tests.
  src/physics/src/collide.rs
  src/physics/src/vec2.rs
Due: no_tabs, rustfmt

Increase main menu test to 90s.
  test/meson.build
Due: no_tabs, reindent

Move the vec2 test stuff into a separate file and include it.
  src/physics/src/vec2.rs
  src/physics/src/vec2_test.lua
Due: no_tabs, reindent, rustfmt

Moved colour test Lua code outside.
  src/physics/src/vec2_test.lua
  src/renderer/src/colour.rs
  src/renderer/src/colour_test.lua
Due: no_tabs, reindent, rustfmt

Fixed GUI breaking with colours.
  dat/scripts/love/graphics.lua
Due: no_tabs, reindent

Cleaned up some of the test scripts.
  src/physics/src/vec2_test.lua
  src/renderer/src/colour_test.lua
Due: no_tabs, reindent

Added colour.hsv_to_rgb and colour.rgb_to_hsv
  dat/bkg/mizar.lua
  dat/bkg/pso.lua
  src/nlua_colour.c
  src/renderer/src/colour.rs
  src/renderer/src/colour_test.lua
Due: check_luadoc_func, luafunc_dup, doxspell, no_tabs, reindent, rustfmt, clang-format

Minor simplification.
  src/renderer/src/colour_test.lua
Due: no_tabs, reindent

Implemented Rust rnd API with Lua tests.
  src/rng.rs
  src/rng_test.lua
Due: no_tabs, reindent, rustfmt

Fixed rnd.rnd() and switch to Rust rnd module.
  src/nlua.rs
  src/rng.rs
  src/rng_test.lua
Due: no_tabs, reindent, rustfmt

Opening wrong library when doing rnd tests.
  src/rng.rs
Due: no_tabs, rustfmt

Some simplifications.
  src/nebula.rs
  src/rng.rs
Due: no_tabs, rustfmt

Small simplification.
  src/rng.rs
Due: no_tabs, rustfmt

Minor corrections.
  src/rng.rs
Due: no_tabs, rustfmt
