Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: check-illegal-windows-names
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      files: '^dat/'
      types: [lua]
      args: ["--ignore-words", ".codespellignore" ]
      additional_dependencies:
        - tomli
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: naevpedia
      name: check for stale naevpedia ships/outfits
      entry: utils/update-naevpedia.sh . --pre-commit
      language: script
      files: dat/(ships|outfits)/.*.xml$
      pass_filenames: false
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2021"]
      language: system

Removed spurious newline in corsair systems description.
  dat/outfits/generated/corsair_systems.py
Due: none

Sting Type IV should be third bay.
  dat/ships/zalek/zalek_sting_typeiv.xml
Due: naevpedia

Fixed sightseeing luxury check on take off.
  dat/missions/neutral/sightseeing.lua
Due: none

Graphics and description for space moss.
  dat/commodities/space_moss.xml
Due: none

Don't display primary/secondary if primary or secondary only.
  dat/outfits/lib/multicore.lua
Due: none

Use log-rs for logging.
  src/faction.rs
  src/log/Cargo.toml.in
  src/log/src/lib.rs
  src/naev.rs
  src/ndata/src/lib.rs
  src/renderer/src/shader.rs
Due: rustfmt

Directly expose and use log-rs macros. Use -x versions for formatx runtime formatting.
  src/faction.rs
  src/log/src/lib.rs
  src/naev.rs
  src/nlua.rs
Due: rustfmt

More simplifications and correctness.
  src/core/src/lib.rs
  src/core/src/nxml.rs
  src/core/src/start.rs
  src/renderer/src/lib.rs
Due: rustfmt

[cargo clippy]
  src/damagetype.rs
  src/faction.rs
  src/log/src/lib.rs
  src/model.rs
  src/naev.rs
  src/nlua.rs
  src/renderer/src/lib.rs
  src/renderer/src/shader.rs
  src/slots.rs
Due: rustfmt

More compact logging.
  src/log/src/lib.rs
Due: rustfmt

Minor logging changes.
  src/naev.rs
  src/ndata/src/lib.rs
Due: rustfmt

Use `uname -m` instead of arch. Should be the same and actually exists on Arch Linux.
  utils/buildAppImage.sh
Due: none

emp launcher balancing
  dat/outfits/launchers/emp_grenade_launcher.xml
Due: naevpedia

macier SFCL
  dat/outfits/launchers/superfast_collider_launcher.xml
Due: naevpedia

some shield booster balancing
  dat/effects/shield_boost.xml
  dat/outfits/utility/emergency_shield_booster.lua
  dat/outfits/utility/emergency_shield_booster.xml
Due: naevpedia

stronger/more fun berserk chip
  dat/outfits/utility/berserk_chip.lua
  dat/outfits/utility/berserk_chip.xml
Due: naevpedia

Move emergency shield booster desc extra to Lua.
  dat/outfits/utility/emergency_shield_booster.lua
Due: none

proofreading - launcher outfits
  dat/outfits/launchers/electron_burst_cannon.xml
  dat/outfits/launchers/enygma_systems_huntsman_launcher.xml
  dat/outfits/launchers/enygma_systems_turreted_fury_launcher.xml
  dat/outfits/launchers/pincushion_battery.xml
  dat/outfits/launchers/repeating_banshee_launcher.xml
  dat/outfits/launchers/shatterer_launcher.xml
  dat/outfits/launchers/teracom_banshee_launcher.xml
  dat/outfits/launchers/teracom_headhunter_launcher.xml
  dat/outfits/launchers/teracom_imperator_launcher.xml
  dat/outfits/launchers/teracom_medusa_launcher.xml
  dat/outfits/launchers/teracom_vengeance_launcher.xml
  dat/outfits/launchers/unicorp_storm_launcher.xml
  dat/outfits/launchers/zalek_hunter_launcher.xml
  dat/outfits/launchers/zalek_reaper_launcher.xml
Due: naevpedia

targeting array buff
  dat/outfits/utility/targeting_array.xml
Due: naevpedia

Targeting array should be launch_rate.
  dat/outfits/utility/targeting_array.xml
Due: naevpedia

Moved logging to Rust.
  src/land.c
  src/log.h
  src/log/src/lib.rs
  src/player.c
  src/save.c
  src/unidiff.c
Due: clang-format, rustfmt

Warnings give backtraces and some clean up.
  src/log/src/lib.rs
  src/opengl.c
Due: clang-format, rustfmt

Fully moved logging to Rust.
  po/POTFILES.in
  src/colours_c_gen.py
  src/cond.c
  src/debug.c
  src/difficulty.c
  src/log.c
  src/log.h
  src/log/src/lib.rs
  src/meson.build
  src/naev.c
  src/ndata/Cargo.toml.in
  src/ndata/src/lib.rs
  src/nlua_data.c
  src/nlua_file.c
  src/nlua_linopt.c
  src/nlua_rnd.c
  src/nstring.c
  src/nxml.h
  src/physfs_archiver_blacklist.c
  src/shaders_c_gen.py
Due: clang-format, rustfmt

proofreading - utility outfits
  dat/outfits/utility/blink_drive.xml
  dat/outfits/utility/combat_hologram_projector.xml
  dat/outfits/utility/combatai/agility_combat_ai.xml
  dat/outfits/utility/combatai/bio-neural_combat_ai.xml
  dat/outfits/utility/combatai/cyclic_combat_ai.xml
  dat/outfits/utility/combatai/efficiency_combat_ai.xml
  dat/outfits/utility/combatai/hive_combat_ai.xml
  dat/outfits/utility/combatai/hunting_combat_ai.xml
  dat/outfits/utility/combatai/pinpoint_combat_ai.xml
  dat/outfits/utility/combatai/scanning_combat_ai.xml
  dat/outfits/utility/emergency_stasis_inducer.xml
  dat/outfits/utility/flicker_drive.xml
  dat/outfits/utility/hellburner.xml
  dat/outfits/utility/hullcoating/faraday_tempest_coating.xml
  dat/outfits/utility/hullcoating/lattice_thermal_coating.xml
  dat/outfits/utility/hullcoating/nebula_resistant_coating.xml
  dat/outfits/utility/hullcoating/nexus_concealment_coating.xml
  dat/outfits/utility/hullcoating/photovoltaic_nanobot_coating.xml
  dat/outfits/utility/hyperbolic_blink_engine.xml
  dat/outfits/utility/neural_accelerator_interface.xml
  dat/outfits/utility/sk_heavy_plasma_drill.xml
  dat/outfits/utility/stealth_burster.xml
  dat/outfits/utility/targeting_array.xml
  dat/outfits/utility/targeting_conduit.xml
  dat/outfits/utility/unicorp_light_afterburner.xml
  dat/outfits/utility/unicorp_medium_afterburner.xml
  dat/outfits/utility/unicorp_scrambler.xml
  dat/outfits/utility/weakness_harmonizer_ai.xml
  dat/outfits/utility/weapons_ionizer.xml
Due: naevpedia

targeting conduit rework
  dat/outfits/utility/conduit.lua
  dat/outfits/utility/targeting_conduit.xml
Due: naevpedia

Trivial simplification.
  dat/outfits/utility/conduit.lua
  po/POTFILES.in
Due: none

Clean up log files with no warnings.
  src/log/src/lib.rs
  src/naev.rs
Due: rustfmt

charge conduit
  Changelog.md
  dat/outfits/utility/charging_conduit.xml
  dat/scripts/equipopt/outfits.lua
  dat/tech/dvaered_elite_outfits.xml
  dat/tech/empire_elite_outfits.xml
  dat/tech/high_tech_upgrades_1.xml
Due: naevpedia

Moved conduit desc_extra into lua.
  dat/outfits/utility/charging_conduit.xml
  dat/outfits/utility/conduit.lua
  dat/outfits/utility/targeting_conduit.xml
  po/POTFILES.in
Due: naevpedia

ssysmap details
  utils/ssys/graphmod_postp.py
  utils/ssys/graphmod_prep.py
  utils/ssys/graphmod_vedges.py
  utils/ssys/process_ssysmap.sh
Due: none

harder circle around suna
  utils/ssys/smoothen.py
Due: none

integrated Anubis BH into smoothing process
  utils/ssys/graphmod_abh.py
  utils/ssys/graphmod_repos.sh
  utils/ssys/graphmod_smooth.py
  utils/ssys/graphmod_smooth_tl.py
  utils/ssys/process_ssysmap.sh
  utils/ssys/smoothen.py
Due: none

improved sirius aspect + geometry bugfix
  utils/ssys/geometry.py
  utils/ssys/graphmod_postp.py
  utils/ssys/graphmod_prep.py
  utils/ssys/process_ssysmap.sh
Due: none

improved plasma storm area
  utils/ssys/graphmod_postp.py
Due: none

new cost funcs for relax
  utils/ssys/minimize_angle_stretch.py
  utils/ssys/process_ssysmap.sh
Due: none

also smoothen wind roads + smoothing improved
  utils/ssys/graphmod_smooth.py
  utils/ssys/process_ssysmap.sh
  utils/ssys/smoothen.py
Due: none

andres-kelvos edge flip
  utils/ssys/graphmod_prep.py
Due: none

simplify final postprocess && update `Readme.md`
  utils/ssys/Readme.md
  utils/ssys/graphmod_final.py
  utils/ssys/process_ssysmap.sh
Due: none

graph2ssysmap: write new systems
  utils/ssys/graph2ssysmap.py
  utils/ssys/graph_vaux.py
  utils/ssys/graphmod_prep.py
  utils/ssys/process_ssysmap.sh
Due: none
