Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$

Delay streaming sound thread until it begins to play.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Enable gapless playback.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed vn not playing vn sounds properly.
  dat/scripts/vn/vn.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed boarding sounds being broken.
  dat/board.lua
  dat/events/hypergate_construction.lua
  dat/events/neutral/travelling_merchant.lua
  dat/scripts/common/derelict.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Increase number of sources, but probably have to do something about exhausting them more properly...
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

[cargo clippy]
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Smooth looping audio buffers by blending head/tail edges and removing DC offset
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Make source creation explicit.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Avoid using Arc for sharing source data with threads.
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Better handling of running out of openal sources.
  src/audio/src/debug.rs
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed race conditions in source generation.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Simplified and unified source threshold logic.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Add a quick look edge inspector
  utils/check_loops.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Have sound_get warn if file is not found.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Have to drop voices before we lock groups.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Avoid normalising sounds
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Make sure we use milliseconds for LOOP_EDGE_BLEND_MS
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Add support for assets that embed tags specifying the loopable bits of a file.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Enable gapless playback for streams, and fix support for tags when looping.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Avoid crossfading if the sample is already lining up closely.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

color > colour
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

audio: Implement linear crossfade for seamless loops
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fix up a comment that wasn't updated.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Port upload_forgejo_release.sh to Python
  utils/ci/upload_forgejo_release.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Move to python Codeberg upload script
  .forgejo/workflows/naev_nightly.yml
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Actually use mimetypes to determine the right one for a file
  utils/ci/upload_forgejo_release.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Simplified Audio loading from C a bit.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed compilation from sleepy error.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Moved buffer raw data loading outside of Buffer so we can test it if necessary.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Clip delay and padding from audio.
  src/audio/src/lib.rs
  src/naev.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed panics with loading audio files.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Added support for AL_SOFT_callback_buffer.
  po/POTFILES.in
  src/audio/src/callback_buffer.rs
  src/audio/src/lib.rs
  src/meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Hooked up callback_buffer support with the engine.
  src/audio/src/callback_buffer.rs
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Added source.play + source.stop, and only do air absorption on ingame items.
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Rename the inner source inner to avoid confusion.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Added openal::Source::{rewind, pause}.
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed audio and added (disabled) test for audio.
  src/audio/src/lib.rs
  src/naev.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Add priority to cargo test.
  meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Only give message if truly migrated configuration files.
  src/ndata/src/cwrap.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt
