Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, doxspell, no_tabs, reindent, rustfmt, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    #- id: check-symlinks
    #- id: check-illegal-windows-names
    #- id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    #- id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: rem_xml_head
      name: remove unnecessary XML 1.0 headers
      entry: utils/rem_xml_head.sh
      types: [xml]
      language: script
    - id: doxspell
      name: doxspell
      entry: utils/doxspell.sh
      language: script
      types: [c]
    - id: no_tabs
      name: no_tabs
      entry: utils/no_tabs.sh
      language: script
      exclude: (^|/)Makefile
      types: [text]
    - id: reindent
      name: reindent
      entry: utils/reindent.sh
      #[build clang-format dot frag glsl gltf js lua luacheckrc markdown md nsi py pov rb scm sh tex vdf vert]
      # Unmanaged: [markdown md yaml yml .clangformat]
      files: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
      language: script
    - id: check_fmt_f_usage
      name: lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: xml_format
      name: format xml
      entry: utils/xml_format.sh
      types: [xml]
      files: .*\.(xml|loc|plist)$
      args: ["-st"]
      language: script
#    - id: glsl_validator
#      name: glsl validator
#      entry: utils/nglslValidator.py
#      files: dat/.*\.(frag|vert)$
#      language: python
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2024"]
      language: system
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      types: [shell]
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
    - id: codespell
      files: '^dat/'
      types_or: [xml, lua]
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: clang-format
      name: Clang formatter
      entry: utils/clf.sh
      types: [c]
      files: '^src/'
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python

Minor corrections.
  src/rng.rs
Due: no_tabs, rustfmt

Minimize opengl context mucking when loading graphics.
  src/outfit.rs
  src/renderer/src/lib.rs
  src/ship.rs
Due: no_tabs, rustfmt

Able to drop the mutex on 2D loading now.
  src/ship.rs
Due: no_tabs, rustfmt

Implement LuaEnv::clone() and LuaEnv::current().
  src/nlua.rs
Due: no_tabs, rustfmt

Start to work on porting Lua SPFX to Rust.
  Cargo.toml.in
  po/POTFILES.in
  src/audio/src/lib.rs
  src/meson.build
  src/naev.rs
  src/nlua.rs
  src/spfx.rs
Due: no_tabs, reindent, rustfmt

Run pilot death hook when removing pilot (should fix capturing in patrol missions).
  src/nlua_pilot.c
Due: doxspell, no_tabs, clang-format

Damage deployed ships + run death hook when pilot is removed if it hasn't already.
  src/nlua_pilot.c
  src/pilot.c
Due: doxspell, no_tabs, clang-format

achack02: correct the fuel jump warning
  dat/missions/sirius/achack/achack02.lua
Due: no_tabs, reindent

Proof of concept linear + logarithmic radar.
  src/gui.c
Due: doxspell, no_tabs, clang-format

Fixed mouse clicks or radar.
  src/gui.c
Due: doxspell, no_tabs, clang-format

Improved radar rendering and bumped default zoom to 100.
  src/gui.c
  src/player.c
Due: doxspell, no_tabs, clang-format

Display logarithmic range
  src/gui.c
Due: doxspell, no_tabs, clang-format

Correct click "area" in logarithmic radar part.
  src/gui.c
Due: doxspell, no_tabs, clang-format

Changelog
  Changelog.md
Due: no_tabs

Fixed trails and thus sensor anomalies.
  dat/scripts/luaspfx/trail.lua
Due: no_tabs, reindent

Don't allow "winning" test of devotion after failing.
  dat/events/sirius/test_of_devotion.lua
Due: no_tabs, reindent

Translated using Weblate (French)
  po/fr.po
Due: no_tabs

Made mercenaries true neutral to most factions.
  dat/factions/mercenary.xml
Due: no_tabs

Started to work on the LuaSpfx API.
  src/spfx.rs
Due: no_tabs, rustfmt

Added more luaspfx functionality.
  src/spfx.rs
Due: no_tabs, rustfmt

Need to give audio ownership to Rust and wrap Lua API over reference.
  src/audio/Cargo.toml.in
  src/audio/src/lib.rs
  src/spfx.rs
Due: no_tabs, rustfmt

Have properly move Audio ownership to Rust and have Lua operate on references.
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Have Rust Spfx use AudioRef and flesh out API a bit more.
  src/audio/src/lib.rs
  src/renderer/src/colour.rs
  src/spfx.rs
Due: no_tabs, rustfmt

Move to mlua Audio/Spfx although not quite there yet.
  meson.build
  src/meson.build
  src/nlua.rs
Due: no_tabs, reindent, rustfmt

Fix the C API for the audio.
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Flesh out some more mlua spfx stuff.
  src/audio/src/lib.rs
  src/nlua_spfx.h
  src/spfx.c
  src/spfx.rs
Due: doxspell, no_tabs, rustfmt, clang-format

[cargo clippy]
  src/nlua.rs
  src/spfx.rs
Due: no_tabs, rustfmt

Implemented spfx::update.
  Cargo.toml.in
  src/physics/src/vec2.rs
  src/spfx.rs
Due: no_tabs, rustfmt

Added some 2d transforms and spfx rendering.
  src/renderer/src/lib.rs
  src/spfx.rs
Due: no_tabs, rustfmt

Added LuaSpfx C API.
  src/spfx.rs
Due: no_tabs, rustfmt

sound_disabled is a stub now, but at least it compiles.
  src/audio/src/lib.rs
  src/conf.c
  src/music.c
  src/options.c
  src/sound.h
  src/space.c
  src/weapon.h
Due: doxspell, no_tabs, rustfmt, clang-format

Typo.
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Quiet symphonia debugging too.
  src/log/src/lib.rs
Due: no_tabs, rustfmt

Fixed parsing replaygain metadata.
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Minor siplification.
  src/space.c
Due: doxspell, no_tabs, clang-format

Should be 'dev' profile not 'debug' profile (it is a property).
  meson.build
Due: no_tabs, reindent

Handle artifact dir stuff.
  meson.build
Due: no_tabs, reindent

Bump roxmltree and naga versions.
  Cargo.toml.in
  src/renderer/Cargo.toml.in
Due: no_tabs
