Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, no_tabs, reindent, glsl_validator, rustfmt, clang-format

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

no_tabs:
  name: no_tabs
  entry: utils/no_tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2021'
  language: system

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

Try to debug why node isn't working.
  .forgejo/workflows/naev_ci.yml
Due: no_tabs

Some minor corrections and completeness.
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: no_tabs, rustfmt

alGen functions should be *mut.
  src/audio/src/efx.rs
Due: no_tabs, rustfmt

Allow debug and efx to fail.
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Avoid uploading large build artefacts to avoid being rate limited.
  .forgejo/workflows/naev_ci.yml
Due: no_tabs

A bit more work but hasn't solved why the al context is being dropped.
  src/audio/src/efx.rs
  src/audio/src/lib.rs
  src/audio/src/openal.rs
  src/naev.rs
Due: no_tabs, rustfmt

Disable appstream checks for appimages
  utils/buildAppImage.sh
Due: no_tabs, reindent

Remove node test debugging step
  .forgejo/workflows/naev_ci.yml
Due: no_tabs

Replace GHDeploy with a staging script called BergDeploy
  utils/ci/berg/BergDeploy.sh
  utils/ci/gh/GHDeploy.sh
Due: no_tabs, reindent

Dump all release assets into the "dist" directory
  utils/ci/berg/BergDeploy.sh
Due: no_tabs, reindent

Port nightly release workflow to work with Forgejo Actions
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

Ensure we don't push a new commit each time
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

Point GHCR links to our codeberg ones
  utils/release.sh
Due: no_tabs, reindent

Update manuallyTriggerWorkflow.sh to work with Forgejo Actions
  utils/manuallyTriggerWorkflow.sh
Due: no_tabs, reindent

Make sure we collect the codeberg script
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

Ensure download-artifact is version 3 so we can use it
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

Attempt to force meson to package all subprojects
  .forgejo/workflows/naev_ci.yml
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

Whoops, this should have been during the setup, not the dist step
  .forgejo/workflows/naev_ci.yml
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

Make sure we are running in the right directory when doing git operations.
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

Fixed data matrix aquire vn event.
  dat/events/data_matrices.lua
Due: no_tabs, reindent

Minor spellchecking.
  dat/missions/zalek/neburesearch/neburesearch_00.lua
Due: no_tabs, reindent

Harmonized NPC conditional message scripts a bit. Should fix some errors in the pirate ones.
  dat/events/npc/empire.lua
  dat/events/npc/frontier.lua
  dat/events/npc/generic.lua
  dat/events/npc/pirate.lua
  dat/events/npc/raven_clan.lua
  dat/events/npc/soromid.lua
  dat/events/npc/zalek.lua
  dat/scripts/common/npc.lua
Due: no_tabs, reindent

neburesearc_00: make sure enter hook doesn't get set twice.
  dat/missions/zalek/neburesearch/neburesearch_00.lua
Due: no_tabs, reindent

Make sure that we change back to the workspace directory
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

neburesearch_00: reorganize mission a bit more with substages.
  dat/missions/zalek/neburesearch/neburesearch_00.lua
Due: no_tabs, reindent

naev_rightly.yml: Try to pushd and popd into the right directory
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

Whoops, overlooked the path of the script being run
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

Display TOO MANY WARNINGS warning when possible.
  src/log/src/lib.rs
Due: no_tabs, rustfmt

Fixed Thurion wildspace event log.
  dat/events/thurion/intro_wildspace.lua
Due: no_tabs, reindent

Make sure we are outputting everything to the outdir
  utils/ci/berg/BergDeploy.sh
Due: no_tabs, reindent

Disable /soild for the Windows installer
  extras/windows/installer_assets/naev.nsi
Due: no_tabs, reindent

We don't need to create staging areas
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

Use LazyLock directly instead of embedding Option<>
  src/audio/src/efx.rs
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: no_tabs, rustfmt

Less embedding Option<> and more relying on OnceLock<>.
  src/audio/src/debug.rs
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Catch errors with debug.
  src/audio/src/debug.rs
  src/audio/src/efx.rs
Due: no_tabs, rustfmt

Add API Build trigger to CI
  .forgejo/workflows/naev_ci.yml
Due: no_tabs

Do not rely on the release notes assistant
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

Link to the commit page inside of the changelog
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

Consistently use working-directory
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

Make sure to push the contents of the changelog into a variable
  .forgejo/workflows/naev_nightly.yml
Due: no_tabs

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  no_tabs: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  glsl_validator: any of: dat/.*\.(frag|vert)$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
