Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$

Changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Missed more faction hit changes.
  dat/events/flf/flf_catastrophe.lua
  dat/events/hypergate_construction.lua
  dat/missions/dvaered/dv_antiflf02.lua
  dat/missions/dvaered/dv_antiflf03.lua
  dat/missions/dvaered/dv_diversion.lua
  dat/missions/dvaered/recruitment/dv_bikers.lua
  dat/missions/dvaered/recruitment/dv_goddard.lua
  dat/missions/dvaered/recruitment/dv_lostagent.lua
  dat/missions/flf/dvk/flf_dvk01.lua
  dat/missions/flf/dvk/flf_dvk02.lua
  dat/missions/flf/dvk/flf_dvk03.lua
  dat/missions/flf/dvk/flf_dvk04.lua
  dat/missions/flf/dvk/flf_dvk05.lua
  dat/missions/flf/dvk/flf_dvk06.lua
  dat/missions/flf/flf_diversion.lua
  dat/missions/flf/flf_patrol.lua
  dat/missions/flf/flf_pirates.lua
  dat/missions/flf/flf_pre01.lua
  dat/missions/flf/flf_pre02.lua
  dat/missions/neutral/patrol.lua
  dat/missions/neutral/seek_n_destroy.lua
  dat/missions/pirate/blackcat.lua
  dat/missions/pirate/pir_hit.lua
  dat/missions/pirate/pir_ship_stealing.lua
  dat/missions/thurion/data_extraction.lua
  dat/missions/trader/trader_escort.lua
  dat/missions/zalek/sciencegonewrong/01_sciwrong.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added yearning steve NPC and can deliver space moss + nebula crystals for increase in maximum reputation.
  dat/events/standing.lua
  dat/events/trader/mining_vrata_delivered_nebula_crystals.lua
  dat/events/trader/mining_vrata_delivered_space_moss.lua
  dat/events/trader/yearning_steve.lua
  dat/scripts/common/trader.lua
  dat/scripts/factions/trader_society.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Add mining vrata slogan.
  dat/events/trader/yearning_steve.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Also give standing when the player shows rare minerals.
  dat/events/trader/yearning_steve.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

mining_vrata_intro: give standing.
  dat/missions/trader/mining_vrata_intro.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Don't think it's working, but try to load Ubuntu-Regular in the plugin manager.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Some clean up.
  src/board.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Another minor fix.
  src/board.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed some NLua error messaging C-side.
  src/nlua.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed goatee blockades not being clearable.
  dat/events/neutral/capricorn_pirates.lua
  dat/events/neutral/dendria_pirates.lua
  dat/events/neutral/levo_pirates.lua
  dat/events/neutral/quai_pirates.lua
  dat/events/neutral/surano_pirates.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

luatk: allow renaming yes/no labels with yesno.
  dat/scripts/luatk/luatk.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added player.shipRm.
  src/nlua_player.c
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

Fixed crash when removing player's deployed ships.
  src/player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

player.shipDeploy can spawn ships too.
  src/nlua_player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

ci: Try a potential fix for PRs failing to lfs fetch
  .forgejo/workflows/naev_pr.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

gen_version.py fix
  utils/build/gen_version.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Bump image crate to 0.25.10.
  Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Deprecate rnd.uniform in favour of rnd.rnd to avoid confusion.
  dat/ai/core/control/generic.lua
  dat/ai/core/idle/miner.lua
  dat/ai/core/idle/wait.lua
  dat/events/sirius/achack04.lua
  dat/missions/empire/collective/ec05.lua
  dat/missions/empire/shipping/es01.lua
  dat/missions/empire/shipping/es02.lua
  dat/missions/flf/dvk/flf_dvk05.lua
  dat/missions/flf/dvk/flf_dvk07.lua
  dat/missions/flf/flf_patrol.lua
  dat/missions/flf/flf_pirates.lua
  dat/missions/flf/flf_rogue.lua
  dat/missions/pirate/pir_clan_cargo.lua
  dat/missions/sirius/achack/achack04.lua
  dat/missions/zalek/sciencegonewrong/02_sciwrong.lua
  src/rng.rs
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Fixed some areas using cabin font instead of ubuntu font.
  src/naev.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Can undisable escorts by boarding them now.
  Changelog.md
  src/board.c
Due: end-of-file-fixer.sh, smd-w, doxspell, expand-tabs.sh, clang-format

Fixed escorts buggering off.
  Changelog.md
  dat/scripts/escort.lua
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Big convoys use plowshares instead of rhinos.
  dat/missions/trader/trader_escort.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Darkened cBlackHilight to match messages and use it for consistency.
  src/colours_c_gen.py
  src/gui.c
  src/renderer/src/colour.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Fixed faction.tags().
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed pirate stronghold map.
  dat/outfits/maps/map_pirate_strongholds.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Switch from arrayvec to tinyvec that seems more maintained.
  Cargo.toml.in
  src/collide/Cargo.toml.in
  src/collide/src/lib.rs
  src/collide/src/polygon.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Made pipeline_conduit cpu_mod permanent.
  dat/outfits/utility/conduit/pipeline_conduit.lua
  dat/outfits/utility/conduit/pipeline_conduit.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Try to fetch tags too in actions.
  .forgejo/workflows/naev_ci.yml
  .forgejo/workflows/naev_nightly.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Update sdl3 wrap.
  subprojects/sdl3.wrap
Due: end-of-file-fixer.sh, expand-tabs.sh

Some more ads.
  dat/scripts/common/ads.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Minor description.
  dat/events/npc/trader.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added missing return p for some pers.
  dat/events/pers/indep.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added a couple new trader pers.
  dat/events/pers/trader.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Rename Sirius Starbridge -> Starbridge Herald.
  dat/save_updater.lua
  dat/ships/sirius/starbridge_herald.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Looks like tinyvec::ArrayVec::is_full() is provided.
  src/collide/src/polygon.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed some missing Sirius Starbridge -> Starbridge Herald.
  dat/events/pers/sirius.lua
  dat/ships/lua/lib/flow.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent
