Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

smd:
  name: markdown linter
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  language: script
  require_serial: true

smd-w:
  name: markdown linter (wider)
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  - -w
  - '5'
  language: script
  require_serial: true

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Fixed autoequip breaking down and removing cores in some cases.
  dat/autoequip.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Tweak how equipopt lowers energy goals a bit, and hide log spam unless it fails 3 times.
  dat/scripts/equipopt/optimize.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Active cooldown reduces absorption by 50%.
  dat/naevpedia/mechanics/damage.md
  src/pilot.c
  src/pilot_outfit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Make table bounty escorts hostile to the player.
  dat/scripts/common/bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed assassinate bounty osd.
  dat/missions/pirate/pir_hit.lua
  dat/scripts/common/bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Made independent/trader more aggressive in non-transports.
  dat/ai/independent.lua
  dat/ai/trader.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Minor optimization.
  dat/scripts/common/bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Made AI always try to be defensive in bounties.
  dat/scripts/common/bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Add Dreamer Kestrel & spawn & tech
  dat/events/priority_bounty/bounties/bounty_sirius_conversion_3.lua
  dat/factions/spawn/pirate_dreamer_clan/default.lua
  dat/ships/lua/lib/flow.lua
  dat/ships/pirate/pirate_kestrel_dreamer.xml
  dat/spob/sanchez.xml
  dat/tech/dreamer_tech.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed obtaining outfits when capturing ships with some outfits with a nosteal tag.
  dat/events/capture.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Set up the framework for the dreamer flow stuff.
  dat/outfits/flow/groove_amplifier.lua
  dat/ships/lua/lib/flow.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Add some Jump Distance to Black Cat Doll
  dat/outfits/accessory/black_cat_doll.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Update pirate_kestrel_dreamer.xml
  dat/ships/pirate/pirate_kestrel_dreamer.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Use outfits like emergency shield generators when not in combat.
  dat/ai/core/attack.lua
  dat/ai/core/control/generic.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Some rewording.
  dat/board.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

player.outfitsList also shows intrinsics.
  src/nlua_player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed outfit behaviour with stealth_on flag set.
  src/pilot_weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Have permanently disabled ships from boarding lose their followers.
  dat/board.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Cycling through hostiles will only target those that are detected well.
  src/pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fix some descriptions.
  dat/outfits/core_engine/large/nexus_bolt_3000_engine.xml
  dat/outfits/structure/nanofiber_structural_enhancement.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Added ship repairs NPC.
  dat/events/ship_repairs.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Don't allow boarding captured ships that are being towed.
  dat/events/capture.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed bounty missions OSD not appearing with deadlines.
  dat/scripts/common/bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Lua player API now allows using name of the current ship.
  src/nlua_player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Ship repairs should appear on load and work with the player's ship if it is heavily damaged now.
  dat/events/ship_repairs.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Update sdl3 meson wrap.
  subprojects/sdl3.wrap
Due: end-of-file-fixer.sh, expand-tabs.sh

Update dreamer variant kestrel with internal Groove Synthesizer + name
  dat/events/priority_bounty/bounties/bounty_sirius_conversion_3.lua
  dat/factions/spawn/pirate_dreamer_clan/default.lua
  dat/outfits/flow/internal_groove_synthesizer.xml
  dat/ships/lua/lib/flow.lua
  dat/ships/pirate/pirate_kestrel_dreamer.xml
  dat/tech/dreamer_tech.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed CTD with onanyimpact when using abilities without munitions.
  src/pilot_outfit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Minor fixes and got dreamer clan capship spawning working.
  dat/factions/spawn/pirate_dreamer_clan/default.lua
  dat/outfits/accessory/black_cat_doll.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed groove synthesizer not detected as a dreamer outfit.
  dat/outfits/flow/internal_groove_synthesizer.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed onanyimpact calls.
  src/pilot_outfit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Tweaked groove flow: max 10% capacity regen, gain 33% from damage.
  dat/outfits/flow/flow_amplifier.lua
  dat/outfits/flow/groove_amplifier.lua
  dat/ships/lua/lib/flow.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

The groove considers disable now.
  dat/outfits/flow/groove_amplifier.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Avoid over-counting flow modifiers from outfits.
  dat/ships/lua/lib/flow.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Give extra flow bonus from 2nd skill onwards.
  dat/ships/lua/lib/flow.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Translated using Weblate (French)
  po/fr.po
Due: end-of-file-fixer.sh, expand-tabs.sh

Nerfs to bioship health.
  dat/outfits/bioship/generate.py
  dat/ships/soromid/soromid_vox.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
