Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: check-illegal-windows-names
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      files: '^dat/'
      types: [lua]
      args: ["--ignore-words", ".codespellignore" ]
      additional_dependencies:
        - tomli
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: naevpedia
      name: check for stale naevpedia ships/outfits
      entry: utils/update-naevpedia.sh . --pre-commit
      language: script
      files: dat/(ships|outfits)/.*.xml$
      pass_filenames: false
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2021"]
      language: system

Show windows console only on debug builds.
  meson.build
Due: none

Use AtomicBool instead of having to rely on CONTEXT for gl_supportsDebug().
  src/renderer/src/lib.rs
Due: rustfmt

Fixed gl_renderScaleAspectMagic.
  src/renderer/src/texture.rs
Due: rustfmt

Minor spellcheck.
  dat/events/derelict.lua
Due: none

Made vec2 module closer to what it was before Rust.
  src/vec2.rs
Due: rustfmt

Rust vec2 has full parity with the old C one.
  src/vec2.rs
Due: rustfmt

Disable all clippy for the naevc code.
  meson.build
Due: none

Use common lints to disable stuff clippy complains about now that we don't care (at least for now).
  Cargo.toml.in
  src/core/Cargo.toml.in
  src/core/src/ntime.rs
  src/gettext/Cargo.toml.in
  src/log/Cargo.toml.in
  src/naev.rs
  src/ndata/Cargo.toml.in
  src/renderer/Cargo.toml.in
  src/toolkit/Cargo.toml.in
Due: rustfmt

[cargo clippy]
  src/camera.rs
  src/faction.rs
  src/model.rs
  src/vec2.rs
Due: rustfmt

Don't have the OSD overlap the time multiplier.
  dat/gui/slim.lua
Due: none

Tweaked positioning of the message box
  dat/gui/slim.lua
Due: none

post-gravity post processing + geometry bugfix
  utils/ssys/geometry.py
  utils/ssys/graph2pov.py
  utils/ssys/graphmod_final.py
  utils/ssys/graphmod_stretch_north.py
  utils/ssys/process_ssys.sh
Due: none

Minor simplification.
  src/renderer/src/lib.rs
Due: rustfmt

Removed support for opengl viewport x motion.
  src/nlua_player.c
  src/nlua_tk.c
  src/opengl.c
  src/opengl.h
  src/opengl_render.c
  src/render.c
Due: clang-format

Lowered magic kernel radius.
  src/renderer/src/lib.rs
Due: rustfmt

Fixed point defense breaking for the player all the time.
  CHANGELOG
  src/ai.c
Due: clang-format

Update changelog from 0.12.x.
  Changelog.md
Due: none

Version bump to 0.12.6.
  CHANGELOG
  meson.build
  org.naev.Naev.metainfo.xml
Due: none

PythonSed workaround + safeguards
  utils/ssys/dot2graph.py
  utils/ssys/graphmod.py
  utils/ssys/graphmod_stretch_north.py
  utils/xml_name.py
Due: none

use decorators in pov output
  utils/ssys/gen_decorators.sh
  utils/ssys/graph2pov.py
  utils/ssys/graph_vaux.py
  utils/ssys/process_ssys.sh
Due: none

find_closest
  utils/ssys/Readme.md
  utils/ssys/closest.py
  utils/ssys/find_closest.sh
  utils/ssys/graph2dot.py
  utils/ssys/graph2pov.py
Due: none

manage decorators overlapping
  utils/ssys/graph2pov.py
Due: none

Use ftpmirror.gnu.org to avoid outages
  subprojects/glpk.wrap
Due: none

shellcheck + misc details
  utils/ssys/Readme.md
  utils/ssys/closest.py
  utils/ssys/find_closest.sh
  utils/ssys/graph2pov.py
  utils/ssys/graphmod_stretch_north.py
  utils/ssys/process_ssys.sh
Due: none

Moved some more opengl resize stuff to Rust.
  src/opengl.c
  src/renderer/src/lib.rs
Due: clang-format, rustfmt

Move more viewport stuff to Rust.
  src/nlua_player.c
  src/opengl.c
  src/opengl.h
  src/renderer/src/lib.rs
Due: clang-format, rustfmt

Have Rust handle the C projection matrix and as much as possible.
  src/opengl.c
  src/opengl.h
  src/render.c
  src/renderer/src/lib.rs
Due: clang-format, rustfmt

process_sys -v -H -n, graph2pov -d -H -n, graphmod catches broken pipe / intr.
  utils/ssys/Readme.md
  utils/ssys/gen_decorators.sh
  utils/ssys/graph2dot.py
  utils/ssys/graph2pov.py
  utils/ssys/graphmod.py
  utils/ssys/process_ssys.sh
Due: none

Moved more OpenGL initialization to Rust.
  src/opengl.c
  src/renderer/src/lib.rs
Due: clang-format, rustfmt

Disable gl_renderScaleAspectMagic for now and reeanble in the future when caching widgets.
  src/renderer/src/texture.rs
Due: rustfmt

Define minimum width and height rust-side.
  src/renderer/src/lib.rs
Due: rustfmt

Workaround for SDL_WINDOW_RESIZABLE giving smaller windows than expected on Wayland.
  src/renderer/src/lib.rs
Due: rustfmt

utils/ssys/*.py -h + graph2pov -n bugfix
  utils/ssys/Readme.md
  utils/ssys/closest.py
  utils/ssys/dot2graph.py
  utils/ssys/gen_decorators.sh
  utils/ssys/geometry.py
  utils/ssys/graph2dot.py
  utils/ssys/graph2pov.py
  utils/ssys/graph_scale.py
  utils/ssys/graphmod.py
  utils/ssys/graphmod_abh.py
  utils/ssys/graphmod_final.py
  utils/ssys/graphmod_postp.py
  utils/ssys/graphmod_prep.py
  utils/ssys/graphmod_smooth_tl.py
  utils/ssys/graphmod_stretch_north.py
  utils/ssys/graphmod_virtual.py
  utils/ssys/minimize_angle_stretch.py
  utils/ssys/process_ssys.sh
  utils/ssys/ssys_empty.py
  utils/ssys/ssys_freeze.py
  utils/ssys/ssys_relax.py
Due: none

Start to move to SDL3.
  Cargo.toml.in
  meson.build
  src/cmark_wrap.c
  src/debug.c
  src/glad.c
  src/glad.h
  src/input.c
  src/log.c
  src/naev.c
  src/naev.rs
  src/naevlua.c
  src/ndata.c
  src/ndata/Cargo.toml.in
  src/ndata/src/lib.rs
  src/ndata/src/physfs.rs
  src/nfile.c
  src/renderer/Cargo.toml.in
  src/renderer/src/lib.rs
  src/renderer/src/texture.rs
  src/toolkit.rs
  src/toolkit/Cargo.toml.in
  src/toolkit/src/widget.rs
  src/valgrind.h
Due: clang-format, rustfmt

More SDL3 porting work.
  src/collision.c
  src/conf.c
  src/dev_mapedit.c
  src/dev_sysedit.c
  src/dev_uniedit.c
  src/dialogue.c
  src/equipment.c
  src/gltf.c
  src/gui.c
  src/info.c
  src/input.c
  src/intro.c
  src/land.c
  src/land_outfits.c
  src/land_shipyard.c
  src/land_trade.c
  src/load.c
  src/map.c
  src/map_overlay.c
  src/map_system.c
  src/menu.c
  src/naev.c
  src/news.c
  src/nfile.c
  src/nlua_audio.h
  src/nlua_tex.c
  src/nlua_tk.c
  src/opengl.c
  src/opengl_tex.c
  src/options.c
  src/shaders_c_gen.py
  src/threadpool.c
  src/tk/widget/imagearray.c
  src/tk/widget/input.c
  src/tk/widget/tabwin.c
  src/toolkit.c
Due: clang-format

Yet more SDL3 naming.
  src/dev_uniedit.c
  src/dialogue.c
  src/gettext.c
  src/input.c
  src/intro.c
  src/joystick.c
  src/land_outfits.c
  src/land_trade.c
  src/map_find.c
  src/mission.c
  src/news.c
  src/nlua_naev.c
  src/nlua_player.c
  src/nlua_tk.c
  src/opengl.c
  src/options.c
  src/outfit.c
  src/ship.c
  src/space.c
  src/tk/widget/input.c
  src/tk/widget/tabwin.c
  src/toolkit.c
  src/unidiff.c
Due: clang-format

Updated joysticks.
  src/input.c
  src/joystick.c
  src/options.c
Due: clang-format

More porting progress.
  po/POTFILES.in
  src/SDL_PhysFS.h
  src/dialogue.c
  src/gltf.c
  src/gui.c
  src/input.c
  src/intro.c
  src/map_overlay.c
  src/menu.c
  src/meson.build
  src/music.c
  src/naev.c
  src/naev.rs
  src/ndata.c
  src/nfile.c
  src/nlua_audio.c
  src/nlua_file.c
  src/nlua_naev.c
  src/nlua_tex.c
  src/opengl.c
  src/opengl.h
  src/opengl_tex.c
  src/opengl_tex.h
  src/options.c
  src/physfsrwops.c
  src/physfsrwops.h
  src/player_gui.c
  src/sound.c
  src/spfx.c
  src/tk/toolkit_priv.h
  src/tk/widget/input.c
  src/toolkit.c
Due: clang-format, rustfmt
