Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

smd:
  name: markdown linter
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  language: script
  require_serial: true

smd-w:
  name: markdown linter (wider)
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  - -w
  - '5'
  language: script
  require_serial: true

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Added lightning test.
  utils/glsl/particles/frag.glsl
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Proteron Weapons & Faction Intrinsic Buff
  dat/factions/equip/proteron.lua
  dat/outfits/intrinsic/high_combat_readiness.xml
  dat/outfits/pointdefence/overwatch_pulse_ciws.xml
  dat/outfits/weapons/pulse_cannon_light.xml
  dat/outfits/weapons/pulse_turret_heavy.xml
  dat/outfits/weapons/pulse_turret_hyper.xml
  dat/outfits/weapons/pulse_turret_light.xml
  dat/outfits/weapons/pulse_turret_medium.xml
  dat/scripts/equipopt/fighterbays/proteron_dalton.lua
  dat/scripts/equipopt/templates/proteron.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fix some errors arising from the slot changes.
  dat/scripts/equipopt/templates/dvaered.lua
  dat/scripts/equipopt/templates/zalek.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Tried to simplify and unify cores.
  dat/scripts/equipopt/cores.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed equipopt cores not picking up the right cores.
  dat/scripts/equipopt/cores.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Lowered mule + koala mass, and increased koala cargo inertaia bonus.
  dat/ships/neutral/koala.xml
  dat/ships/neutral/mule.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Spelling fixes
  dat/outfits/weapons/pulse_turret_hyper.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Minor description phrasing improvement
  dat/outfits/weapons/pulse_turret_hyper.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Update proteron_dalton.xml
  dat/ships/proteron/proteron_dalton.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed fwd_dam_as_dis and tur_dam_as_dis ship stats.
  src/weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Priority Bounties
  dat/events/priority_bounty/bounties/bounty_dvaered_flf_1.lua
  dat/events/priority_bounty/bounties/bounty_dvaered_flf_2.lua
  dat/events/priority_bounty/bounties/bounty_frontier_warlord_1.lua
  dat/events/priority_bounty/bounties/bounty_frontier_warlord_2.lua
  dat/events/priority_bounty/bounties/bounty_frontier_warlord_3.lua
  dat/events/priority_bounty/bounties/bounty_sirius_starbridge_herald.lua
  dat/events/priority_bounty/helpers.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Priority boarding changed API to allow returning a table of pilots if so inclined. Also made it so you can modify the behaviour on boarding.
  dat/events/priority_bounty/bounties/rainbow_goatee.lua
  dat/events/priority_bounty/bounties/renegade_executor.lua
  dat/events/priority_bounty/bounties/rogue_bounty_hunter_hellhound.lua
  dat/events/priority_bounty/bounties/rogue_bounty_hunter_hellhound_2.lua
  dat/scripts/common/bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Updated and fleshed out bounty spawn helpers.
  dat/events/priority_bounty/helpers.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Modified new bounties to fit new API.
  dat/events/priority_bounty/bounties/bounty_dvaered_flf_1.lua
  dat/events/priority_bounty/bounties/bounty_dvaered_flf_2.lua
  dat/events/priority_bounty/bounties/bounty_frontier_warlord_1.lua
  dat/events/priority_bounty/bounties/bounty_frontier_warlord_2.lua
  dat/events/priority_bounty/bounties/bounty_frontier_warlord_3.lua
  dat/events/priority_bounty/bounties/bounty_sirius_starbridge_herald.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

[pre-commit run -a]
  dat/ships/dvaered/dvaered_vigilance.xml
  dat/utils/ssys/graphmod_center.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Minor formatting.
  docs/manual/src/spobs/data.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Add extra formatting newline for priority bounties.
  dat/missions/neutral/priority_bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

clarify a bit.
  dat/naevpedia/mechanics/boarding.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed warning spam when opening the universe editor view modes.
  src/dev_uniedit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Emerald Sword & Black Diamond updates and full implementation with priority bounty.
  dat/events/neutral/travelling_merchant.lua
  dat/events/priority_bounty/bounties/bounty_dvaered_flf_3.lua
  dat/outfits/unique/black_diamond_bay.xml
  dat/outfits/unique/dragonflame_cannon.xml
  dat/scripts/equipopt/fighterbays/black_diamond.lua
  dat/ships/unique/black_diamond.xml
  dat/ships/unique/emerald_sword.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Dalton bays get faster launch because they are containerized and on launch rails
  dat/outfits/fighter_bays/proteron_dalton_bay.xml
  dat/outfits/fighter_bays/proteron_dalton_dock.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Adding modular ramscoop outfit for future use as bounty reward
  dat/outfits/unique/modular_ramscoop.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Updating Dalton Bay and Dalton Dock rarity to 3 to match all other proteron equipment visually
  dat/outfits/fighter_bays/proteron_dalton_bay.xml
  dat/outfits/fighter_bays/proteron_dalton_dock.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Added Smuggler's Den in Koralis.
  dat/spob/smugglers_den.xml
  dat/ssys/koralis.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Added missing free trader faction.
  dat/factions/free_trader.xml
  dat/factions/spawn/free_trader.lua
  dat/factions/spawn/free_trader/default.lua
  dat/scripts/equipopt/templates/free_trader.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added some free trader news stubs.
  dat/events/news/free_trader.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed up free trader spawn script.
  dat/scripts/equipopt/templates/free_trader.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed comment being wrong.
  dat/factions/equip/empire.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added parameter to let NPCs specifically target spobs that don't appear on patrol lanes.
  src/ai.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Gave free traders their own equip script. Marked some factions as criminal.
  dat/factions/black_lotus.xml
  dat/factions/dreamer_clan.xml
  dat/factions/equip/free_trader.lua
  dat/factions/free_trader.xml
  dat/factions/pirate.xml
  dat/factions/raven_clan.xml
  dat/factions/wild_ones.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Adding WIP Proteron Agamemnon Launcher, a nuclear torpedo.
  dat/outfits/launchers/proteron_agamemnon_launcher.xml
  dat/scripts/equipopt/templates/proteron.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added The Pit spob.
  dat/spob/the_pit.xml
  dat/ssys/regas.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Criminal faction pilots will use stuff not on the map.
  dat/ai/core/control/generic.lua
  dat/ai/core/idle/generic.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Some formatting and pre-commit.
  dat/events/neutral/travelling_merchant.lua
  dat/events/priority_bounty/bounties/bounty_dvaered_flf_3.lua
  dat/outfits/unique/dragonflame_cannon.xml
  dat/outfits/unique/modular_ramscoop.xml
  dat/ships/unique/black_diamond.xml
  dat/ships/unique/emerald_sword.xml
  po/POTFILES.in
  src/ai.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

Fixed taplo-lint pre-commit hook.
  .pre-commit-config.yaml
Due: end-of-file-fixer.sh, expand-tabs.sh

Updated pre-commit oxipng.
  .pre-commit-config.yaml
Due: end-of-file-fixer.sh, expand-tabs.sh

Have emerald sword require the ability to capture ships (pending capture rework).
  dat/events/priority_bounty/bounties/bounty_dvaered_flf_3.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Offset map find, doesn't feel good yet though...
  src/map_find.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Can now open the map from the vn.
  dat/scripts/vn/vn.lua
  src/nlua_naev.c
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
