Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$

Restructured collide lua code to be in the workspace.
  po/POTFILES.in
  src/collide/Cargo.toml.in
  src/collide/src/collide_test.lua
  src/collide/src/lib.rs
  src/lua/collide.rs
  src/meson.build
  src/naev.rs
  src/nlua.rs
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

[cargo clippy]
  src/faction.rs
  src/naev.rs
  src/nlua.rs
  src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Have equipopt consider free CPU instead of max CPU.
  dat/scripts/equipopt/optimize.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Avoid panic, not sure what is going on yet.
  src/gatherable.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Don't try to spawn pirate raid if no candidates.
  dat/events/pirate/pirate_raid_manager.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed priority bounties.
  dat/missions/neutral/priority_bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

fixed some faction.known usage.
  dat/missions/neutral/poi/proteron_agent.lua
  dat/missions/neutral/poi/proteron_press.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added rainbow goatee priority bounty.
  dat/events/priority_bounty/bounties/rainbow_goatee.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added descriptions to the emerald sword and friends.
  dat/outfits/unique/dragonflame_cannon.xml
  dat/ships/unique/black_diamond.xml
  dat/ships/unique/emerald_sword.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Have the astra vigilis intro bounty be not worn-down.
  dat/missions/trader/astra_vigilis_join.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

have the bounty stuff mention you have to capture not kill or capture when aliveonly.
  dat/scripts/common/bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Cleaned up bounty spawning so they'll spawn near the spob taking off and such.
  dat/scripts/common/bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed priority bounties not completing.
  dat/scripts/common/bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Reinit AI on pilot_reset.
  src/pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Don't error on factionless restricted systems.
  dat/events/restricted.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Avoid error on creating a new game.
  dat/events/priority_bounty/manager.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed not being able to rename SAI.
  dat/missions/tutorial/tutorial.lua
  dat/scripts/luatk/luatk.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed regression with luatk.
  dat/scripts/luatk/luatk.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added some cases of missing stellar wind fuel regeneration.
  dat/ssys/c59.xml
  dat/ssys/sollav.xml
  dat/ssys/sw1.xml
  dat/ssys/sw10.xml
  dat/ssys/sw11.xml
  dat/ssys/sw12.xml
  dat/ssys/sw13.xml
  dat/ssys/sw14.xml
  dat/ssys/sw2.xml
  dat/ssys/sw3.xml
  dat/ssys/sw4.xml
  dat/ssys/sw5.xml
  dat/ssys/sw6.xml
  dat/ssys/sw7.xml
  dat/ssys/sw8.xml
  dat/ssys/sw9.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Make sure pilot is valid when running outfit Lua on it.
  src/pilot_outfit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed some setReputationGlobal usage.
  dat/missions/dvaered/frontier_war/fw05_triathlon.lua
  dat/outfits/misc/fake_licence.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

More C-unwind.
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Bump nalgebra to 0.35 and git2 to 0.21.
  Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Bump sdl3 to 0.18.
  Cargo.toml.in
  src/input.rs
  src/renderer/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Start to work on symphonia 0.6.0 support.
  Cargo.toml.in
  src/audio/Cargo.toml.in
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed Lua doc build collision from duplicate basenames.
  docs/meson.build
  utils/docmaker/src/main.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed crash when pilot is deleted during ai_think or outfit callbacks.
  src/ai.c
  src/pilot_outfit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed threshold for player_ally.
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Eenie teenie buff to the patagium engine limit.
  dat/outfits/core_engine/medium/krain_patagium_twin_engine.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Added the Krain Nanotube Foam Padding for sale here and there.
  dat/scripts/equipopt/cores.lua
  dat/tech/hulls_elite.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed secondary cores on starbridges.
  dat/scripts/equipopt/cores.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Got to get the names right...
  dat/scripts/equipopt/cores.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Don't save claims if not applicable.
  src/event.c
  src/mission.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed C code not being able to modify factions when necessary.
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Missions only save cargo / markers if applicable.
  src/mission.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Made it easier to start the minerva missions by allowing events to trigger when switching tabs.
  dat/events/minerva/station.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Only have initial altercation trigger more easily.
  dat/events/minerva/station.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added spfx:exists().
  src/spfx.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed reality rip shader.
  dat/scripts/luaspfx/realityrip.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed "damage as disable" and by consequence the weapon ionizer.
  src/weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format
