Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

smd:
  name: markdown linter
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  language: script
  require_serial: true

smd-w:
  name: markdown linter (wider)
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  - -w
  - '5'
  language: script
  require_serial: true

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

More asteroid work and progress.
  src/asteroid.c
  src/asteroid.h
  src/asteroid.rs
  src/naev.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Put necessary specs in readme.
  Readme.md
Due: end-of-file-fixer.sh, smd, expand-tabs.sh

Asteroid updates.
  src/asteroid.c
  src/asteroid.h
  src/asteroid.rs
  src/asteroid_internal.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

More asteroid stuff.
  src/asteroid.rs
  src/damagetype.rs
  src/gatherable.rs
  src/nlua_asteroid.h
  src/pilot.c
  src/pilot.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Some more correctness.
  src/asteroid.c
  src/asteroid.h
  src/asteroid.rs
  src/gui.c
  src/input.c
  src/pilot.c
  src/pilot.h
  src/pilot_ew.c
  src/pilot_ew.h
  src/player.c
  src/player.h
  src/target.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Try to fix compilation on linux.
  .cargo/config.toml
Due: end-of-file-fixer.sh, expand-tabs.sh

ci: Disable b_lto on steamruntime builds
  .forgejo/workflows/naev_ci.yml
  .forgejo/workflows/naev_nightly.yml
  .forgejo/workflows/naev_pr.yml
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Remove embed-bitcode workaround from .cargo/config.toml
  .cargo/config.toml
Due: end-of-file-fixer.sh, expand-tabs.sh

meson: Auto-detect linker-plugin-LTO compatibility
  meson.build
  meson_options.txt
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

build: Disable b_lto in the AppImage script
  utils/buildAppImage.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

build: Silence naev_supp meson configure_file warning
  utils/build/naev_valgrind.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

array: Move orphaned doxygen comments inside their #if blocks
  src/array.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

meson: Feed doxygen the tracked source list instead of globbing src/
  docs/meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed release compilation.
  src/asteroid.rs
  src/commodity.rs
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed warning in release mode.
  src/audio/src/debug.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Changed asteroid_collideQueryIL API so it'll be easier to work with in Rust.
  src/asteroid.c
  src/asteroid.h
  src/asteroid.rs
  src/gui.c
  src/map_overlay.c
  src/weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Added priority field for sorting ships.
  src/ship.c
  src/ship.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Quiet some faction warnings for now.
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Added qt_isinit.
  src/quadtree.c
  src/quadtree.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Hide implementation details of asteroid anchors away so Rust is more flexible.
  src/asteroid.c
  src/asteroid.h
  src/asteroid.rs
  src/asteroid_internal.h
  src/nlua_asteroid.c
  src/player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Fixed segfault.
  src/asteroid.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Simplified asteroid init.
  src/asteroid.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Made return explicit.
  src/commodity.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Added support for getting pilots from Lua.
  src/pilot.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Start to work on asteroid Lua API Rust-side.
  src/asteroid.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

More Asteroid Rust.
  src/asteroid.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Yet more C-side faction warning removal.
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

misc.
  dat/missions/baron/baron_prince.lua
  dat/missions/neutral/bounty.lua
  dat/missions/neutral/seek_n_destroy.lua
  dat/missions/trader/mining_vrata_moss.lua
  dat/scripts/equipopt/templates/zalek.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

[cargo clippy]
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Some spelling errors spotted by xelse on the forums.
  dat/naevpedia/ships/classes.md
  dat/ships/pirate/pirate_zebra.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Pilots entering hyperspace don't uncover stealthing pilots.
  src/pilot_ew.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

grammar
  dat/naevpedia/ships/classes.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Finished implement asteroid.get.
  src/asteroid.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Updated rayon.
  Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed warning.
  src/asteroid.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Use the new portraits.
  dat/scripts/vnimage.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Use new logos for Yetmer + O'rez.
  dat/factions/orez.xml
  dat/factions/yetmer.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

More restructuring of bounty missions.
  dat/missions/neutral/bounty.lua
  dat/scripts/common/bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Some more reorganization.
  dat/missions/neutral/bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Use TAU instead of 2. * PI.
  src/rng.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
