Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$

[cargo clippy]
  src/pluginmgr/src/lib.rs
  src/pluginmgr/src/plugin.rs
  src/renderer/src/sdf.rs
  src/renderer/src/shader.rs
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Start to move to pure Rust plugin framework.
  po/POTFILES.in
  src/meson.build
  src/naev.c
  src/naev.rs
  src/ndata/src/lib.rs
  src/ndata/src/physfs.rs
  src/nlua_naev.c
  src/options.c
  src/plugin.h
  src/plugin.rs
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Pilot's don't have tags, ships do.
  dat/scripts/equipopt/cargo.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Plugins should be Rust side now.
  src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Updated the install stuff to the new API.
  src/pluginmgr/src/install.rs
  src/pluginmgr/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Made pluginmgr-gui a library too and integrate into Naev.
  Cargo.toml.in
  po/POTFILES.in
  src/meson.build
  src/options.c
  src/plugin.h
  src/plugin.rs
  src/pluginmgr-gui/Cargo.toml.in
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr-gui/src/main.rs
  src/pluginmgr/src/install.rs
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Fix translation issues in "onion08".
  dat/missions/onion/onion08.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Reorganize so all outfits are visible now.
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Installing and uninstalling works.
  Cargo.toml.in
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr-gui/src/main.rs
  src/pluginmgr/Cargo.toml.in
  src/pluginmgr/src/install.rs
  src/pluginmgr/src/lib.rs
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Seems to be mainly working.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Disable calling pluginmgr-gui directly from Naev as it'll corrupt OpenGL and crash everything.
  Cargo.toml.in
  src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

onion07: more proper gettext usage.
  dat/missions/onion/onion07.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Removed unnecessary commented code.
  src/log/src/version.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fix beams not correcting for the new camera model.
  src/weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Use more AsRef<Path> instead of &str for ndata/physfs stuff.
  src/ndata/src/lib.rs
  src/ndata/src/physfs.rs
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Proof of concept launching another process for the plugin manager.
  src/plugin.h
  src/plugin.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Is it really a crime against computer science if it works?
  Cargo.toml.in
  src/naev.rs
  src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Some simplifications.
  src/naev.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fix the size of the viewport frame in the radar.
  src/gui.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Start to use gettext in plugin manager.
  src/gettext/src/lib.rs
  src/meson.build
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Added gettext::get_language() and gettext::set_language().
  src/gettext/Cargo.toml.in
  src/gettext/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Use pgettext for plugins manager.
  src/naev.rs
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

[cargo clippy]
  src/ndata/src/lib.rs
  src/pluginmgr/src/install.rs
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Always prompt the user to restart if options need restart when clicking OK and detect plugin changes from the plugin manager.
  src/options.c
  src/options.h
  src/plugin.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

[cargo clippy]
  src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Mention plugin manager in changelog.
  Changelog.md
Due: end-of-file-fixer.sh, expand-tabs.sh

pluginmgr: support multiple remotes.
  src/pluginmgr-gui/Cargo.toml.in
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Support defining a backup mirror for remotes.
  src/naev.rs
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Dropped some dependencies and working on moving stub.
  Cargo.toml.in
  meson.build
  src/meson.build
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/Cargo.toml.in
  src/pluginmgr/src/install.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Implement disabling outfits.
  src/pluginmgr-gui/Cargo.toml.in
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/Cargo.toml.in
  src/pluginmgr/src/install.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

pluginmgr: fixed disabling / enabling and rework internals a bit.
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/src/install.rs
  src/pluginmgr/src/lib.rs
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

pluginmgr: made some stuff async, but the important parts are WIP
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/Cargo.toml.in
  src/pluginmgr/src/install.rs
  src/pluginmgr/src/lib.rs
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Use G for billions like the C-code.
  dat/gui/slim.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Got the plugin manager to behave well with async and tasks.
  Cargo.toml.in
  src/pluginmgr-gui/Cargo.toml.in
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/Cargo.toml.in
  src/pluginmgr/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt
