Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, no_tabs, reindent, glsl_validator, rustfmt, clang-format

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

no_tabs:
  name: no_tabs
  entry: utils/no_tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2021'
  language: system

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

Added support for NPC generators.
  dat/scripts/vnimage.lua
Due: no_tabs, reindent

Scale portrait svg renders.
  dat/scripts/vnimage.lua
Due: no_tabs, reindent

Some more porting to wgsl.
  dat/shaders/solid.wgsl
  dat/shaders/texture_sdf.wgsl
  src/renderer/src/lib.rs
Due: no_tabs, rustfmt

Forgot to move luatk/glsl -> luatk/shaders.
  dat/scripts/luatk/shaders/jumplane.frag
  dat/scripts/luatk/shaders/jumplanegoto.frag
  dat/scripts/luatk/shaders/selectsys.frag
Due: no_tabs, reindent, glsl_validator

Made trinity fight less lopsided.
  dat/missions/empire/collective/ec05.lua
Due: no_tabs, reindent

Some more timing tweaks in trinity mission.
  dat/missions/empire/collective/ec05.lua
Due: no_tabs, reindent

Better caching and set colour when rendering NPC svgs.
  dat/scripts/vnimage.lua
Due: no_tabs, reindent

Cleaned up and reworked ec05. Closes #2957.
  dat/missions/empire/collective/ec05.lua
Due: no_tabs, reindent

Have fmt.list use tostring on all elements of words.
  dat/scripts/format.lua
Due: no_tabs, reindent

Added logs for the Thurion android abroad and data extraction missions.
  dat/missions/thurion/android_abroad.lua
  dat/missions/thurion/data_extraction.lua
  dat/scripts/common/thurion.lua
Due: no_tabs, reindent

Added miscellanous log when you meet the thurion and Alice for the first time.
  dat/events/thurion/intro_wildspace.lua
  dat/scripts/common/thurion.lua
Due: no_tabs, reindent

A bit brute force removing of pilot from target when changing faction.
  dat/ai/core/control/generic.lua
  src/nlua_pilot.c
  src/pilot.c
  src/pilot.h
Due: no_tabs, reindent, clang-format

mem.prefix_raw -> emp.prefix_raw
  dat/scripts/common/empire.lua
Due: no_tabs, reindent

Changing a pilots faction will try to nuke any tasks that contain the pilot changing the faction.
  src/nlua_pilot.c
  src/pilot.c
  src/pilot.h
Due: no_tabs, clang-format

Use pilot_setTarget()
  src/nlua_pilot.c
Due: no_tabs, clang-format

Have to re-init trails on cloning pilot.
  src/pilot.c
Due: no_tabs, clang-format

Duplicate and nuke the pilot when capturing it to avoid invalid references and such.
  dat/events/capture.lua
Due: no_tabs, reindent

Changelog.md
  Changelog.md
Due: no_tabs

No need for explicit camera.set after cinema.off.
  dat/missions/zalek/blackhole/zbh09.lua
  dat/scripts/cinema.lua
Due: no_tabs, reindent

zbh09: Reduced the number of ferals a bit.
  dat/missions/zalek/blackhole/zbh09.lua
Due: no_tabs, reindent

Have to pass the player to bioship.skillpointsfree. Reported by MageKing17 on discord.
  dat/events/shipai.lua
Due: no_tabs, reindent

Use equipopt and significantly beef up the genbu.
  dat/missions/shadow/darkshadow.lua
Due: no_tabs, reindent

Treasure maps clean up after themselves when last one is done on landing.
  dat/missions/neutral/treasure_hunt.lua
Due: no_tabs, reindent

Guard against out of memory bounds in mission_menu_update.
  src/info.c
Due: no_tabs, clang-format

Memory bound checks should be >=.
  src/info.c
Due: no_tabs, clang-format

Update pre-commit to 6.0.0.
  .pre-commit-config.yaml
Due: no_tabs

Update shellcheck pre-commit hook to v0.11.0.1.
  .pre-commit-config.yaml
Due: no_tabs

Use 2024 edition of rust-fmt in the pre-commit hook.
  .pre-commit-config.yaml
  src/faction.rs
  src/log/src/lib.rs
  src/model.rs
  src/mutex/src/lib.rs
  src/naev.rs
  src/ndata/src/lib.rs
  src/ndata/src/physfs.rs
  src/nebula.rs
  src/outfit.rs
  src/physics.rs
  src/renderer/src/buffer.rs
  src/renderer/src/lib.rs
  src/renderer/src/shader.rs
  src/renderer/src/texture.rs
  src/rng.rs
  src/ship.rs
  src/slots.rs
Due: no_tabs, rustfmt

utils/ssys/graphmod_stats.py
  utils/ssys/graphmod_stats.py
Due: no_tabs, reindent

display universe stats during process
  utils/ssys/graphmod_stats.py
  utils/ssys/process_ssysmap.sh
Due: no_tabs, reindent

swap some spir ssys
  utils/ssys/graphmod_postp.py
  utils/ssys/graphmod_stats.py
Due: no_tabs, reindent

comments.c
  utils/comments.c
Due: no_tabs

doxtractor subproject
  .gitignore
  docs/lua/c2luadoc.sh
  docs/meson.build
  meson.build
  subprojects/doxtractor/.clang-format
  subprojects/doxtractor/doxtractor.c
  subprojects/doxtractor/meson.build
Due: no_tabs, reindent

c2luadoc.sh
  docs/lua/c2luadoc.sh
Due: no_tabs, reindent

get_doxtractor.sh
  utils/get_doxtractor.sh
Due: no_tabs, reindent

doxtractor: - remove trailing whitespaces - keep empty comment lines - warn about invalid comment lines
  subprojects/doxtractor/doxtractor.c
Due: no_tabs

utils/check_luadoc_funcs.sh
  utils/check_luadoc_funcs.sh
Due: no_tabs, reindent

clang-format bug workaround
  .pre-commit-config.yaml
  utils/clf.sh
Due: no_tabs, reindent

ssys/.clang-format now a symlink to subprojects/doxtractor/.clang-format
  utils/ssys/.clang-format
Due: no_tabs

doxtractor - details
  subprojects/doxtractor/doxtractor.c
  utils/check_luadoc_funcs.sh
Due: no_tabs, reindent

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  no_tabs: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  glsl_validator: any of: dat/.*\.(frag|vert)$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
