Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

naevpedia:
  name: check for stale naevpedia ships/outfits
  entry: utils/update-naevpedia.sh . --pre-commit
  language: script
  pass_filenames: false

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2021'
  language: system

CHANGELOG
  CHANGELOG
Due: none

Fixed stealth value from pilotL_getHealth.
  src/nlua_pilot.c
Due: clang-format

Carried fighters don't get commodities.
  dat/scripts/equipopt/cargo.lua
Due: none

Improved equipopt fighter bay scripts.
  dat/scripts/equipopt/fighterbays.lua
  dat/scripts/equipopt/fighterbays/pirate_hyena.lua
  dat/scripts/equipopt/optimize.lua
  po/POTFILES.in
Due: none

Added support for cooldown in ship Lua scripts.
  .luacheckrc
  dat/ships/lua/lua_ship_example.lua
  src/pilot.c
  src/pilot_ship.c
  src/pilot_ship.h
  src/ship.c
  src/ship.h
Due: clang-format

Gave pirate hyena fighter unicorp core again.
  dat/scripts/equipopt/fighterbays/pirate_hyena.lua
Due: none

Expose PILOT_SHIELD_DOWN_TIME as a constant.
  dat/constants.lua
  src/constants.c
  src/constants.h
  src/nlua_pilot.c
  src/pilot.c
Due: clang-format

slim gui: always give them at least 1 armour for visuals (even if it is a lie).
  dat/gui/slim.lua
Due: none

Some CHANGELOG.
  CHANGELOG
  dat/events/updater.lua
Due: none

Give pirate hyena fighters gauss gun instead of plasma.
  dat/scripts/equipopt/fighterbays/pirate_hyena.lua
Due: none

Fix bug where outfit stats were not being properly applied to pilots.
  src/pilot_outfit.c
Due: clang-format

Added custom equip for fighters: dalton, fidelity, and perspicacity provided by HyperSoop.
  dat/scripts/equipopt/fighterbays/proteron_dalton.lua
  dat/scripts/equipopt/fighterbays/sirius_fidelity.lua
  dat/scripts/equipopt/fighterbays/thurion_perspicacity.lua
  po/POTFILES.in
Due: none

Added Sirius Shaman fighter equipment by HyperSoop.
  dat/scripts/equipopt/fighterbays/sirius_shaman.lua
  po/POTFILES.in
Due: none

More fighter bay templates by HyperSoop for lancelots + brigand.
  dat/scripts/equipopt/fighterbays/empire_lancelot.lua
  dat/scripts/equipopt/fighterbays/lancelot.lua
  dat/scripts/equipopt/fighterbays/soromid_brigand.lua
  po/POTFILES.in
Due: none

Simplified code and setting pilot shields should restart shield regen.
  src/nlua_pilot.c
Due: clang-format

Added Empire Pacifier Hoplite.
  CHANGELOG
  dat/events/pers/empire.lua
  dat/factions/spawn/empire/default.lua
  dat/naevpedia/ships/meson.build
  dat/scripts/shipvariants.lua
  dat/ships/empire/empire_pacifier_hoplite.xml
  dat/ships/lua/empire_pacifier_hoplite.lua
  dat/spob/sirou_enclave.xml
  dat/tech/all_ship.xml
  po/POTFILES.in
Due: naevpedia

More imperial combat bureaucrats.
  dat/events/pers/empire.lua
Due: none

sysdot.sh + misc
  utils/dot2sys.py
  utils/sys2dot.py
  utils/sysdot.sh
Due: none

dot2sys - postprocessing
  utils/dot2sys.py
  utils/sys2dot.py
Due: none

sys2dot - lots of improvements using v. edges + Anubis BH
  utils/sys2dot.py
Due: none

sys2dot - python3
  utils/sys2dot.py
Due: none

sys2dot
  utils/sys2dot.py
Due: none

sys2dot - one way/hidden jumps + constraint edges + trade lane + improved aspect
  utils/sys2dot.py
Due: none

sys2dot - feed in current system positions
  utils/sys2dot.py
Due: none

Fixed loading order.
  src/naev.rs
Due: rustfmt

Tweak arcturus enclave description to be more fitting to current map now.
  dat/spob/arcturus_enclave.xml
Due: none

Added Empire Admonisher Longbow.
  CHANGELOG
  dat/naevpedia/ships/meson.build
  dat/ships/empire/empire_admonisher_longbow.xml
  dat/ships/lua/empire_admonisher_longbow.lua
  dat/spob/arcturus_enclave.xml
  dat/tech/all_ship.xml
  po/POTFILES.in
Due: naevpedia

Enforce detected >= signature >= stealth.
  src/pilot_ew.c
Due: clang-format

Have Empire Admonisher Longbows spawn.
  dat/factions/spawn/empire/default.lua
  dat/scripts/shipvariants.lua
Due: none

Don't try to fallback to images for collisions with 3d ships.
  src/ship.c
Due: clang-format

Fixed collision generation path.
  utils/polygonize.py
Due: none

Added escape pod.
  dat/ai/escape_pod.lua
  dat/naevpedia/ships/meson.build
  dat/ships/misc/escape_pod.xml
  po/POTFILES.in
Due: naevpedia

Added Outfit ondeath hook.
  .luacheckrc
  dat/outfits/lua_outfit_example.lua
  src/outfit.c
  src/outfit.h
  src/pilot.c
  src/pilot_outfit.c
  src/pilot_outfit.h
Due: clang-format

Fixed ondeath Lua hook for outfits.
  src/pilot_outfit.c
Due: clang-format

Fixed ship Lua update dt not being correct.
  src/pilot_ship.c
Due: clang-format

Escape pods work quite well now.
  dat/ai/escape_pod.lua
  dat/naevpedia/outfits/meson.build
  dat/outfits/intrinsic/escape_pod.lua
  dat/outfits/intrinsic/escape_pod.xml
  dat/ships/lua/escape_pod.lua
  dat/ships/lua/gawain_xy37.lua
  dat/ships/lua/lua_ship_example.lua
  dat/ships/misc/escape_pod.xml
  po/POTFILES.in
Due: naevpedia

Use strmess.tobinary for the eye of the hive.
  dat/events/pers/thurion.lua
Due: none

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  glsl_validator: any of: dat/.*\.(frag|vert)$
  naevpedia: any of: dat/(ships|outfits)/.*.xml$
  clang-format: any of: ^src/ and \.(c|h)$
  rustfmt: any of: ^src/ and \.rs$
