Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: check-illegal-windows-names
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      files: '^dat/'
      types: [lua]
      args: ["--ignore-words", ".codespellignore" ]
      additional_dependencies:
        - tomli
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: naevpedia
      name: check for stale naevpedia ships/outfits
      entry: utils/update-naevpedia.sh . --pre-commit
      language: script
      files: dat/(ships|outfits)/.*.xml$
      pass_filenames: false
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2021"]
      language: system

all_outfits_tech.sh reworked
  utils/all_outfits_tech.sh
Due: none

Hulls don't affect weapon slots.
  dat/slots/hull.xml
  dat/slots/hull_secondary.xml
Due: none

Removed unnecessary header.
  src/nlua_evt.c
Due: clang-format

Start some minor event encapsulation.
  src/event.c
  src/event.h
  src/hook.c
Due: clang-format

Minor clean up.
  src/event.c
  src/nlua.c
  src/npc.c
Due: check_luadoc_func, luafunc_dup, clang-format

Reorganized generated outfits a bit.
  dat/outfits/generated/corsair_engine.py
  dat/outfits/generated/corsair_hull.py
  dat/outfits/generated/corsair_systems.py
  dat/outfits/generated/do_it.sh
  dat/outfits/generated/helper.py
  dat/outfits/generated/meson.build
  dat/outfits/generated/neutralizer.py
  dat/outfits/generated/reaver.py
  dat/outfits/meson.build
  po/POTFILES.in
Due: none

[pre-commit run -a]
  dat/events/neutral/travelling_merchant.lua
  dat/naevpedia/outfits/meson.build
  dat/scripts/equipopt/templates/proteron.lua
  po/POTFILES.in
Due: none

give non-elite NPCs more choice in utilities
  dat/scripts/equipopt/outfits.lua
Due: none

Load Lua debug library in debug mode.
  src/nlua.rs
Due: rustfmt

shortnames for some more outfits
  dat/outfits/special/four_winds_laser_cannon.xml
  dat/outfits/special/four_winds_ragnarok_beam.xml
  dat/outfits/structure/auxiliary_processing_unit_i.xml
  dat/outfits/structure/auxiliary_processing_unit_ii.xml
  dat/outfits/structure/auxiliary_processing_unit_iii.xml
  dat/outfits/structure/auxiliary_processing_unit_iv.xml
  dat/outfits/utility/hullcoating/milspec_impacto-plastic_coating.xml
  dat/outfits/utility/hullcoating/nexus_concealment_coating.xml
  dat/outfits/utility/milspec_jammer.xml
  dat/outfits/utility/milspec_scrambler.xml
  dat/outfits/utility/unicorp_jammer.xml
  dat/outfits/utility/unicorp_light_afterburner.xml
  dat/outfits/utility/unicorp_medium_afterburner.xml
  dat/outfits/utility/unicorp_scrambler.xml
Due: naevpedia

cargo damper outfit
  Changelog.md
  dat/outfits/utility/cargo_damper.xml
  dat/tech/high_tech_upgrades_4.xml
Due: naevpedia

add the armor regen coating as Proteron tech
  Changelog.md
  dat/events/neutral/travelling_merchant.lua
  dat/outfits/utility/hullcoating/reconstructive_nanobot_coating.xml
  dat/scripts/equipopt/templates/proteron.lua
  dat/spob/castrum_akra.xml
  dat/spob/castrum_sigma.xml
  dat/spob/ekta_station.xml
  dat/spob/protera_sigma.xml
  dat/spob/skona.xml
  dat/tech/proteron_elite_outfits.xml
Due: naevpedia

all_outfits_tech.sh + removed all_oufits.xml
  dat/outfits/generated/corsair_engine.py
  dat/outfits/generated/corsair_hull.py
  dat/outfits/generated/corsair_systems.py
  dat/outfits/generated/do_it.sh
  dat/outfits/generated/neutralizer.py
  dat/outfits/generated/reaver.py
  dat/tech/all_outfits.xml
  po/POTFILES.in
  utils/all_outfits_tech.sh
Due: none

all_ships_tech.sh && empty blacklists management
  utils/all_outfits_tech.sh
  utils/all_ships_tech.sh
Due: none

filter out stations from ship list && removed tech/all_ships.xml
  dat/ships/empire/empire_admonisher_longbow.xml
  dat/ships/empire/empire_lancelot_golden_efreeti.xml
  dat/ships/empire/empire_pacifier_hoplite.xml
  dat/ships/misc/fort_raelid.xml
  dat/ships/misc/fort_raglan.xml
  dat/ships/misc/one-wing_goddard.xml
  dat/ships/misc/sindbad.xml
  dat/ships/neutral/goddard_merchant.xml
  dat/ships/neutral/koala_armoured.xml
  dat/ships/neutral/starbridge_sigma.xml
  dat/ships/zalek/zalek_demon_type_iv.xml
  dat/ships/zalek/zalek_sting_typeii.xml
  dat/ships/zalek/zalek_sting_typeiv.xml
  dat/tech/all_ships.xml
  utils/all_ships_tech.sh
Due: naevpedia

tech/meson.build + moved all_*_tech.sh to tech/
  dat/tech/all_outfits.sh
  dat/tech/all_ships.sh
  dat/tech/meson.build
Due: none

meson now manages all_outfits.xml and all_ships.xml
  dat/tech/all_outfits.sh
  dat/tech/all_outfits_dep.sh
  dat/tech/all_ships.sh
  dat/tech/all_ships_dep.sh
  dat/tech/gen_all_outfits_tech.sh
  dat/tech/gen_all_ships_tech.sh
  dat/tech/meson.build
  meson.build
Due: none

oops
  dat/tech/all_outfits_dep.sh
Due: none

trying to mesonify script to manage meson path mess
  dat/tech/all_ships_dep.sh
  dat/tech/meson.build
Due: none

.
  dat/tech/meson.build
Due: none

mesonified all_otufits_dep.sh + fix
  dat/tech/all_outfits_dep.sh
  dat/tech/meson.build
Due: none

more mesonification + removed checks
  dat/tech/gen_all_outfits_tech.sh
  dat/tech/gen_all_ships_tech.sh
  dat/tech/meson.build
Due: none

Streamlined bribing logic a bit.
  dat/comm.lua
Due: none

Ensure NPCs spawn with at least one jump of fuel.
  dat/ai/core/control/generic.lua
Due: none

Ensure escorts have at least one jump of fuel.
  dat/scripts/escort.lua
Due: none

Code outfit_sources into dat/toutfits/meson.build and use it to generate all_outfits.
  dat/outfits/meson.build
  dat/tech/meson.build
Due: none

Always recalculate stats on landing to fix dangling afterburners.
  src/nlua_player.c
  src/player.c
Due: clang-format

Lua outfits consider weapon_damage too now.
  dat/outfits/bioship/skills/reflective_shell.lua
  dat/outfits/flow/abilities/house_of_mirrors.lua
  dat/outfits/lib/bioplasma.lua
  dat/outfits/utility/berserk_chip.lua
  dat/outfits/utility/combat_hologram_projector.lua
  dat/outfits/weapons/razor.lua
  src/escort.c
Due: clang-format

damage and disable shipstats are bad, mmkay?
  src/shipstats.c
Due: clang-format

Remove superpowers from ships with >100% absorption.
  src/asteroid.c
  src/damagetype.h
  src/pilot.c
  src/space.c
Due: clang-format

Razor weapons were missing disable DoT, whoops.
  dat/effects/ionization.xml
  dat/outfits/weapons/razor.lua
Due: none

Fixed razor ionization energy damage not matching description.
  dat/effects/ionization.xml
  dat/outfits/weapons/razor.lua
Due: none

Fixed razor for real (maybe needs nerfing?)
  dat/effects/ionization.xml
Due: none

Handle collision case circle center is inside polygon.
  src/collision.c
Due: clang-format

Lower razor energy drain to 6x.
  dat/effects/ionization.xml
  dat/outfits/weapons/razor.lua
Due: none

Avoid warning on CC with tracy=true.
  src/ntracing.h
Due: clang-format

meson / gen scripts fixes & debug
  dat/tech/all_outfits_dep.sh
  dat/tech/all_ships_dep.sh
  dat/tech/gen_all_outfits_tech.sh
  dat/tech/gen_all_ships_tech.sh
  dat/tech/meson.build
  meson.build
  po/POTFILES.in
Due: none

nerf razor again
  dat/effects/ionization.xml
  dat/outfits/weapons/razor.lua
Due: none

tiny buff to armor regen coating
  dat/outfits/utility/hullcoating/reconstructive_nanobot_coating.xml
Due: naevpedia
