Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: check-illegal-windows-names
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      files: '^dat/'
      types: [lua]
      args: ["--ignore-words", ".codespellignore" ]
      additional_dependencies:
        - tomli
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: naevpedia
      name: check for stale naevpedia ships/outfits
      entry: utils/update-naevpedia.sh . --pre-commit
      language: script
      files: dat/(ships|outfits)/.*.xml$
      pass_filenames: false
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2021"]
      language: system

repos.sh + repos doc.
  utils/ssys/Readme.md
  utils/ssys/repos.sh
Due: none

sys_{pos,edges}.sh -h
  utils/ssys/ssys_edges.sh
  utils/ssys/ssys_pos.sh
Due: none

vimrc (oops)
  extras/vimrc
  utils/ssys/gravity.c
  utils/ssys/reposition.c
Due: none

Fixed mission 'Dvaered Sabotage' - now it won't fail if Gorgon phalanx escapes after being boarded.
  dat/missions/dvaered/frontier_war/fw01_sabotage.lua
Due: none

Updated changelog.
  CHANGELOG
Due: none

Try to add more gltf functionality and fix vao not being set errors.
  src/model.rs
  src/texture.rs
Due: rustfmt

naevpedia.pot
  po/naevpedia.pot
Due: none

opengl.h: Fix macro definitions for debug functions to accept parameters
  src/opengl.h
Due: clang-format

env.rs: Refactor AppImage environment FFI to avoid dangling pointers
  src/env.rs
Due: rustfmt

env.rs: Whoops these should be all caps
  src/env.rs
Due: rustfmt

CHANGELOG -> Changelog.md
  CHANGELOG
  Changelog.md
Due: none

<> escaping in Changelog.md
  Changelog.md
Due: none

s/CHANGELOG/Changelog.md/ in *.yml *.sh
  .github/workflows/naev_prerelease.yml
  .github/workflows/naev_release.yml
  utils/ci/gh/GHDeploy.sh
Due: none

Whitespace.
  Changelog.md
Due: none

Fixed warnings with gcc.
  src/ntracing.h
Due: clang-format

Stop Naev from being unresponsive when loading.
  po/naevpedia.pot
  src/naev.c
Due: clang-format

Warn when falling back to 3.3 context.
  src/context.rs
Due: rustfmt

Rust scales window properly now.
  src/context.rs
Due: rustfmt

Moved opengl scaling all rust-side to avoid issues and duplication.
  src/context.rs
  src/opengl.c
Due: clang-format, rustfmt

Separate ModelShader from Model.
  src/model.rs
Due: rustfmt

Use render::Uniform to simplify code.
  src/model.rs
  src/nebula.rs
Due: rustfmt

Don't duplicate commodities in certain cases.
  src/land_trade.c
Due: clang-format

Warn if audio is not stereo or mono.
  src/nlua_audio.c
Due: clang-format

Start to put shadows back in Rust.
  dat/glsl/shadow_rust.vert
  src/model.rs
Due: glsl_validator, rustfmt

Simplify things with a common structure.
  src/model.rs
Due: rustfmt

Reorganize things a bit around a common structure.
  src/model.rs
Due: rustfmt

Fixed music customization stuff to properly work with priority.
  dat/snd/music.lua
Due: none

Added uniform_buffer to ShaderBuilder.
  src/model.rs
  src/shader.rs
Due: rustfmt

Made all uniform block bindings consistent.
  src/context.rs
  src/model.rs
  src/nebula.rs
Due: rustfmt

Got depth framebuffers working.
  src/model.rs
  src/nebula.rs
  src/texture.rs
Due: rustfmt

reposition - bugfixes
  utils/ssys/reposition.c
Due: none

More common framebuffer stuff.
  src/model.rs
Due: rustfmt

Get rid of unsafe lighting globals.
  src/gltf.c
  src/model.rs
Due: clang-format, rustfmt

Removed some dead code.
  src/model.rs
Due: rustfmt

Added context.ortho4 and context.look_at4
  src/context.rs
Due: rustfmt

Compute and update shadow matrices.
  src/model.rs
Due: rustfmt

Fixed issues around locking common 3D data stuff.
  src/model.rs
Due: rustfmt

Quiet bindgen's unnecessary transmute warnings.
  meson.build
Due: none

Thread the ship gltf loading again in Rust.
  src/ship.c
  src/ship.h
  src/ship.rs
Due: clang-format, rustfmt
