Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: check-illegal-windows-names
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      files: '^dat/'
      types: [lua]
      args: ["--ignore-words", ".codespellignore" ]
      additional_dependencies:
        - tomli
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: naevpedia
      name: check for stale naevpedia ships/outfits
      entry: utils/update-naevpedia.sh . --pre-commit
      language: script
      files: dat/(ships|outfits)/.*.xml$
      pass_filenames: false
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2021"]
      language: system

Removed stray dbg!.
  src/vec2.rs
Due: rustfmt

Removed obsolete C code.
  src/naev.c
Due: clang-format

Added warn_err which should propagate errors properly.
  src/log.rs
  src/naev.rs
Due: rustfmt

Restored warn behaviour to generate backtrace at the current line.
  src/log.rs
Due: rustfmt

Use warn_err when applicable.
  src/damagetype.rs
  src/slots.rs
  src/texture.rs
  src/vec2.rs
  src/version.rs
Due: rustfmt

Further improved error messages.
  src/damagetype.rs
  src/log.rs
  src/naev.rs
  src/slots.rs
  src/texture.rs
  src/vec2.rs
Due: rustfmt

Improve some context errors.
  src/context.rs
Due: rustfmt

Let's be proper and have mlua be send.
  Cargo.toml.in
  src/context.rs
  src/faction.rs
  src/nlua.rs
Due: rustfmt

Support loading Lua libraries from Rust.
  src/faction.rs
  src/nlua.c
  src/nlua.rs
Due: check_luadoc_func, luafunc_dup, clang-format, rustfmt

Use AtomicPtr to make Array Send + Sync.
  src/array.rs
Due: rustfmt

Some faction C API work.
  src/faction.rs
Due: rustfmt

Stubs for loading faction rust code.
  src/naev.rs
Due: rustfmt

Scanned Time is not inverted, lower is worse.
  src/shipstats.c
Due: clang-format

Unified it as Scanned Time.
  src/equipment.c
  src/shipstats.c
Due: clang-format

Some minor clean up and correctness.
  src/economy.c
Due: clang-format

Roundness and minor correctness.
  src/economy.c
Due: clang-format

mc_polish - tfs cleanup
  dat/scripts/tfs.lua
Due: none

mc_polish - xmllua2mvx
  dat/scripts/tfs.lua
  utils/outfits/luaxml2mvx.py
Due: none

Don't re-initialize the AI of persisting pilots and the player when jumping.
  src/pilot.c
Due: clang-format

Can't add tasks to the player (and thus turn off outfits) when not manually controlled.
  src/ai.c
Due: clang-format

Fixed equipment for collective drones.
  dat/scripts/equipopt/optimize.lua
Due: none

Use RwLock for factions + have calling return Result.
  src/faction.rs
Due: rustfmt

Hide the player standing to make it safe.
  Cargo.toml.in
  src/faction.rs
Due: rustfmt

Disable system tour from screenshotting.
  dat/events/dev/system_tour.lua
Due: none

CHANGELOG
  CHANGELOG
Due: none

mc_polish - improved xmllua2mvx
  utils/outfits/luaxml2mvx.py
Due: none

Only display slower rate if speed_base is greater than 0.
  src/equipment.c
Due: clang-format

Pirate Admonisher loses shielding bonus, not armour regen.
  dat/ships/pirate/pirate_admonisher.xml
Due: naevpedia

mc_polish - force me refresh at init
  dat/outfits/lib/multicore.lua
  dat/scripts/tfs.lua
Due: none

restored colored CLI and translated it into ansi esc seq for LOG.
  src/console.c
Due: clang-format

remove ansi esc seq from file log
  src/log.c
Due: clang-format

Start to work on refuel event.
  dat/events/neutral/refuel.lua
  po/POTFILES.in
Due: none

pers_runaway should be non-aggressive.
  dat/ai/pers_runaway.lua
Due: none

Add NPC ships that ask to be refueled sometimes.
  dat/comm.lua
  dat/events/neutral/refuel.lua
  dat/events/pers/misc.lua
  po/POTFILES.in
Due: none

Render stealth overlays for player's escorts too.
  src/pilot.c
  src/player.c
Due: clang-format

Formations get tighter when in stealth.
  dat/scripts/formation.lua
Due: none
