Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

smd:
  name: markdown linter
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  language: script
  require_serial: true

smd-w:
  name: markdown linter (wider)
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  - -w
  - '5'
  language: script
  require_serial: true

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Bounties can be harder and feature multiple enemy ships.
  Changelog.md
  dat/missions/neutral/bounty.lua
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Reworked baron mission to start from the bar.
  Changelog.md
  dat/events/neutral/baron_comm.lua
  dat/missions/baron/baron_baron.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

sys:jumpPath supports filtering for known systems.
  src/nlua_system.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

lucas02: better detection of the player knowing the route.
  dat/missions/pirate/lucas/lucas02.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Tweaked clydesdale and zebra points.
  dat/ships/neutral/clydesdale.xml
  dat/ships/neutral/zebra.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Initial pass to add emerald sword + black diamonds.
  dat/outfits/unique/black_diamond_bay.xml
  dat/ships/unique/black_diamond.xml
  dat/ships/unique/emerald_sword.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Autoequip black diamond fighters.
  dat/scripts/equipopt/fighterbays/black_diamond.lua
  dat/ships/unique/black_diamond.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Allow firing beam weapons when not enough energy to fire for 1 second if duration is lower.
  dat/ships/unique/emerald_sword.xml
  src/pilot_weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Added dragonflame cannon.
  dat/outfits/unique/dragonflame_cannon.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Use black diamond bay and dragonflame cannon assets.
  dat/outfits/unique/black_diamond_bay.xml
  dat/outfits/unique/dragonflame_cannon.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

[cargo clippy]
  src/array.rs
  src/asteroid.rs
  src/commodity.rs
  src/faction.rs
  src/plugin.rs
  src/renderer/src/model.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

more [cargo clippy]
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

spellcheck
  dat/missions/trader/mining_vrata_intro.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Upgrade actions/cache to version 5 across all workflows
  .forgejo/workflows/naev_ci.yml
  .forgejo/workflows/naev_nightly.yml
  .forgejo/workflows/naev_pr.yml
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Update CI cache paths and bump cache keys
  .forgejo/workflows/naev_ci.yml
  .forgejo/workflows/naev_nightly.yml
  .forgejo/workflows/naev_pr.yml
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Add a flag to the appimagebuild script to skip compression
  utils/buildAppImage.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Skip compressing appimages in CI tests
  .forgejo/workflows/naev_ci.yml
  .forgejo/workflows/naev_pr.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Isolate cargo cache keys by workflow type in prerelease and release workflows
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Removed some weird debugging left in.
  src/mission.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Display plugin versions.
  src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Tweak plugin version string a bit.
  src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed some errors with ship Lua scripting init stuff.
  dat/ships/lua/empire_admonisher_longbow.lua
  dat/ships/lua/sirius.lua
  dat/ships/lua/soromid.lua
  dat/ships/lua/zalek_diablo_rat.lua
  dat/ships/lua/zalek_mephisto_type_v.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

more pointy soromid northern ssys
  dat/ssys/fertile_crescent.xml
  dat/ssys/ngc7061.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

gen_plugin.sh bugfix
  utils/gen_plugin.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

a script for simple ssys edit
  dat/ssys/sunir.xml
  dat/ssys/sw1.xml
  dat/ssys/sw10.xml
  dat/ssys/sw11.xml
  dat/ssys/sw12.xml
  dat/ssys/sw13.xml
  dat/ssys/sw14.xml
  dat/ssys/sw2.xml
  dat/ssys/sw3.xml
  dat/ssys/sw4.xml
  dat/ssys/sw5.xml
  dat/ssys/sw6.xml
  dat/ssys/sw7.xml
  dat/ssys/sw8.xml
  dat/ssys/sw9.xml
  dat/utils/ssys/graphmod_fertile.py
  dat/utils/ssys/simple_process.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

bugfix
  dat/utils/ssys/fmt_numbers.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

andres-kelvos-mason edge flip
  dat/ssys/andres.xml
  dat/ssys/kelvos.xml
  dat/ssys/mason.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

added luminance to dict
  utils/naev.aspell.pws
Due: end-of-file-fixer.sh, expand-tabs.sh

fixed expr err consequences
  dat/spob/wormhole_ngc13674.xml
  dat/spob/wormhole_ngc15670.xml
  dat/spob/wormhole_ngc1931.xml
  dat/spob/wormhole_ngc4087.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

ssys centering script now uses sol position
  dat/utils/ssys/graphmod_center.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

oopsie
  dat/utils/ssys/fmt_numbers.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

fine-tune the scale
  dat/utils/ssys/process_ssysmap.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

ssys process tweaks
  dat/utils/ssys/graphmod_prep.py
  dat/utils/ssys/graphmod_sinensis.py
  dat/utils/ssys/process_ssysmap.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

pre-commit
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh

expr bugfix
  dat/utils/ssys/fmt_numbers.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

simple_process now re-centers
  dat/utils/ssys/graphmod_center.py
  dat/utils/ssys/simple_process.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

contracted ngc2836-zurai
  dat/ssys/ngc10180.xml
  dat/ssys/ngc10907.xml
  dat/ssys/sinensis.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
