Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Fixed "Update All" command not appearing.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Show plugin image if applicable.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Bump version to 0.13.0-alpha.11.
  dat/events/updater.lua
  meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Mention plugin manager is here in the Readme.
  Readme.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed extras menu.
  src/menu.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Simplified ascii + alphanumeric check.
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

devmanual: updated plugin metadata explanation
  docs/manual/src/plugins/metadata.md
Due: end-of-file-fixer.sh, expand-tabs.sh

devmanual: reformatting and splitting.
  docs/manual/src/SUMMARY.md
  docs/manual/src/data.md
  docs/manual/src/misn/basics.md
  docs/manual/src/misn/basics/cargo.md
  docs/manual/src/misn/basics/claims.md
  docs/manual/src/misn/basics/format.md
  docs/manual/src/misn/basics/header.md
  docs/manual/src/misn/basics/hooks.md
  docs/manual/src/misn/basics/memory.md
  docs/manual/src/misn/basics/overview.md
  docs/manual/src/misn/basics/shiplog.md
  docs/manual/src/misn/basics/textcolour.md
  docs/manual/src/misn/basics/translation.md
  docs/manual/src/misn/basics/variables.md
  docs/manual/src/misn/basics/vn.md
  docs/manual/src/misn/overview.md
  docs/manual/src/misn/starting.md
  docs/manual/src/plugins/extending_naev.md
  docs/manual/src/plugins/metadata.md
  docs/manual/src/plugins/overview.md
  docs/manual/src/plugins/tips.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed links and removed sections.
  docs/manual/src/misn/starting.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Split advanced mission and event stuff up.
  docs/manual/src/SUMMARY.md
  docs/manual/src/misn/advanced.md
  docs/manual/src/misn/advanced/abort.md
  docs/manual/src/misn/advanced/communication.md
  docs/manual/src/misn/advanced/cutscenes.md
  docs/manual/src/misn/advanced/love.md
  docs/manual/src/misn/advanced/overview.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Reworked ships a bit.
  docs/manual/src/SUMMARY.md
  docs/manual/src/ships/classes.md
  docs/manual/src/ships/data.md
  docs/manual/src/ships/graphics.md
  docs/manual/src/ships/legacy_images/llama/llama.webp
  docs/manual/src/ships/legacy_images/llama/llama_comm.webp
  docs/manual/src/ships/legacy_images/llama/llama_engine.webp
  docs/manual/src/ships/overview.md
  docs/manual/src/ships/tags.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Reworked spobs + ssys.
  docs/manual/src/SUMMARY.md
  docs/manual/src/spobs/classification.md
  docs/manual/src/spobs/data.md
  docs/manual/src/spobs/overview.md
  docs/manual/src/spobs/tags.md
  docs/manual/src/ssys/data.md
  docs/manual/src/ssys/overview.md
  docs/manual/src/univ/overview.md
  docs/manual/src/univ/spobs.md
  docs/manual/src/univ/systems.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Minor tweaks and corrections.
  docs/manual/book.toml
  docs/manual/src/naev/intro.md
  docs/manual/src/naev/rarity.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Use icon for the plugin manager, doesn't work on wayland it seems though...
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

center badges
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Don't error on invalid look up paths and simplified some expressions.
  src/ndata/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

No debug spam with plugin manager (have to figure out how to only show related messages).
  src/naev.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Rely on incoming changes to infrastructure images for configuring pkg-config
  .forgejo/workflows/naev_ci.yml
  .forgejo/workflows/naev_nightly.yml
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Move damage types to toml, but gettext not supported yet.
  Cargo.toml.in
  dat/damagetype/armourbreaker.toml
  dat/damagetype/armourbreaker.xml
  dat/damagetype/emp.toml
  dat/damagetype/emp.xml
  dat/damagetype/energy.toml
  dat/damagetype/energy.xml
  dat/damagetype/energy_noknockback.toml
  dat/damagetype/energy_noknockback.xml
  dat/damagetype/explosion_splash.toml
  dat/damagetype/explosion_splash.xml
  dat/damagetype/ion.toml
  dat/damagetype/ion.xml
  dat/damagetype/kinetic.toml
  dat/damagetype/kinetic.xml
  dat/damagetype/nebula.toml
  dat/damagetype/nebula.xml
  dat/damagetype/plasma.toml
  dat/damagetype/plasma.xml
  po/POTFILES.in
  src/damagetype.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Implement deserializerseed for texture.
  src/renderer/Cargo.toml.in
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

nxml.h needs <time.h>
  src/nxml.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Got slots deriving DeserializeSeed, but not with TextureLoader.
  Cargo.toml.in
  src/damagetype.rs
  src/ndata/src/lib.rs
  src/renderer/Cargo.toml.in
  src/renderer/src/texture.rs
  src/slots.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Test a solution for persisting variables.
  .forgejo/workflows/naev_ci.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Got it all working.
  src/renderer/src/texture.rs
  src/slots.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Set deployment targets so things resolve correctly.
  .forgejo/workflows/naev_ci.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Finished toml slot property support.
  src/slots.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Implement serialize for textures.
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Push script contents for windows and darwin builds to test infrastructure changes
  .forgejo/workflows/naev_ci.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Serialize textures with absolute paths.
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Use toml for slot properties now.
  dat/slots/accessory.toml
  dat/slots/accessory.xml
  dat/slots/bio_engines.toml
  dat/slots/bio_engines.xml
  dat/slots/bio_hull.toml
  dat/slots/bio_hull.xml
  dat/slots/bio_organ.toml
  dat/slots/bio_organ.xml
  dat/slots/bio_systems.toml
  dat/slots/bio_systems.xml
  dat/slots/bio_weapon.toml
  dat/slots/bio_weapon.xml
  dat/slots/builtin.toml
  dat/slots/builtin.xml
  dat/slots/engines.toml
  dat/slots/engines.xml
  dat/slots/engines_secondary.toml
  dat/slots/engines_secondary.xml
  dat/slots/fighter_bay.toml
  dat/slots/fighter_bay.xml
  dat/slots/hull.toml
  dat/slots/hull.xml
  dat/slots/hull_secondary.toml
  dat/slots/hull_secondary.xml
  dat/slots/systems.toml
  dat/slots/systems.xml
  dat/slots/systems_secondary.toml
  dat/slots/systems_secondary.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Fix some issues in "Qex Racing"
  dat/missions/neutral/race_qex.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Rely on the setup-devenv.sh that is shipped with the image
  .forgejo/workflows/naev_ci.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Make sure we test build the manual too
  .forgejo/workflows/naev_ci.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

[cargo clippy]
  po/POTFILES.in
  src/damagetype.rs
  src/renderer/src/texture.rs
  src/slots.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

manual: Include include a link to the repo and enable the edit button
  docs/manual/book.toml
Due: end-of-file-fixer.sh, expand-tabs.sh

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
