Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

naevpedia:
  name: check for stale naevpedia ships/outfits
  entry: utils/update-naevpedia.sh . --pre-commit
  language: script
  pass_filenames: false

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2021'
  language: system

Consider beam weapons as point defense.
  dat/outfits/pointdefense/pointdefense.lua
Due: none

Beam point defense weapons shouldn't crash.
  src/weapon.c
Due: clang-format

Fixed point defense beam weapons crashing.
  src/weapon.c
Due: clang-format

graph2pov.py - faster with less artifacts in std mode
  utils/ssys/graph2pov.py
Due: none

py cleanup in utils/ssys/
  utils/ssys/decorators.py
  utils/ssys/geometry.py
  utils/ssys/graph2dot.py
  utils/ssys/graph_earlygame.py
  utils/ssys/graph_unspoil.sh
  utils/ssys/graph_vaux.py
  utils/ssys/graphmod_smooth_tl.py
  utils/ssys/smoothen.py
Due: none

reposition - more robust cmp func
  utils/ssys/reposition.c
Due: none

tt_png.sh
  utils/tt_png.sh
Due: none

Minor spellcheck.
  dat/events/npc/soromid.lua
Due: none

Added ZIBS-16 and ZIBS-32.
  dat/naevpedia/outfits/meson.build
  dat/outfits/pointdefense/zibs-16.xml
  dat/outfits/pointdefense/zibs-32.xml
  dat/tech/all_outfits.xml
  dat/tech/zalek_outfits_high.xml
  dat/tech/zalek_outfits_medium.xml
  po/POTFILES.in
Due: naevpedia

Have Za'lek use ZIBS for point defense.
  Changelog.md
  dat/scripts/equipopt/templates/zalek.lua
Due: none

Updated utils/ssys/Readme.md.
  utils/ssys/Readme.md
Due: none

Made beams and seekers not over turn when tracking.
  src/weapon.c
Due: clang-format

Fix some missing translation marks in the black cat event.
  dat/events/neutral/black_cat_gift.lua
Due: none

Fix some bugs for the viewport frame in the radar.
  src/conf.c
  src/gui.c
Due: clang-format

PD balancing by HyperSoop.
  dat/outfits/pointdefense/dvaered_flare_battery.xml
  dat/outfits/pointdefense/ratchet_point_defense.xml
  dat/outfits/pointdefense/zibs-16.xml
  dat/outfits/pointdefense/zibs-32.xml
Due: naevpedia

Update pirates.md
  dat/naevpedia/lore/factions/pirates.md
Due: none

Update soromid.md
  dat/naevpedia/lore/factions/soromid.md
Due: none

Update zalek.md
  dat/naevpedia/lore/factions/zalek.md
Due: none

+ xml_outfit.py
  dat/outfits/py/xml_outfit.py
Due: none

adapted helper.py + details
  dat/outfits/py/corsair_engine.py
  dat/outfits/py/corsair_hull.py
  dat/outfits/py/corsair_systems.py
  dat/outfits/py/helper.py
  dat/outfits/py/neutralizer.py
  dat/outfits/py/reaver.py
  dat/outfits/py/xml_outfit.py
Due: none

subsequent simplifications
  dat/outfits/py/corsair_engine.py
  dat/outfits/py/corsair_hull.py
  dat/outfits/py/corsair_systems.py
  dat/outfits/py/helper.py
  dat/outfits/py/neutralizer.py
  dat/outfits/py/reaver.py
Due: none

xml_outfit doc
  dat/outfits/py/xml_outfit.py
Due: none

xml_outfit: post-process xmltodict output defects + empty outfit init
  dat/outfits/py/xml_outfit.py
Due: none

removed some deprecated functionality
  utils/outfits/gen_mvx_from_xml.sh
  utils/outfits/mvx2xmllua.py
  utils/outfits/xmllua2mvx.py
Due: none

xml_outfit - detail
  dat/outfits/py/xml_outfit.py
Due: none

Don't use dummy plating for the Za'lek.
  dat/scripts/equipopt/templates/zalek.lua
Due: none

Fixed unimportant warning.
  utils/build/naevc/config.rs.in
Due: none

[pre-commit run -a]
  dat/naevpedia/lore/factions/pirates.md
  po/POTFILES.in
  po/naevpedia.pot
Due: none

Only use real_vel hack for launchers with acceleration. Perhaps deprecate seekers without acceleration so they make sense?
  src/weapon.c
Due: clang-format

Move 2d graphics loading string voodoo to Rust.
  src/ship.c
  src/ship.h
  src/ship.rs
Due: clang-format, rustfmt

[cargo clippy]
  src/faction.rs
  src/ship.rs
Due: rustfmt

Minor formatting and corrections.
  dat/missions/flf/flf_pre02.lua
Due: none

Parse restricted tag as a flag and don't let non-allies land or take off from restricted spobs.
  dat/ai/core/basic.lua
  src/ai.c
  src/pilot.c
  src/space.c
  src/space.h
Due: clang-format

Threshold engine glow based on ship accel.
  src/pilot.c
Due: clang-format

{pnt} may not be a planet.
  dat/missions/neutral/kidnapped/traffic_00.lua
Due: none

Mention trick for Haven's curse + make it more clear they are singing the Space Pirate Shanty.
  dat/events/npc/pirate.lua
Due: none

Use limericks for the corsair outfit descriptions.
  dat/outfits/py/corsair_engine.py
  dat/outfits/py/corsair_hull.py
  dat/outfits/py/corsair_systems.py
Due: none

Added some more limericks to pirate NPCs.
  dat/events/npc/pirate.lua
Due: none

Some more pirate news.
  dat/events/news/pirate.lua
Due: none

Set entire fleet hostile when attacking from stealth (especially against allies).
  dat/ai/core/control/generic.lua
Due: none

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  glsl_validator: any of: dat/.*\.(frag|vert)$
  naevpedia: any of: dat/(ships|outfits)/.*.xml$
  clang-format: any of: ^src/ and \.(c|h)$
  rustfmt: any of: ^src/ and \.rs$
