Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$

Cinema script clears effects on the player's ships.
  dat/scripts/cinema.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed the bite turning off player's afterburner, not the pilot's.
  dat/outfits/bioship/skills/the_bite.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

taiomi10: Use newSoundData.
  dat/missions/taiomi/taiomi10.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Also add NoDeath flag to cinema in case of DoT or whatever.
  dat/scripts/cinema.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

More guards against NULL dereferences in faction env code.
  Changelog.md
  src/faction.c
  src/nlua.c
Due: end-of-file-fixer.sh, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, clang-format

Error when an escort tries to turn on the player.
  src/ai.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

cinema: Also set nodisable.
  dat/scripts/cinema.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

taiomi10: Make sure player doesn't die at the end
  dat/missions/taiomi/taiomi10.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed LuaSpfxs erroring when sfx is missing.
  dat/scripts/luaspfx/chakra_explosion.lua
  dat/scripts/luaspfx/cleansing_flames.lua
  dat/scripts/luaspfx/emp.lua
  dat/scripts/luaspfx/emp_blast.lua
  dat/scripts/luaspfx/explosion.lua
  dat/scripts/luaspfx/spark.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Don't raise error on dangling audio references.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

taiomi10: Clear tasks in final cutscene.
  dat/missions/taiomi/taiomi10.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Always clear tasks when setting manual control.
  src/nlua_pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Don't clear tasks if pilot is not under manual control and it is being disabled again.
  src/nlua_pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Added TOML linter.
  .pre-commit-config.yaml
Due: end-of-file-fixer.sh, expand-tabs.sh

[pre-commit run -a]
  dat/start.toml
  utils/build/naev.supp
  utils/check_loops.py
  utils/ci/upload_forgejo_release.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Handle case luaspfx is not created due to being locked.
  dat/scripts/luaspfx/sfx.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

More checks to reduce recursive loading.
  src/land.c
  src/land_outfits.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

gui.viewport is no longer supported so no need to regenerate landing window when swapping ship.
  src/gui.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed race victory sound not playing.
  dat/missions/neutral/race_qex.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Made contraband cake mission not be able to appear right away.
  dat/missions/pirate/contraband_cake.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

nelly01: dehighlight derelict after boarding.
  dat/missions/tutorial/nelly01.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

nelly02: Try to make pirates a bit more aggressive.
  dat/missions/tutorial/nelly02.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

It's time for 0.13.0 ヽ(^o^)丿
  Changelog.md
  dat/events/updater.lua
  meson.build
  org.naev.Naev.metainfo.xml
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

release: convert from opus (not ogg) to mp3
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Player escorts shouldn't respond to distress signals.
  Changelog.md
  dat/ai/core/control/generic.lua
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Added weapon and launcher damage as disable ship stats.
  Changelog.md
  src/shipstats.c
  src/shipstats.h
  src/weapon.c
Due: end-of-file-fixer.sh, smd-w, doxspell, expand-tabs.sh, clang-format

Fixed changelog typo.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

document set stuff a bit more.
  dat/outfits/lib/set.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Rename time_speedup as action_speed for more consistency and support but warn if the old time_speedup is used instead.
  dat/missions/shark/sh01_corvette.lua
  dat/scripts/equipopt/optimize.lua
  dat/ships/lua/gawain_xy37.lua
  dat/ships/lua/sirius_fidelity.lua
  src/pilot.c
  src/pilot_outfit.c
  src/shipstats.c
  src/shipstats.h
  src/weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

Added junker set.
  dat/outfits/generated/junker_hull.py
  dat/outfits/generated/meson.build
  dat/outfits/lib/sets/junker.lua
  dat/outfits/unique/junker_ion_shotter.xml
  dat/outfits/unique/junker_pack.xml
  dat/outfits/unique/junker_point_defence.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Convert remaining time_speedup to action_speed.
  dat/difficulty/nightmare_mode.xml
  dat/difficulty/story_mode.xml
  dat/effects/antimatter_taint.xml
  dat/effects/avatar_of_the_sirichana.xml
  dat/effects/corsair.xml
  dat/effects/fractured_reality.xml
  dat/outfits/accessory/handbook_for_dvaered_good_manners.xml
  dat/outfits/bioship/skills/adrenal_gland_iii.xml
  dat/outfits/core_system/large/milspec_orion_8601_core_system.xml
  dat/outfits/core_system/medium/milspec_orion_4801_core_system.xml
  dat/outfits/core_system/small/milspec_orion_2301_core_system.xml
  dat/outfits/utility/berserk_chip.xml
  dat/outfits/utility/combatai/bio-neural_combat_ai.xml
  dat/outfits/utility/conduit/charge_conduit.xml
  dat/outfits/utility/emergency_stasis_inducer.xml
  dat/outfits/utility/neural_accelerator_interface.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Use debris for junker point defence.
  dat/outfits/unique/junker_point_defence.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed junker gear not aiming well.
  dat/outfits/lib/sets/junker.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Tweaked junker hull stats a bit.
  dat/outfits/generated/junker_hull.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Only load collision polygons if collider size is not set.
  src/outfit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format
