Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, no_tabs, reindent, glsl_validator, rustfmt, clang-format

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

no_tabs:
  name: no_tabs
  entry: utils/no_tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2021'
  language: system

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

Clean up heartbeat hook too.
  dat/scripts/escort.lua
Due: no_tabs, reindent

Clear up escort stuff when rendezvous is done.
  dat/missions/taiomi/taiomi09.lua
Due: no_tabs, reindent

Time dilation -> time constant.
  dat/events/tutorial/tut_land.lua
Due: no_tabs, reindent

Skip empty messages.
  src/log/src/lib.rs
Due: no_tabs, rustfmt

Update CI badges for Codeberg
  Readme.md
Due: no_tabs

Gave the Lost their own equip script based on the pirates.
  dat/factions/equip/lost.lua
  dat/scripts/equipopt/templates/lost.lua
  dat/scripts/equipopt/templates/pirate_base.lua
  po/POTFILES.in
Due: no_tabs, reindent

Use volley mode for fighter bays with automatic weapon sets.
  src/pilot_weapon.c
Due: no_tabs, clang-format

doxtractor: wrap FILE* and getline + get_doxtractor.sh bugfix
  subprojects/doxtractor/doxtractor.c
  utils/get_doxtractor.sh
Due: no_tabs, reindent

doxtractor no longer needs getline
  subprojects/doxtractor/doxtractor.c
Due: no_tabs

doxtractor doesn't rely on strchrnul anymore.
  subprojects/doxtractor/doxtractor.c
Due: no_tabs

doxtractor: got rid of a pedantic warning
  subprojects/doxtractor/doxtractor.c
Due: no_tabs

doxtractor: add TODO list
  subprojects/doxtractor/doxtractor.c
Due: no_tabs

Added ActionGame and RolePlaying to metainfo categories.
  org.naev.Naev.metainfo.xml
Due: no_tabs

More manifest correctness. Added more links and corrected some things here and there.
  org.naev.Naev.metainfo.xml
Due: no_tabs

Mess with metainfo branding colour a bit more.
  org.naev.Naev.metainfo.xml
Due: no_tabs

Added AtomicF32.
  src/core/src/utils.rs
Due: no_tabs, rustfmt

Fleshing out more of the audio API.
  src/audio/Cargo.toml.in
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: no_tabs, rustfmt

Added cargo pods and fuel pods as standard outfits and have merchant-like ships use them.
  dat/scripts/equipopt/outfits.lua
  dat/scripts/equipopt/params.lua
Due: no_tabs, reindent

Exposed debug_goodness via dev for more ease of use.
  dat/scripts/dev/console.lua
Due: no_tabs, reindent

Tweak how fuel bonus is considered and normalize it via fuel consumption.
  dat/scripts/equipopt/optimize.lua
Due: no_tabs, reindent

use my_getline in utils/ssys/{potential,reposition}.c
  utils/ssys/apply_pot.sh
  utils/ssys/potential.c
  utils/ssys/repos.sh
  utils/ssys/reposition.c
Due: no_tabs, reindent

getline return value bugfix
  subprojects/doxtractor/getline.c
Due: no_tabs

doxtractor: opt
  subprojects/doxtractor/doxtractor.c
Due: no_tabs

have getline in a separate source
  subprojects/doxtractor/doxtractor.c
  subprojects/doxtractor/getline.c
  subprojects/doxtractor/meson.build
  utils/ssys/getline.c
Due: no_tabs, reindent

New mission with edits. Current 0 chance to ensure it does not get started accidentally. Still has placeholders for image files and unused variables.
  dat/missions/flf/dvl/flf_dvl01.lua
Due: no_tabs, reindent

spacefamily: use the lmisn functions to be better at finding valid spobs.
  dat/missions/neutral/spacefamily.lua
Due: no_tabs, reindent

Fixed pirate backoff not shooting turrets.
  dat/ai/core/idle/pirate.lua
Due: no_tabs, reindent

[cargo clippy]
  src/log/src/lib.rs
Due: no_tabs, rustfmt

Force image-rs version and use rayon package for now until colour issue is resolved.
  Cargo.toml.in
Due: no_tabs

outfits2md now also handles non-outfit, such as ships
  utils/outfits/combine_multi.py
Due: no_tabs, reindent

generalized some func from outfit to naev_xml
  utils/naev_xml.py
  utils/outfits/outfit.py
Due: no_tabs, reindent

added "points" to the LOWER_BETTER list
  utils/outfits/outfit.py
Due: no_tabs, reindent

a bit of renaming
  utils/outfits/arg_to_obj.py
  utils/outfits/engine_stats.py
  utils/outfits/outfits2md.py
Due: no_tabs, reindent

add number of slots as fields for ship objects
  utils/outfits/arg_to_obj.py
Due: no_tabs, reindent

only use size first letter
  utils/outfits/arg_to_obj.py
Due: no_tabs, reindent

oops, forgot to capitalize
  utils/outfits/arg_to_obj.py
Due: no_tabs, reindent

Don't run hooks if player is dying.
  src/hook.c
Due: no_tabs, clang-format

Added missing fmt.f.
  dat/events/shipai.lua
Due: no_tabs, reindent

Don't use && in meson custom_targets.
  meson.build
Due: no_tabs, reindent

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  no_tabs: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  glsl_validator: any of: dat/.*\.(frag|vert)$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
