Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: check-illegal-windows-names
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      files: '^dat/'
      types: [lua]
      args: ["--ignore-words", ".codespellignore" ]
      additional_dependencies:
        - tomli
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: naevpedia
      name: check for stale naevpedia ships/outfits
      entry: utils/update-naevpedia.sh . --pre-commit
      language: script
      files: dat/(ships|outfits)/.*.xml$
      pass_filenames: false
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2021"]
      language: system

Disable polyglossia and define rules for rarity.
  docs/manual/lore/rarity.md
  docs/manual/naev_dev_manual.tex
Due: none

devmanual: hide lore (present in holo-archives) and reorganize stuff a bit.
  docs/manual/lore/intro.md
  docs/manual/naev/intro.md
  docs/manual/naev/rarity.md
  docs/manual/naev_dev_manual.tex
Due: none

Fixed rarity of outfits and use the new conditional API for consistence.
  dat/outfits/fighter_bays/drone_bay.xml
  dat/outfits/fighter_bays/empire_lancelot_bay.xml
  dat/outfits/fighter_bays/pirate_hyena_bay.xml
  dat/outfits/fighter_bays/pirate_hyena_dock.xml
  dat/outfits/fighter_bays/proteron_dalton_bay.xml
  dat/outfits/fighter_bays/proteron_dalton_dock.xml
  dat/outfits/fighter_bays/sirius_fidelity_bay.xml
  dat/outfits/fighter_bays/sirius_shaman_bay.xml
  dat/outfits/fighter_bays/soromid_brigand_bay.xml
  dat/outfits/fighter_bays/thurion_perspicacity_bay.xml
  dat/outfits/fighter_bays/thurion_perspicacity_dock.xml
  dat/outfits/fighter_bays/zalek_bomber_drone_bay.xml
  dat/outfits/fighter_bays/zalek_bomber_drone_mini_bay.xml
  dat/outfits/fighter_bays/zalek_heavy_drone_bay.xml
  dat/outfits/fighter_bays/zalek_heavy_drone_mini_bay.xml
  dat/outfits/fighter_bays/zalek_light_drone_bay.xml
  dat/outfits/fighter_bays/zalek_light_drone_mini_bay.xml
  dat/outfits/launchers/convulsion_launcher.xml
  dat/outfits/launchers/electron_burst_cannon.xml
  dat/outfits/launchers/repeating_banshee_launcher.xml
  dat/outfits/launchers/superfast_collider_launcher.xml
  dat/outfits/launchers/turreted_convulsion_launcher.xml
  dat/outfits/launchers/unicorp_storm_launcher.xml
  dat/outfits/launchers/zalek_hunter_launcher.xml
  dat/outfits/launchers/zalek_reaper_launcher.xml
  dat/outfits/structure/adaptive_camouflage_plating.xml
  dat/outfits/structure/nebular_shielding_prototype.xml
  dat/outfits/utility/combatai/hive_combat_ai.xml
  dat/outfits/utility/hullcoating/nebula_resistant_coating.xml
  dat/outfits/weapons/neutron_disruptor.xml
  dat/outfits/weapons/neutron_disruptor_heavy.xml
Due: naevpedia

Parse python scripts in dat/outfits for translatable strings.
  utils/update-po.sh
Due: none

Try generating variant outfits with python: Added Neutralizer based on Heavy Ion Cannon.
  dat/outfits/meson.build
  dat/outfits/py/helper.py
  dat/outfits/py/neutralizer.py
  meson.build
  po/POTFILES.in
Due: none

Readd polyglossia as I think our CI needs it.
  docs/manual/naev_dev_manual.tex
Due: none

Try to fix the detection of python on other platforms.
  dat/outfits/py/neutralizer.py
Due: none

Removed rarity from heavy ripper cannon.
  dat/outfits/weapons/heavy_ripper_cannon.xml
Due: naevpedia

Update rarity rules.
  docs/manual/naev/rarity.md
Due: none

Start to work on reaver cannon.
  dat/outfits/meson.build
  dat/outfits/py/helper.py
  dat/outfits/py/neutralizer.py
  dat/outfits/py/reaver.py
  po/POTFILES.in
Due: none

Simplified outfits meson script.
  dat/outfits/meson.build
Due: none

Tweaked and nerfed reaver cannon a bit.
  dat/outfits/py/reaver.py
Due: none

Added flak gun.
  dat/naevpedia/outfits/meson.build
  dat/outfits/weapons/flak_gun.xml
  po/POTFILES.in
Due: naevpedia

[pre-commit run -a]
  po/POTFILES.in
  src/pilot_ship.c
  utils/sys/Readme.md
  utils/sys/sys2dot.py
  utils/sys/sys_freeze.py
Due: clang-format

Proccess -> Process
  dat/outfits/structure/auxiliary_processing_unit_i.xml
  dat/outfits/structure/auxiliary_processing_unit_ii.xml
  dat/outfits/structure/auxiliary_processing_unit_iii.xml
  dat/outfits/structure/auxiliary_processing_unit_iv.xml
  dat/tech/all_outfits.xml
  dat/tech/high_tech_upgrades1.xml
  dat/tech/high_tech_upgrades2.xml
  dat/tech/high_tech_upgrades3.xml
Due: naevpedia

xml_rename.sh
  utils/xml_rename.sh
Due: none

util/xml_name.sh & util/suggest_xml_renaming.sh
  utils/suggest_xml_renaming.sh
  utils/xml_name.sh
Due: none

std_xml_head.sh
  utils/std_xml_head.sh
Due: none

rem_xml_head.sh
  utils/rem_xml_head.sh
Due: none

apply_renaming_suggestion.sh
  utils/apply_renaming_suggestion.sh
Due: none

add_xml_head.sh
  utils/add_xml_head.sh
Due: none

Added player.merchantOutfitName.
  src/nlua_player.c
  src/toolkit.c
  src/toolkit.h
Due: clang-format

Selling outfits via Lua scripts should work now.
  src/land_outfits.c
Due: clang-format

Added support for selling outfits for data matrices.
  dat/outfits/lib/matrix_sell.lua
  dat/outfits/py/neutralizer.py
  dat/outfits/py/reaver.py
  dat/outfits/weapons/flak_gun.xml
  po/POTFILES.in
Due: naevpedia

update save_updater.lua
  dat/save_updater.lua
Due: none

xml_name.sh => xml_name.sed
  utils/suggest_xml_renaming.sh
  utils/xml_name.sed
  utils/xml_name.sh
Due: none

test new uniedit_nameFilter
  utils/suggest_xml_renaming.sh
  utils/test_uniedit_nameFilter.c
  utils/xml_name.sed
Due: none

test_uniedit_nameFilter details
  utils/test_uniedit_nameFilter.c
Due: none

implemented new uniedit_nameFilter
  src/dev_uniedit.c
  utils/suggest_xml_renaming.sh
  utils/test_uniedit_nameFilter.c
Due: clang-format

afterthough - maybe clearer this way
  src/dev_uniedit.c
Due: clang-format

added optional dir arg to {rem, add, std}_xml_head.xml
  utils/add_xml_head.sh
  utils/rem_xml_head.sh
  utils/std_xml_head.sh
Due: none

updated roman num+letter subsitution rule
  src/dev_uniedit.c
  utils/xml_name.sed
Due: clang-format

Update codespell pre-commit hook to 2.4.1.
  .pre-commit-config.yaml
Due: none

Minor codespell fixes.
  dat/factions/spawn/trader/default.lua
  dat/missions/dvaered/recruitment/dv_lostagent.lua
  dat/missions/sirius/heretic/heretic2.lua
Due: none

darkshadow: don't have enemies attack player through stealth
  CHANGELOG
  dat/missions/shadow/darkshadow.lua
Due: none

Quiet codespell.
  dat/save_updater.lua
Due: none

[pre-commit run -a]
  dat/naevpedia/outfits/meson.build
  dat/naevpedia/ships/meson.build
  po/POTFILES.in
  src/dev_uniedit.c
  utils/apply_renaming_suggestion.sh
Due: clang-format
