Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

naevpedia:
  name: check for stale naevpedia ships/outfits
  entry: utils/update-naevpedia.sh . --pre-commit
  language: script
  pass_filenames: false

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2021'
  language: system

mvx_dep - bugfix & misc
  dat/outfits/bioship/generate.py
  utils/outfits/core_outfit.py
  utils/outfits/engine_stats.py
  utils/outfits/engines_plot.py
  utils/outfits/outfit.py
  utils/outfits/xmllua2mvx.py
Due: none

mvx_dep - updated sh scripts
  utils/outfits/gen_mvx_from_xml.sh
  utils/outfits/update_xmllua_from_mvx.sh
  utils/outfits/xmllua2mvx.py
Due: none

mvx_dep - further simplified meson.build
  dat/outfits/bioship/meson.build
Due: none

mvx_dep - update expand_tech.sh
  utils/outfits/expand_tech.sh
  utils/outfits/outfit.py
Due: none

mvx_dep - ok, ok.
  dat/outfits/bioship/generate.py
Due: none

.
  utils/outfits/core_outfit.py
  utils/outfits/engine_stats.py
  utils/outfits/outfit.py
Due: none

mvx_dep - scripts misc improvements
  utils/outfits/core_outfit.py
  utils/outfits/gen_mvx_from_xml.sh
  utils/outfits/mvx2xmllua.py
  utils/outfits/outfit.py
  utils/outfits/xmllua2mvx.py
Due: none

mvx_dep - relevant scripts now accept -f
  utils/outfits/engine_stats.py
  utils/outfits/outfits2md.py
  utils/outfits/update_engines.py
  utils/outfits/xmllua2mvx.py
Due: none

mvx_dep - direct calls to xmllua2mvx (much faster)
  utils/outfits/core_outfit.py
  utils/outfits/xmllua2mvx.py
Due: none

mvx_dep - final cleanup
  utils/outfits/core_outfit.py
  utils/outfits/mvx2xmllua.py
Due: none

mvx_dep - simplified engine_stats a bit
  utils/outfits/core_outfit.py
  utils/outfits/engine_stats.py
Due: none

mvx_dep - better ?
  utils/outfits/core_outfit.py
Due: none

mvx_dep - adapt outfits2md.py & fmt
  utils/outfits/engine_stats.py
  utils/outfits/outfits2md.py
Due: none

mvx_dep - improved core_outfit & updated scripts
  utils/outfits/core_outfit.py
  utils/outfits/engines_plot.py
  utils/outfits/update_engines.py
Due: none

mvx_dep - removed outfits2mvx.py
  dat/outfits/bioship/generate.py
  utils/outfits/core_outfit.py
  utils/outfits/engine_stats.py
  utils/outfits/outfits2mvx.py
  utils/outfits/update_engines.py
Due: none

last details from self-review
  utils/outfits/core_outfit.py
  utils/outfits/engine_stats.py
  utils/outfits/expand_tech.sh
  utils/outfits/mvx2xmllua.py
  utils/outfits/outfit.py
  utils/outfits/outfits2md.py
  utils/outfits/update_engines.py
Due: none

mc_details - improve engine_stats output in term mode
  utils/outfits/engine_stats.py
  utils/outfits/outfits2md.py
  utils/outfits/slst.py
Due: none

mc_details - silenced generate.py mvx generation messages
  dat/outfits/bioship/generate.py
  utils/outfits/core_outfit.py
Due: none

mc_details - fuelshell plating
  dat/outfits/unique/fuelshell_plating.xml
  dat/tech/all_outfits.xml
  utils/outfits/xmllua2mvx.py
Due: naevpedia

fix(input): default to Meta+V paste keybind on macOS
  src/input.c
Due: clang-format

mc_details - engine_stat bugfixed, simplified & made clearer
  utils/outfits/engine_stats.py
  utils/outfits/slst.py
Due: none

mc_details - autostack bugfix, generalization, simplifications.
  utils/outfits/outfit.py
Due: none

mc_details - repair some_outfit func + details
  utils/outfits/core_outfit.py
  utils/outfits/engine_stats.py
  utils/outfits/outfits2md.py
  utils/outfits/plot_engines.py
  utils/outfits/xmllua2mvx.py
Due: none

mc_details - update scripts documentation
  utils/outfits/engine_stats.py
  utils/outfits/outfits2md.py
  utils/outfits/slst.py
Due: none

mc_details - made secondary cores considered as cores in equipment
  src/outfit.c
Due: clang-format

mc_details - introduced new hull nanofoam_padding & added sec. params to fuelshell
  dat/outfits/core_hull/medium/nanofoam_padding.xml
  dat/outfits/unique/fuelshell_plating.xml
  dat/tech/all_outfits.xml
Due: naevpedia

mc_details - left notes in core dirs + fixed nanofoam padding gfx
  dat/outfits/core_engine/core_engines.md
  dat/outfits/core_hull/medium/nanofoam_padding.xml
  dat/outfits/core_system/core_system.md
Due: naevpedia

mc_details - fixed secondary-only desc
  dat/outfits/core_hull/medium/nanofoam_padding.xml
  dat/outfits/lib/multicore.lua
Due: naevpedia

Update dat/outfits/core_hull/medium/nanofoam_padding.xml
  dat/outfits/core_hull/medium/nanofoam_padding.xml
Due: naevpedia

mc_details - adapted multicore desc for sec only
  dat/outfits/lib/multicore.lua
Due: none

mc_details - patchwork hulls tweaks + declare new K. Nanofoam Padding
  dat/naevpedia/outfits/meson.build
  dat/outfits/core_hull/medium/krain_nanotubes_foam_padding.xml
  dat/outfits/core_hull/medium/patchwork_medium_plating.xml
  dat/outfits/core_hull/small/patchwork_light_plating.xml
  dat/tech/all_outfits.xml
  po/POTFILES.in
Due: naevpedia

it -> in
  dat/events/neutral/capricorn_pirates_epilogue.lua
Due: none

mc_details - fixed luadoc string of po:slot()
  src/nlua_pilotoutfit.c
Due: clang-format

mc_details - improved mc management for outfits2md/engine_stat
  utils/outfits/combine_multi.py
  utils/outfits/engine_stats.py
  utils/outfits/outfit.py
  utils/outfits/outfits2md.py
Due: none

mc_details - option -t for outfits2md
  utils/outfits/outfits2md.py
  utils/outfits/slst.py
Due: none

mc_details - optimized and simplified combined outfits processing in scripts
  utils/outfits/combine_multi.py
  utils/outfits/engine_stats.py
  utils/outfits/outfit.py
  utils/outfits/outfits2md.py
Due: none

mc_details - hide mc details while var hide_multi is true
  dat/outfits/lib/multicore.lua
Due: none

mc_details - details
  dat/tech/all_outfits.xml
  utils/outfits/combine_multi.py
  utils/outfits/core_outfit.py
  utils/outfits/slst.py
  utils/outfits/xmllua2mvx.py
Due: none

mc_details - add head rule to engine_stats
  utils/outfits/engine_stats.py
  utils/outfits/slst.py
Due: none

mc_details - add top rule to outfits2md
  utils/outfits/outfits2md.py
Due: none

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  glsl_validator: any of: dat/.*\.(frag|vert)$
  naevpedia: any of: dat/(ships|outfits)/.*.xml$
  clang-format: any of: ^src/ and \.(c|h)$
  rustfmt: any of: ^src/ and \.rs$
