Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

smd:
  name: markdown linter
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  language: script
  require_serial: true

smd-w:
  name: markdown linter (wider)
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  - -w
  - '5'
  language: script
  require_serial: true

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Point release workflows to upload_forgejo_release.sh
  .forgejo/workflows/naev_nightly.yml
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Make sure we have a fallback if there are no new commits to list under the build changes.
  utils/ci/generate_release_notes.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Call in ndata::get_pref_path() like sdl3.
  src/ndata/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Store the plugin configuration file in the pref path.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Clean up and simplification to migrate towards a more unified and lessy hacky project local file management.
  po/POTFILES.in
  src/input.c
  src/meson.build
  src/naev.c
  src/naev.h
  src/naev.rs
  src/ndata.h
  src/ndata/Cargo.toml.in
  src/ndata/src/cwrap.rs
  src/ndata/src/lib.rs
  src/nfile.c
  src/nfile.h
  src/options.c
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/src/lib.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Use directories library instead of sdl to get directories.
  src/naev.rs
  src/ndata/src/cwrap.rs
  src/ndata/src/lib.rs
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fallback to sdl if directories fails.
  src/ndata/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Fixed the misc ships not having collision polygons.
  dat/ships/misc/fort_raelid.xml
  dat/ships/misc/fort_raglan.xml
  dat/ships/misc/one-wing_goddard.xml
  dat/ships/misc/sindbad.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Remove webp file extension from bioships definitions.
  dat/outfits/bioship/generate.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Oops committed the wrong thing.
  dat/ships/neutral/admonisher.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Be a bit more aggressive creating directories and avoid segfaults when not available.
  src/ndata/src/cwrap.rs
  src/ndata/src/physfs.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Have polygonize script look for avif.
  utils/polygonize.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed polygonization paths to not include image extension.
  utils/polygonize.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Updated graphics.
  dat/outfits/launchers/pincushion_battery.xml
  dat/outfits/structure/auxiliary_processing_unit_ii.xml
  dat/outfits/structure/auxiliary_processing_unit_iii.xml
  dat/outfits/structure/auxiliary_processing_unit_iv.xml
  dat/outfits/structure/microbond_plating.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Nuked naevlua.c as it'll have to be redone in Rust anyway.
  meson.build
  po/POTFILES.in
  src/meson.build
  src/naevlua.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

Try to create pref dir as necessary Rust-side.
  Cargo.toml.in
  src/naev.rs
  src/ndata/src/cwrap.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Properly load and use the datapath variable again.
  src/ndata/src/cwrap.rs
  src/ndata/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Don't try to migrate for portable builds.
  src/naev.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Update shlinters and run pre-commit run -a.
  Changelog.md
  Readme.md
  utils/ci/generate_release_notes.sh
  utils/ci/upload_forgejo_release.sh
Due: end-of-file-fixer.sh, smd, smd-w, expand-tabs.sh, reindent

Some more String -> PathBuf.
  src/ndata/src/lib.rs
  src/ndata/src/physfs.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Some more consistency and clean up.
  src/ndata/src/lib.rs
  src/renderer/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Removed unnecessary CONF_FILE define.
  src/conf.h
  src/options.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Try to use directories to be closer to the old behaviour.
  src/ndata/src/cwrap.rs
  src/ndata/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Go back to using SDL3 for the preference path.
  src/ndata/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Use @oot13's fix for now to keep fuel from rounding to weird values in certain cases.
  src/pilot_outfit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Round fuel on entering system instead of calcstats for less potential side-effects.
  src/pilot_outfit.c
  src/space.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

doxtractor now accepts indented docstrings
  subprojects/doxtractor/doxtractor.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh

doxtractor also accepts /*@ comments
  subprojects/doxtractor/doxtractor.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh

/* -> /*@ (manually checked) in rs files where relevant
  src/ndata/src/lua.rs
  src/physics/src/vec2.rs
  src/renderer/src/colour.rs
  src/renderer/src/lib.rs
  src/renderer/src/texture.rs
  src/rng.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

doxtractor.sh -- a future replacement for the doxtractor module
  utils/doxtractor.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

c2luadoc -> src2luadoc
  docs/lua/src2luadoc.sh
  docs/meson.build
  utils/check_luadoc_funcs.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

doxspell-rs
  .pre-commit-config.yaml
  utils/doxspell.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

[meson compile clippy]
  src/naev.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Can simplify pre-commit with types_or.
  .pre-commit-config.yaml
Due: end-of-file-fixer.sh, expand-tabs.sh

Increased the distance threshold for escorts to automatically jump.
  Changelog.md
  dat/scripts/escort.lua
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Don't have escorts spam messages when landing or jumping.
  dat/scripts/escort.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
