Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Implement most of AudioStream.
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Rewrite replaygain so it is more streamlined.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Load threaded audio buffers at the start.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Simplified code a bit with StreamData.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

[cargo clippy]
  src/spfx.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Bump SDL to 0.16.
  Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Add LuaStream and allow them to loop.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Clean up some dead code in audio workspace.
  src/audio/src/buffer_length_query.rs
  src/audio/src/debug.rs
  src/audio/src/efx.rs
  src/audio/src/events.rs
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Some comments.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Add granularity control for streaming buffers.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Minor tweaks.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed some doxygen complaints.
  src/array.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Use autonav_approach instead of autonav_approach_vel to disable afterburner as necessary on approach.
  dat/autonav.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed autonav route clipping out.
  dat/scripts/luatk/map.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Add note on core systems sets.
  dat/outfits/core_system/core_system.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Patagium mentions twin-ness.
  dat/outfits/core_engine/medium/krain_patagium_twin_engine.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Tricon mentions secondary role.
  dat/outfits/core_engine/large/tricon_typhoon_engine.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Gave some lore to the nexus bolt, and made it default on the hawking.
  dat/outfits/core_engine/large/nexus_bolt_3000_engine.xml
  dat/ships/neutral/hawking.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Fleshed out melendez ox description.
  dat/outfits/core_engine/small/melendez_ox_engine.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Minimum changes needed to remaining core systems.
  dat/outfits/core_system/large/milspec_orion_8601_core_system.xml
  dat/outfits/core_system/large/unicorp_pt440_core_system.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Distinguish a bit more.
  dat/outfits/core_system/large/milspec_prometheus_8503_core_system.xml
  dat/outfits/core_system/medium/milspec_prometheus_4703_core_system.xml
  dat/outfits/core_system/small/milspec_prometheus_2203_core_system.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Distinguish the orion series descriptions a bit.
  dat/outfits/core_system/large/milspec_orion_8601_core_system.xml
  dat/outfits/core_system/medium/milspec_orion_4801_core_system.xml
  dat/outfits/core_system/small/milspec_orion_2301_core_system.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Differentiate thalos descriptions.
  dat/outfits/core_system/large/milspec_thalos_8502_core_system.xml
  dat/outfits/core_system/medium/milspec_thalos_4702_core_system.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Rework aegis descirptions a bit.
  dat/outfits/core_system/large/milspec_aegis_8501_core_system.xml
  dat/outfits/core_system/medium/milspec_aegis_4701_core_system.xml
  dat/outfits/core_system/small/milspec_aegis_2201_core_system.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Add some missing core tags.
  dat/outfits/unique/fuelshell_plating.xml
  dat/outfits/unique/homebrew_processing_unit.xml
  dat/outfits/unique/prototype_systems_t-iva_quickshell.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Use property (tag=="core") to mark outfits as cores.
  src/outfit.c
  src/outfit.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Have love.graphics.setColour accept Naev colours.
  dat/scripts/love/graphics.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

cores proofreading
  dat/outfits/core_engine/large/nexus_bolt_3000_engine.xml
  dat/outfits/core_engine/large/tricon_typhoon_engine.xml
  dat/outfits/core_engine/medium/krain_patagium_twin_engine.xml
  dat/outfits/core_engine/small/melendez_ox_engine.xml
  dat/outfits/core_system/large/milspec_aegis_8501_core_system.xml
  dat/outfits/core_system/large/milspec_orion_8601_core_system.xml
  dat/outfits/core_system/large/milspec_prometheus_8503_core_system.xml
  dat/outfits/core_system/large/milspec_thalos_8502_core_system.xml
  dat/outfits/core_system/medium/milspec_aegis_4701_core_system.xml
  dat/outfits/core_system/medium/unicorp_pt200_core_system.xml
  dat/outfits/core_system/small/milspec_aegis_2201_core_system.xml
  dat/outfits/core_system/small/milspec_orion_2301_core_system.xml
  dat/outfits/core_system/small/milspec_prometheus_2203_core_system.xml
  dat/outfits/core_system/small/unicorp_pt16_core_system.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Allow running chained trigger hooks instantly.
  dat/scripts/trigger.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Node that proximity is superseded by trigger library.
  dat/scripts/proximity.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Some more progress on onion08.
  dat/missions/onion/onion07.lua
  dat/missions/onion/onion08.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

make cargo damper more interesting
  dat/outfits/utility/cargo_damper.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Don't remove core outfits with "alL", filtering using new property.
  src/nlua_pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
