Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

smd:
  name: markdown linter
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  language: script
  require_serial: true

smd-w:
  name: markdown linter (wider)
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  - -w
  - '5'
  language: script
  require_serial: true

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Fixed writing.
  dat/events/thurion/intro_wildspace.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Add description for spob P9234 (collective space)
  dat/spob/p9234.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Add description for spob P0125 (collective space)
  dat/spob/p0125.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Add description for spob P9122 (Collective space)
  dat/spob/p9122.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

apostrophes
  dat/spob/fortitude_i.xml
  dat/spob/fortitude_ii.xml
  dat/spob/p2022.xml
  dat/spob/p9122.xml
  dat/spob/p9234.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Add description for spob Aldous’ moon
  dat/spob/aldous_moon.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Add description for spob Fortitude I
  dat/spob/fortitude_i.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

fix typo in Merisi I description
  dat/spob/merisi_i.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Update dat/spob/aldous_moon.xml
  dat/spob/aldous_moon.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Add description for spob Fortitude II
  dat/spob/fortitude_ii.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Add description for Merisi II
  dat/spob/merisi_ii.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Add description for spob P2020 (Collective space)
  dat/spob/p2020.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Add description for spob Merisi III
  dat/spob/merisi_iii.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Add description for spob P2022 (Collective space)
  dat/spob/p2022.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

change fortitude II
  dat/spob/fortitude_ii.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

made spobs landable and gave appropriate exteriors
  dat/spob/aldous_moon.xml
  dat/spob/fortitude_i.xml
  dat/spob/merisi_ii.xml
  dat/spob/merisi_iii.xml
  dat/spob/p0125.xml
  dat/spob/p2020.xml
  dat/spob/p2022.xml
  dat/spob/p9122.xml
  dat/spob/p9234.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Revert "fix typo in Merisi I description"
  dat/spob/merisi_i.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

properly delete obsolete sections
  dat/spob/p0125.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

reword p9234
  dat/spob/p9234.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Cleaned up pending TODO.
  src/asteroid.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Give captures lower priority so they are presented after mission completion.
  dat/events/capture.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added Colour::blend.
  src/renderer/src/colour.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Start to work on asteroid rendering.
  src/asteroid.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Start to put together a draw sprite function.
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Enable fallback for libunibreak newer than and including 8.0.
  Changelog.md
  meson.build
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Implemented gl_renderSprite rust-side.
  src/opengl_render.c
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Add comment on why libunibreak is limited to <0.8.0
  meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

naevc: Link the numeric libraries statically for Steam
  Cargo.toml
  naevc/Cargo.toml
  naevc/build/deps.rs
Due: end-of-file-fixer.sh, expand-tabs.sh

build: Build the AppImage against the Steam runtime
  utils/buildAppImage.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

xtask: Derive the data path from the install prefix
  utils/buildAppImage.sh
  xtask/src/install.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

More asteroid rendering progress.
  src/asteroid.c
  src/asteroid.rs
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Gave stealth burster an accel_mod bonus.
  dat/outfits/utility/stealth_burster.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Minor changelog fix.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Add the Carrier Skill Tree (currently a draft PR).
  dat/outfits/bioship/skills/carrier_pheromones _i.xml
  dat/outfits/bioship/skills/carrier_pheromones _ii.xml
  dat/outfits/bioship/skills/gestational_hypermetabolism.xml
  dat/outfits/bioship/skills/naviumnal_brigand_bay.xml
  dat/outfits/bioship/skills/naviumnal_reaver_bay.xml
  dat/scripts/bioship.lua
  dat/scripts/bioship/intrinsics.lua
  dat/scripts/bioship/skills.lua
  dat/ships/soromid/bulwark_brigand.xml
  dat/ships/soromid/soromid_arx.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Add missing equipopts
  dat/scripts/equipopt/fighterbays/bulwark_brigand.lua
  dat/scripts/equipopt/fighterbays/soromid_reaver.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

macos: Bundle dylibs from the architecture being built
  extras/macos/bundle.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Change carrier path to a tag (rather than shipsize)
  dat/scripts/bioship.lua
  dat/ships/soromid/soromid_arx.xml
  dat/ships/soromid/soromid_copia.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Change Bulwarks into a variant and add some needed nerfs
  dat/outfits/bioship/skills/carrier_pheromones _i.xml
  dat/outfits/bioship/skills/carrier_pheromones _ii.xml
  dat/outfits/bioship/skills/gestational_hypermetabolism.xml
  dat/outfits/bioship/skills/naviumnal_brigand_bay.xml
  dat/scripts/bioship/intrinsics.lua
  dat/scripts/bioship/skills.lua
  dat/scripts/equipopt/fighterbays/soromid_brigand.lua
  dat/ships/soromid/bulwark_brigand.xml
  dat/ships/soromid/soromid_arx.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

meson: Give the naev_rlib library a source file
  meson.build
  utils/build/naev_rlib_placeholder.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent

Fixed potential panics with negative usize.
  dat/missions/flf/dvk/flf_dvk04.lua
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
