Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$

Show if updates are needed.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Don't allow double installing or refreshing.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

More consistent sorting of plugins in the manager.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Apply whitelist and blacklist when loading plugins.
  src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Use mount points when possible.
  src/pluginmgr/src/install.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed plugin names appearing repeated.
  src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed crash with invalid asteroid materials.
  src/asteroid.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed plugin blacklist stuff...
  src/physfs_archiver_blacklist.h
  src/plugin.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

[cargo clippy]
  src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Simplify and cut down unneeded dependencies.
  Cargo.toml.in
  src/pluginmgr-gui/Cargo.toml.in
  src/pluginmgr/Cargo.toml.in
  src/renderer/Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

A bit more minor dependency temporary disabling.
  src/pluginmgr/Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Shared more init stuff so pluginmgr can use ndata + gettext.
  src/naev.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

pluginmgr: use physfs for plugins dir (consistent with Naev itself)
  src/pluginmgr/Cargo.toml.in
  src/pluginmgr/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Removed pluginmgr-gui binary and target to minimize bitrot.
  meson.build
  po/POTFILES.in
  src/pluginmgr-gui/Cargo.toml.in
  src/pluginmgr-gui/src/main.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

pluginmgr: split cache from write dir and use fs_err.
  src/pluginmgr/src/lib.rs
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

pluginmgr: start to work on caching the catalog.
  src/pluginmgr-gui/Cargo.toml.in
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

pluginmgr-gui: use a local cache to handle things.
  Cargo.toml.in
  src/ndata/Cargo.toml.in
  src/pluginmgr-gui/Cargo.toml.in
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

pluginmgr: fixed cache usage
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

[cargo clippy]
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Started to move manual to mdbook.
  docs/manual/book.toml
  docs/manual/sec/ai.md
  docs/manual/sec/intro.md
  docs/manual/sec/misn-example.tex
  docs/manual/sec/plugins.md
  docs/manual/src/SUMMARY.md
  docs/manual/src/ai/overview.md
  docs/manual/src/data.md
  docs/manual/src/intro.md
  docs/manual/src/misn/advanced.md
  docs/manual/src/misn/basics.md
  docs/manual/src/misn/example.md
  docs/manual/src/misn/overview.md
  docs/manual/src/misn/tips.md
  docs/manual/src/naev/intro.md
  docs/manual/src/naev/rarity.md
  docs/manual/src/outfits/overview.md
  docs/manual/src/plugins/extending_naev.md
  docs/manual/src/plugins/metadata.md
  docs/manual/src/plugins/overview.md
  docs/manual/src/plugins/tips.md
  docs/manual/src/preface.md
  docs/manual/src/ships/overview.md
  docs/manual/src/univ/overview.md
  docs/manual/src/univ/spobs.md
  docs/manual/src/univ/systems.md
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Nuked most of the obsolete dev manual and hooked up the manual to meson.
  .gitignore
  docs/manual/Readme.md
  docs/manual/intro.md
  docs/manual/meson.build
  docs/manual/naev.cls
  docs/manual/naev_dev_manual.tex
  docs/manual/src/plugins/overview.md
  docs/meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Drop down actions and such.
  Cargo.toml.in
  src/pluginmgr-gui/Cargo.toml.in
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/src/install.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Some layout corrections.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Some more clean up and progress.
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Load image form PluginWrap.
  Cargo.toml.in
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

pluginmgr-gui: reworked API to base around Arc+Mutex instead of clone.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Some more clean up and fixing.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

pluginmgr-gui: use identifier for selected.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Move image loading to refresh_local.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

refresh task performs refresh_local too.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Support downloading images.
  src/pluginmgr-gui/Cargo.toml.in
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Minor simplifications.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Recover selection when view changes.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Only need to update selection now when updating view.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Added option to nuke the cache.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Changed editor menu to be extras, and tucked in credits inside.
  src/menu.c
  src/options.c
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Correct extras internal name.
  src/menu.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Hook up plugin manager to the main menu.
  src/menu.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed remote plugins getting dropped.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt
