Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

smd:
  name: markdown linter
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  language: script
  require_serial: true

smd-w:
  name: markdown linter (wider)
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  - -w
  - '5'
  language: script
  require_serial: true

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Removed rnd.uniform from test as it no longer exists.
  src/rng_test.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

[pre-commit run -a]
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed commodity.description overwriting commodity.name.
  src/commodity.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Added Rust stubs for pilot/player, and start to implement gatherable in Rust.
  dat/ai/core/basic.lua
  po/POTFILES.in
  src/gatherable.c
  src/gatherable.h
  src/gatherable.rs
  src/hook.rs
  src/meson.build
  src/naev.rs
  src/nlua_system.c
  src/pilot.rs
  src/player.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

further miscellaneous tweaks
  dat/events/neutral/travelling_merchant.lua
  dat/missions/neutral/sightseeing.lua
  dat/outfits/accessory/broken_nebular_shielding_prototype.xml
  dat/outfits/accessory/cyborg_feather.xml
  dat/outfits/accessory/fuzzy_dice.xml
  dat/outfits/accessory/love_letter.xml
  dat/outfits/accessory/pilot_doll.xml
  dat/outfits/accessory/satellite_mockup.xml
  dat/outfits/accessory/swamp_bombing.xml
  dat/outfits/accessory/toy_drone.xml
  dat/outfits/accessory/trading_card_rare.xml
  dat/outfits/accessory/trading_card_uncommon.xml
  dat/outfits/accessory/ugly_statue.xml
  dat/outfits/accessory/vacuum_cleaner.xml
  dat/outfits/unique/dragon_scale_plating.xml
  dat/outfits/unique/dragon_scales.xml
  dat/outfits/unique/junker_ion_shotter.xml
  dat/outfits/utility/hullcoating/reconstructive_nanobot_coating.xml
  dat/scripts/common/bounty.lua
  dat/scripts/common/rehab.lua
  dat/ships/collective/drone_carrier.xml
  dat/ships/pirate/pirate_zebra.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

matrices!
  dat/outfits/accessory/vacuum_cleaner.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Put equipment after main tab.
  src/land.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed gatherables in Rust.
  src/commodity.rs
  src/gatherable.h
  src/gatherable.rs
  src/meson.build
  src/pilot.rs
  src/ship.rs
  src/system.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Typo correction in hyperlink
  docs/manual/src/misn/starting.md
Due: end-of-file-fixer.sh, expand-tabs.sh

FIxed global variable usage.
  dat/scripts/common/rehab.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Cleaned up some C stuff.
  po/POTFILES.in
  src/gatherable.c
  src/meson.build
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

Fixed extra newline.
  src/gatherable.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Silence some cargo clippy.
  src/renderer/src/luashader.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Added sp_name.
  src/slots.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Changed it so the internal slot name is used.
  src/nlua_outfit.c
  src/nlua_ship.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Added missing prototype.
  src/slots.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed crimson gauntlet bug where defeating the leader would end the round.
  dat/missions/dvaered/gauntlet/gauntlet.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added CowArc helper to try to simplify some code.
  po/POTFILES.in
  src/commodity.rs
  src/helpers/src/cowarc.rs
  src/helpers/src/lib.rs
  src/meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Renamed cowarc -> mlarc as it's clearer. Implemented AsRef and AsMut for it.
  po/POTFILES.in
  src/helpers/src/lib.rs
  src/helpers/src/mlarc.rs
  src/meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

various stuff again (again)
  dat/missions/neutral/seek_n_destroy.lua
  dat/missions/pirate/contraband.lua
  dat/outfits/launchers/emp_grenade_launcher.xml
  dat/outfits/structure/active_plating.xml
  dat/spob/totoran.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed gatherable messages being spammed for pilots other than the player.
  src/gatherable.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Don't save 0-length map notes.
  src/map.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

spellcheck
  dat/missions/pirate/contraband.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

let misi sell some random non-exclusive items
  dat/events/neutral/travelling_merchant.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Repetitive "primary city"
  dat/spob/burnan.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Typo / readability
  dat/naevpedia/readme.markdown
Due: end-of-file-fixer.sh, expand-tabs.sh

missions/onion/onion08: Typos
  dat/missions/onion/onion08.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

missions/onion/onion03: Typos
  dat/missions/onion/onion03.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Typo s/an antiquated fabrication methods/antiquated fabrication methods/
  dat/naevpedia/lore/fabricators.md
Due: end-of-file-fixer.sh, expand-tabs.sh

missions/onion/onion04: Typos
  dat/missions/onion/onion04.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

dat/spob/amletia: Typos / sentence smoothing
  dat/spob/amletia.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Typo s/and I get spruce/and I can spruce/
  dat/events/neutral/travelling_merchant.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

missions/dvaered/recruitment/dv_bikers: Spelling/typos/grammar/flow
  dat/missions/dvaered/recruitment/dv_bikers.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Typos / readability
  dat/missions/wildspace/intro.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Unseemly repetition s/seemingly seems/seems/ and word choice
  dat/events/wildspace/intro.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

missions/minerva/kex2: Readability
  dat/missions/minerva/kex2.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Typo / readability
  dat/spob/tepdania_prime.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

missions/onion/onion03: s/You/You're/ up for the task
  dat/missions/onion/onion03.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
