Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

smd:
  name: markdown linter
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  language: script
  require_serial: true

smd-w:
  name: markdown linter (wider)
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  - -w
  - '5'
  language: script
  require_serial: true

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

add missing jumps, exitonly and stellarwind
  dat/ssys/c59.xml
  dat/ssys/chloe.xml
  dat/ssys/delta_polaris.xml
  dat/ssys/flok.xml
  dat/ssys/logania.xml
  dat/ssys/mason.xml
  dat/ssys/monogram.xml
  dat/ssys/ngc4746.xml
  dat/ssys/octavian.xml
  dat/ssys/olympus.xml
  dat/ssys/palejos.xml
  dat/ssys/sollav.xml
  dat/ssys/suna.xml
  dat/ssys/vanir.xml
  dat/ssys/yarn.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

script for number formatting in {ssys,spob}/*.xml
  dat/utils/ssys/fmt_numbers.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

FIxed warnings when selecting ships with special Lua.
  src/equipment.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed regenerating dynamic factions with the same name.
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Start to make bounty scripts a bit more flexble.
  dat/scripts/common/bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added new soromid portrait generator.
  dat/scripts/vnimage.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Minor correction.
  src/font.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed a trader pers.
  dat/events/pers/trader.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Update ship too on load.
  src/player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Minor simplifications.
  src/nlua_pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Minor formatting.
  src/nlua_pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Mining Vrata intro mission is more common on space trader spobs.
  dat/missions/trader/mining_vrata_intro.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added simple astra vigilis intro mission to replace mercenary licence buying.
  dat/missions/trader/astra_vigilis_intro.lua
  dat/outfits/misc/mercenary_licence.xml
  dat/scripts/common/bounty.lua
  dat/scripts/common/trader.lua
  dat/scripts/misn_test.lua
  dat/tech/heavy_weapons_1.xml
  dat/tech/heavy_weapons_2.xml
  dat/tech/low_tech_upgrades.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Apparently we require windows 10+ now.
  Readme.md
Due: end-of-file-fixer.sh, smd, expand-tabs.sh

Made bounties a bit easier to detect.
  dat/scripts/common/bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Track astra vigilis points.
  dat/missions/neutral/bounty.lua
  dat/scripts/common/bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Renamed astra vigilis intro mission to join.
  dat/missions/trader/astra_vigilis_join.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Changelog.
  Changelog.md
  po/POTFILES.in
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Handle bounty difficulties.
  dat/missions/neutral/bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added astra vigilis terminal for controlling your bounty mission difficulty.
  dat/events/trader/astra_vigilis_terminal.lua
  dat/missions/trader/astra_vigilis_join.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Start with easy bounties for new games.
  dat/missions/trader/astra_vigilis_join.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed potential crash.
  src/equipment.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Support for setting the default radar resolution as a constant.
  dat/constants.lua
  src/constants.c
  src/constants.h
  src/core/src/constants.rs
  src/player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Fixed crash with spob equipment services not being updated properly.
  src/equipment.c
  src/space.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Added temporary field to unidiff.
  src/unidiff.c
  src/unidiff.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

kubuntu didn't like 1.7.0.
  meson.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Display Lua error displays from ai scripts.
  src/ai.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Use pointer references for unidiff data instead of directly array elements.
  src/unidiff.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Only warn about incompatible major/minor SDL versions.
  src/naev.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Quiet warning for now.
  src/damagetype.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Made it possible to add dynamic unidiffs.
  src/nlua_diff.c
  src/unidiff.c
  src/unidiff.h
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

Handle price modifiers for outfits from tech groups in th eeconomy computation.
  src/economy.c
  src/tech.c
  src/tech.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Update docs/manual/src/spobs/data.md
  docs/manual/src/spobs/data.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Added system.exists().
  src/nlua_system.c
  src/space.c
  src/space.h
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

Don't error if system not found in default bkg script.
  dat/bkg/default.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Use exists for Sol too.
  dat/bkg/default.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

zbh09: make sure ferals are not hostile at the end.
  dat/missions/zalek/blackhole/zbh09.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Lowered distance at which it tries to automatically board.
  src/player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
