Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

smd:
  name: markdown linter
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  language: script
  require_serial: true

smd-w:
  name: markdown linter (wider)
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  - -w
  - '5'
  language: script
  require_serial: true

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Bump resvg to 0.48
  src/renderer/Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed long standing bug that allowed time travel.
  src/load.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

More grammar fixes.
  dat/events/neutral/arandon_station.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

maikki1: decrease detection of scavengers.
  dat/missions/minerva/maikki1.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added missing rarity to some outfits.
  dat/outfits/structure/biometal_armour.xml
  dat/outfits/structure/nanofiber_structural_enhancement.xml
  dat/outfits/utility/combat_hologram_projector.xml
  dat/outfits/utility/emergency_stasis_inducer.xml
  dat/outfits/utility/hellburner.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Correct documentation of pilot.setNoBoard.
  src/nlua_pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

maikki1: don't allow boarding the wreck until the scavenger cutscene is over.
  dat/missions/minerva/maikki1.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

minerva/pirate3: harper is a male
  dat/missions/minerva/pirate3.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

grammar
  dat/missions/minerva/maikki2.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Don't warn about missing sound.
  src/outfit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

More ignore sound warning.
  src/outfit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed handling of audio files that use FRONT_CENTER instead of FRONT_LEFT.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Added support for scaling the faction disk bubbles.
  src/constants.c
  src/constants.h
  src/core/src/constants.rs
  src/map.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Simplified some of the audio code.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Added a wee bit of documentation.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed some beam aiming behaviour.
  src/weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Translated using Weblate (German)
  po/de.po
Due: end-of-file-fixer.sh, expand-tabs.sh

Update the yetmer bounty to the new bounty script API.
  dat/missions/yetmer/bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

yetmer/bounty: minor fixes
  dat/missions/yetmer/bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

onio07: some guards against scanning ships
  dat/missions/onion/onion07.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Missing word.
  dat/events/pers/soromid.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

grammar
  dat/spob/belltower_nest.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Missing 'a'.
  dat/scripts/common/npc.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

kex3: fix pink demon's energy issues
  dat/missions/minerva/kex3.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

[cargo clippy]
  src/commodity.rs
  src/ndata/src/lib.rs
  src/ndata/src/luafile.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Try to fix disable frame-by-frame toggling bug.
  src/pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Have luatk propagate event information. Should fix opening map when trying to type m with a text input using luatk.
  dat/scripts/luatk/main.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Proofreading/bugfix pass on the Collective missions.
  dat/missions/empire/collective/ec00.lua
  dat/missions/empire/collective/ec01.lua
  dat/missions/empire/collective/ec02.lua
  dat/missions/empire/collective/ec03.lua
  dat/missions/empire/collective/ec04.lua
  dat/missions/empire/collective/ec05.lua
  dat/missions/empire/collective/ec06.lua
  dat/scripts/common/empire.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Typo.
  dat/missions/neutral/antivirus.lua
  src/space.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

grammar
  dat/events/derelict/junker_plates.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed junker conditional.
  dat/events/pers/indep.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Bump oxipng pre-commit hook.
  .pre-commit-config.yaml
Due: end-of-file-fixer.sh, expand-tabs.sh

More robust checcking for systems that are hidden.
  src/map.c
  src/space.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Hide jumps to/from hidden systems in system:jumps().
  src/nlua_system.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed hidden systems not show on map routes.
  src/map.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

naevc: Generate bindings from a real cargo crate
  .gitignore
  meson.build
  naevc/Cargo.toml
  naevc/build.rs
  naevc/build/headers.rs
  naevc/src/lib.rs
  utils/build/merge_h.py
  utils/build/meson.build
  utils/build/naevc/Cargo.toml.in
  utils/build/naevc/config.rs.in
  utils/build/naevc/meson.build
  utils/meson.build
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

naevc: Compile the C engine with cc
  Cargo.toml.in
  build.rs.in
  meson.build
  naevc/Cargo.toml
  naevc/build.rs
  naevc/build/configure.rs
  naevc/build/deps.rs
  naevc/build/headers.rs
  naevc/build/sources.rs
  src/main.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

build: Require tinyvec 1.12 or newer
  Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
