Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$

Start to work on escorts allowing existing pilots to be set.
  dat/scripts/escort.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Expose mission markers via player.missions().
  src/nlua_player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Some minor simplification.
  dat/events/pers/misn_refuel.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Play money sfx when finishing trader escort.
  dat/missions/trader/trader_escort.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed Starbridge Herald tech.
  dat/spob/sirius_shipyards.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed invalid memory reads.
  src/nlua_player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Refuel pers should not be aggressive.
  dat/events/pers/misn_refuel.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed escort library initialization with pilots.
  dat/scripts/escort.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added escort pers mission.
  Changelog.md
  dat/events/pers/misn_escort.lua
  dat/missions/trader/escort_pers.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Escort pers mission requires mercenary licence.
  dat/events/pers/misn_escort.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Some mission clean up.
  dat/missions/trader/trader_escort.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added some trader logging stuff.
  dat/missions/trader/escort_pers.lua
  dat/missions/trader/mineral_request.lua
  dat/missions/trader/trader_escort.lua
  dat/scripts/common/trader.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Add Mining Vrata logs.
  dat/events/trader/yearning_steve.lua
  dat/missions/trader/mining_vrata_intro.lua
  dat/scripts/common/trader.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Add message about how many survived to the escort stuff.
  dat/missions/trader/trader_escort.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

pers escort requires some trader standing.
  dat/events/pers/misn_escort.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added Three-Eyed Tanith pers.
  dat/events/pers/pirate.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added Barrel 'o Joy.
  dat/events/pers/pirate.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added another Zealot and buffed Sirius pers.
  dat/events/pers/sirius.lua
  dat/scripts/common/ads.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added some basic support for spob domination (not enabled by default).
  Changelog.md
  dat/spob/lua/lib/spob.lua
  src/map.c
  src/nlua_spob.c
  src/space.c
  src/space.h
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, smd-w, doxspell, expand-tabs.sh, reindent, clang-format

Track and handle dominated in the spob comm window.
  dat/scripts/common/comm.lua
  dat/spob/lua/lib/spob.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added trader society tech to all trader society spobs.
  dat/spob/gordons_exchange.xml
  dat/spob/mining_vrata_guildhouse.xml
  dat/spob/new_xantusia.xml
  dat/spob/the_knot.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

misn_escort: some fixes
  dat/events/pers/misn_escort.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Have spob.getLandAllow and spob.getLanddeny return the message if applicable too.
  src/nlua_spob.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Only return message if bool is true.
  src/nlua_spob.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed landing details with landDeny and landAllow.
  dat/spob/lua/lib/spob.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Ignore some non-important warnings.
  src/spfx.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Added support for giving bolt weapons acceleration.
  dat/missions/trader/mining_vrata_intro.lua
  src/outfit.c
  src/outfit.h
  src/weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

Fixed accel for bolts.
  src/outfit.c
  src/weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Made races easier by introducing some slack.
  dat/missions/neutral/race/gen_times.py
  src/weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

Correct bolt weapons duration/falloff with accel.
  src/weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed falloff computation with accel.
  src/weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Nerfed plowshare a tad. It's not for fighting.
  dat/ships/neutral/plowshare.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Added Clydesdale and Alpaca.
  dat/factions/spawn/independent/default.lua
  dat/factions/spawn/miner.lua
  dat/factions/spawn/trader/default.lua
  dat/ships/neutral/alpaca.xml
  dat/ships/neutral/clydesdale.xml
  dat/tech/basic_civilian_ships.xml
  dat/tech/bulk_trade_ships.xml
  dat/tech/melendez_ships.xml
  dat/tech/traders_society_tech.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added sheragi trails and emerald sword + black diamond graphics.
  dat/trails/sheragi.xml
  dat/trails/sheragis.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Don't warn just info if sdl is newer.
  src/naev.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

variety neutral ship balancing tweaks
  dat/ships/neutral/alpaca.xml
  dat/ships/neutral/clydesdale.xml
  dat/ships/neutral/gawain.xml
  dat/ships/neutral/gawain_xy37.xml
  dat/ships/neutral/koala.xml
  dat/ships/neutral/koala_armoured.xml
  dat/ships/neutral/llama.xml
  dat/ships/neutral/llama_voyager.xml
  dat/ships/neutral/mule_hardhat.xml
  dat/ships/neutral/plowshare.xml
  dat/ships/neutral/schroedinger.xml
  dat/ships/neutral/shark_psiiiia.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

15 points
  dat/ships/neutral/alpaca.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Fix clydesdale
  dat/ships/neutral/clydesdale.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Fix(?) bulk freighters
  dat/ships/dvaered/dvaered_arsenal.xml
  dat/ships/empire/empire_rainmaker.xml
  dat/ships/neutral/zebra.xml
  dat/ships/sirius/sirius_providence.xml
  dat/ships/soromid/soromid_copia.xml
  dat/ships/zalek/zalek_mammon.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

nvm copia was fine already
  dat/ships/soromid/soromid_copia.xml
Due: end-of-file-fixer.sh, expand-tabs.sh
