Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, no_tabs, reindent, glsl_validator, rustfmt, clang-format

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

no_tabs:
  name: no_tabs
  entry: utils/no_tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2021'
  language: system

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

Can simplify compilation dependencies a bit (shouldn't change anything).
  meson.build
Due: no_tabs, reindent

Rename the github actions workflows to disable them
  .github/workflows/compile_naev.yml.disabled
  .github/workflows/naev_ci.yml.disabled
  .github/workflows/naev_nightly.yml.disabled
  .github/workflows/naev_prerelease.yml.disabled
  .github/workflows/naev_release.yml.disabled
Due: no_tabs

Port spellcheck action to Forgejo Actions.
  .forgejo/workflows/spellcheck.yml
Due: no_tabs

Move the issue and pr templates under .forgejo for consistency
  .forgejo/workflows/ISSUE_TEMPLATE/bug_report.yml
  .forgejo/workflows/ISSUE_TEMPLATE/feature_proposal.yml
  .forgejo/workflows/pull_request_template.md
Due: no_tabs

Whoops moved it one layer too deep
  .forgejo/ISSUE_TEMPLATE/bug_report.yml
  .forgejo/ISSUE_TEMPLATE/feature_proposal.yml
  .forgejo/pull_request_template.md
Due: no_tabs

Initial port for Forgejo Actions
  .forgejo/workflows/naev_ci.yml
  .github/workflows/naev_ci.yml.disabled
Due: no_tabs

ci: BODGE: Symlink node-20 to node so that node based actions work.
  .forgejo/workflows/naev_ci.yml
Due: no_tabs

Test sourcing the env file after installing the rust toolchain
  .forgejo/workflows/naev_ci.yml
Due: no_tabs

Try adjusting the PATH globally.
  .forgejo/workflows/naev_ci.yml
Due: no_tabs

Attempt to use the old github action we were using in the past for Rust.
  .forgejo/workflows/naev_ci.yml
Due: no_tabs

ci: Make sure we use the right action version
  .forgejo/workflows/naev_ci.yml
Due: no_tabs

Fleshing out the API a bit more.
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Some more API work.
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Added some OpenAL debugging via extension.
  po/POTFILES.in
  src/audio/src/debug.rs
  src/audio/src/efx.rs
  src/audio/src/lib.rs
  src/audio/src/openal.rs
  src/meson.build
Due: no_tabs, reindent, rustfmt

Added alObjectLabel.
  src/audio/src/debug.rs
Due: no_tabs, rustfmt

Add labels to sources and buffers.
  src/audio/src/debug.rs
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Lua audio API finished, need to re-implement efxs.
  src/audio/src/efx.rs
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Use OnceLock to set up global Efx API.
  src/audio/src/efx.rs
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Start to work on EFX support.
  src/audio/src/efx.rs
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Finished EFX API hopefully.
  src/audio/src/efx.rs
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

[cargo clippy] with required rust version bump to 1.87
  src/audio/src/efx.rs
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: no_tabs, rustfmt

Forgot to bump rust requirement to 1.87.
  Cargo.toml.in
  meson.build
Due: no_tabs, reindent

Some more audio debugging.
  src/audio/src/debug.rs
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

image-rs was fixed upstream.
  Cargo.toml.in
Due: no_tabs

Guard against NULL pointers.
  src/log/src/version.rs
Due: no_tabs, rustfmt

naev.conf supports NULL string pointers now.
  src/nlua_naev.c
Due: no_tabs, clang-format

Renamed the Naev executable in meson 'naev_exe' so it doesn't overlap with the clib.
  meson.build
  src/conf.c
  src/naev.c
Due: no_tabs, reindent, clang-format

Re-enable message.
  src/naev.c
Due: no_tabs, clang-format

Removed tricky logic on explicit dimensions which was broken.
  src/conf.c
  src/conf.h
Due: no_tabs, clang-format

Track issue that would let us avoid copying rust binaries.
  meson.build
Due: no_tabs, reindent

meson: Added clippy target.
  meson.build
Due: no_tabs, reindent

Revert to having binary called naev.
  meson.build
Due: no_tabs, reindent

Rework the audio API a bit more for usefulness.
  src/audio/src/lib.rs
  src/sound.h
Due: no_tabs, rustfmt, clang-format

Use the SVG racing trophy.
  dat/outfits/accessory/racing_trophy.xml
Due: no_tabs

A bit more reorganization and preparation.
  src/audio/src/lib.rs
  src/naev.rs
Due: no_tabs, rustfmt

Simplified the nlua open_ API so that the libraries don't depend on nlua.rs.
  src/naev.c
  src/nlua.rs
  src/nlua_vec2.h
  src/vec2.rs
Due: no_tabs, rustfmt, clang-format

Trivial simplification.
  src/naev.c
Due: no_tabs, clang-format

Fixed binary not receiving updates properly.
  meson.build
Due: no_tabs, reindent

Remove the node bodge and attempt to rely on built in rust.
  .forgejo/workflows/naev_ci.yml
Due: no_tabs

Switch to using runner tag instead of containers.
  .forgejo/workflows/naev_ci.yml
Due: no_tabs

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  no_tabs: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  glsl_validator: any of: dat/.*\.(frag|vert)$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
