Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

smd:
  name: markdown linter
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  language: script
  require_serial: true

smd-w:
  name: markdown linter (wider)
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  - -w
  - '5'
  language: script
  require_serial: true

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Use AUdioData instead of Audio for zbh space whale sounds.
  dat/missions/zalek/blackhole/zbh02.lua
  dat/missions/zalek/blackhole/zbh05.lua
  dat/missions/zalek/blackhole/zbh08.lua
  dat/missions/zalek/blackhole/zbh09.lua
  dat/missions/zalek/blackhole/zbh10.lua
  dat/scripts/common/ferals.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Allow negative standing limits for landing.
  dat/spob/lua/lib/spob.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Reference giveupgithub on github.
  .github/Readme.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Guard against potential segfaults.
  src/nlua_pilotoutfit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Make it clear what outfit is causing the error.
  src/weapon.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Minor correctness.
  src/nlua_hook.c
  src/pilot_hook.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

beef up dragon
  dat/events/neutral/p1587_dragon_awake.lua
  dat/events/neutral/p1587_dragon_epilogue.lua
  dat/events/neutral/p1587_dragon_intro.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

tweak a few things as per PR discussion
  dat/events/neutral/p1587_dragon_awake.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Made goatee pirates capturable.
  dat/events/neutral/capricorn_pirates.lua
  dat/events/neutral/dendria_pirates.lua
  dat/events/neutral/levo_pirates.lua
  dat/events/neutral/quai_pirates.lua
  dat/events/neutral/surano_pirates.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Whitespace and minor lua correctness. Also rename.
  dat/events/neutral/p1587_dragon_awake.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

shadowvigil: can't skip mission by relanding on seiryuu
  dat/missions/shadow/shadowvigil.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed crash when a load event has a spob assigned.
  src/event.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

[pre-commit run -a]
  src/renderer/src/lib.rs
  src/renderer/src/sdf.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Cleaned up API a bit.
  src/nlua_pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

neburesearch05: don't let the player jump out after the peacemaker comes or mission softlocks.
  dat/missions/zalek/neburesearch/neburesearch_05.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Add stub for the collision polygon when it changes.
  src/renderer/src/model.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

More shadowvigil fixes.
  dat/missions/shadow/shadowvigil.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Start to flesh out trader societ scripts a bit.
  dat/factions/standing/trader_society.lua
  dat/scripts/factions/trader_society.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Build ntime from i64 so that we have less change of overflow and such.
  src/core/src/ntime.rs
  src/core/src/start.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

No need for underscore at beginning.
  dat/scripts/common/cargo.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed shadowvigil for real now.
  dat/missions/shadow/shadowvigil.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added mining vrata intro.
  Changelog.md
  dat/missions/trader/mineral_request.lua
  dat/missions/trader/mining_vrata_intro.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Load svg automagically too when possible.
  src/nlua_naev.c
  src/renderer/src/texture.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

mining_vrata_intro: fixed and fleshed out text a bit more.
  dat/missions/trader/mining_vrata_intro.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Update standing grid with dynAlly and dynEnemy.
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Bump glow to 0.17.
  Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

[cargo clippy]
  src/core/src/ntime.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Don't hardcode fuel recycler fuel.
  dat/outfits/unique/fuel_recycler.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Have mining vrata intro give the fuel recycler.
  dat/missions/trader/mining_vrata_intro.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Start to work with differentiating reputation and raw values.
  Cargo.toml.in
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Made reputation hits be raw and affect the reputation space.
  dat/factions/standing/lib/base.lua
  src/faction.rs
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Update Sirius ferry calculations to reflect map changes
  dat/missions/sirius/srs_ferry.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added commodity.getAll().
  dat/outfits/unique/fuel_recycler.lua
  src/nlua_commodity.c
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, clang-format

Tweaked faction hit from points formula a bit.
  dat/factions/standing/lib/base.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
