Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$

Mention that source is no longer required, and defaults to local.
  docs/manual/src/plugins/metadata.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Start to set up things for handling updating progress.
  Cargo.toml.in
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/Cargo.toml.in
  src/pluginmgr/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Make pilot death hook always be consistent.
  src/pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Allow translating plugin manager open string + tighter fit.
  src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Options menu should no longer pause the main menu.
  src/options.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

More styling for the plugin manager toaster bottom-right.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

More simplifications and unifications.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Minor optimizations.
  src/pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Minor optimizations and correctness.
  src/equipment.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Update Readme.md
  Readme.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Temporary hack to fix equipment rendering in some cases until we get shit sorted out in Rust.
  src/equipment.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Lower indentation and display no plugins found when they are not found.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Don't crash when modifying plugins from the main menu plugin manager.
  src/options.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Nuked plugin.c as it was unused in favour of plugin.rs.
  po/POTFILES.in
  src/plugin.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Adjust stealth overlay circles to new camera model.
  src/player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Use user event to handle restart changes, plugin manager should ask properly again.
  src/dialogue.c
  src/input.c
  src/naev.c
  src/naev.h
  src/options.c
  src/plugin.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Truly fixed the stealth circles now.
  src/player.c
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Don't propagate errors when failing to mount "plugins".
  src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed racetrack after some head banging.
  dat/scripts/luaspfx/racetrack.lua
  dat/scripts/luaspfx/shaders/track.frag
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Cleaned up luadoc a bit.
  src/nlua_player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Some clean up and simplification that should get us on the way to proper update progress stuff.
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Guaranteed new loot until you got them all.
  dat/scripts/common/loot.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed luadoc.
  src/nlua_player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Split utilities from naev core to its own workspace.
  Cargo.toml.in
  po/POTFILES.in
  src/core/src/lib.rs
  src/damagetype.rs
  src/faction.rs
  src/meson.build
  src/pluginmgr/src/lib.rs
  src/renderer/Cargo.toml.in
  src/renderer/src/camera.rs
  src/renderer/src/lib.rs
  src/slots.rs
  src/utils/Cargo.toml.in
  src/utils/meson.build
  src/utils/src/atomicfloat.rs
  src/utils/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

A bit janky to say the least, but at least progress bars sort of work?
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Spellcheck reported by pyroman.
  dat/unidiff/alsafi_ii_druglab.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

WIP commit towards proper git wrappers.
  po/POTFILES.in
  src/pluginmgr/src/git.rs
  src/pluginmgr/src/install.rs
  src/pluginmgr/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Cleaner git clone + git pull implementation using Straw.
  Cargo.toml.in
  src/meson.build
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/Cargo.toml.in
  src/pluginmgr/src/git.rs
  src/pluginmgr/src/install.rs
  src/pluginmgr/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Moving more to straws.
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/src/install.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Straw all the tasks!
  src/pluginmgr/src/install.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Installing a plugin shows proper progress now.
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/src/git.rs
  src/pluginmgr/src/install.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

More straws and progress for everyone. Should be a bit more consistent now.
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/src/install.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed armourbreaker damage type sucking due to mishap.
  dat/damagetype/armourbreaker.toml
Due: end-of-file-fixer.sh, expand-tabs.sh

[cargo clippy]
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

onion04: make trixie less spammy
  dat/missions/onion/onion04.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Moved shipwreck conditionals into the header and limit max pirate presence.
  dat/events/neutral/shipwreck.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Minor simplification.
  src/pluginmgr/src/git.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Instead of using a `plugins-disabled` directory, use `.PLUGINNAME.disabled` files.
  src/plugin.rs
  src/pluginmgr-gui/src/lib.rs
  src/pluginmgr/src/install.rs
  src/pluginmgr/src/lib.rs
  src/pluginmgr/src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Translated using Weblate (Russian)
  po/ru.po
Due: end-of-file-fixer.sh, expand-tabs.sh
