Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$

Changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Some simplifications.
  dat/ai/core/attack/util.lua
  src/ai.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

Minor AI tweaks and correctness.
  dat/ai/core/attack.lua
  dat/ai/core/control/generic.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Minor simplification: ai.idir and ai.face return absolute values.
  dat/ai/core/attack/drone.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Try to use movement abilities when closing the distance.
  dat/ai/core/attack.lua
  dat/ai/core/setup.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Priority Bounties: Improving equipopt formatting & adding baddie_norun AI
  dat/events/priority_bounty/bounties/bounty_dvaered_flf_1.lua
  dat/events/priority_bounty/bounties/bounty_dvaered_flf_2.lua
  dat/events/priority_bounty/bounties/bounty_frontier_warlord_1.lua
  dat/events/priority_bounty/bounties/bounty_frontier_warlord_2.lua
  dat/events/priority_bounty/bounties/bounty_frontier_warlord_3.lua
  dat/events/priority_bounty/bounties/bounty_sirius_starbridge_herald.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

6 new priority bounties
  dat/events/neutral/travelling_merchant.lua
  dat/events/priority_bounty/bounties/bounty_soromid_poachers_1.lua
  dat/events/priority_bounty/bounties/bounty_soromid_poachers_2.lua
  dat/events/priority_bounty/bounties/bounty_soromid_poachers_3.lua
  dat/events/priority_bounty/bounties/bounty_zalek_renegade_1.lua
  dat/events/priority_bounty/bounties/bounty_zalek_renegade_2.lua
  dat/events/priority_bounty/bounties/bounty_zalek_renegade_3.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Adding lua file for Proteron Agamemnon Launcher. Currently just a duplicate of energy harpoon function, needs to be replaced entirely
  dat/outfits/launchers/proteron_agamemnon_launcher.lua
  dat/outfits/launchers/proteron_agamemnon_launcher.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Unused variables in bash script, probably needs some checking.
  dat/utils/ssys/simple_process.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

[pre-commit run -a]
  dat/events/neutral/travelling_merchant.lua
  dat/events/priority_bounty/bounties/bounty_frontier_warlord_1.lua
  dat/events/priority_bounty/bounties/bounty_frontier_warlord_2.lua
  dat/events/priority_bounty/bounties/bounty_frontier_warlord_3.lua
  dat/events/priority_bounty/bounties/bounty_soromid_poachers_1.lua
  dat/events/priority_bounty/bounties/bounty_soromid_poachers_2.lua
  dat/events/priority_bounty/bounties/bounty_zalek_renegade_3.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Cleaned up and simplified travelling merchant a bit.
  dat/events/neutral/travelling_merchant.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Update changelog, although I feel some numbers are out of sync...
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Pilot doll.
  dat/outfits/accessory/pilot_doll.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed outfit for sale at travelling merchant.
  dat/events/neutral/travelling_merchant.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Retroactively save ships as captured or not.
  dat/events/capture.lua
  dat/events/updater.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

For better or worse, change how we handle semver prereleases because, honestly, the spec is stupid in this regard.
  src/nlog/src/version.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

More elaboration on the issue.
  dat/events/updater.lua
  src/nlog/src/version.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Have pirate ships count as captured ships for now.
  dat/scripts/common/pirate.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added Pirate Branding.
  dat/outfits/intrinsic/pirate_branding.lua
  dat/outfits/intrinsic/pirate_branding.xml
  dat/scripts/common/pirate.lua
  dat/tech/pirate_elite_outfits.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Gave luxury furnishings a descextra filed.
  dat/outfits/intrinsic/luxury_furnishings.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed error messages for pirate branding and luxury furnishing. Use pirate logo for the pirate branding.
  dat/outfits/intrinsic/luxury_furnishings.lua
  dat/outfits/intrinsic/pirate_branding.lua
  dat/outfits/intrinsic/pirate_branding.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Outfit price should give a proper broke message now.
  dat/outfits/lib/custom_price.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Made smuggler's den and the pit lawless.
  dat/spob/smugglers_den.xml
  dat/spob/the_pit.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed typo.
  dat/outfits/intrinsic/pirate_branding.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Check intrinsics to see if is a pirate ship or not.
  dat/scripts/common/pirate.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added check for unknown player ship.
  src/nlua_player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed ship var setting during capture.
  dat/events/capture.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Spellcheck.
  dat/scripts/common/astral_orchids.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Three new Priority Bounties in Sirius space
  dat/events/priority_bounty/bounties/bounty_sirius_conversion_1.lua
  dat/events/priority_bounty/bounties/bounty_sirius_conversion_2.lua
  dat/events/priority_bounty/bounties/bounty_sirius_conversion_3.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added tough Za'lek battlefleet bounty vs. renegade automated fleet
  dat/events/priority_bounty/bounties/bounty_zalek_hijacked.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Thurion small ship balancing adjustments
  dat/scripts/equipopt/fighterbays/thurion_perspicacity.lua
  dat/ships/thurion/thurion_ingenuity.xml
  dat/ships/thurion/thurion_perspicacity.xml
  dat/ships/thurion/thurion_scintillation.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Also update the Scintillation to a nebula resistant coating
  dat/scripts/equipopt/fighterbays/thurion_scintillation.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Add fwd_firerate 5 to Rackham's Razor
  dat/outfits/accessory/rackham_razor.lua
  dat/outfits/accessory/rackhams_razor.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Add Railcannon for Goddard special bounty
  dat/outfits/weapons/railcannon.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Some minor whitespace fixes and formatting. Also ran pre-commit.
  dat/events/priority_bounty/bounties/bounty_sirius_conversion_1.lua
  dat/events/priority_bounty/bounties/bounty_sirius_conversion_2.lua
  dat/events/priority_bounty/bounties/bounty_sirius_conversion_3.lua
  dat/events/priority_bounty/bounties/bounty_zalek_hijacked.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Guard against NULL pointer dereference.
  src/renderer/src/camera.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Potential work around to naevpedia broken on windows and other shenanigans.
  src/ndata/src/physfs.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Add Ancestor Bomber Bay
  dat/outfits/fighter_bays/ancestor_bay.xml
  dat/scripts/equipopt/fighterbays/ancestor.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Add Pirate Ancestor dock with 1 bomber
  dat/outfits/fighter_bays/ancestor_bay.xml
  dat/outfits/fighter_bays/pirate_ancestor_dock.xml
  dat/scripts/equipopt/fighterbays/pirate_ancestor.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent
