Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$

Translated using Weblate (French)
  po/fr.po
Due: end-of-file-fixer.sh, expand-tabs.sh

Translated using Weblate (German)
  po/de.po
Due: end-of-file-fixer.sh, expand-tabs.sh

Translated using Weblate (Portuguese (Brazil))
  po/pt_BR.po
Due: end-of-file-fixer.sh, expand-tabs.sh

fleet capacity tweaks and some by-the-way ship balancing
  dat/ships/dvaered/dvaered_retribution.xml
  dat/ships/feral_bioship/kauweke.xml
  dat/ships/feral_bioship/nohinohi.xml
  dat/ships/feral_bioship/taitamariki.xml
  dat/ships/neutral/quicksilver.xml
  dat/ships/pirate/pirate_admonisher.xml
  dat/ships/zalek/zalek_bomber_drone.xml
  dat/ships/zalek/zalek_heavy_drone.xml
  dat/ships/zalek/zalek_light_drone.xml
  dat/ships/zalek/zalek_scout_drone.xml
  dat/ships/zalek/zalek_sting.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Small weapons - Knockback, penetration, and buffs for 72-CPU weapons
  dat/outfits/weapons/gauss_gun.xml
  dat/outfits/weapons/heavy_neutron_disruptor.xml
  dat/outfits/weapons/ion_cannon.xml
  dat/outfits/weapons/laser_cannon_mk1.xml
  dat/outfits/weapons/laser_cannon_mk2.xml
  dat/outfits/weapons/laser_turret_mk1.xml
  dat/outfits/weapons/muon_disruptor_light.xml
  dat/outfits/weapons/neutron_disruptor.xml
  dat/outfits/weapons/orion_lance.xml
  dat/outfits/weapons/particle_beam.xml
  dat/outfits/weapons/particle_lance.xml
  dat/outfits/weapons/plasma_blaster_mk1.xml
  dat/outfits/weapons/plasma_blaster_mk2.xml
  dat/outfits/weapons/plasma_cannon.xml
  dat/outfits/weapons/plasma_turret_mk1.xml
  dat/outfits/weapons/pulse_cannon_light.xml
  dat/outfits/weapons/pulse_turret_light.xml
  dat/outfits/weapons/razor_artillery_s1.xml
  dat/outfits/weapons/razor_artillery_s2.xml
  dat/outfits/weapons/razor_artillery_s3.xml
  dat/outfits/weapons/ripper_cannon.xml
  dat/outfits/weapons/shredder.xml
  dat/outfits/weapons/turreted_gauss_gun.xml
  dat/outfits/weapons/vulcan_gun.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Medium Turrets pen/KB/energy updates
  dat/outfits/weapons/heavy_neutron_disruptor.xml
  dat/outfits/weapons/laser_turret_mk2.xml
  dat/outfits/weapons/muon_disruptor_medium.xml
  dat/outfits/weapons/neutron_disruptor.xml
  dat/outfits/weapons/orion_beam.xml
  dat/outfits/weapons/plasma_cannon.xml
  dat/outfits/weapons/plasma_turret_mk2.xml
  dat/outfits/weapons/pulse_turret_medium.xml
  dat/outfits/weapons/razor_artillery_s3.xml
  dat/outfits/weapons/razor_battery_s2.xml
  dat/outfits/weapons/ripper_cannon.xml
  dat/outfits/weapons/turreted_vulcan_gun.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Medium gun penetration/energy/knockback
  dat/outfits/weapons/antimatter_lance.xml
  dat/outfits/weapons/disruptor_artillery_s1.xml
  dat/outfits/weapons/flak_gun.xml
  dat/outfits/weapons/grave_lance.xml
  dat/outfits/weapons/heavy_ion_cannon.xml
  dat/outfits/weapons/heavy_ripper_cannon.xml
  dat/outfits/weapons/mass_driver.xml
  dat/outfits/weapons/plasma_cannon.xml
  dat/outfits/weapons/plasma_cluster_cannon.xml
  dat/outfits/weapons/plasma_eruptor.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Large weapons knockback, damage adjustments, penetration
  dat/outfits/weapons/disruptor_artillery_s2.xml
  dat/outfits/weapons/disruptor_battery_s2.xml
  dat/outfits/weapons/energy_harpoon.xml
  dat/outfits/weapons/grave_beam.xml
  dat/outfits/weapons/heavy_ion_turret.xml
  dat/outfits/weapons/heavy_laser_turret.xml
  dat/outfits/weapons/heavy_ripper_turret.xml
  dat/outfits/weapons/muon_disruptor_heavy.xml
  dat/outfits/weapons/muon_disruptor_supercharged.xml
  dat/outfits/weapons/pulse_turret_heavy.xml
  dat/outfits/weapons/pulse_turret_hyper.xml
  dat/outfits/weapons/railcannon.xml
  dat/outfits/weapons/railgun.xml
  dat/outfits/weapons/railgun_turret.xml
  dat/outfits/weapons/repeating_railgun.xml
  dat/outfits/weapons/turbolaser.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Minor missile adjustments to make Convulsion and Shatterers slightly better 'bomber' missiles, very minor Headhunter buff and make Sirius bomber use Headhunters instead of Furies
  dat/outfits/launchers/convulsion_launcher.xml
  dat/outfits/launchers/shatterer_launcher.xml
  dat/outfits/launchers/teracom_headhunter_launcher.xml
  dat/outfits/launchers/turreted_convulsion_launcher.xml
  dat/scripts/equipopt/fighterbays/sirius_shaman.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Moved not allowing hailing disabled ships from C to Lua.
  dat/comm.lua
  src/comm.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

Minor logic simplification.
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Have commodity.new support strings for gfx_space besides textures.
  src/commodity.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

remove extra slot
  dat/ships/pirate/pirate_admonisher.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed typo.
  dat/events/derelict/junker_pack.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

neburesearch_05: don't have the peacemaker hail the player and just have it stop at the player's position.
  dat/missions/zalek/neburesearch/neburesearch_05.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Update weapon set bindings when swapping the player ship.
  src/pilot_weapon.c
  src/player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Added minimal C interface to Rust's regex library.
  po/POTFILES.in
  src/cregex.h
  src/event.c
  src/helpers/Cargo.toml.in
  src/helpers/src/cregex.rs
  src/helpers/src/lib.rs
  src/meson.build
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Dropped libpcre usage for Rust's regex.
  Readme.md
  meson.build
  src/event.c
  src/mission.c
  src/mission.h
  src/physfs_archiver_blacklist.c
  subprojects/pcre2.wrap
Due: end-of-file-fixer.sh, smd, doxspell, expand-tabs.sh, reindent, clang-format

Bump base64 to 0.23.
  Cargo.toml.in
Due: end-of-file-fixer.sh, expand-tabs.sh

Update sdl3.wrap.
  subprojects/sdl3.wrap
Due: end-of-file-fixer.sh, expand-tabs.sh

neburesearch05: don't softlock if you leave the target system
  dat/missions/zalek/neburesearch/neburesearch_05.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

dv_census: census missions no longer affect other faction standing.
  dat/missions/dvaered/recruitment/dv_census.lua
  dat/missions/dvaered/recruitment/dv_census_00.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Round nebula volatility damage shown to player to the nearest 0.1.
  dat/events/tutorial/tut_enter.lua
  src/space.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

grammar.
  dat/events/neutral/edergast_pirate_ambush.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Limit amount of negative energy regen mod outfits equipopt will use.
  dat/scripts/equipopt/optimize.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

grammar
  dat/outfits/unique/zd5_guardian_unit.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

moar grammar
  dat/outfits/unique/zd5_guardian_unit.xml
Due: end-of-file-fixer.sh, expand-tabs.sh
