Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

smd:
  name: markdown linter
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  language: script
  require_serial: true

smd-w:
  name: markdown linter (wider)
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  - -w
  - '5'
  language: script
  require_serial: true

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Big nerf to the big launcher range.
  Changelog.md
  dat/outfits/launchers/enygma_systems_huntsman_launcher.xml
  dat/outfits/launchers/teracom_imperator_launcher.xml
  dat/outfits/launchers/unicorp_caesar_iv_launcher.xml
  dat/outfits/launchers/zalek_reaper_launcher.xml
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Fixed sirius.sfxGong.
  dat/scripts/common/sirius.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

taiomi01: fixed mission from audio error.
  Changelog.md
  dat/missions/taiomi/taiomi01.lua
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Slight denerf to torpedoes.
  dat/outfits/launchers/enygma_systems_huntsman_launcher.xml
  dat/outfits/launchers/teracom_imperator_launcher.xml
  dat/outfits/launchers/unicorp_caesar_iv_launcher.xml
  dat/outfits/launchers/zalek_reaper_launcher.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Boarding bonus affects how much fleet capacity you need to capture ships.
  Changelog.md
  dat/board.lua
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

More clear messages on fleet capacity when capturing.
  dat/board.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Don't need to push mission details twice.
  src/nlua_player.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Added player.events to get active events.
  src/event.c
  src/event.h
  src/nlua_player.c
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

You can capture more than one ship at once now.
  Changelog.md
  dat/board.lua
  dat/events/capture.lua
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Correct bonus display.
  dat/board.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed local maps thresholding hide the wrong way.
  Changelog.md
  dat/outfits/maps/local_system_map.xml
  src/map.c
Due: end-of-file-fixer.sh, smd-w, doxspell, expand-tabs.sh, clang-format

Made worn down give worse cargo.
  dat/outfits/intrinsic/worn_down.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Don't render gatherables twice.
  src/asteroid.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed combat hologram projector doing missile damage.
  Changelog.md
  src/weapon.c
Due: end-of-file-fixer.sh, smd-w, doxspell, expand-tabs.sh, clang-format

Made it so harder pirate raids appear more often and also against traders society.
  dat/missions/pirate/raid.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

minor patrol optimization
  dat/missions/neutral/patrol.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Patrol missions will try to use asteroid fields and jumps as points of interest too now.
  dat/missions/neutral/patrol.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Patrols pay less now, but you get paid for beating up enemies.
  dat/missions/neutral/patrol.lua
  dat/missions/neutral/system_bounty.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Better print.
  dat/missions/neutral/patrol.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Removed unnecessary includes.
  src/background.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed starting position not being close to bolero anymore.
  dat/start.toml
Due: end-of-file-fixer.sh, expand-tabs.sh

Use Soromid heavy NPC portrait generator.
  dat/scripts/vnimage.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Minor simplification.
  dat/missions/neutral/patrol.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added 1D perlin noise.
  dat/shaders/lib/math.glsl
  dat/shaders/lib/perlin.glsl
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Mention shield aura generator.
  dat/events/priority_bounty/bounties/renegade_executor.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed error when spamming enter on loading and having the bounty manager trigger out of sync.
  dat/events/priority_bounty/manager.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

executor_shield_aura: moved descextra to Lua.
  dat/outfits/unique/executor_shield_aura.lua
  dat/outfits/unique/executor_shield_aura.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added renegade executor priority bounty.
  dat/events/priority_bounty/bounties/renegade_executor.lua
  dat/events/priority_bounty/helpers.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

More test particles.
  utils/glsl/particles/frag.glsl
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Add colour and move it out.
  dat/events/priority_bounty/bounties/renegade_executor.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Removed some warnings.
  src/spfx.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Removed unnecessary debug.
  src/board.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Nerfed zibs penetration and damage.
  dat/outfits/pointdefence/zibs-16.xml
  dat/outfits/pointdefence/zibs-32.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Small buff to za'lek predator and hunter launchers.
  dat/outfits/launchers/zalek_hunter_launcher.xml
  dat/outfits/launchers/zalek_predator_launcher.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Added Gorgon Lancelot Bay.
  dat/outfits/fighter_bays/gorgon_lancelot_bay.xml
  dat/scripts/equipopt/fighterbays/lancelot.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added pilot.dockoutfit.
  src/nlua_pilot.c
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
