Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

smd:
  name: markdown linter
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  language: script
  require_serial: true

smd-w:
  name: markdown linter (wider)
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  - -w
  - '5'
  language: script
  require_serial: true

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

Added tags to ocommodities.
  src/commodity.c
  src/commodity.h
  src/nlua_commodity.c
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, clang-format

Added tags to mining commodities.
  Changelog.md
  dat/commodities/clay.xml
  dat/commodities/diamond.xml
  dat/commodities/gold.xml
  dat/commodities/iron.xml
  dat/commodities/kermite.xml
  dat/commodities/nebula_crystals.xml
  dat/commodities/neodymium.xml
  dat/commodities/nickel.xml
  dat/commodities/olivine.xml
  dat/commodities/platinum.xml
  dat/commodities/rhodium.xml
  dat/commodities/silicate.xml
  dat/commodities/space_moss.xml
  dat/commodities/therite.xml
  dat/commodities/vixilium.xml
  dat/commodities/water.xml
  dat/commodities/yttrium.xml
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Added commodities field to system.asteroidFields.
  src/asteroid.c
  src/asteroid.h
  src/nlua_system.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Should push commodities and not their names.
  src/nlua_system.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Added trader common scripts and mining_vrata tag to the mining vrata guildhouse.
  dat/scripts/common/trader.lua
  dat/spob/mining_vrata_guildhouse.xml
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Return global average price when spob price is unobtainable.
  src/economy.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Added mineral request mission.
  Changelog.md
  dat/missions/trader/mineral_request.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Fixed alert exclamation mark being upside down.
  Changelog.md
  dat/scripts/luaspfx/shaders/alert.frag
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Gave Qorellia a mission bbs.
  Changelog.md
  dat/spob/qorellia.xml
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

fix ssys process (doxtractor nuking fallout)
  utils/ssys/getline.c
  utils/ssys/ssys.py
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent

time_speedup -> action_speed
  dat/missions/neutral/race/gen_times.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Aded conf option to disable screen shaking in accessibility.
  Changelog.md
  src/conf.c
  src/conf.h
  src/nlua_naev.c
  src/options.c
  src/spfx.c
Due: end-of-file-fixer.sh, smd-w, doxspell, expand-tabs.sh, clang-format

Cleaned up some corner cases of point defence behaviour.
  src/nlua_munition.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Gauntlet NPCs get their fighters disabled when they are disabled.
  Changelog.md
  dat/missions/dvaered/gauntlet/gauntlet.lua
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Missing quote.
  dat/missions/minerva/pirate6.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Minor spellcheck.
  dat/missions/minerva/finale2.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Fixed some manual links.
  docs/manual/src/plugins/overview.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Rerender toolkit after modifying text widget.
  src/tk/widget/text.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Fixed unsafe memory access in editor.
  src/dev_uniedit.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Editor tries to create ssys and spob path if they don't exist.
  Changelog.md
  src/dev_spob.c
  src/dev_system.c
Due: end-of-file-fixer.sh, smd-w, doxspell, expand-tabs.sh, clang-format

Lowered average stage of random spawned soromids.
  dat/scripts/equipopt/templates/soromid.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Revert "Implement a constant for minimum damage a pilot should take with absorption."
  dat/constants.lua
  src/constants.c
  src/constants.h
  src/core/src/constants.rs
  src/pilot.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Changed absorb to no longer be linear.
  Changelog.md
  dat/naevpedia/mechanics/damage.md
  po/POTFILES.in
  src/asteroid.c
  src/equipment.c
  src/info.c
  src/land_shipyard.c
  src/map_system.c
  src/nlua_pilot.c
  src/outfit.c
  src/pilot.c
  src/ship.c
  src/shipstats.c
  src/shipstats.h
  src/weapon.c
Due: end-of-file-fixer.sh, smd-w, doxspell, expand-tabs.sh, clang-format

Tweaked GUI number colours for legibility.
  dat/gui/slim.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Removed speed bar flashing effect in hyperspace.
  dat/gui/slim.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

tweaks to antimatter lance for more fun
  dat/effects/antimatter_taint.xml
  dat/outfits/weapons/antimatter_lance.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

add new cool dvaered ancestor variant
  dat/factions/spawn/dvaered/default.lua
  dat/scripts/shipvariants.lua
  dat/ships/dvaered/dvaered_ancestor_calamity.xml
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

More explicit doubles in economy stuff.
  src/economy.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Don't do opengl errors and stuff in non-devmode because so many drivers are shit.
  src/renderer/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Not sure why python multiprocessing broke...
  utils/nluacheck.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Minor optimization.
  src/ai.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Reworked ai.nearestspob as ai.nearestlandspob and have it work better.
  dat/ai/core/basic.lua
  src/ai.c
  utils/luacheckrc_gen.lua
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, reindent, clang-format

outfits2md cmp func fixed
  utils/outfits/outfits2md.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
