Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: check-illegal-windows-names
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      files: '^dat/'
      types: [lua]
      args: ["--ignore-words", ".codespellignore" ]
      additional_dependencies:
        - tomli
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: naevpedia
      name: check for stale naevpedia ships/outfits
      entry: utils/update-naevpedia.sh . --pre-commit
      language: script
      files: dat/(ships|outfits)/.*.xml$
      pass_filenames: false
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2021"]
      language: system

Assume blending objects don't cast shadows.
  src/model.rs
Due: rustfmt

Always store texture names for debugging.
  src/texture.rs
Due: rustfmt

Some more GLTF model SRGB correctness.
  src/model.rs
Due: rustfmt

Support KHR_materials_emissive_strength .
  Cargo.toml.in
  src/model.rs
Due: rustfmt

Normalize the sun light sources.
  dat/glsl/material_pbr.frag
  src/model.rs
Due: glsl_validator, rustfmt

Implement magic downscaling shader in rust.
  dat/glsl/rust_magic.frag
  dat/glsl/rust_magic.vert
  src/context.rs
  src/opengl_render.c
  src/render.rs
  src/texture.rs
Due: glsl_validator, clang-format, rustfmt

[cargo clippy]
  src/model.rs
Due: rustfmt

ssys2pov -> graph2pov
  utils/ssys/Readme.md
  utils/ssys/apply_pot.sh
  utils/ssys/dot2graph.py
  utils/ssys/graph2pov.py
  utils/ssys/process_ssys.sh
  utils/ssys/ssys2pov.py
Due: none

Implement texture down-scaling.
  src/texture.rs
Due: rustfmt

Added Texture::scale_wrap.
  src/texture.rs
Due: rustfmt

reposition.c: transmit edge tags + potential.c: bugfix
  utils/ssys/Readme.md
  utils/ssys/potential.c
  utils/ssys/process_ssys.sh
  utils/ssys/reposition.c
Due: none

potential.c: transmit v. tags; graph_faction.py: bugfix; reposition.c: simplified
  utils/ssys/Readme.md
  utils/ssys/apply_pot.sh
  utils/ssys/graph_faction.py
  utils/ssys/potential.c
  utils/ssys/process_ssys.sh
  utils/ssys/reposition.c
Due: none

Fixed a lot of background Y axis inversions.
  dat/bkg/blackhole.lua
  dat/bkg/haze.lua
  dat/bkg/mizar.lua
  dat/bkg/plasmastorm.lua
  dat/bkg/pso.lua
  dat/bkg/stellarwind.lua
Due: none

Make it so unknown hypergates don't get the same hash by salting with system.
  dat/spob/lua/lib/hypergate.lua
Due: none

Some spelling/grammar issues reported by pyroman.
  dat/events/taiomi/system.lua
Due: none

Specify it's all autonav for now.
  dat/events/settings.lua
Due: none

Added missing punctuation.
  dat/events/taiomi/system.lua
Due: none

Fixed stealth overlay being vflipped.
  src/map_overlay.c
Due: clang-format

Update the GUI properly when selling/buying commodities.
  src/land_trade.c
Due: clang-format

Added OpenGL variants of functions.
  src/buffer.rs
Due: rustfmt

Fixed texture scaling.
  src/texture.rs
Due: rustfmt

Re-enable low memory mode.
  src/model.rs
Due: rustfmt

Don't use ambient occlusion in low memory mode.
  dat/glsl/material_pbr.frag
  src/model.rs
Due: glsl_validator, rustfmt

Reimplement shadow blurring.
  src/model.rs
Due: rustfmt

Fixed sampler parameters changing when downscaling.
  src/texture.rs
Due: rustfmt

imp. process script & graph2pov + ssys2dot -> graph2dot
  utils/ssys/Readme.md
  utils/ssys/apply_pot.sh
  utils/ssys/graph2dot.py
  utils/ssys/graph2pov.py
  utils/ssys/graph_faction.py
  utils/ssys/potential.c
  utils/ssys/process_ssys.sh
  utils/ssys/ssys_graph.py
Due: none

Don't use ambient occlusion texture if not necessary.
  src/model.rs
Due: rustfmt

Fixed taiomi rendering.
  dat/bkg/taiomi.lua
Due: none

[cargo clippy]
  src/model.rs
  src/texture.rs
Due: rustfmt

Try to fix workflow for nightly with Rust.
  .github/workflows/naev_nightly.yml
Due: none

Bump version for rust, because why not?
  meson.build
Due: none

Enable opengl debugging by default.
  src/context.rs
Due: rustfmt

Tweaked profile parameters a bit to be more debuggy.
  Cargo.toml.in
  src/context.rs
Due: rustfmt

graph2dot.py -> graphmod_prep.py | graph2dot.py && graphmod_pp -> graphmod_postp
  utils/ssys/Readme.md
  utils/ssys/apply_pot.sh
  utils/ssys/graph2dot.py
  utils/ssys/graph2pov.py
  utils/ssys/graphmod_postp.py
  utils/ssys/graphmod_prep.py
  utils/ssys/process_ssys.sh
  utils/ssys/repos.sh
Due: none

Small tweak to fix Windows nightly builds
  .github/workflows/naev_nightly.yml
Due: none

Update pre-release workflow for rust builds
  .github/workflows/naev_prerelease.yml
Due: none

Update release workflow for rust builds
  .github/workflows/naev_release.yml
Due: none

Add luajit library to the steam release and use LD_LIBRARY_PATH to make adding more libraries in the future easier
  utils/ci/steam/SteamDeploy.sh
Due: none

ndata.c: Ensure that we look beside the binary first to avoid loading a system install of naev accidentally
  src/ndata.c
Due: clang-format

gen_version will now search for a matching tag to the meson project version first before falling back to the latest tag in a git repo
  meson.build
  utils/build/gen_version.py
Due: none
