Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, clang-format, rustfmt

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2021'
  language: system

Move API Docs trigger to the main CI workflow
  .github/workflows/compile_naev.yml
  .github/workflows/naev_ci.yml
Due: none

Started to work on Lua intro cinema.
  dat/scripts/intro.lua
  dat/scripts/intro/conf.lua
  dat/scripts/intro/core.lua
  dat/scripts/intro/main.lua
  po/POTFILES.in
  src/intro.c
Due: clang-format

naev_xml.__ior__ fixed
  utils/naev_xml.py
Due: none

Word changes
  dat/missions/pirate/lucas/lucas01.lua
  dat/missions/pirate/lucas/lucas02.lua
Due: none

Improved rendering and overall support for the intro library.
  dat/scripts/intro/core.lua
Due: none

Add outline to intro font.
  dat/scripts/intro/core.lua
Due: none

Keep behaviour the same as original intro.
  dat/scripts/intro/core.lua
Due: none

Cleaned up and simplified code a bit.
  src/font.c
  src/gltf.c
  src/opengl_tex.c
  src/renderer/src/lib.rs
  src/renderer/src/texture.rs
Due: clang-format, rustfmt

Load file directly instead of opening. Should allow caching.
  dat/scripts/love/graphics.lua
Due: none

Guess format from path instead of contents.
  src/renderer/src/texture.rs
Due: rustfmt

More aggressive recreating of cargo management window
  dat/board.lua
Due: none

Clear local boarding variables to avoid messages sticking. TODO move to a more ELM-like model where data is all concentrated.
  dat/board.lua
Due: none

Another failed attempt at fixing the loading bug.
  src/renderer/src/texture.rs
Due: rustfmt

Avoid cloning images when creating textures if possible.
  src/renderer/src/texture.rs
Due: rustfmt

Use tight alignment for opengl textures.
  src/renderer/src/lib.rs
Due: rustfmt

Lua credits.
  .luacheckrc
  dat/credits.lua
  po/POTFILES.in
  src/menu.c
Due: clang-format

RIP intro.c, we hardly knew ya. Welcome Lua intros.
  dat/events/start.lua
  dat/intro
  po/POTFILES.in
  src/intro.c
  src/intro.h
  src/meson.build
  src/player.c
  utils/update-po.sh
Due: clang-format

Let intro.run use a filename to behave like the old one easily.
  dat/credits.lua
  dat/scripts/intro.lua
Due: none

wrong filename
  dat/scripts/intro.lua
Due: none

Allow passing parameters to love.run and love.exec.
  dat/scripts/love.lua
Due: none

Fixes and consistency.
  dat/scripts/intro.lua
  dat/scripts/intro/core.lua
  src/player.c
Due: clang-format

love: Skip events until first update tick.
  dat/scripts/love.lua
Due: none

Skip first update too, make it run at dt=0.
  dat/scripts/love.lua
Due: none

Changelog.md.
  Changelog.md
Due: none

Added chance to derelict events and increase blackcat weight. POI and rescue missions should be rarer.
  dat/events/derelict.lua
  dat/events/derelict/blackcat.lua
  dat/events/derelict/poi.lua
  dat/events/derelict/rescue.lua
Due: none

relocate pirate blue shark sales
  dat/spob/new_haven.xml
  dat/spob/pirates_cove.xml
  dat/spob/sanchez.xml
Due: none

add pirate bedivere, awaiting own model
  dat/factions/spawn/pirate_dreamer_clan/default.lua
  dat/ships/pirate/pirate_bedivere.xml
  dat/spob/sanchez.xml
Due: none

pre-commit run -a
  .github/workflows/naev_ci.yml
  dat/factions/spawn/pirate_dreamer_clan/default.lua
  po/POTFILES.in
Due: none

Buffed pirate bedivere a bit.
  dat/ships/pirate/pirate_bedivere.xml
Due: none

Minor spelling.
  dat/ships/pirate/pirate_bedivere.xml
Due: none

Display Escort in comm if pilot is an escort of the player.
  dat/scripts/common/comm.lua
Due: none

Update utils/ssys/process_ssysmap.sh
  utils/ssys/process_ssysmap.sh
Due: none

process_ssys.sh -c -> --clean-sys -C -> --just-clean-sys + help
  utils/ssys/process_ssysmap.sh
Due: none

oops
  utils/ssys/process_ssysmap.sh
Due: none

double oops
  utils/ssys/process_ssysmap.sh
Due: none

[meson wrap update]
  subprojects/luajit.wrap
  subprojects/pcre2.wrap
Due: none

neburesearch04: increased chance to 20%.
  dat/missions/zalek/neburesearch/neburesearch_04.lua
Due: none

added big fbay_rate bonus to pirate zebra to help it stand out more
  dat/ships/pirate/pirate_zebra.xml
Due: none

buff corsair cores somewhat
  dat/outfits/generated/corsair_hull.py
  dat/outfits/generated/corsair_systems.py
Due: none

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  glsl_validator: any of: dat/.*\.(frag|vert)$
  clang-format: any of: ^src/ and \.(c|h)$
  rustfmt: any of: ^src/ and \.rs$
