Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

naevpedia:
  name: check for stale naevpedia ships/outfits
  entry: utils/update-naevpedia.sh . --pre-commit
  language: script
  pass_filenames: false

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2021'
  language: system

graphmod.py graphmod_{pp, repos_virt, smooth_tl}.py
  utils/ssys/Readme.md
  utils/ssys/graphmod.py
  utils/ssys/graphmod_pp.py
  utils/ssys/graphmod_repos_virt.py
  utils/ssys/graphmod_smooth_tl.py
  utils/ssys/process_ssys.sh
Due: none

ssys_graph.{py, sh} [ -v | -e ] + aux edge info, edge_len.sed
  utils/ssys/edge_len.sed
  utils/ssys/graphmod.py
  utils/ssys/graphmod_pp.py
  utils/ssys/ssys_graph.py
  utils/ssys/ssys_graph.sh
Due: none

reposition: manage variable length edges (dummy)
  utils/ssys/reposition.c
Due: none

ssys_but.sh
  utils/ssys/process_ssys.sh
  utils/ssys/ssys_but.sh
Due: none

reposition - float -> double (bugfix) + simplification
  utils/ssys/repos.sh
  utils/ssys/reposition.c
Due: none

Minor clean up.
  src/model.rs
Due: rustfmt

reposition: manage variable length edges
  utils/ssys/graphmod_pp.py
  utils/ssys/process_ssys.sh
  utils/ssys/repos.sh
  utils/ssys/reposition.c
Due: none

remove hidden ssys reads
  utils/ssys/graphmod.py
  utils/ssys/graphmod_pp.py
  utils/ssys/graphmod_repos_virt.py
  utils/ssys/graphmod_smooth_tl.py
  utils/ssys/process_ssys.sh
  utils/ssys/ssys2pov.py
Due: none

main ssys process script + doc
  utils/ssys/Readme.md
  utils/ssys/all_ssys_but.sh
  utils/ssys/graphmod_pp.py
  utils/ssys/process_ssys.sh
Due: none

py spaces
  utils/ssys/dot2graph.py
  utils/ssys/geometry.py
  utils/ssys/graphmod_pp.py
  utils/ssys/minimize_angle_stretch.py
  utils/ssys/ssys2pov.py
Due: none

reposition - small opt + bugfix
  utils/ssys/reposition.c
Due: none

process.sh (tiny) bugfixes
  utils/ssys/process_ssys.sh
Due: none

Readme.md - spelling
  utils/ssys/Readme.md
Due: none

Fixed hypergate prices getting cheaper with standing.
  dat/spob/lua/lib/hypergate.lua
Due: none

Load trails and mount data from gltf.
  src/gltf.h
  src/model.rs
  src/ship.c
Due: clang-format, rustfmt

Sort mounts and the likes.
  src/model.rs
Due: rustfmt

Minor simplification.
  src/model.rs
Due: rustfmt

Sort primitives too.
  src/model.rs
Due: rustfmt

Implemented gltf_sceneBody and gltf_sceneEngine.
  src/gltf.h
  src/model.rs
Due: clang-format, rustfmt

Removed unused fields.
  src/model.rs
Due: rustfmt

Removed some dead code.
  src/model.rs
Due: rustfmt

Remove some stuff C code shouldn't have access to.
  src/gltf.h
  src/nlua_pilot.c
  src/ship.c
Due: clang-format

twin sys len + update TODO
  utils/ssys/Readme.md
  utils/ssys/edge_len.sed
  utils/ssys/process_ssys.sh
  utils/ssys/reposition.c
  utils/ssys/ssys_graph.py
Due: none

potential -E experimental alternate gravity
  utils/ssys/apply_pot.sh
  utils/ssys/potential.c
  utils/ssys/process_ssys.sh
Due: none

Minor correctness.
  dat/glsl/material_pbr.frag
  src/model.rs
Due: glsl_validator, rustfmt

Removed unnecessary intensity from LightUniform.
  dat/glsl/material_pbr.frag
  dat/glsl/material_pbr.glsl
  src/model.rs
Due: glsl_validator, rustfmt

[cargo clippy]
  src/model.rs
Due: rustfmt

Increase the player's fleet capacity the first time they capture a ship.
  dat/events/capture.lua
Due: none

Made rust uniforms match signedness of ints with glsl-side.
  src/model.rs
Due: rustfmt

Propagate srgb from TextureBuilder to Texture.
  src/model.rs
  src/texture.rs
Due: rustfmt

repos.sh && app_pot.sh - expressed as graph mod & simplified
  utils/ssys/Readme.md
  utils/ssys/apply_pot.sh
  utils/ssys/apply_pot_to_ssys.sh
  utils/ssys/process_ssys.sh
  utils/ssys/repos.sh
Due: none

Try to load textures in the right format.
  src/model.rs
Due: rustfmt

Use the autodetect shared texture approach instead for srgb textures.
  src/model.rs
Due: rustfmt

have potential transmit edges + more detailed TODO in Readme.md
  utils/ssys/Readme.md
  utils/ssys/potential.c
  utils/ssys/process_ssys.sh
Due: none

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  glsl_validator: any of: dat/.*\.(frag|vert)$
  naevpedia: any of: dat/(ships|outfits)/.*.xml$
  clang-format: any of: ^src/ and \.(c|h)$
  rustfmt: any of: ^src/ and \.rs$
