Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, doxspell, no_tabs, reindent, rustfmt, clang-format

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

no_tabs:
  name: no_tabs
  entry: utils/no_tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

onion07: have the baddies patrol to be more aggressive
  dat/missions/onion/onion07.lua
Due: no_tabs, reindent

trigger: fix last timer_chain event not running.
  dat/scripts/trigger.lua
Due: no_tabs, reindent

trigger: also trigger on exploded
  dat/scripts/trigger.lua
Due: no_tabs, reindent

Fixed trigger.pilots_defeated() in the case of exploding pilots directly.
  dat/scripts/trigger.lua
Due: no_tabs, reindent

Spawn mercenaries using the mercenary faction.
  dat/factions/spawn/independent/default.lua
Due: no_tabs, reindent

onion07: mercenaries will attack the player on sight at the end of the mission.
  dat/missions/onion/onion07.lua
Due: no_tabs, reindent

Updated changelog spelling and stuff we forgot to add.
  Changelog.md
Due: no_tabs

Gave invincibility to ships entering/exiting wormholes/hypergates. Also use shipstats to implement fading effect invincibility instead of lua.
  dat/effects/fadein.xml
  dat/effects/fadein_black.xml
  dat/effects/fadeout.xml
  dat/effects/fadeout_black.xml
  dat/effects/fadeout_norender.xml
  dat/effects/hypergate_enter.xml
  dat/effects/hypergate_exit.xml
  dat/effects/lua/fadeout.lua
  dat/effects/lua/fadeout_norender.lua
  dat/effects/wormhole_enter.xml
  dat/effects/wormhole_exit.xml
  dat/missions/onion/onion07.lua
Due: no_tabs, reindent

Minor changelog fixes.
  Changelog.md
Due: no_tabs

onion07: first intro text written.
  dat/missions/onion/onion07.lua
Due: no_tabs, reindent

Update to work with sdl3 0.15.
  Cargo.toml.in
  src/renderer/src/lib.rs
Due: no_tabs, rustfmt

onion07: small writing fixes
  dat/missions/onion/onion07.lua
Due: no_tabs, reindent

onion07: completed, needs some more testing.
  dat/missions/onion/onion06.lua
  dat/missions/onion/onion07.lua
Due: no_tabs, reindent

onion07: finish and tested mission
  dat/missions/onion/onion07.lua
  dat/scripts/common/onion.lua
Due: no_tabs, reindent

Made Poltergeist Alpha landable.
  dat/spob/poltergeist_alpha.xml
Due: no_tabs

hypergate_construction: lower faction standing multiplier.
  dat/events/hypergate_construction.lua
Due: no_tabs, reindent

Changelog.
  Changelog.md
Due: no_tabs

Show proper version with "Welcome to Naev" message.
  src/naev.c
Due: doxspell, no_tabs, clang-format

Use higher resolution icon.
  Changelog.md
Due: no_tabs

Some more aggressive text editing clearing.
  src/nlua_naev.c
Due: doxspell, no_tabs, clang-format

Try to do better handling of IME inputs.
  dat/scripts/common/onion.lua
  dat/scripts/luatk/luatk.lua
Due: no_tabs, reindent

Prevent alpha bleeding in icon by premultiplying.
  src/renderer/src/lib.rs
Due: no_tabs, rustfmt

CI: disable github workflows for 0.12.x
  .github/workflows/naev_ci.yml.disabled
  .github/workflows/naev_nightly.yml.disabled
  .github/workflows/naev_prerelease.yml.disabled
  .github/workflows/naev_release.yml.disabled
  .github/workflows/spellcheck.yml.disabled
Due: no_tabs

Translated using Weblate (French)
  po/fr.po
Due: no_tabs

pre-release: Port workflow to work with forgejo actions
  .forgejo/workflows/naev_prerelease.yml
Due: no_tabs

release: Port workflow to work with forgejo actions
  .forgejo/workflows/naev_release.yml
Due: no_tabs

Remove the last remnants of github stuff
  .github/workflows/compile_naev.yml.disabled
Due: no_tabs

Backport workflow changes to 0.12.x branch.
  .forgejo/ISSUE_TEMPLATE/bug_report.yml
  .forgejo/ISSUE_TEMPLATE/feature_proposal.yml
  .forgejo/pull_request_template.md
  .forgejo/workflows/naev_ci.yml
  .forgejo/workflows/naev_nightly.yml
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
  .forgejo/workflows/spellcheck.yml
Due: no_tabs

Make sure versioning works for 0.12.x builds.
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: no_tabs

README: Ensure we only show workflow statuses for the main branch.
  Readme.md
Due: no_tabs

Correct pixel format of window
  src/renderer/src/lib.rs
Due: no_tabs, rustfmt

Use native endianness for loading icon image.
  src/renderer/src/lib.rs
Due: no_tabs, rustfmt

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  no_tabs: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
