Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, smd, smd-w, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

end-of-file-fixer.sh:
  name: fix end of files (bash)
  entry: utils/shlinters/end-of-file-fixer.sh
  language: script

smd:
  name: markdown linter
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  language: script
  require_serial: true

smd-w:
  name: markdown linter (wider)
  entry: utils/shlinters/smd/smd.sh
  args:
  - -i
  - -s
  - -w
  - '5'
  language: script
  require_serial: true

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

doxspell:
  name: doxspell
  entry: utils/doxspell.sh
  language: script

expand-tabs.sh:
  name: expand tabs (bash)
  entry: utils/shlinters/expand-tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2024'
  language: system

clang-format:
  name: Clang formatter
  entry: utils/clf.sh
  language: script

small fixes
  dat/missions/trader/mining_vrata_moss.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

oops (just read the docs)
  dat/missions/trader/mining_vrata_moss.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

fix light
  dat/bkg/lib/starfield.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

No need to clean up timer hooks on mission finish, should be done automatically + [pre-commit run -a]
  dat/events/neutral/capella_ghost.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Changelog.
  Changelog.md
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh

Lower amount of stars in capella, and warn if going over limit.
  dat/bkg/capella.lua
  dat/bkg/lib/starfield.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Made capella ghost visible.
  dat/events/neutral/capella_ghost.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Added missing translation.
  dat/events/neutral/capella_ghost.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Start to work porting commidiets to Rust.
  po/POTFILES.in
  src/commodity.rs
  src/meson.build
  src/naev.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent, rustfmt

Removed some unused code.
  src/commodity.c
  src/commodity.h
  src/commodity.rs
  src/map.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Have array handle Debug.
  src/array.rs
  src/commodity.rs
  src/plugin.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Simplify stuff a bit with traits.
  src/commodity.rs
  src/faction.rs
  src/helpers/Cargo.toml.in
  src/helpers/src/lib.rs
  src/hook.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Derive default for array.
  src/array.rs
  src/commodity.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

First implementation of loading commodities from Rust.
  src/commodity.rs
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

[cargo clippy]
  src/commodity.rs
  src/helpers/src/lib.rs
  src/hook.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

More Rust commodity loading work.
  src/commodity.rs
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Check FACTION_NULL directly.
  src/commodity.rs
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Missing luadoc.
  src/nlua_bkg.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Allow failing to load single commodities.
  src/commodity.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Exposed starfield.add_star.
  dat/bkg/lib/starfield.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

ramp up damage first
  dat/missions/trader/mining_vrata_moss.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Add feral ambushes
  dat/missions/trader/mining_vrata_moss.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

fix some
  dat/missions/trader/mining_vrata_moss.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

in Capella, add extra lightless stars
  dat/bkg/capella.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Minor simplification.
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed compilation.
  src/faction.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed faction_get and faction_exists on C-side when not found.
  po/POTFILES.in
  src/faction.rs
  src/map.c
  src/nlua_faction.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

Start to write C interface to Rust commodity code.
  src/commodity.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Fixed Rust commodity loading.
  src/commodity.rs
  src/naev.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

More C API for commodities.
  src/commodity.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

[pre-commit run -a]
  dat/bkg/capella.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

fix fix
  dat/missions/trader/mining_vrata_moss.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Finished the commodity C API from Rust. All should be well, but untested.
  src/commodity.c
  src/commodity.h
  src/commodity.rs
  src/land_trade.c
  src/map.c
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, rustfmt, clang-format

[cargo clippy]
  src/commodity.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

some finalization/polishing
  dat/missions/trader/mining_vrata_moss.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

don't remove from table while iterating on it
  dat/missions/trader/mining_vrata_moss.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed some Lua complaints about global variables.
  Changelog.md
  dat/missions/trader/mining_vrata_moss.lua
  po/POTFILES.in
Due: end-of-file-fixer.sh, smd-w, expand-tabs.sh, reindent

Start to write the commodity Lua API.
  src/commodity.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Add some stuff so we can interact with spobs from mlua.
  po/POTFILES.in
  src/naev.rs
  src/spob.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Finished up the necessary commodity lua API.
  src/commodity.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  smd: any of: ^Readme.md and \.(md|markdown|mdown)$
  smd-w: any of: ^Changelog.md and \.(md|markdown|mdown)$
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
