Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer.sh, check_luadoc_func, luafunc_dup, doxspell, expand-tabs.sh, reindent, rustfmt, clang-format

Path conditions:
  end-of-file-fixer.sh: any file but: po/naevpedia.pot
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  doxspell: any of: \.(c|h)$
  expand-tabs.sh: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$

change my username
  dat/AUTHORS
Due: end-of-file-fixer.sh, expand-tabs.sh

CI: Try caching some more bits of the workflow.
  .forgejo/workflows/naev_ci.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

CI: Add caching to the PR workflow as well
  .forgejo/workflows/naev_pr.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

CD: Add caching to the release workflows
  .forgejo/workflows/naev_nightly.yml
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Add an upload script so we can avoid the upload action.
  utils/ci/upload_codeberg_release.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Optimise uploads and downloads, as well as improve the nightly release appearance on Codeberg.
  .forgejo/workflows/naev_nightly.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Optimise artefact uploads and downloads to reduce churn
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Make sure we fetch the subprojects beforehand.
  .forgejo/workflows/naev_ci.yml
  .forgejo/workflows/naev_nightly.yml
  .forgejo/workflows/naev_pr.yml
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Make sure artefacts are placed in the correct spot
  .forgejo/workflows/naev_nightly.yml
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Fix dotfiles not being collected, and fix the release notes.
  .forgejo/workflows/naev_nightly.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Make sure we bundle dotfiles for releases.
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Use the last nightly tag instead of parsing the release body.
  .forgejo/workflows/naev_nightly.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Use the upload_codeberg_release script.
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Automatically prune the changelog for the current release.
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Limit CI so that it doesn't run when we tag something.
  .forgejo/workflows/naev_ci.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Use the new graphics.
  dat/outfits/launchers/pincushion_battery.xml
  dat/outfits/launchers/space_mine_layer.xml
  dat/outfits/pointdefence/zibs-16.xml
  dat/outfits/pointdefence/zibs-32.xml
  dat/outfits/structure/compact_lightsail.xml
  dat/outfits/structure/nanofiber_structural_enhancement.xml
  dat/outfits/unique/executor_shield_aura.xml
  dat/outfits/utility/conduit/charge_conduit.xml
  dat/outfits/utility/conduit/pipeline_conduit.xml
  dat/outfits/utility/conduit/targeting_conduit.xml
  dat/outfits/utility/hullcoating/reconstructive_nanobot_coating.xml
  dat/outfits/utility/targeting_array.xml
  dat/outfits/weapons/flak_gun.xml
  dat/outfits/weapons/plasma_eruptor.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

laser cannon mk2 does not need gfx_end tag.
  dat/outfits/weapons/laser_cannon_mk2.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Updated changelog.
  Changelog.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Restore old graphic.
  dat/outfits/utility/targeting_array.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

cargo_damper gets new graphics.
  dat/outfits/utility/cargo_damper.xml
Due: end-of-file-fixer.sh, expand-tabs.sh

Try to fix errors with certain NPCs images.
  dat/scripts/vn/vn.lua
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fixed check_outfit_store_gfx.py script.
  utils/check_outfit_store_gfx.py
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Fix path issue with itch deployment
  .forgejo/workflows/naev_nightly.yml
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Add a script to handle generating release notes
  utils/ci/generate_release_notes.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Use the generate_release_notes script.
  .forgejo/workflows/naev_nightly.yml
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Readjust meson caching to avoid downloads.
  .forgejo/workflows/naev_ci.yml
  .forgejo/workflows/naev_nightly.yml
  .forgejo/workflows/naev_pr.yml
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Add support for hiding source archive links on releases.
  utils/ci/upload_codeberg_release.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent

Hide archive links for our releases
  .forgejo/workflows/naev_nightly.yml
  .forgejo/workflows/naev_prerelease.yml
  .forgejo/workflows/naev_release.yml
Due: end-of-file-fixer.sh, expand-tabs.sh

Reset disabled state when removing a plugin.
  src/pluginmgr/src/install.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Remove unneeded function definition.
  src/physfs_archiver_blacklist.h
Due: end-of-file-fixer.sh, doxspell, expand-tabs.sh, clang-format

Changelog.
  Changelog.md
Due: end-of-file-fixer.sh, expand-tabs.sh

More changelog.
  Changelog.md
Due: end-of-file-fixer.sh, expand-tabs.sh

Fixed compilation.
  src/audio/Cargo.toml.in
  src/audio/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

[cargo clippy]
  src/ship.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

pluginmanager: don't save default conf parameters.
  dat/ships/neutral/admonisher.xml
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Add a fallback mirror for the plugin registry
  src/pluginmgr-gui/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Moved get_work_dir into its own file.
  src/ndata/src/lib.rs
Due: end-of-file-fixer.sh, expand-tabs.sh, rustfmt

Make the upload release script not specific to codeberg
  utils/ci/upload_forgejo_release.sh
Due: end-of-file-fixer.sh, expand-tabs.sh, reindent
