Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, no_tabs, reindent, glsl_validator, rustfmt, clang-format

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

no_tabs:
  name: no_tabs
  entry: utils/no_tabs.sh
  language: script

reindent:
  name: reindent
  entry: utils/reindent.sh
  language: script

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2021'
  language: system

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

Added EFX API.
  po/POTFILES.in
  src/audio/src/efx.rs
  src/audio/src/lib.rs
  src/audio/src/openal.rs
  src/meson.build
Due: no_tabs, reindent, rustfmt

More auxiliary effect slot work.
  src/audio/src/efx.rs
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Use message system to clean up audio stuff.
  src/audio/src/efx.rs
  src/audio/src/lib.rs
Due: no_tabs, rustfmt

Properly clear up framebuffers through the message system.
  src/renderer/src/lib.rs
  src/renderer/src/texture.rs
Due: no_tabs, rustfmt

More correctness.
  src/audio/src/efx.rs
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: no_tabs, rustfmt

[cargo clippy]
  src/renderer/src/shader.rs
Due: no_tabs, rustfmt

[cargo clippy]
  src/audio/src/efx.rs
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: no_tabs, rustfmt

Use function definitions to mkae clippy happy.
  src/audio/src/efx.rs
Due: no_tabs, rustfmt

Quiet clippy.
  src/audio/src/efx.rs
Due: no_tabs, rustfmt

Added new_effect and new_auxiliary_effect_slot.
  src/audio/src/efx.rs
Due: no_tabs, rustfmt

fixed broken comment blocks
  src/escort.c
  src/outfit.c
  src/pilot_weapon.c
  src/player.c
Due: no_tabs, clang-format

doxtractor.c: don't use file prefix when input is stdin
  subprojects/doxtractor/doxtractor.c
Due: no_tabs

doxtractor bugfix
  subprojects/doxtractor/doxtractor.c
Due: no_tabs

new doxspell using doxtractor
  utils/doxspell.sh
  utils/naev_ugly.aspell.pws
Due: no_tabs, reindent

naev.aspell.pws update
  utils/naev.aspell.pws
Due: no_tabs

more corrections
  src/gettext.c
  src/land_outfits.c
  src/map.c
  src/map_find.c
  src/mission.c
  src/msgcat.c
  src/naev_version.c
  src/ndata.c
  src/nlua_diff.c
  src/nlua_hook.c
  src/nlua_misn.c
  src/nlua_naev.c
  src/nlua_pilot.c
  src/nlua_player.c
  src/nlua_rnd.c
  src/nlua_transform.c
  src/pilot_cargo.c
  src/threadpool.c
  utils/naev.aspell.pws
Due: no_tabs, clang-format

spellcheck .h files
  src/SDL_PhysFS.h
  src/cgltf.h
  src/mapData.h
  src/nlua_hook.c
  src/nlua_pilot.c
  src/nlua_player.c
  src/nlua_tex.c
  src/shipstats.h
  src/utf8.h
  utils/naev.aspell.pws
  utils/naev_ugly.aspell.pws
Due: no_tabs, clang-format

Updated valkyrie beam to the new API.
  dat/outfits/unique/valkyrie_beam.lua
Due: no_tabs, reindent

sort the dictionaries
  utils/naev.aspell.pws
  utils/naev_ugly.aspell.pws
Due: no_tabs

unstack naev_ugly a bit, new corrections, doxspell bugfix
  src/economy.c
  src/effect.c
  src/gltf.c
  src/music.c
  src/naev.c
  src/nlua_music.c
  src/space.c
  src/unidiff.c
  utils/doxspell.sh
  utils/naev.aspell.pws
  utils/naev_ugly.aspell.pws
Due: no_tabs, reindent, clang-format

Added support for modifying and getting playing state of audio sources.
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: no_tabs, rustfmt

Updated code of conduct to v3.0.
  code_of_conduct.md
Due: no_tabs

Fleshing out more of the audio Lua API.
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: no_tabs, rustfmt

Made it possible to get audio buffer duration.
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: no_tabs, rustfmt

Point artwork submodule to codeberg.
  .gitmodules
Due: no_tabs

Fixed dv_bikers NPC images.
  dat/missions/dvaered/recruitment/dv_bikers.lua
Due: no_tabs, reindent

checked `` usage in src
  src/SDL_PhysFS.h
  src/ai.c
  src/ai.h
  src/array.h
  src/asteroid.c
  src/cgltf.h
  src/console.c
  src/debug_fpu.c
  src/dev_sysedit.c
  src/dialogue.c
  src/event.c
  src/font.c
  src/gettext.c
  src/lutf8lib.c
  src/mission.c
  src/nlua_bkg.c
  src/nlua_gfx.c
  src/nlua_hook.c
  src/nlua_outfit.c
  src/safelanes.c
  src/semver.c
  src/sound.c
Due: no_tabs, clang-format

doxspell: manage multi-words `...` / "..."
  utils/doxspell.sh
Due: no_tabs, reindent

Changed links to point to codeberg instead of github.
  Changelog.md
  Readme.md
  code_of_conduct.md
  meson.build
  naev.6
  org.naev.Naev.metainfo.xml
Due: no_tabs, reindent

dictionary unstack, re-clang-format src
  src/SDL_PhysFS.h
  src/cgltf.h
  src/dialogue.c
  src/font.c
  src/gui.c
  src/nfile.c
  src/nlua_audio.c
  src/nlua_font.c
  src/nlua_gfx.c
  src/nlua_hook.c
  src/nlua_naev.c
  src/nlua_pilot.c
  src/nlua_safelanes.c
  src/nlua_spob.c
  src/nlua_system.c
  src/nstring.h
  utils/doxspell.sh
  utils/model-view-c/nstr.h
  utils/naev.aspell.pws
  utils/naev_ugly.aspell.pws
Due: no_tabs, reindent, clang-format

doxspell: replace ' ' by '_' in a `...` / "..." expr
  utils/doxspell.sh
Due: no_tabs, reindent

doxspell: manage overlapping error boxes
  utils/doxspell.sh
Due: no_tabs, reindent

Don't install doxextractor and make sure it's compiled before the documentation stuff.
  docs/meson.build
  meson.build
  subprojects/doxtractor/meson.build
Due: no_tabs, reindent

malloc.h doesn't exist on mac os.
  subprojects/doxtractor/doxtractor.c
Due: no_tabs

Reset autonav when entering a system to figure out escorts and such.
  dat/autonav.lua
Due: no_tabs, reindent

Don't use hook.timerClear in dat/scripts/escort.lua.
  dat/scripts/escort.lua
Due: no_tabs, reindent

Properly run the success function when reaching target system with escorts.
  dat/scripts/escort.lua
Due: no_tabs, reindent

Made taiomi09 mission more inline with the new escort code.
  dat/missions/taiomi/taiomi09.lua
Due: no_tabs, reindent

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  no_tabs: any file but: (^|/)Makefile
  reindent: any of: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
  glsl_validator: any of: dat/.*\.(frag|vert)$
  rustfmt: any of: ^src/ and \.rs$
  clang-format: any of: ^src/ and \.(c|h)$
