Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: check-illegal-windows-names
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      files: '^dat/'
      types: [lua]
      args: ["--ignore-words", ".codespellignore" ]
      additional_dependencies:
        - tomli
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: naevpedia
      name: check for stale naevpedia ships/outfits
      entry: utils/update-naevpedia.sh . --pre-commit
      language: script
      files: dat/(ships|outfits)/.*.xml$
      pass_filenames: false
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2021"]
      language: system

yet another misc. tweaks commit
  dat/missions/neutral/cargo.lua
  dat/missions/trader/anxiousmerchant.lua
  dat/outfits/core_engine/small/unicorp_hawk_160_engine.xml
  dat/outfits/intrinsic/port_and_polish.xml
  dat/outfits/structure/active_plating.xml
  dat/outfits/utility/conduit/charge_conduit.xml
  dat/outfits/utility/conduit/pipeline_conduit.xml
  dat/ships/lua/vendetta_whiplash.lua
  dat/ships/neutral/vendetta_whiplash.xml
Due: naevpedia

Fixed treasure hunt maps.
  dat/scripts/common/treasure_hunt.lua
Due: none

More elided lifetime fixes.
  src/renderer/src/lib.rs
Due: rustfmt

factorized some op in process_sys.sh
  utils/apply_renaming_suggestion.sh
  utils/ssys/Readme.md
  utils/ssys/graphmod_prep.py
  utils/ssys/graphmod_stellarwind_road.py
  utils/ssys/process_ssysmap.sh
Due: none

xml outfit formatter with pre-commit
  .pre-commit-config.yaml
  org.naev.Naev.metainfo.xml
  utils/xml_format.sh
Due: none

3c
  dat/events/neutral/travelling_merchant.lua
Due: none

indep pers tweaks
  dat/events/pers/indep.lua
Due: none

Lua formatting.
  dat/events/pers/indep.lua
Due: none

Fixed typo.
  dat/missions/onion/onion03.lua
Due: none

Fixed formatting typo.
  dat/missions/zalek/blackhole/zbh07.lua
Due: none

More general avoiding negative numbers with ngettext.
  dat/scripts/format.lua
Due: none

Ensure we clear the default rustflags for the rust action
  .github/workflows/naev_ci.yml
  .github/workflows/naev_nightly.yml
  .github/workflows/naev_prerelease.yml
  .github/workflows/naev_release.yml
Due: none

ported ssys_freeze.py from elementTree to naev_xml && ssys_xml object
  utils/naev_xml.py
  utils/ssys/ssys.py
  utils/ssys/ssys_freeze.py
Due: none

fixed breach in naev_xml
  utils/naev_xml.py
  utils/ssys/ssys.py
Due: none

blink drives give large ew bonuses, but only during cooldown
  dat/outfits/utility/blink_drive.lua
  dat/outfits/utility/flicker_drive.lua
Due: none

blink drives affect ew_hide instead
  dat/outfits/utility/blink_drive.lua
  dat/outfits/utility/flicker_drive.lua
  dat/outfits/utility/flicker_drive.xml
Due: naevpedia

Changed forward weapon aiming algorithm for the player so it is easier to shoot small ships with skill.
  Changelog.md
  src/weapon.c
Due: clang-format

crimson gauntlet tweaks
  dat/missions/dvaered/gauntlet/gauntlet.lua
  dat/missions/dvaered/gauntlet/tables.lua
  dat/ssys/crimson_gauntlet.xml
Due: none

ported ssys_relax to ssys_xml for the ssys part
  utils/naev_xml.py
  utils/ssys/Readme.md
  utils/ssys/gen_decorators.sh
  utils/ssys/process_ssysmap.sh
  utils/ssys/ssys.py
  utils/ssys/ssys_freeze.py
  utils/ssys/ssys_relax.py
Due: none

made process_ssys.sh deterministic
  utils/release.sh
  utils/ssys/Readme.md
  utils/ssys/apply_pot.sh
  utils/ssys/det_potential.sh
  utils/ssys/det_reposition.sh
  utils/ssys/gen_decorators.sh
  utils/ssys/graphmod_repos.sh
  utils/ssys/process_ssysmap.sh
  utils/ssys/repos.sh
  utils/ssys/reposition.c
Due: none

ported process_relax to naev_xml
  utils/ssys/Readme.md
  utils/ssys/graphmod_smooth.py
  utils/ssys/process_ssysmap.sh
  utils/ssys/ssys_relax.py
Due: none

ported decorators & graph2ssysmap to ssys, ssys.py cleanup
  utils/repair_xml.sh
  utils/ssys/decorators.py
  utils/ssys/graph2ssysmap.py
  utils/ssys/ssys.py
Due: none

included ssys.py in xml_format.sh
  utils/ssys/process_ssysmap.sh
  utils/ssys/ssys.py
  utils/xml_format.sh
Due: none

disable shellcheck warning && update Readme
  utils/ssys/Readme.md
  utils/xml_format.sh
Due: none

ported ssys_empty to ssys_xml
  utils/ssys/ssys.py
  utils/ssys/ssys_empty.py
Due: none

outfit/ssys_xml improved init
  utils/naev_xml.py
  utils/outfits/outfit.py
  utils/ssys/Readme.md
  utils/ssys/ssys.py
Due: none

combat ai tweaks
  dat/outfits/utility/combatai/agility_combat_ai.xml
  dat/outfits/utility/combatai/bio-neural_combat_ai.xml
  dat/outfits/utility/combatai/cyclic_combat_ai.xml
  dat/outfits/utility/combatai/efficiency_combat_ai.xml
  dat/outfits/utility/combatai/hive_combat_ai.xml
  dat/outfits/utility/combatai/pinpoint_combat_ai.xml
  dat/outfits/utility/combatai/scanning_combat_ai.xml
Due: naevpedia

some jam resistance tweaks
  dat/outfits/launchers/convulsion_launcher.xml
  dat/outfits/launchers/enygma_systems_huntsman_launcher.xml
  dat/outfits/launchers/teracom_imperator_launcher.xml
  dat/outfits/launchers/turreted_convulsion_launcher.xml
  dat/outfits/launchers/unicorp_caesar_iv_launcher.xml
  dat/outfits/launchers/unicorp_storm_launcher.xml
  dat/outfits/launchers/zalek_hunter_launcher.xml
Due: naevpedia

More disabling nasin just in case.
  dat/missions/sirius/heretic/heretic0.lua
Due: none

made c59 the last northern stellarwind ssys
  utils/ssys/graphmod_prep.py
  utils/ssys/graphmod_smooth.py
  utils/ssys/graphmod_stellarwind_road.py
Due: none

graph2dot edge color bugfix
  utils/ssys/graph2dot.py
Due: none

Mark missions and events as being deleted to avoid running further hooks on them, like on completion hooks.
  src/event.h
  src/hook.c
  src/mission.h
  src/nlua_evt.c
  src/nlua_evt.h
  src/nlua_misn.c
Due: clang-format

Minor spellcheck.
  dat/events/data_matrices.lua
Due: none

Fixed stealth overlays of friendly turned hostile ships in the map overlay.
  src/map_overlay.c
Due: clang-format

Made internal flow amplifiers nosteal so they aren't sold in Zied.
  dat/outfits/flow/internal_flow_amplifier.xml
Due: naevpedia

Made Lost faction not static.
  dat/factions/lost.xml
Due: none

Added naev.versionTestReq (which deprecates naev.versionTest). Fixed Lost faction not remaining known. Most robust version checks for the updater.
  dat/events/updater.lua
  meson.build
  src/log/src/version.rs
  src/naev.h
  src/nlua_naev.c
Due: clang-format, rustfmt

wild space tweaks to be more mazelike
  dat/ssys/alpha_centauri.xml
  dat/ssys/baitas.xml
  dat/ssys/hopa.xml
  dat/ssys/padonia.xml
  dat/ssys/protera.xml
  dat/ssys/sagittarius.xml
  dat/ssys/syndania.xml
  dat/ssys/tasopa.xml
  dat/ssys/urillian.xml
  dat/ssys/veses.xml
Due: none
