Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

check_luadoc_func:
  name: check @lua.. not used outside @luafunc
  entry: utils/check_luadoc_funcs.sh
  language: script

luafunc_dup:
  name: duplicate @luafunc entry detector
  entry: utils/luafunc_dup.sh
  language: script

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

naevpedia:
  name: check for stale naevpedia ships/outfits
  entry: utils/update-naevpedia.sh . --pre-commit
  language: script
  pass_filenames: false

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

rustfmt:
  name: Rust formatter
  entry: rustfmt
  args:
  - --edition
  - '2021'
  language: system

Added fade-out to black effect.
  dat/effects/fadeout_black.xml
  dat/glsl/effects/fadeout_black.frag
  po/POTFILES.in
Due: glsl_validator

Started to work on Haven Curse.
  dat/events/neutral/haven_curse.lua
  po/POTFILES.in
Due: none

Added effects to colour a ship black and fade in from black.
  dat/effects/black.xml
  dat/effects/fadein_black.xml
  dat/glsl/effects/black.frag
  dat/glsl/effects/fadein_black.frag
  po/POTFILES.in
Due: glsl_validator

Some tweaks and fixes to the haven curse event.
  dat/events/neutral/haven_curse.lua
Due: none

Add munition sto event/mission luacheck.
  .luacheckrc
Due: none

Haven curse: made more visible.
  dat/events/neutral/haven_curse.lua
Due: none

Simplified shader.
  dat/glsl/effects/fadein_black.frag
Due: glsl_validator

More fleshed out with boss fight and such.
  dat/events/neutral/haven_curse.lua
Due: none

Minor luadoc.
  src/nlua_audio.c
Due: clang-format

Have mission and event be able to use munition.
  src/event.c
  src/nlua_misn.c
Due: clang-format

Disable haven's curse for now.
  dat/events/neutral/haven_curse.lua
Due: none

Slightly simplified corruption shader.
  dat/scripts/pp_shaders.lua
Due: none

Minor tweaks.
  dat/events/neutral/haven_curse.lua
Due: none

Some fixes.
  dat/events/neutral/haven_curse.lua
Due: none

Fixed corsair set.
  dat/outfits/core_sets/corsair_hull.lua
  dat/outfits/core_sets/corsair_systems.lua
Due: none

haven_curse: lots of fixes
  dat/events/neutral/haven_curse.lua
Due: none

haven_curse: lower defiance damage, increase health a bit
  dat/events/neutral/haven_curse.lua
Due: none

haven_curse: more absorb.
  dat/events/neutral/haven_curse.lua
Due: none

Don't stream song until bug #2876 is fixed.
  dat/events/neutral/haven_curse.lua
Due: none

Added fadeout_norender effect.
  dat/effects/fadeout_norender.xml
  dat/effects/lua/fadeout_norender.lua
  po/POTFILES.in
Due: none

Added pilot.jamLockons.
  src/nlua_pilot.c
  src/weapon.c
  src/weapon.h
Due: clang-format

haven_curse: more tweaks.
  dat/events/neutral/haven_curse.lua
Due: none

haven_curse: tweaks to make less susceptible to stealth bomber spam
  dat/events/neutral/haven_curse.lua
Due: none

haven_curse: maybe too much anti stealth bomber stuff
  dat/events/neutral/haven_curse.lua
Due: none

Fixed duplicate effects.
  dat/effects/fadeout_norender.xml
Due: none

fixed fade-out norender.
  dat/effects/lua/fadeout_norender.lua
Due: none

haven_curse: dded weird ghost, and made it a dynamic faction.
  dat/events/neutral/haven_curse.lua
Due: none

haven_curse: no longer unique and give corsair systems on boarding the derelict first time.
  dat/events/neutral/haven_curse.lua
Due: none

Should permanently disable.
  dat/events/neutral/haven_curse.lua
Due: none

Use jamLockons instead of munition.clear to be less jarring.
  dat/events/neutral/haven_curse.lua
Due: none

Cleaning Flames jams munitions.
  dat/outfits/flow/abilities/cleansing_flames.lua
Due: none

Gave Defiance more absorb.
  dat/events/neutral/haven_curse.lua
Due: none

Gave Defiance point defense.
  dat/events/neutral/haven_curse.lua
Due: none

Use shader graphics for the guardian point defense.
  dat/glsl/particles/laser_blue.frag
  dat/glsl/particles/ripper_blue.frag
  dat/outfits/pointdefense/guardian_interception_system.xml
  dat/outfits/pointdefense/guardian_overseer_system.xml
Due: glsl_validator, naevpedia

Added point defense colour.
  utils/glsl/particles/frag.glsl
Due: none

Defiance gets point defense and energy_regen_mod.
  dat/events/neutral/haven_curse.lua
Due: none

More aggressive clean up when going back to the menu.
  src/menu.c
Due: clang-format

More aggressive Lua garbage collection when cleaning up player.
  src/player.c
Due: clang-format

Player's fleet ignores distress calls.
  dat/ai/core/control/generic.lua
Due: none

Path conditions:
  check_luadoc_func: any of: ^src/nlua_*.c and \.(c|h)$
  luafunc_dup: any of: ^src/nlua_*.c and \.(c|h)$
  glsl_validator: any of: dat/.*\.(frag|vert)$
  naevpedia: any of: dat/(ships|outfits)/.*.xml$
  clang-format: any of: ^src/ and \.(c|h)$
  rustfmt: any of: ^src/ and \.rs$
