Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, glsl_validator, naevpedia, clang-format, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: check-illegal-windows-names
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      files: '^dat/'
      types: [lua]
      args: ["--ignore-words", ".codespellignore" ]
      additional_dependencies:
        - tomli
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: naevpedia
      name: check for stale naevpedia ships/outfits
      entry: utils/update-naevpedia.sh . --pre-commit
      language: script
      files: dat/(ships|outfits)/.*.xml$
      pass_filenames: false
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2021"]
      language: system

nlua.environment_new no longer has to be &mut self.
  src/faction.rs
  src/nlua.rs
Due: rustfmt

Nuke borderless option from conf.
  src/conf.c
  src/conf.h
  src/nlua_naev.c
  src/renderer/src/lib.rs
Due: clang-format, rustfmt

Don't actually need a Mutex for NLua.
  src/faction.rs
  src/mutex/src/lib.rs
  src/naev.rs
  src/nlua.rs
  src/vec2.rs
Due: rustfmt

Some lock simplifications.
  src/camera.rs
  src/nebula.rs
  src/renderer/src/buffer.rs
  src/renderer/src/lib.rs
  src/renderer/src/shader.rs
  src/renderer/src/texture.rs
Due: rustfmt

Just panic if the context is gone, not much we can do.
  src/faction.rs
  src/model.rs
  src/naev.rs
  src/nebula.rs
  src/outfit.rs
  src/renderer/src/lib.rs
  src/renderer/src/shader.rs
  src/renderer/src/texture.rs
  src/ship.rs
  src/slots.rs
Due: rustfmt

Added missing mutex workspace files.
  src/mutex/Cargo.toml.in
  src/mutex/meson.build
Due: none

Use RwLock for ntime.
  src/core/src/ntime.rs
Due: rustfmt

Don't let pilots take off from uninhabited spobs.
  src/pilot.c
Due: clang-format

Tweaked star background and changed defaults a bit.
  dat/bkg/shaders/starfield.frag
  src/conf.c
  src/conf.h
Due: glsl_validator, clang-format

Update proteron.md
  dat/naevpedia/lore/factions/proteron.md
Due: none

Update naevpedia
  dat/naevpedia/lore/fabricators.md
  dat/naevpedia/lore/factions/thurion.md
  dat/naevpedia/lore/history.md
Due: none

Move faction standing API out of standing RwLock.
  src/faction.rs
Due: rustfmt

Reword Wildwood Nest description adapting it to the new map.
  dat/spob/wildwood_nest.xml
Due: none

Fixed some compilation issues.
  src/faction.rs
  src/renderer/src/lib.rs
  src/toolkit/Cargo.toml.in
  src/toolkit/src/widget.rs
Due: rustfmt

meson test now runs Rust tests.
  test/meson.build
Due: none

tweaks to toolkit colors
  src/toolkit.c
Due: clang-format

You can now manag ecargo on boarding after looting cargo.
  dat/board.lua
Due: none

Use AtomicPtr to make File Send + Sync.
  src/ndata/src/physfs.rs
Due: rustfmt

Tweaked starfield shader a bit more.
  dat/bkg/shaders/starfield.frag
Due: glsl_validator

Fixed Goddard ships giving equipment errors.
  dat/factions/goddard.xml
Due: none

Started to work on porting audio to Rust.
  Cargo.toml.in
  po/POTFILES.in
  src/audio/Cargo.toml.in
  src/audio/meson.build
  src/audio/src/lib.rs
  src/audio/src/openal.rs
  src/log/src/lib.rs
  src/meson.build
  src/ndata/src/physfs.rs
Due: rustfmt

Don't allow borrowing mutex as mut.
  src/meson.build
  src/mutex/src/lib.rs
Due: rustfmt

More consistent knowness of hypergate destinations.
  dat/spob/lua/lib/hypergate.lua
Due: none

Some more work and organization.
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: rustfmt

Use upvalue instead of global for luacs02.
  dat/missions/neutral/seek_n_destroy.lua
  dat/missions/pirate/lucas/lucas02.lua
Due: none

Made most PERS capturable.
  dat/events/pers.lua
  dat/events/pers/dvaered.lua
  dat/events/pers/empire.lua
  dat/events/pers/indep.lua
  dat/events/pers/minerva.lua
  dat/events/pers/misc.lua
  dat/events/pers/pirate.lua
  dat/events/pers/sirius.lua
  dat/events/pers/soromid.lua
  dat/events/pers/thurion.lua
  dat/events/pers/zalek.lua
Due: none

bad ship intrinsics changes (less of a slowdown, nerfs to stress dissipation and detection)
  dat/outfits/intrinsic/bad_shape.xml
  dat/outfits/intrinsic/defective.xml
  dat/outfits/intrinsic/worn_down.xml
Due: naevpedia

Can't disable ZHD-08-5820 nor do they have an escape pod.
  dat/events/pers/thurion.lua
  dat/events/pers/zalek.lua
Due: none

Gave ZHD-08-5820 an escape pod for the mystery, but still no disabling.
  dat/events/pers/zalek.lua
Due: none

Made hit_test behave more closely to hit.
  dat/factions/standing/lib/base.lua
Due: none

Some minor work.
  src/audio/src/lib.rs
Due: rustfmt

Probably got static audios working...
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: rustfmt

Drop for OpenAL Source and Buffer.
  src/audio/src/lib.rs
  src/audio/src/openal.rs
Due: rustfmt

Also piss off spobs and such when capturing a ship.
  dat/board.lua
Due: none

Beams should work now when only in range is not checked.
  src/weapon.c
Due: clang-format

Not sure why conditional wasn't being checked when not landed, but fixed conditionals always being red with Misi.
  src/land_outfits.c
Due: clang-format

Use cinema library for Chapter 1 event.
  dat/events/chapter1.lua
Due: none

two new outfits for misi and buff to daphne's leap
  Changelog.md
  dat/events/neutral/travelling_merchant.lua
  dat/outfits/unique/daphnes_leap.xml
  dat/outfits/utility/apollos_gaze.xml
  dat/outfits/utility/kratos_glove.xml
Due: naevpedia

Made library to handle POI pricing and made apollo_gaze and kratos_glove use encrypted matrices.
  dat/naevpedia/outfits/meson.build
  dat/outfits/lib/poi_data.lua
  dat/outfits/unique/poi_data.lua
  dat/outfits/unique/poi_data_cheap.lua
  dat/outfits/utility/apollos_gaze.xml
  dat/outfits/utility/kratos_glove.xml
  po/POTFILES.in
Due: naevpedia

Apollo's Gaze and Krato's glove don't cost matrices.
  dat/outfits/utility/apollos_gaze.xml
  dat/outfits/utility/kratos_glove.xml
Due: naevpedia
