Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_luadoc_func, luafunc_dup, no_tabs, reindent, glsl_validator, rustfmt, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '3.2.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: po/naevpedia.pot
    - id: check-xml
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    #- id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    #- id: check-symlinks
    #- id: check-illegal-windows-names
    #- id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    #- id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: local
  hooks:
    - id: check_luadoc_func
      name: check @lua.. not used outside @luafunc
      entry: utils/check_luadoc_funcs.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: luafunc_dup
      name: duplicate @luafunc entry detector
      entry: utils/luafunc_dup.sh
      files: '^src/nlua_*.c'
      types: [c]
      language: script
    - id: rem_xml_head
      name: remove unnecessary XML 1.0 headers
      entry: utils/rem_xml_head.sh
      types: [xml]
      language: script
    - id: no_tabs
      name: no_tabs
      entry: utils/no_tabs.sh
      language: script
      exclude: (^|/)Makefile
      types: [text]
    - id: reindent
      name: reindent
      entry: utils/reindent.sh
      #[build clang-format dot frag glsl gltf js lua luacheckrc markdown md nsi py pov rb scm sh tex vdf vert]
      # Unmanaged: [markdown md yaml yml .clangformat]
      files: .*\.build$|.*\.dot$|.*\.frag$|.*\.glsl$|.*\.gltf|.*\.js$|.*\.lua$|.*\.luacheckrc$|.*\.nsi$|.*\.py$|.*\.pov$|.*\.rb$|.*\.scm$|.*\.sh$|.*\.tex$|.*\.vdf$|.*\.vert$
      language: script
    - id: check_fmt_f_usage
      name: lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: xml_format
      name: format xml
      entry: utils/xml_format.sh
      types: [xml]
      files: .*\.(xml|loc|plist)$
      args: ["-st"]
      language: script
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: rustfmt
      name: Rust formatter
      entry: rustfmt
      types: [rust]
      files: '^src/'
      args: ["--edition", "2021"]
      language: system
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
    - id: shellcheck
      types: [shell]
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
    - id: codespell
      files: '^dat/'
      types: [lua]
      args: ["--ignore-words", ".codespellignore" ]
      additional_dependencies:
        - tomli
- repo: https://github.com/shssoichiro/oxipng
  rev: v9.1.5
  hooks:
    - id: oxipng
      args: ["-o", "max", "--strip", "safe", "--alpha"]
      types: [png]
- repo: local
  hooks:
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python

Update trace meson wrap.
  subprojects/tracy.wrap
Due: no_tabs

As we aren't using premultiply alpha for now, just set alpha==0 pixels to RGBA=0.
  src/opengl_render.c
  src/renderer/src/texture.rs
Due: no_tabs, rustfmt, clang-format

neburesearch00: clear timers when leaving the system.
  dat/missions/zalek/neburesearch/neburesearch_00.lua
Due: no_tabs, reindent

Use C-style comments for the lua documentation in vec2.rs, as it will allow us to target a single API and distinguish the luadoc comments from the normal rust ones.
  src/vec2.rs
Due: no_tabs, rustfmt

Added macros for constant gamma to linear.
  dat/glsl/lib/gamma.glsl
Due: no_tabs, reindent

Added thorn particle example.
  utils/glsl/particles/frag.glsl
  utils/glsl/particles/main.lua
Due: no_tabs, reindent

Too many false positives with glsl-validator for now. Disable.
  .pre-commit-config.yaml
Due: no_tabs

Added thorn particle shader.
  dat/glsl/particles/thorn.frag
Due: no_tabs, reindent, glsl_validator

Clear munitions of a pilot when changing their faction.
  src/nlua_pilot.c
  src/weapon.c
  src/weapon.h
Due: no_tabs, clang-format

Only clear parent information, not munition itself when switching pilot factions.
  src/weapon.c
Due: no_tabs, clang-format

Lua outfit onhit now takes position of the hit as a parameter.
  src/pilot.c
  src/pilot_outfit.c
Due: no_tabs, clang-format

Don't segfault on pilot getting hit by non-weapons.
  src/pilot.c
Due: no_tabs, clang-format

Fixed header prototype.
  src/pilot_outfit.h
Due: no_tabs, clang-format

Don't panic with shader errors.
  src/renderer/src/shader.rs
Due: no_tabs, rustfmt

Updated lua outfit example to new onhit api.
  dat/outfits/lua_outfit_example.lua
Due: no_tabs, reindent

Reflective shell rework. Still WIP.
  dat/glsl/particles/thorn.frag
  dat/outfits/bioship/skills/reflective_shell.lua
  dat/outfits/bioship/skills/reflective_shell.xml
Due: no_tabs, reindent, glsl_validator

forgot to add thorn itself.
  dat/outfits/bioship/skills/thorn.xml
  po/POTFILES.in
Due: no_tabs

Update reflective shell description.
  dat/outfits/bioship/skills/reflective_shell.lua
Due: no_tabs, reindent

Update reflective shell description to be the same as the outfit.
  dat/scripts/bioship/skills.lua
Due: no_tabs, reindent

Tweaked thorns and they don't do plasma damage anymore.
  dat/outfits/bioship/skills/reflective_shell.lua
  dat/outfits/bioship/skills/thorn.xml
  dat/scripts/bioship/skills.lua
Due: no_tabs, reindent

Thorns will launch in bigger groups upon taking more damage.
  dat/outfits/bioship/skills/reflective_shell.lua
Due: no_tabs, reindent

Luxurious ships raise the cost of bribes and being lucky lowers them for pirates.
  dat/ai/core/misc/pirate.lua
Due: no_tabs, reindent

Start to work on SDF stuff for Rust.
  dat/glsl/rust_cross.glsl
  po/POTFILES.in
  src/meson.build
  src/renderer/src/lib.rs
  src/renderer/src/sdf.rs
Due: no_tabs, reindent, rustfmt

ShaderBuilder => ProgramBuilder
  src/model.rs
  src/nebula.rs
  src/renderer/src/lib.rs
  src/renderer/src/sdf.rs
  src/renderer/src/shader.rs
Due: no_tabs, rustfmt

Remove ShaderSource::None in favour of Option<>.
  src/renderer/src/shader.rs
Due: no_tabs, rustfmt

Modified API so that GLSL shaders can only be specified with both vertex and fragment shaders.
  src/model.rs
  src/nebula.rs
  src/renderer/src/lib.rs
  src/renderer/src/sdf.rs
  src/renderer/src/shader.rs
Due: no_tabs, rustfmt

Reorganized shader code into ProgramSource to be able to extend it.
  src/renderer/src/shader.rs
Due: no_tabs, rustfmt

Initial support for WGSL.
  src/renderer/Cargo.toml.in
  src/renderer/src/shader.rs
Due: no_tabs, rustfmt

wgsl: use textures as is.
  src/renderer/src/shader.rs
Due: no_tabs, rustfmt

Quiet naga logging.
  src/log/src/lib.rs
Due: no_tabs, rustfmt

Start using wgsl for cross shader.
  dat/glsl/cross.wgsl
  src/renderer/src/sdf.rs
Due: no_tabs, rustfmt

Rewrite how bindings are internally handled to be neater.
  src/renderer/src/sdf.rs
  src/renderer/src/shader.rs
Due: no_tabs, rustfmt

Better support for WGSL uniforms.
  src/renderer/src/shader.rs
Due: no_tabs, rustfmt

Use wgsl for texture rendering.
  dat/glsl/texture.wgsl
  src/renderer/src/lib.rs
Due: no_tabs, rustfmt

Avoid getting GLSL version from C-side.
  src/renderer/src/shader.rs
Due: no_tabs, rustfmt

Fixed thorns facing direction.
  dat/glsl/particles/thorn.frag
  utils/glsl/particles/frag.glsl
Due: no_tabs, reindent, glsl_validator

More verbose wgsl errors
  src/renderer/src/shader.rs
Due: no_tabs, rustfmt

Added WIP cybperspace shader stuff.
  dat/effects/cyberspace.xml
  dat/scripts/luaspfx/cyberspace.lua
  dat/scripts/luaspfx/shaders/cyberspace.frag
  dat/shaders/effects/cybperspace.frag
  po/POTFILES.in
Due: no_tabs, reindent, glsl_validator

Use WGSL shadow shader.
  dat/shaders/shadow.wgsl
  src/model.rs
Due: no_tabs, rustfmt
